[Desktop Entry]
Categories=Qt;TDE;X-TDE-settings-system;
Comment=Configure display
Comment[en_US]=Configure display
# Restore the following key and remove this comment when a help handbook
# is written. Disabling this key prevents populating the main handbook
# table of contents with a non-existent document, which results in a
# main handbook error message of
# 'There is no documentation available for /xyz/index.html.'
# Also disable this key when there exists only a useless template handbook.
# DocPath=kcontrol/displayconfig.html
Exec=tdecmshell displayconfig
GenericName=
GenericName[en_US]=
Icon=background
Keywords=monitor,resolution,display
MimeType=
Name=Monitor & Display
Name[en_US]=Monitor & Display
NoDisplay=false
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DCOP-ServiceType=
X-TDE-Library=displayconfig
X-TDE-ParentApp=kcontrol
X-TDE-RootOnly=true
X-TDE-SubstituteUID=true
X-TDE-Username=
