[Desktop Entry]
Categories=Qt;TDE;X-TDE-settings-system;
Comment=Configure display
Comment[en_US]=Configure display
DocPath=kcontrol/displayconfig.html
Exec=kcmshell displayconfig
GenericName=
GenericName[en_US]=
Icon=background
Keywords=monitor,resolution,display
MimeType=
Name=Monitor & Display
Name[en_US]=Monitor & Display
NoDisplay=false
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DCOP-ServiceType=
X-TDE-Library=displayconfig
X-TDE-ParentApp=kcontrol
X-TDE-RootOnly=true
X-TDE-SubstituteUID=true
X-TDE-Username=
