[Desktop Entry]
Type=Service
Name=KDED Remote Base URL Notifier
Name[af]=KDED afgeleë URL inkennissteller
Name[be]=Праверка зменаў аддаленых файлаў KDED
Name[bs]=KDED udaljeno obavještenje o baznom URLu
Name[ca]=Notificador d'URL de base remota KDED
Name[cs]=Démon upozorňování na vzdálená URL
Name[csb]=Dôwanié wiédzë ò daleczich URL-ach dlô KDED
Name[da]=KDED Ekstern basis-URL påmindelser
Name[de]=Überwachung für Dateien auf Fremdrechnern
Name[el]=Ειδοποιητής KDED για απομακρυσμένη URL
Name[eo]=KDED Fora Bazo URL Atentigilo
Name[es]=Notificador de URL remota KDED
Name[et]=KDED mujalasuva URL-i teadustaja
Name[eu]=KDED urruneko URL oinarriaren iragarlea
Name[fa]=اخطاردهندۀ نشانی وب پایه دور KDED
Name[fi]=KDED:in etäverkko-osoitteen ilmaisin
Name[fr]=Notificateur d'URL distante KDED
Name[fy]=KDED ekstern basis-URL-adres melding
Name[gl]=KDED Notificador de Base de URL Remota
Name[hi]=केडीईडी रिमोट आधारित यूआरएल नोटिफ़ायर
Name[hr]=KDED URL obavještavanje udaljene baze
Name[hu]=Távoli alapcím-értesítő
Name[is]=KDED fjarlægur grunnslóðartilkynnari
Name[it]=Notifica KDED Remote Base URL
Name[ja]=KDED リモート ベース URL 通知
Name[kk]=Желідегі дискідегі өзгеріс туралы қулақтандыру
Name[ko]=KDED 원격 기반 URL 알리미
Name[lt]=KDED nutolusio pagrindinio URL priminiklis
Name[lv]=KDED attālinātā URL bāzes atgādinātājs
Name[ms]=Pemberitahu URL Pangkalan Jauh KDED
Name[nb]=KDED-påminner for eksterne nettadresser
Name[nds]=KDED-Narichten för feern Basis-URLs
Name[ne]=KDED रिमोटमा आधारित यूआरएल सूचक
Name[nl]=KDED extern basis-URL-adres notificatie
Name[nn]=KDED-påminnar for eksterne nettadressar
Name[pa]=KDED ਰਿਮੋਟ ਅਧਾਰਿਤ URL ਸੂਚਨਾ
Name[pl]=Powiadamianie o zdalnych URL-ach dla KDED
Name[pt]=Notificador de URLs de Base Remotos do KDED
Name[pt_BR]=Serviço de Notificação da URL Remota
Name[ro]=Notificare KDED pentru URL distant de bază
Name[ru]=Проверка изменения сетевых файлов
Name[rw]=Mumenyekanisha wa URL KDED Yakure Shingiro
Name[sk]=KDED notifikátor vzdialenej URL
Name[sl]=Obvestilnik KDED oddaljenega osnovnega URL-ja
Name[sr]=Обавештавач о удаљеном базном URL-у, KDED
Name[sr@Latn]=Obaveštavač o udaljenom baznom URL-u, KDED
Name[sv]=KDED-meddelande om fjärrbaswebbadresser
Name[ta]=KDED தொலைதூரம் சார்ந்த வலைமனை குறிப்பான்
Name[th]=ตัวแจ้งเตือน Remote Base URL KDED
Name[tr]=KDED Uzak Tabanlı URL Hatırlatıcı
Name[tt]=Çittäge URL Üzgärelü Beldergeçe
Name[uk]=Сповіщувач про віддалену основну адресу (URL) для KDED
Name[vi]=Trình thông báo URL trên mạng KDED
Name[wa]=Notifiaedje KDED d' URL di båze å lon
Name[zh_CN]=KDED 远程基 URL 通知器
Name[zh_TW]=KDED 遠端基礎 URL 通知程式
Comment=Provides change notification for network folders
Comment[ar]=يقدم إشعار عن التغيرات التي تحدث في مجلدات الشبكة
Comment[ca]=Proporciona notificacions de canvi en carpetes de xarxa
Comment[ca@valencia]=Proporciona notificacions de canvi en carpetes de xarxa
Comment[cs]=Poskytuje oznamování o změnách síťových složek
Comment[da]=Giver bekendtgørelse af ændringer af netværksmapper
Comment[de]=Benachrichtigt den Anwender über Änderungen an Dateien in Netzwerkordnern.
Comment[el]=Παρέχει ειδοποιήσεις για αλλαγές στους φακέλους δικτύου
Comment[en_GB]=Provides change notification for network folders
Comment[es]=Proporciona notificaciones visuales para carpetas de red
Comment[et]=Võrgukataloogide muutuste märguanded
Comment[eu]=Sareko karpeten aldaketa jakinarazpenak hornitzen ditu
Comment[fi]=Tarjoaa huomautuksia verkkokansioiden muutoksista
Comment[fr]=Fournit les notifications de modification pour les dossiers réseaux
Comment[fy]=Ferskaft feroaringsmelding foar netwurkmappen
Comment[ga]=Cuireann sé in iúl duit nuair a athraíonn fillteán líonra
Comment[he]=מספק שינוי התראות עבור תיקיות רשת
Comment[hr]=Omogućuje obavještavanje o promjenama na mrežnim mapama
Comment[ia]=Il forni notification de cambio pro dossieres de rete
Comment[id]=Menyediakan notifikasi pengubahan untuk folder jaringan
Comment[is]=Tilkynningaforrit fyrir breytingar á fjartengdum netmöppum
Comment[it]=Dà notifiche dei cambiamenti per le cartelle di rete
Comment[ja]=ネットワークフォルダの変更を通知
Comment[kk]=Желідегі қапшықтар өзгерістері туралы құлақтандыру
Comment[km]=ផ្ដល់​នូវ​កា​រជូនដំណឹង​ផ្លាស់ប្ដូរ​សម្រាប់​ថត​បណ្ដាញ
Comment[kn]=ಜಾಲಭಂದ ಕಡತಕೋಶಗಳ ಬದಲಾವಣೆ ಸೂಚನೆಗಳನ್ನು ಒದಗಿಸುತ್ತದೆ.
Comment[ko]=네트워크 폴더의 변경 상황을 안내합니다
Comment[lt]=Pranešimai vartotojui apie pasikeitimus tinklo aplankuose
Comment[lv]=Paziņo par izmaiņām tīkla mapēs
Comment[ml]=ശൃംഖലയിലുള്ള അറകളുടെ മാറ്റം അറിയിയ്ക്കുന്നു
Comment[nb]=Gir endringsvarslinger for nettverksmapper
Comment[nds]=Stellt Bescheden över Ännern vun Nettwarkornern praat
Comment[nl]=Levert notificatie voor wijzigingen in netwerkmappen
Comment[nn]=Gjev endringsvarsel for nettverksmapper
Comment[pa]=ਨੈੱਟਵਰਕ ਫੋਲਡਰਾਂ ਲਈ ਬਦਲਾਅ ਸੂਚਨਾ ਦਿੰਦਾ ਹੈ
Comment[pl]=Udostępnia powiadomienia o zmianach w katalogach sieciowych
Comment[pt]=Fornece notificações de alterações para as pastas de rede
Comment[pt_BR]=Fornece notificações de alterações para pastas de rede
Comment[ru]=Отслеживание изменений в сетевых папках
Comment[sk]=Poskytuje upozornenia o zmenách sieťových priečinkov
Comment[sl]=Ponuja obvestila o spremembah omrežnih map
Comment[sr]=Испоставља обавештења о изменама у мрежним фасциклама
Comment[sr@ijekavian]=Испоставља обавјештења о измјенама у мрежним фасциклама
Comment[sr@ijekavianlatin]=Ispostavlja obavještenja o izmjenama u mrežnim fasciklama
Comment[sr@latin]=Ispostavlja obaveštenja o izmenama u mrežnim fasciklama
Comment[sv]=Tillhandahåller ändringsunderrättelser för nätverkskataloger
Comment[tg]=Огоҳиҳои тағйиротро дар феҳрастҳои шабака нишон медиҳад
Comment[th]=ทำการแจ้งให้ทราบถึงความเปลี่ยนแปลงที่มีบนโฟลเดอร์บนเครือข่าย
Comment[tr]=Ağ dizinleri için değişim bildirimi sağlar.
Comment[uk]=Сповіщення про зміну стану мережевих тек
Comment[x-test]=xxProvides change notification for network foldersxx
Comment[zh_CN]=为网络文件夹提供更改通知
Comment[zh_TW]=提供網路資料夾的變更通知
ServiceTypes=KDEDModule
X-TDE-ModuleType=Library
X-TDE-Library=remotedirnotify
X-TDE-FactoryName=remotedirnotify
X-TDE-Kded-load-on-demand=true
X-TDE-Kded-autoload=true
