[Desktop Entry]
Icon=identity
Type=Application
Exec=tdecmshell smartcard
X-DocPath=kcontrol/smartcard.html

X-TDE-Library=smartcard
X-TDE-Init=smartcard
X-TDE-ParentApp=kcontrol
Name=Smartcards
Name[af]=Smartkaarte
Name[ar]=البطاقات الذكية
Name[be]=Смарткарткі
Name[bn]=স্মার্টকার্ড
Name[ca]=Targetes intel·ligents
Name[csb]=Kartë bezpiekù
Name[el]=Έξυπνες κάρτες
Name[eo]=Memorkartoj
Name[et]=Kiipkaardid
Name[eu]=Txartel adimendunak
Name[fa]=کارتهای هوشمند
Name[fi]=Älykortit
Name[fr]=Cartes à puce
Name[fy]=Chipkaarten
Name[ga]=Cártaí Cliste
Name[he]=כרטיסים חכמים
Name[hi]=स्मार्टकार्ड
Name[hu]=Smartcard-beállítások
Name[is]=Snjallkort
Name[it]=Smartcard
Name[ja]=スマートカード
Name[ka]=სხარტი ბარათები
Name[kk]=Смарт-карталар
Name[ko]=스마트카드
Name[lo]=ສະມາດຄາດ
Name[lt]=Gudrios kortelės
Name[lv]=Smartkartes
Name[mk]=Паметни картички
Name[ms]=Kad pintar
Name[nb]=Smartkort
Name[nds]=Smartkoorten
Name[ne]=स्मार्टकार्ड
Name[nl]=Chipkaarten
Name[nn]=Smartkort
Name[nso]=Dikarata ye botsana
Name[pa]=ਸਮਾਟ-ਕਾਰਡ
Name[pl]=Karty bezpieczeństwa
Name[pt_BR]=Smart Cards
Name[ro]=Smartcard-uri
Name[ru]=Смарткарты
Name[rw]=Amakaritarukuruzi
Name[se]=Jierbmásgoarttat
Name[sk]=Smartcard
Name[sl]=Pametne kartice
Name[sr]=Smart картице
Name[sr@Latn]=Smart kartice
Name[ss]=Smartcards 
Name[sv]=Smartkort
Name[ta]=ஸ்மார்ட்கார்டுகள்
Name[te]=స్మార్ట్ కార్డులు
Name[tg]=Кортҳои боҳуш
Name[th]=สมาร์ทการ์ด
Name[tr]=Smartcard
Name[tt]=Smartkard
Name[uk]=Смарт-карти
Name[uz]=Smartcard'lar
Name[uz@cyrillic]=Smartcard'лар
Name[ven]=Garata
Name[vi]=Thẻ thông minh
Name[zh_CN]=智能卡
Name[zh_TW]=智慧卡
Name[zu]=Amakhadi akhaliphile
Comment=Configure smartcard support
Comment[af]=Konfigureer smartkaart ondersteun
Comment[ar]=إعداد دعم البطاقات الذكية
Comment[az]=Smartcard dəstəyini quraşdır
Comment[be]=Настаўленні падтрымкі смарткартак
Comment[bg]=Настройване поддръжката на smartcard
Comment[bn]=স্মার্টকার্ড সেটিংস কনফিগার করুন
Comment[bs]=Podesite podršku za smartcard
Comment[ca]=Configura el funcionament de les targetes intel·ligents
Comment[cs]=Nastavení podpory smartcards
Comment[csb]=Kònfigùracëjô kartów bezpiekù (SmartCards)
Comment[cy]=Ffurfweddu cynhaliaeth cerdyn smart
Comment[da]=Indstil smartcard-understøttelse
Comment[de]=Smartcard-Unterstützung einrichten
Comment[el]=Ρύθμιση υποστήριξης έξυπνων καρτών
Comment[eo]=Agordi subtenon por memorkartoj
Comment[es]=Configuración del soporte para tarjetas Smart
Comment[et]=Kiipkaardi toetuse seadistamine
Comment[eu]=Konfiguratu txartel adimendunen euskarria
Comment[fa]=پیکربندی پشتیبانی کارت هوشمند
Comment[fi]=Smartcard-tuki
Comment[fr]=Configuration de la gestion des cartes à puce
Comment[fy]=Chipkaartstipe ynstelle
Comment[ga]=Cumraigh tacaíocht do Chártaí Cliste
Comment[gl]=Configurar o soporte para smartcard
Comment[he]=שינוי הגדרות התמיכה בכרטיסים חכמים
Comment[hi]=स्मार्ट-कार्ड समर्थन कॉन्फ़िगर करें
Comment[hr]=Konfiguriranje smartcard podrške
Comment[hu]=A smartcard-támogatás beállításai
Comment[is]=Stilla stuðning við snjallkort
Comment[it]=Configura supporto smartcard
Comment[ja]=スマートカードサポートの設定
Comment[kk]=Смарт-карталарды қолдауын баптау
Comment[km]=កំណត់​រចនាសម្ព័ន្ធ​ការ​គាំទ្រ Smartcard
Comment[ko]=스마트카드 지원 설정
Comment[lo]=ປັບແຕ່ງການສະຫນັບສະຫນູນສະມາດຄາດ
Comment[lt]=Konfigūruoti gudrių kortelių palaikymą
Comment[lv]=Konfigurēt smārtkaršu atbalstu
Comment[mk]=Конфигурирајте ја поддршката за паметни картички
Comment[mn]=Smartcard дэмжилэг тохируулах
Comment[ms]=Konfigur sokongan kad pintar
Comment[mt]=Ikkonfigura s-sapport għal "smartcards"
Comment[nb]=Oppsett av smartkortstøtte
Comment[nds]=Ünnerstütten för Smartkoorten inrichten
Comment[ne]=स्मार्टकार्ड समर्थन कन्फिगर गर्नुहोस्
Comment[nl]=Chipkaartondersteuning instellen
Comment[nn]=Oppsett av smartkortstøtte
Comment[nso]=Beakanya thekgo ya karata ye botsana
Comment[pa]=ਸਮਾਟ-ਕਾਰਡ ਸਹਾਇਤਾ ਸੰਰਚਨਾ
Comment[pl]=Konfiguracja kart bezpieczeństwa (SmartCards)
Comment[pt]=Configurar o suporte de 'smartcards'
Comment[pt_BR]=Configurar suporte a Smart Cards
Comment[ro]=Configurează suportul pentru smartcard-uri
Comment[ru]=Настройка поддержки смарткарт
Comment[rw]=Kuboneza iyifashisha rya karitarukuruzi 
Comment[se]=Heivet jierbmásgoartadoarjja
Comment[sk]=Nastavenie podpory smartcard
Comment[sl]=Nastavi podporo pametnih kartic
Comment[sr]=Подешавање подршке за smart картице
Comment[sr@Latn]=Podešavanje podrške za smart kartice
Comment[sv]=Anpassa stöd för smartkort
Comment[ta]=ஸ்மார்ட் கார்டு ஆதரவை அமை
Comment[tg]=Танзими пуштибонӣ аз кортҳои боҳуш
Comment[th]=ปรับแต่งการสนับสนุนสมาร์ตการ์ด
Comment[tr]=Smartcard desteğini yapılandır
Comment[tt]=Smartkard totıluın caylaw
Comment[uk]=Налаштування підтримки смарт-карт
Comment[uz]=Smartcard'ni moslash
Comment[uz@cyrillic]=Smartcard'ни мослаш
Comment[ven]=Dzudzanyani thikhedzo ya garata
Comment[vi]=Cấu hình các hỗ trợ thẻ thông minh
Comment[wa]=Apontiaedjes so sopoirt di smartcard
Comment[xh]=Qwalasela inkxaso ye smartcard
Comment[zh_CN]=配置智能卡支持
Comment[zh_TW]=設定智慧卡 (SmartCard) 支援
Comment[zu]=Hlanganisela ukuxhaswa kwekhadi elikhaliphile
Keywords=Smartcard;PKCS;SSL;reader;smart;card;
Keywordsar=بطاقة ذكية;PKCS;SSL;قارئ;ذكية;بطاقة;
Keywordsbe=Смарткарта;Смарткартка;Чытач;Карта;Смарт;Smartcard;PKCS;SSL;reader;smart;card;
Keywordsbg=карти; поддръжка; Smartcard; PKCS; SSL; reader; smart; card;
Keywordsca=Targeta intel·ligent;PKCS;SSL;lector;smart;targeta;
Keywordscsb=Smartcard;PKCS;SSL;czëtôrz;bezpiek;karta;
Keywordscy=Smartcard;PKCS;SSL;darllenydd;smart;cerdyn;
Keywordsda=Smartcard;PKCS;SSL;læser;smart;card;
Keywordsde=Smartcard;PKCS;SSL;Reader;Smart;Card;Leser;
Keywordsel=Έξυπνη κάρτα;PKCS;SSL;αναγνώστης;έξυπνη;κάρτα;
Keywordseo=Memorkarto;PKCS;SSL;legilo;memoro;karto;
Keywordses=Smartcard;PKCS;SSL;lector;smart;tarjeta;
Keywordset=Smartcard;PKCS;SSL;lugeja;kiipkaart;kaart;kiip;
Keywordseu=Txartel adimenduna;PKCS;SSL;irakurgailua;adimenduna;txartela;
Keywordsfa=کارت هوشمند، PKCS، SSL، خواننده، هوشمند، کارت;
Keywordsfi=Älykortti;PKCS;SSL;lukija;
Keywordsfr=carte à puce;puce;smartcard;pkcs;ssl;lecteur;carte;
Keywordsfy=Smartcard;PKCS;SSL;reader;smart;card;chipkaart;kaart;
Keywordsga=Smartcard;PKCS;SSL;léitheoir;cliste;cárta;
Keywordsgl=Smartcard;PKCS;SSL;lector;pequena;tarxeta;
Keywordshe=כרטיסים חכמים;PKCS;SSL;קורא;כרטיס;חכם; Smartcard;reader;smart;card;
Keywordshi=स्मार्टकार्ड;पीकेसीएस;एसएसएल;रीडर;स्मार्ट;कार्ड;
Keywordshr=Smartcard;PKCS;SSL;reader;smart;card;čitač;kartica;
Keywordshu=smartcard;PKCS;SSL;olvasó;smart;kártya;
Keywordsis=Snjallkort;PKCS;SSL;reader;smart;card;snjall;kort;
Keywordsit=smartcard;PKCS;SSL;lettore;
Keywordsja=スマートカード;PKCS;SSL;リーダー;スマート;カード;
Keywordskm=Smartcard;PKCS;SSL;ឧបករណ៍​អាន;smart;ប័ណ្ណ;
Keywordslt=Smartcard;PKCS;SSL;reader;smart;card; gudri kortelė;skaitytuvas;gudri;kortelė;
Keywordsmk=Smartcard;PKCS;SSL;reader;smart;card;паметна картичка;читач;паметна;картичка;
Keywordsmn=Smartcard;PKCS;SSL;Reader;Smart;Card;Уншигч;
Keywordsnb=smartkort;PKCS;SSL;leser;smart;kort;
Keywordsnds=Smartcard;PKCS;SSL;Leser;smart;card;Koort;Koorten;
Keywordsne=स्मार्टकार्ड;PKCS;SSL; रिडर; छरितो; कार्ड;
Keywordsnl=Smartcard;PKCS;SSL;reader;smart;card;chipkaart;kaart;
Keywordsnn=smartkort;PKCS;SSL;lesar;smart;kort;
Keywordsnso=Karata ye botsana;PKCS;SSL;mmadi;botsana;karata;
Keywordspa=Smartcard;PKCS;SSL;reader;smart;card; ਰੀਡਰ; ਕਾਰਡ; ਸਮਾਟ;
Keywordspl=Smartcard;PKCS;SSL;czytnik;bezpieczeństwo;karta;
Keywordspt=smartcard;PKCS;SSL;leitor;smart;placa;
Keywordspt_BR=Smart Card;PKCS;SSL;leitor;smart;card;
Keywordsro=smartcard;PKCS;SSL;cititor;smart;card;
Keywordsrw=Ikaritarukuruzi;PKCS;SSL;cyiza;ikarita;
Keywordsse=jierbmásgoarta;PKCS;SSL;logan;jierbmái;goarta;
Keywordssk=Smartcard;PKCS;SSL;čítačka;karta;inteligentná;
Keywordssl=Smartcard;PKCS;SSL;bralnik;pamet;kartica;
Keywordssr=Smartcard;PKCS;SSL;reader;читач;smart;card;картица;
Keywordssr@Latn=Smartcard;PKCS;SSL;reader;čitač;smart;card;kartica;
Keywordssv=Smartkort;PKCS;SSL;läsare;smart;kort;
Keywordsta=ஸ்மார்ட்கார்டு;PKCS;SSL;படிப்பான்;புத்திசாலி;அட்டை;
Keywordsth=สมาร์ตการ์ด;PKCS;SSL;เครื่องอ่าน;ฉลาด;การ์ด;
Keywordstr=Smartcard;PKCS;SSL;okuyucu;smart;kart;akıllıkart;
Keywordsuk=Smartcard;PKCS;SSL;смарт-карта;зчитувач;картка;
Keywordsuz=Smartcard;PKCS;SSL;oʻquvchi;smart;card;
Keywordsuz@cyrillic=Smartcard;PKCS;SSL;ўқувчи;smart;card;
Keywordsven=Garata;PKCS;SSL;muvhali;zwavhudi;Garata;
Keywordsvi=Thẻ thông minh;PKCS;SSL;đầu đọc;thông minh;thẻ;
Keywordswa=Smartcard;PKCS;SSL;léjheu;smart;card;
Keywordsxh=Smartcard;PKCS;SSL;umfundi;bukeka;ikhadi;
Keywordszh_CN=Smartcard;PKCS;SSL;reader;smart;card;智能卡;智能;卡;读卡器;
Keywordszh_TW=Smartcard;PKCS;SSL;reader;smart;card;智慧卡;閱讀器;智慧;卡;
Keywordszu=Ikhadi elikhaliphile;PKCS;SSLumfundi;okukhaliphile;ikhadi;

Categories=Qt;TDE;X-TDE-settings-peripherals;
