[Desktop Entry]
Type=Application
Exec=konqueror --profile filemanagement
X-DocPath=konqueror/index.html
Icon=kfm
X-TDE-SubstituteUID=true

Name=Konqueror
GenericName=File Manager - Super User Mode
GenericName[af]=Lêer Bestuurder - Super Gebruiker Modus
GenericName[ar]=مدبر الملفات - نمط المستخدم الجذري
GenericName[az]=Fayl İdarəçisi - Ali İstifadəçi Modu
GenericName[be]=Кіраўнік файлаў - рэжым адміністратара
GenericName[bg]=Файлов браузър - администратор
GenericName[bn]=ফাইল ম্যানেজার - অ্যাডমিনস্ট্রেটর মোড
GenericName[br]=Merour restroù - Doare gourarveriad
GenericName[bs]=Upravitelj datotekama (Samo za administratora)
GenericName[ca]=Gestor de fitxers (mode superusuari)
GenericName[cs]=Správce souborů - superuživatelský režim
GenericName[csb]=Menedżer lopków - trib sprôwnika
GenericName[cy]=Trefnydd Ffeiliau - Modd Defnyddiwr Uwch
GenericName[da]=Filhåndtering (superbruger-tilstand)
GenericName[de]=Konqueror (Systemverwaltungsmodus)
GenericName[el]=Διαχειριστής αρχείων - Λειτουργία ως root
GenericName[eo]=Dosieradministrilo (kiel sistemestro)
GenericName[es]=Gestor de archivos - modo superusuario
GenericName[et]=Failihaldur (administraator)
GenericName[eu]=Fitxategi kudeatzailea (root era)
GenericName[fa]=مدیر پرونده - حالت ابرکاربر
GenericName[fi]=Tiedostonhallinta - pääkäyttäjätila
GenericName[fr]=Konqueror (mode superutilisateur)
GenericName[fy]=Triembehearder (yn systeembehearmodus)
GenericName[ga]=Bainisteoir Comhad - Mód Forúsáideora
GenericName[gl]=Xestor de Ficheiros - Modo Super-Usuario
GenericName[he]=מנהל קבצים - מצב משתמש־על
GenericName[hi]=फ़ाइल प्रबंधक- सुपर यूजर मोड
GenericName[hr]=Upravitelj datotekama - za administratora
GenericName[hu]=Fájlkezelő (rendszergazdai mód)
GenericName[is]=Skráastjóri (sem kerfisstjóri)
GenericName[it]=File manager - modalità super utente
GenericName[ja]=ファイルマネージャ - スーパーユーザモード
GenericName[ka]=ფაილური მენეჯერი (root-ის პრივილეგიებით)
GenericName[kk]=Файл менеджері (root құқықлы)
GenericName[km]=កម្មវិធី​គ្រប់គ្រង​ឯកសារ - របៀប​អ្នក​ប្រើ​ជាន់​ខ្ពស់
GenericName[ko]=파일 관리자 - 슈퍼유저 모드
GenericName[lo]=ຕົວຈັດການແຟ້ມ - ໂຫມດຜູ້ດູແລລະບົບ
GenericName[lt]=Bylų tvarkyklė – super naudotojo veiksena
GenericName[lv]=Failu Pārvaldnieks - Super Lietotāja Režīms
GenericName[mk]=Менаџер на датотеки - режим root
GenericName[mn]=Конкюрор (Системийн удирдлагын-Горим)
GenericName[ms]=Pengurus Fail - Mod Pengguna Super
GenericName[mt]=Manager tal-Fajls (mod Super User)
GenericName[nb]=Filbehandler – superbrukermodus
GenericName[nds]=Dateipleger, Systeempleegbedrief
GenericName[ne]=फाइल प्रबन्धक - सुपर प्रयोगकर्ता मोड
GenericName[nl]=Bestandsbeheerder (in systeembeheermodus)
GenericName[nn]=Filhandsamar – Superbrukarmodus
GenericName[nso]=Molaodi wa Faele - Seripa sa Modirisi yo Maatla
GenericName[pa]=ਫਾਇਲ ਮੈਨੇਜਰ - ਸੁਪਰ ਉਪਭੋਗੀ (ਮੈਨੇਜਰੀ) ਢੰਗ
GenericName[pl]=Menedżer plików - tryb administratora
GenericName[pt]=Gestor de Ficheiros - Modo de Super Utilizador
GenericName[pt_BR]=Gerenciador de Arquivos (Modo Super-Usuário)
GenericName[ro]=Manager de fișiere - mod superutilizator
GenericName[ru]=Менеджер файлов (в режиме администратора)
GenericName[rw]=Mucungadosiye - Uburyo Ukoresha Mukuru
GenericName[se]=Fiilagieđahalli – Supergeavaheaddjemodus
GenericName[sk]=Správca súborov - Super-používateľský mód
GenericName[sl]=Upravitelj datotek (skrbniški način)
GenericName[sr]=Менаџер фајлова — режим супер корисника
GenericName[sr@Latn]=Menadžer fajlova — režim super korisnika
GenericName[sv]=Filhanterare - Administratörsläge
GenericName[ta]=கோப்பு மேலாளர் - மீப்பயனர் முறைமை
GenericName[te]=దస్త్ర అభికర్త - సూపర్ యూజర్ స్థితి
GenericName[tg]=Мудири файл - ҳолати убури корбар
GenericName[th]=ตัวจัดการแฟ้ม - โหมดผู้ดูแลระบบ
GenericName[tr]=Dosya Yöneticisi - Yetkili Kullanıcı
GenericName[tt]=Birem-İdäräçe (root ısulı)
GenericName[uk]=Менеджер файлів (режим адміністратора)
GenericName[uz]=Fayl boshqaruvchisi (root)
GenericName[uz@cyrillic]=Файл бошқарувчиси (root)
GenericName[ven]=Mulanguli wa faela - mushumisi wa muhulwana wa moudu
GenericName[vi]=Trình quản lí Tập tin - Dành cho người quản lý
GenericName[wa]=Manaedjeu di fitchîs - Môde super uzeu (root)
GenericName[xh]=Umphathi Wefayile - Indlela Ephezulu Yomsebenzisi
GenericName[zh_CN]=文件管理器 - 超级用户模式
GenericName[zh_TW]=檔案總管 - 超級使用者模式
GenericName[zu]=Imenenja yamafayela - Indlela Yomsebenzisi Omkhulu

Categories=Qt;TDE;X-TDE-System-su;
OnlyShowIn=TDE;
