[Desktop Entry]
Type=Application
NoDisplay=true
Name=Konqueror
Name[bn]=কনকরার
Name[eo]=Konkeranto
Name[hi]=कॉन्करर
Name[lv]=Iekarotājs
Name[mn]=Конкюрор
Name[ne]=कन्क्वेरर
Name[pa]=ਕੋਨਕਿਉਰੋਰ
Name[ta]=கான்கொரர்
Name[te]=కాంకెరర్
Name[th]=คอนเควอร์เรอร์
Exec=konqueror %U
Comment=TDE File Manager & Web Browser
Comment[af]=Kde Lêer Bestuurder & Web Blaaier
Comment[ar]=مدبِر TDE للملفات و متصفح الشبكة
Comment[az]=TDE Fayl İdarəcisi və İnternet Səyyahı
Comment[be]=Файлавы кіраўнік і вандроўнік па Сеціве для TDE
Comment[bg]=Файлов и уеб браузър
Comment[bn]=কে.ডি.ই ফাইল ম্যানেজার এবং ওয়েব ব্রাউজার
Comment[br]=Merour restroù ha merdeer gwiad TDE
Comment[bs]=TDE upravitelj datotekama & Web preglednik
Comment[ca]=El gestor de fitxers i fullejador Web del TDE
Comment[cs]=Správce souborů a prohlížeč Webu pro prostředí TDE
Comment[csb]=TDE Menedżer lopków ë przezérnik WWW
Comment[cy]=Trefnydd Ffeiliau a Porydd Gwe TDE
Comment[da]=TDE's filhåndtering og netsøgning
Comment[de]=Der Dateimanager und Webbrowser von TDE
Comment[el]=Διαχειριστής αρχείων & Περιηγητής ιστού του TDE
Comment[eo]=TDE-dosieradministrilo kaj TTT-legilo
Comment[es]=Gestor de archivos y navegador web de TDE
Comment[et]=TDE failihaldur & veebilehitseja
Comment[eu]=TDE fitxategi kudeatzailea eta Web arakatzailea
Comment[fa]=مدیر پرونده و مرورگر وب TDE
Comment[fi]=TDE:n tiedostonhallinta ja WWW-selain
Comment[fr]=Gestionnaire de fichiers et navigateur web de TDE
Comment[fy]=TDE's Triembehearder en webblêder
Comment[ga]=Bainisteoir Comhad & Brabhsálaí TDE
Comment[gl]=Xestor de Ficheiros e Navegador Web de TDE
Comment[he]=מנהל הקבצים ודפדפן האינטרנט של TDE
Comment[hi]=केडीई फ़ाइल प्रबंधक व वेब ब्राउज़र
Comment[hr]=TDE upravitelj datotekama i web preglednik
Comment[hu]=TDE fájlkezelő és webböngésző
Comment[id]=Manajer File TDE & browser web
Comment[is]=TDE skráastjóri og vafri
Comment[it]=Il file manager e browser Web di TDE
Comment[ja]=TDE ファイルマネージャ & ウェブブラウザ
Comment[ka]=ფაილური მენეჯერი და ვებ ბრაუზერი
Comment[kk]=TDE файл менеджері және Веб браузері
Comment[km]=កម្មវិធី​គ្រប់គ្រង​ឯកសារ & កម្មវិធី​រុករក​បណ្ដាញ​របស់ TDE
Comment[ko]=TDE 파일 관리자와 웹 브라우저
Comment[lo]=ຕົວຈັດການແຟ້ມແລະເວ໊ບບາວເຊີ TDE
Comment[lt]=TDE bylų tvarkyklė ir žiniatinklio naršyklė
Comment[lv]=TDE Failu Menedžeris un Web Pārlūks
Comment[mk]=Менаџер на датотеки и веб-прелистувач во TDE
Comment[mn]=КДЭ-н Файл удирдагч ба Вэб-Хөтөч
Comment[ms]=Pengurus Fail TDE & Pelayar Web
Comment[mt]=Manager tal-fajls u Web Browser tal-TDE
Comment[nb]=Filbehandler og nettleser for TDE
Comment[nds]=TDE sien Dateipleger un Nettkieker
Comment[ne]=TDE फाइल प्रबन्धक र वेब ब्राउजर
Comment[nl]=TDE's bestandsbeheerder en webbrowser
Comment[nn]=Filhandsamar og nettlesar for TDE
Comment[nso]=Seinyakisi sa Web & Molaodi wa Faele ya TDE
Comment[oc]=Lo gestionari de fiquièrs e navigador Web TDE
Comment[pa]=TDE ਫਾਇਲ ਮੈਨੇਜਰ ਅਤੇ ਵੈੱਬ ਝਲਕਾਰਾ
Comment[pl]=TDE Menedżer plików i przeglądarka WWW
Comment[pt]=Gestor de ficheiros e navegador na WWW
Comment[pt_BR]=Gerenciador de Arquivos & Navegador Web do TDE
Comment[ro]=Manager de fișiere TDE și navigator de web
Comment[ru]=Файловый менеджер и веб-браузер
Comment[rw]=TDE Mugengadosiye & Mucukumbuzi w'Urubugamakuru
Comment[se]=TDE fiilagieđahalli ja fierpmádatlogan
Comment[sk]=TDE Správca súborov a Web prehliadač
Comment[sl]=Upravitelj datotek za TDE in spletni brskalnik
Comment[sr]=Менаџер фајлова и веб прегледач за TDE
Comment[sr@Latn]=Menadžer fajlova i veb pregledač za TDE
Comment[sv]=TDE:s filhanterare och webbläsare
Comment[ta]=TDE கோப்பு மேலாளர் மற்றும் வலை உலாவி
Comment[te]=కెడిఈ దస్త్ర అభికర్త & వెబ్ బ్రౌజర్
Comment[tg]=Мудири файл ва мурургари шабакаи TDE
Comment[th]=เครื่องมือจัดการแฟ้มและท่องเว็บของ TDE
Comment[tr]=TDE Dosya Yöneticisi ve İnternet Tarayıcısı
Comment[tt]=TDE Birem-İdäräçe & Web-Gizgeç
Comment[uk]=Менеджер файлів TDE та навігатор Тенет
Comment[uz]=TDE uchun fayl boshqaruvchi va veb-brauzer
Comment[uz@cyrillic]=TDE учун файл бошқарувчи ва веб-браузер
Comment[ven]=Mulanguli wa faela ya TDE & Buronza ya webe
Comment[vi]=Trình quản lí Tập tin và Duyệt mạng TDE
Comment[wa]=Manaedjeu di fitchîs eyet betchteu waibe di TDE
Comment[xh]=Umphathi Wefayile ye TDE & Umkhangeli zincwadi we Web
Comment[zh_CN]=TDE 文件管理器和 Web 浏览器
Comment[zh_TW]=TDE 檔案管理程式和網頁瀏覽器
Comment[zu]=Imenenja yamafayela ye-TDE & Umcingi we-Web
Icon=konqueror
X-DCOP-ServiceType=multi
X-KDE-StartupNotify=true
X-KDE-HasTempFileOption=true
