[Profile]
FullScreen=false
Name=TDE Development
Name[af]=TDE Ontwikkeling
Name[ar]=تطوير TDE
Name[az]=TDE İnkişafı
Name[be]=Распрацоўка TDE
Name[bn]=কে.ডি.ই. ডেভেলপমেন্ট
Name[bs]=TDE programiranje
Name[ca]=Desenvolupament TDE
Name[cs]=Vývoj TDE
Name[csb]=Rozwij TDE
Name[cy]=Datblygu TDE
Name[da]=TDE-Udvikling
Name[de]=TDE-Entwicklung
Name[el]=Ανάπτυξη του TDE
Name[eo]=TDE-Programado
Name[es]=Desarrollo de TDE
Name[et]=TDE arendus
Name[eu]=TDEren garapena
Name[fa]=توسعۀ TDE
Name[fi]=TDE:n kehitystyökalut
Name[fr]=Développement de TDE
Name[fy]=TDE-ûntwikkeling
Name[ga]=Forbairt TDE
Name[gl]=Desenvolvemento de TDE
Name[he]=פיתוח של TDE
Name[hi]=केडीई डेवलपमेंट
Name[hr]=TDE razvoj
Name[hu]=TDE-s fejlesztés
Name[is]=TDE þróun
Name[it]=Sviluppo TDE
Name[ja]=TDE 開発
Name[ka]=TDE-ში პროგრამირება
Name[kk]=TDE жүйесін жетілдіру
Name[km]=ការ​អភិវឌ្ឍន៍ TDE
Name[ko]=TDE 개발
Name[lt]=TDE vystymas
Name[lv]=TDE Izstrāde
Name[mk]=Развој на TDE
Name[ms]=Pembangunan TDE
Name[mt]=Żvilupp TDE
Name[nb]=TDE-utvikling
Name[nds]=TDE-Utwickeln
Name[ne]=TDE विकास
Name[nl]=TDE-ontwikkeling
Name[nn]=TDE-utvikling
Name[pa]=TDE ਵਿਕਾਸ
Name[pl]=Rozwijanie TDE
Name[pt]=Desenvolvimento do TDE
Name[pt_BR]=Desenvolvimento do TDE
Name[ro]=Dezvoltare TDE
Name[ru]=Разработка в TDE
Name[rw]=TDE Ikoraporogaramu
Name[se]=TDE-ovdánahttin
Name[sk]=Vývoj TDE
Name[sl]=Razvoj TDE
Name[sr]=TDE развој
Name[sr@Latn]=TDE razvoj
Name[sv]=TDE-utveckling
Name[ta]=TDE உருவாக்கம்
Name[te]=కెడిఈ డెవలప్ మెంట్
Name[th]=พัฒนาโปรแกรม TDE
Name[tr]=TDE Geliştirme
Name[tt]=TDE Citeşterü
Name[uk]=Розробка TDE
Name[uz]=TDE uchun dasturlashtirish
Name[uz@cyrillic]=TDE учун дастурлаштириш
Name[vi]=Phát triển TDE
Name[wa]=Diswalpaedje TDE
Name[zh_CN]=TDE 开发
Name[zh_TW]=TDE 程式開發
RootItem=Tabs0
Tabs0_Children=ViewT0,ViewT1,ViewT2,ViewT3,ViewT4
Tabs0_activeChildIndex=0
ViewT0_LinkedView=false
ViewT0_LockedLocation=false
ViewT0_PassiveMode=false
ViewT0_ServiceName=khtml
ViewT0_ServiceType=text/html
ViewT0_ToggleView=false
ViewT0_URL=http://www.trinitydesktop.org/docs/trinity/current/kdelibs/html/main.html
ViewT1_LinkedView=false
ViewT1_LockedLocation=false
ViewT1_PassiveMode=false
ViewT1_ServiceName=khtml
ViewT1_ServiceType=text/html
ViewT1_ToggleView=false
ViewT1_URL=http://www.trinitydesktop.org/docs/qt3/index-2.html
ViewT2_LinkedView=false
ViewT2_LockedLocation=false
ViewT2_PassiveMode=false
ViewT2_ServiceName=khtml
ViewT2_ServiceType=text/html
ViewT2_ToggleView=false
ViewT2_URL=http://bugs.trinitydesktop.org/
ViewT3_LinkedView=false
ViewT3_LockedLocation=false
ViewT3_PassiveMode=false
ViewT3_ServiceName=khtml
ViewT3_ServiceType=text/html
ViewT3_ToggleView=false
ViewT3_URL=man:/gcc
ViewT4_LinkedView=false
ViewT4_LockedLocation=false
ViewT4_PassiveMode=false
ViewT4_ServiceName=khtml
ViewT4_ServiceType=text/html
ViewT4_ToggleView=false
ViewT4_URL=info:/dir
Width=80%
Height=80%
