[Desktop Entry]
Icon=launch
Type=Application
Exec=tdecmshell kcmperformance
X-DocPath=kcontrol/performance/index.html

X-TDE-Library=performance
X-TDE-FactoryName=performance
X-TDE-ParentApp=kcontrol

Name=TDE Performance
Name[af]=TDE Werkverrigting
Name[ar]=إداء TDE
Name[az]=TDE Keyfiyyəti
Name[be]=Хуткасць працы TDE
Name[bg]=Производителност
Name[bn]=কে.ডি.ই. কার্যকারীতা
Name[bs]=TDE performanse
Name[ca]=Rendiment del TDE
Name[cs]=Výkon TDE
Name[csb]=Spòrosc TDE
Name[cy]=Perfformiad TDE
Name[da]=TDE's ydelse
Name[de]=TDE-Leistung
Name[el]=Απόδοση του TDE
Name[eo]=TDEa potenco
Name[es]=Rendimiento de TDE
Name[et]=TDE jõudlus
Name[eu]=TDEren performantzia
Name[fa]=کارایی TDE
Name[fi]=Suorituskyky
Name[fr]=Performance de TDE
Name[fy]=TDE-prestaasjes
Name[ga]=Feidhmiúchán TDE
Name[gl]=Rendemento de TDE
Name[he]=ביצועי TDE
Name[hi]=केडीई परफार्मेंस
Name[hr]=TDE performanse
Name[hu]=Teljesítményhangolás
Name[is]=Afkastastillingar TDE
Name[it]=Prestazioni di TDE
Name[ja]=TDE パフォーマンス
Name[ka]=TDE-ს წარმადობა
Name[kk]=TDE жылдамдығы
Name[km]=ដំណើរការ​របស់ TDE
Name[ko]=TDE 성능
Name[lt]=TDE našumas
Name[lv]=TDE Veiktspēja
Name[mk]=Перформанси на TDE
Name[mn]=КДЭ-Удирдлагын самбар
Name[ms]=Prestasi TDE
Name[mt]=Effiċjenza TDE
Name[nb]=TDE-ytelse
Name[nds]=TDE-Leisten
Name[ne]=TDE सम्पादन
Name[nl]=TDE-prestaties
Name[nn]=TDE-yting
Name[pa]=TDE ਪਰਦਰਸ਼ਨ
Name[pl]=Wydajność TDE
Name[pt]=Performance do TDE
Name[pt_BR]=Performance do TDE
Name[ro]=Performanță TDE
Name[ru]=Быстродействие
Name[rw]=Imikorere ya TDE
Name[se]=TDE-buktu
Name[sk]=Výkon TDE
Name[sl]=Zmogljivost TDE
Name[sr]=TDE перформансе
Name[sr@Latn]=TDE performanse
Name[sv]=TDE-prestanda
Name[ta]=TDE செயல்திறன்
Name[tg]=Амалкарди TDE
Name[th]=ประสิทธิภาพของ TDE
Name[tr]=TDE Performansı
Name[tt]=TDE Citezlege
Name[uk]=Швидкодія TDE
Name[uz]=TDE unumdorligi
Name[uz@cyrillic]=TDE унумдорлиги
Name[vi]=Hiệu năng TDE
Name[wa]=Improuver TDE
Name[zh_CN]=TDE 性能
Name[zh_TW]=TDE 效能

Comment=Configure settings that can improve TDE performance
Comment[af]=Stel instellings op wat TDE se werkverrigting kan verhoog
Comment[ar]=إعداد تعيينات تحسّن إداء TDE
Comment[be]=Настаўленне параметраў, якія могуць павялічыць хуткасць працы TDE
Comment[bg]=Настройване производителността на системата
Comment[bn]=কে.ডি.ই-এর কার্যকারীতা বর্ধন করতে পারে এমন সব সেটিংস কনফিগার করুন
Comment[bs]=Postavke koje mogu unaprijediti performanse TDEa
Comment[ca]=Configura les opcions per a millorar el rendiment del TDE
Comment[cs]=Nastavení vylepšující výkon TDE
Comment[csb]=Kònfigùracëjô nastôwów Konquerora jaczé nają cësk na spòrosc TDE
Comment[cy]=Ffurfweddu gosodiadau sy'n gallu gwella perfformiad TDE
Comment[da]=Indstil opsætning for at forbedre TDE's ydelse
Comment[de]=Einstellungen vornehmen, die die Leistungsfähigkeit von TDE erhöhen können
Comment[el]=Αλλάξτε ρυθμίσεις που μπορεί να βελτιώσουν την απόδοση του TDE
Comment[eo]=Agordo de plibonigo de la TDEa potenco
Comment[es]=Configura opciones que pueden mejorar el rendimiento de TDE
Comment[et]=Siin saad seadistada, kuidas TDE kõigega paremini toime tuleks
Comment[eu]=Konfiguratu Konquerorren performantzia hobe dezaketen ezarpenak
Comment[fa]=پیکربندی تنظیماتی که کارایی TDE را بهبود می‌بخشد
Comment[fi]=Muokkaa TDE:n suorituskykyyn liittyviä asetuksia
Comment[fr]=Configuration de paramètres qui peuvent améliorer les performances de TDE
Comment[fy]=Hjir kinne jo ynstellings kiezen die de prestaasje fan TDE kinne ferbetterje
Comment[ga]=Cumraigh socruithe a chuirfidh feabhas ar fheidhmiúchán TDE
Comment[gl]=Configuración das opcións que poden mellorar o rendemento de TDE
Comment[he]=הגדר הגדרות שעשויות לשפר את ביצועי TDE
Comment[hi]=विन्यास कॉन्फ़िगर करें ताकि केडीई का कार्य बेहतर हो सके
Comment[hr]=Konfiguriranje postavi koje mogu poboljšati performanse TDE-a
Comment[hu]=A TDE teljesítményét befolyásoló paraméterek beállítása
Comment[is]=Stillingar sem varða afköst TDE
Comment[it]=Configura le impostazioni che possono migliorare le prestazioni di TDE
Comment[ja]=TDE のパフォーマンスを改善
Comment[ka]=TDE-ს სისწრაფეზე მოქმედი პარამეტრების კონფიგურაცია
Comment[kk]=TDE жылдамдығын арттыратын параметрлерді баптау
Comment[km]=កំណត់​រចនាសម្ព័ន្ធ​ការ​កំណត់​ដែល​អាច​បង្កើន​ដំណើរការ​របស់ TDE
Comment[ko]=TDE 성능 향상 설정
Comment[lt]=Konfigūruoti nustatymus, kurie gali pagerinti TDE veikimo spartą
Comment[lv]=Konfigurē parametrus, kas ietekmē Iekarotāja veiktspēju
Comment[mk]=Конфигурирајте ги поставувањата што може да ги подобрат перформансите на TDE
Comment[mn]=Comment=КДЭ чадал сайжруулалтыг тохируулах
Comment[ms]=Konfigur seting yang boleh meningkatkan prestasi TDE
Comment[mt]=Ikkonfigura setings li jistgħu itejbu l-veloċità ta' TDE
Comment[nb]=Innstillinger som kan forbedre TDEs ytelse
Comment[nds]=Mit disse Instellen kannst Du de Leisten vun TDE verbetern
Comment[ne]=TDE सम्पादन सुधार गर्न सक्ने सेटिङ कन्फिगर गर्नुहोस्
Comment[nl]=Hier kunt u instellingen kiezen die de prestaties van TDE kunnen verbeteren
Comment[nn]=Innstillingar som kan forbetra ytinga til TDE
Comment[pa]=ਸੰਰਚਨਾ ਸੈਟ ਕਰੋ, ਜਿਸ ਨਾਲ TDE ਦਾ ਪਰਦਰਸ਼ਨ ਵਧਿਆ ਹੋ ਸਕਦਾ ਹੈ
Comment[pl]=Konfiguracja ustawień, które mogą mieć wpływ na wydajność TDE
Comment[pt]=Configura as opções que podem aumentar a performance do TDE
Comment[pt_BR]=Configurações que podem aumentar a performance do TDE
Comment[ro]=Configurează setări care pot îmbunătăți performanța Konqueror
Comment[ru]=Настройка параметров, которые могут повлиять на быстродействие TDE
Comment[rw]=Kuboneza amagenamiterere ashobora kuvugurura imikorere ya TDE
Comment[se]=Heivehusat mat buoridit TDE:a buvttu
Comment[sk]=Nastavenie, ktoré môže vylepšiť výkon TDE
Comment[sl]=Nastavite možnosti za pohitritev TDE
Comment[sr]=Подешавање поставки које могу да побољшају перформансе TDE-а
Comment[sr@Latn]=Podešavanje postavki koje mogu da poboljšaju performanse TDE-a
Comment[sv]=Anpassa inställningar som kan förbättra TDE:s prestanda
Comment[ta]=TDE செயல்திறனை அதிகப்படுத்தும் அமைப்புகளை அமை
Comment[tg]= Танзимоте ки метавонанд амалкарди TDE-ро беҳбуд бахшанд, танзим кунед
Comment[th]=ปรับแต่งตั้งค่าที่จะช่วยปรับประสิทธิภาพของ TDE
Comment[tr]=TDE'nin performansını artıracak ayarlamaları yap
Comment[tt]=TDE citezlegen arttıra ala torğan köyläwlär
Comment[uk]=Налаштування параметрів для покращання швидкодії TDE
Comment[uz]=TDE unumdorligini oshirishi mumkin boʻlgan moslamalarni moslash
Comment[uz@cyrillic]=TDE унумдорлигини ошириши мумкин бўлган мосламаларни мослаш
Comment[vi]=Các thiết lập nâng cao khả năng của Konqueror
Comment[wa]=Tchuzes d' apontiaedje ki plèt improuver TDE
Comment[zh_CN]=配置提高 TDE 性能的设置
Comment[zh_TW]=可增進 TDE 效能的設定

Keywords=performance;speed;memory;improve;
Keywords[ar]=performance;speed;memory;improve;أداء;سرعة;ذاكرة;تحسين
Keywords[be]=Хуткасць працы;Прадукцыйнасць;Хуткасць;Памяць;Палепшыць;Паляпшэнне;performance;speed;memory;improve
Keywords[bg]=производителност; памет; скорост; подобряване; подобрение; performance; speed; memory; improve
Keywords[ca]=rendiment;velocitat;memòria;millora
Keywords[cs]=výkon;rychlost;paměť;zlepšení
Keywords[csb]=spòrosc; chùtkòsc; pamiãc;zlepszenié
Keywords[cy]=perfformiad;cyflymder;cof;gwella
Keywords[da]=ydelse;hastighed;hukommelse;forbedre
Keywords[de]=leistung;geschwindigkeit;speichern;optimieren
Keywords[el]=απόδοση;ταχύτητα;μνήμη;βελτίωση
Keywords[eo]=potenco;rapideco;memoro;plibonigo;plibonigi
Keywords[es]=rendimiento;velocidad;memoria;mejora
Keywords[et]=jõudlus;kiirus;mälu;parandamine
Keywords[eu]=performantzia;abiadura;memoria;hobetu
Keywords[fa]=کارایی، سرعت، حافظه، بهبود
Keywords[fi]=suorituskyky; nopeus; muisti; parannus
Keywords[fr]=performances;vitesse;mémoire;améliorer
Keywords[fy]=fluggens;prestaasjes;ûnthâld;ferbetterje
Keywords[ga]=oibriú;luas;cuimhne;feabhsaigh;feabhsú
Keywords[gl]=rendemento;velocidade;memoria;mellora
Keywords[he]=ביצועים;מהירות;זיכרון;שפר; performance;speed;memory;improve
Keywords[hi]=परफार्मेंस;गति;मेमोरी;बेहतर
Keywords[hr]=performance;speed;memory;improve;performanse;brzina;memorija;unaprijediti
Keywords[hu]=teljesítmény;sebesség;memória;hangolás
Keywords[it]=prestazioni;velocità;memoria;migliora
Keywords[ja]=パフォーマンス;速度;メモリ;改善
Keywords[km]=ដំណើរការ;ល្បឿន;សតិ;បង្កើន
Keywords[lt]=performance;speed;memory;improve;veikimas;greitis;atmintis;pagerinti
Keywords[lv]=veiktspēja;ātrums;atmiņa;uzlabot
Keywords[mk]=performance;speed;memory;improve;перформанси;брзина;меморија;подобри
Keywords[mn]=чадал;хурд;санах ой;сайжруулалт
Keywords[nb]=ytelse;hastighet;minne;forbedre
Keywords[nds]=Leisten;performance;Gauheit;Spieker;verbetern
Keywords[ne]=सम्पादन;गति; स्मृति; सुधार
Keywords[nl]=snelheid;prestaties;geheugen;verbeteren
Keywords[nn]=yting;fart;minne;forbetra
Keywords[pa]=performance;speed;memory;improve; ਪਰਦਰਸ਼ਨ; ਗਤੀ; ਮੈਮੋਰੀ; ਸੁਧਾਰ
Keywords[pl]=wydajność;szybkość;pamięć;polepszenie
Keywords[pt]=performance;velocidade;memória;melhorar
Keywords[pt_BR]=performance;velocidade;memória;aumento
Keywords[ro]=performanță;viteză;memorie;îmbunătățire
Keywords[rw]=imikorere;umuvuduko;umwanyabubiko;kuvugurura
Keywords[se]=buktu;leahttu;muitu;buoridit
Keywords[sl]=zmogljivost;hitrost;pomnilnik;izboljšanje
Keywords[sr]=performance;speed;memory;improve;перформансе;брзина;меморија;унапређивање;унапреди
Keywords[sr@Latn]=performance;speed;memory;improve;performanse;brzina;memorija;unapređivanje;unapredi
Keywords[sv]=prestanda;hastighet;minne;förbättra
Keywords[ta]=செயல்திறன்;வேகம்;நினைவகம்;முன்னேற்றம்
Keywords[th]=ประสิทธิภาพ;ความเร็ว;หน่วยความจำ;ปรับปรุง
Keywords[tr]=performans;hız;bellek;geliştirme
Keywords[uk]=швидкодія;швидкість;пам'ять;покращення
Keywords[uz]=unumdorlik;tezlik;xotira;oshirish
Keywords[uz@cyrillic]=унумдорлик;тезлик;хотира;ошириш
Keywords[vi]=hiệu năng;tốc độ;bộ nhớ;nâng cao
Keywords[wa]=improuver;fé kine;roedeu;memwere;improuver;amidrer
Keywords[zh_CN]=performance;speed;memory;improve;性能;速度;内存;提高
Keywords[zh_TW]=performance;speed;memory;improve;效能;速度;記憶體;增進

Categories=Qt;TDE;X-TDE-settings-components;
