[Desktop Entry]
Type=Application
X-DocPath=kcontrol/cache/index.html
Icon=cache
Exec=tdecmshell cache


X-TDE-Library=tdeio
X-TDE-FactoryName=cache
X-TDE-ParentApp=kcontrol

Name=Cache
Name[af]=Kas
Name[ar]=الخابية
Name[az]=Ön Yaddaş
Name[be]=Кэш
Name[bg]=Временна памет
Name[bn]=ক্যাশে (Cache)
Name[br]=Krubuilh
Name[ca]=Cau
Name[de]=Zwischenspeicher
Name[el]=Λανθάνουσα μνήμη
Name[eo]=Tenejo
Name[es]=Caché
Name[et]=Puhver
Name[eu]=Katxea
Name[fa]=نهانگاه
Name[fi]=Välimuisti
Name[fy]=Lyts ûnthâld
Name[ga]=Taisce
Name[gl]=Caché
Name[he]=מטמון
Name[hi]=कैश
Name[hr]=Pohrana
Name[hu]=Gyorstár
Name[is]=Skyndiminni
Name[ja]=キャッシュ
Name[ka]=ქეში
Name[kk]=Бүркеме
Name[km]=ឃ្លាំង​សម្ងាត់
Name[ko]=캐시
Name[lo]=ແຄຊ
Name[lt]=Krepšys
Name[lv]=Kešatmiņa
Name[mk]=Кеш
Name[mn]=Завсрын хадгалагч
Name[nb]=Mellomlager
Name[nds]=Twischenspieker
Name[ne]=क्यास
Name[nn]=Mellomlager
Name[nso]=Polokelo
Name[pa]=ਕੈਂਚੇ
Name[pl]=Bufor
Name[ru]=Кэш
Name[rw]=Ubwihisho
Name[se]=Gaskarájus
Name[sk]=Vyrovnávacia pamäť
Name[sl]=Prepomnilnik
Name[sr]=Кеш
Name[sr@Latn]=Keš
Name[ta]=தற்காலிக
Name[te]=కెష్
Name[tg]=Кэш
Name[th]=แคช
Name[tr]=Önbellek
Name[tt]=Alxäter
Name[uk]=Кеш
Name[uz]=Kesh
Name[uz@cyrillic]=Кэш
Name[vi]=Bộ đệm
Name[wa]=Muchete
Name[xh]=Indawo yokugcina efihlakeleyo
Name[zh_CN]=缓存
Name[zh_TW]=快取
Comment=Configure web cache settings
Comment[af]=Konfigureer web kas instellings
Comment[ar]=إعداد الخابية للشبكة
Comment[az]=Veb ün yaddaş qurğuları
Comment[be]=Настаўленні сеціўнага кэша
Comment[bg]=Настройване на временната памет
Comment[bn]=ওয়েব ক্যাশে সেটিংস কনফিগার করুন
Comment[br]=Kefluniañ krubuilh ar gwiad
Comment[bs]=Podesite postavke web cache-a
Comment[ca]=Configura les opcions per al cau web
Comment[cs]=Nastavení cache pro webové stránky
Comment[csb]=Kònfigùracëjô nastôwù cache
Comment[cy]=Ffurfweddu gosodiadau'r storfa w?
Comment[da]=Indstil cache-opsætning
Comment[de]=Einstellungen zum Zwischenspeicher vornehmen
Comment[el]=Ρυθμίστε τη λανθάνουσα μνήμη ιστοσελίδων
Comment[eo]=Agordo de tenejo
Comment[es]=Preferencias del caché de web
Comment[et]=Veebi vahemälu seadistamine
Comment[eu]=Konfiguratu web katxearen ezarpenak
Comment[fa]=پیکربندی تنظیمات نهانگاه وب
Comment[fi]=WWW-välimuistin asetuksia
Comment[fr]=Configuration des réglages du cache web
Comment[fy]=Hjir kinne jo it lyts ûnthâld fan it web ynstelle
Comment[gl]=Configurar as opcións da caché web
Comment[he]=שינוי הגדרות המטמון
Comment[hi]=वेब कैश विन्यास कॉन्फ़िगर करें
Comment[hr]=Konfiguriranje postavki web-pohrane
Comment[hu]=A webböngészési gyorstár beállításai
Comment[is]=Stilla skyndiminni fyrir vefflakk
Comment[it]=Configura le impostazioni della cache del web
Comment[ja]=ウェブキャッシュの設定
Comment[ka]=ვებ კეშის პარამეტრების კონფიგურაცია
Comment[kk]=Веб бүркеме параметрлерін баптау
Comment[km]=កំណត់​រចនាសម្ព័ន្ធ​ការ​កំណត់​ឃ្លាំង​សម្ងាត់​បណ្ដាញ
Comment[ko]=웹 캐시 설정
Comment[lo]=ປັບແຕ່ງການຕັ້ງຄ່າລະບົບແຄຊທີ່ນີ້
Comment[lt]=Konfigūruokite žiniatinklio krepšio nustatymus
Comment[lv]=Šeit jūs varat konfigurēt tīmekļa kešatmiņas uzstādījumus
Comment[mk]=Конфигурирајте ги поставувањата за веб-кешот
Comment[mn]=Завсрын хадгалагч тохируулах
Comment[ms]=Konfigur seting cache web
Comment[mt]=Ikkonfigura l-cache tal-web
Comment[nb]=Tilpass vev-mellomlageret
Comment[nds]=Den Nett-Twischenspieker instellen
Comment[ne]=वेब क्यास सेटिङ कन्फिगर गर्नुहोस्
Comment[nl]=Hier kunt u de webcache instellen
Comment[nn]=Oppsett av vevmellomlager
Comment[nso]=Beakanya dipeakanyo tsa polokelo ya web
Comment[pa]=ਵੈੱਬ ਕੈਂਚੇ ਸੈਟਿੰਗ ਸੰਰਚਨਾ
Comment[pl]=Konfiguracja ustawień bufora (cache'a)
Comment[pt]=Configuração das opções da 'cache' da Web
Comment[pt_BR]=Configura as preferências de cache
Comment[ro]=Configurează setările cache-ului web
Comment[ru]=Настройка кэша
Comment[rw]=Kuboneza amagenamiterere y'ubwihisho bw'urubuga 
Comment[se]=Heivet fierpmádatgaskarádjusa
Comment[sk]=Nastavenie vyrovnávacej pamäte pre WWW
Comment[sl]=Nastavitve spletnega predpomnilnika
Comment[sr]=Подешавање поставки веб кеша
Comment[sr@Latn]=Podešavanje postavki veb keša
Comment[sv]=Anpassa webbcacheinställningar
Comment[ta]=வலை தற்காலிக அமைப்புகளை வடிவமை
Comment[tg]=Танзимоти қароргоҳи пинҳонии интернет
Comment[th]=ปรับแต่งการตั้งค่าระบบแคช
Comment[tr]=Web önbellek ayarlarını buradan yapabilirsiniz
Comment[tt]=Alxäter caylawı
Comment[uk]=Налаштування установок кешу Тенет
Comment[uz]=Veb-kesh moslamalarini moslash
Comment[uz@cyrillic]=Веб-кэш мосламаларини мослаш
Comment[ven]=Dzudzanyani mavhekanyele a cache a webu
Comment[vi]=Cấu hình các thiết lập bộ đệm cho duyệt mạng
Comment[wa]=Fijhoz l' apontiaedje del muchete des pådjes waibe chal
Comment[xh]=Qwalasela izicwangciso ze web yendawo yokugcina efihlakeleyo
Comment[zh_CN]=配置网页缓存设置
Comment[zh_TW]=設定網頁快取設定
Comment[zu]=Hlanganisela izilungiselelo ze-cache ye-web
Keywords=Cache;History;Browsing History;Ports;Size;
Keywordsar=الخابية;الخط الزمني;خط زمن التصفح;المنافذ;القياس الحجم;الذاكرة المخبئية;التأريخ;تأريخ المتصفح;المنافذ;الحجم;
Keywordsaz=Kaşe;Keçmiş;Səyahət Keçmişi;Qapılar;Böyüklük;
Keywordsbe=Кэш;Гісторыя;Гісторыя вандровак;Вандраванне;Парты;Памер;Cache;History;Browsing History;Ports;Size;
Keywordsbg=кеш; памет; временни; копия; страница; Cache; History; Browsing History; Ports; Size;
Keywordsbr=Krubuilh;istor;furchal an istor;porzhioù;ment;
Keywordsca=Cau;Historial;Historial de navegació;Ports;Mida;
Keywordscs=Cache;Historie;Porty;Velikost;
Keywordscsb=cache;historëjô;historëjô przezéraniô;pòrtë;miara;
Keywordscy=Storfa;Hanes;Hanes Pori;Pyrth;Maint;
Keywordsda=Cache;Historik;Netsøgningshistorik;Porte;Størrelse;
Keywordsde=Cache;Verlauf;History;Ports;Zwischenspeicher; Größe;
Keywordsel=Λανθάνουσα μνήμη;Ιστορικό;Ιστορικό περιήγησης;Θύρες;Μέγεθος;
Keywordseo=Tenejo;Historio;TTT-umado;Pordoj;Grandeco;
Keywordses=Caché;Historia;Historia de navegación;Puertos;Tamaño;
Keywordset=cache;puhver;lehitsemise puhver;pordid;suurus;
Keywordseu=Katxea;Historia;Arakaketa historia;Atakak;Neurria;
Keywordsfa=نهانگاه، تاریخچه، تاریخچۀ مرور، درگاهها، اندازه;
Keywordsfi=Välimuisti;Historia;Selailuhistoria;Portit;Koko;
Keywordsfr=Cache;historique;navigation de l'historique;ports;taille;
Keywordsfy=cache;lyts ûnthâld;history;Histoarje;grutte;Ynternet;
Keywordsga=Taisce;Stair;Stair Brabhsála;Poirt;Méid;
Keywordsgl=Caché;Historial;Historial de Navegación;Portos;Tamaño;
Keywordshe=מטמון;היסטוריה;היסטוריית גלישה;יציאות;גודל;Cache;History;Browsing History;Ports;Size;
Keywordshi=कैश;इतिहास;ब्राउज़िंग इतिहास;पोर्ट;आकार;
Keywordshr=Cache;Pohrana;History;Povijest;Browsing History;Ports;Portovi;Size;Veličina;Povijest pretraživanja;
Keywordshu=gyorstár;napló;böngészési napló;portok;méret;
Keywordsis=Skyndiminni;Saga;Vafrasaga;Gáttir;Stærð;
Keywordsit=cache;cronologia;navigazione;cronologia di navigazione;porte;dimensione;
Keywordsja=キャッシュ;履歴;ブラウズの履歴;ポート;サイズ;
Keywordska=ქეში;ისტორია;მიმოხილვის ისტორია;პორტები;ზომა;
Keywordskm=ឃ្លាំង​សម្ងាត់;ប្រវត្តិ;ប្រវត្តិ​ការ​រុករក;ច្រក;ទំហំ;
Keywordslo=ແຄຊ;ປະຫວັດການໃຊ້;ປະຫວັດການທ່ອງເວບประวัต;ພັອດ;ຂະຫນາດ;
Keywordslt=Cache;History;Browsing History;Ports;Size; kešas;krepšys;žurnalas;istorija;naršymo žurnalas;naršymo istorija;portai;dydis;
Keywordsmk=Cache;History;Browsing History;Ports;Size;Кеш;Историја;Прелистување на историјата;Портови;Големина;
Keywordsmn=Cache;Түүх;History;Порт;Завсрын хадгалагч;Хэмжээ;
Keywordsnb=Mellomlager;Historie;Lesehistorie;Porter;Størrelse;
Keywordsnds=Twischenspieker;Vörgeschicht;Browsing History;Porten;Grött;
Keywordsne=क्यास; इतिहास; ब्राउज इतिहास; पोर्ट; साइज;
Keywordsnl=cache;historie;geschiedenis;grootte;internet;
Keywordsnn=cache;mellomlager;historie;nettlesarhistorie;portar;storleik;
Keywordsnso=Polokelo;Histori;Hostori ya Boinyakisi;Maboemo;Bogolo;
Keywordspa=ਅਕਾਰ;ਅਤੀਤ;ਝਲਕਾਰਾ;ਕੈਂਚੇ;ਪੋਰਟ;
Keywordspl=cache;bufor;historia;historia przeglądania;porty;rozmiar;
Keywordspt=Cache;Histórico;Histórico de Navegação;Portos;Tamanho;
Keywordspt_BR=Cache;Histórico;Histórico de Navegação;Portas;Tamanho;
Keywordsro=cache;istoric;navigare în istoric;porturi;mărime;
Keywordsrw=Ubwihisho;Amateka;Amateka yo Gucukumbura;Imiyoboro;Ingano;
Keywordsse=gaskarájus;historihkka;fierpmádatloganhistorihkka;verráhat;sturrodat;
Keywordssk=Cache;Keš;vyrovnávacia pamäť;prehliadanie;história;porty;veľkosť;
Keywordssl=predpomnilnik;zgodovina;zgodovina brskanja;vrata;velikost;
Keywordssr=Кеш; Историјат; Прегледање историјата; Портови; Величина;
Keywordssr@Latn=Keš; Istorijat; Pregledanje istorijata; Portovi; Veličina;
Keywordssv=Cache;Historik;Webbläsningshistorik;Portar;Storlek;
Keywordsta=தற்காலிக;வரலாறு;உலாவுதலின் வரலாறு;முனையங்கள்;அளவு;
Keywordsth=แคช;ประวัติการใช้;ประวัติการท่องเว็บ;พอร์ต;ขนาด;
Keywordstr=Arabellek;Tarihçe;Gözatma Tarihçesi;Portlar;
Keywordsuk=кеш;історія; історія навігації;порти;розмір;
Keywordsuz=Kesh;Veb-sahifalar tarihi;Tarix;Portlar;
Keywordsuz@cyrillic=Кэш;Веб-саҳифалар тариҳи;Тарих;Портлар;
Keywordsven=Cache;Divhazwakale;Divahzwakale ya Burausini;Ports;Saizi;
Keywordsvi=Đệm;Lịch sử;Lịch sử duyệt;Cổng;Cỡ;
Keywordswa=Muchete;Istwere;Istwere do foytaedje;Pôrts;Grandeu;
Keywordsxh=Indawo yokugcina; Imbali; imbali Yokhangelo zincwadi; Amazibuko; Ubungakanani;
Keywordszh_CN=Cache;History;Browsing History;Ports;Size;缓存;历史;
Keywordszh_TW=Cache;History;Browsing History;Ports;Size;快取;
Keywordszu=Cache;Umlando;Umlando wokucinga;Izikhumulo;Usayizi;

Categories=Qt;TDE;X-TDE-settings-webbrowsing;
