[Desktop Entry]
Type=Application
X-DocPath=kcontrol/proxy/index.html
Icon=proxy
Exec=tdecmshell proxy


X-TDE-Library=tdeio
X-TDE-FactoryName=proxy
X-TDE-ParentApp=kcontrol

Name=Proxy
Name[af]=Volmag
Name[ar]=الوكيل
Name[az]=Vəkil Verici
Name[be]=Проксі
Name[bg]=Прокси сървър
Name[bn]=প্রক্সি
Name[br]=Proksi
Name[ca]=Intermediari
Name[csb]=Pòstrzédnik (Proxy)
Name[cy]=Dirprwy
Name[el]=Διαμεσολαβητής
Name[eo]=Prokuriloj
Name[eu]=Proxya
Name[fa]=پیشکار
Name[fi]=Välityspalvelin
Name[fr]=Serveur mandataire (proxy)
Name[ga]=Seachfhreastalaí
Name[he]=מתווכים
Name[hi]=प्रॉक्सी
Name[is]=Milliþjónn
Name[ja]=プロキシ
Name[ka]=პროქსი
Name[kk]=Прокси
Name[km]=ប្រូកស៊ី
Name[ko]=프록시
Name[lo]=ພຣັອກຊີ
Name[mk]=Прокси
Name[mn]=Итгэмжилэгч-сервер
Name[ms]=Proksi
Name[nb]=Mellomtjener
Name[ne]=प्रोक्सी
Name[nn]=Mellomtenar
Name[nso]=Moemalegato
Name[pa]=ਪਰਾਕਸੀ
Name[pl]=Pośrednik (Proxy)
Name[ru]=Прокси
Name[rw]=Porogisi
Name[se]=Gaskabálvá
Name[sl]=Posrednik
Name[sr]=Прокси
Name[sr@Latn]=Proksi
Name[sv]=Proxyservrar
Name[ta]=பதிவாணை
Name[te]=ప్రాక్సి
Name[tg]=Прокси
Name[th]=พร็อกซี
Name[tr]=Vekil Sunucu
Name[uk]=Проксі
Name[uz]=Proksi
Name[uz@cyrillic]=Прокси
Name[ven]=Purokusi
Name[xh]=Umntu onegunya lokusebenzela omnye
Name[zh_CN]=代理
Name[zh_TW]=代理
Name[zu]=Umlingani
Comment=Configure the proxy servers used
Comment[af]=Konfigureer die volmag bedieners gebruik word
Comment[ar]=إعداد خوادم التوكيل المستعملة
Comment[az]=İşlədilən vəkil verici qurğuları
Comment[be]=Настаўленні сервераў проксі
Comment[bg]=Настройване на прокси сървъра
Comment[bn]=ব্যবহৃত প্রক্সি সার্ভার কনফিগার করুন
Comment[br]=Kefluniañ  ar servijeroù proksi implijet
Comment[bs]=Podesite proxy servere
Comment[ca]=Configura els servidors intermediaris emprats
Comment[cs]=Nastavení proxy serverů
Comment[csb]=Kònfigùracëjô pòstrzédniczącëch serwerów (proxy)
Comment[cy]=Ffurfweddu gweinyddion dirprwyol i'w defnyddio
Comment[da]=Indstil de proxyservere der bruges
Comment[de]=Proxy-Server einrichten
Comment[el]=Ρυθμίστε τους διαμεσολαβητές που χρησιμοποιούνται
Comment[eo]=Agordo de prokurilo
Comment[es]=Configuración de los servidores Proxy usados
Comment[et]=Kasutatavate proxy serverite seadistamine
Comment[eu]=Konfiguratu erabilitako proxy zerbitzariak
Comment[fa]=پیکربندی پیشکارهای استفاده‌شده
Comment[fi]=Käytettävät välityspalvelimet
Comment[fr]=Configuration des serveurs mandataires (proxy) utilisés
Comment[fy]=Hjir kinne jo de Proxy-tsjinner ynstelle
Comment[gl]=Configurar os servidores proxy empregados
Comment[he]=שינוי הגדרות השרתים המתווכים שנעשה בהם שימוש
Comment[hi]=उपयोग में प्रॉक्सी सर्वर कॉन्फ़िगर करें
Comment[hr]=Konfiguriranje proxy poslužitelja
Comment[hu]=A proxy kiszolgálók beállításai
Comment[is]=Stilla milliþjóna sem á að nota
Comment[it]=Configura il server proxy da usare
Comment[ja]=プロキシサーバの設定
Comment[ka]=გამოყენებული პროქსების კონფიგურაცია
Comment[kk]=Қолданатын прокси серверлерді баптау
Comment[km]=កំណត់​រចនាសម្ព័ន្ធ​ម៉ាស៊ីន​បម្រើ​ដែល​បាន​ប្រើ
Comment[ko]=사용할 프록시 서버 설정
Comment[lo]=ປັບແຕ່ງເຊີບເວີພຣັອກຊີ
Comment[lt]=Konfigūruoti naudojamus proxy serverius
Comment[mk]=Конфигурирајте ги прокси-серверите кои се користат
Comment[mn]=Итгэмжилэгч сервер тохируулах
Comment[ms]=Konfigur pelayan proksi yang digunakan
Comment[mt]=Ikkonfigura servers proxy
Comment[nb]=Oppsett av mellomtjenere
Comment[nds]=De bruukten Proxies instellen
Comment[ne]=प्रयोग गरिएको प्रोक्सी सर्भर कन्फिगर गर्नुहोस्
Comment[nl]=Hier kunt u de Proxy-servers instellen
Comment[nn]=Oppsett av mellomtenarar
Comment[nso]=Beakanya diabi tsa moemalegato tseo di somisitswego
Comment[pa]=ਵਰਤੇ ਜਾਂਦੇ ਪਰਾਕਸੀ ਸਰਵਰਾਂ ਦੀ ਸੰਰਚਨਾ
Comment[pl]=Konfiguracja serwerów pośredniczących (proxy)
Comment[pt]=Configurar os servidores 'proxy' usados
Comment[pt_BR]=Configura os servidores proxy usados
Comment[ro]=Configurează serverele proxy utilizate
Comment[ru]=Настройка серверов прокси
Comment[rw]=Kuboneza amaseriveri porogisi akoreshwa
Comment[se]=Heivet gaskabálváid mat geavahuvvojit
Comment[sk]=Nastavenie proxy serverov
Comment[sl]=Nastavitev uporabe posredniških strežnikov
Comment[sr]=Подешавање коришћених прокси сервера
Comment[sr@Latn]=Podešavanje korišćenih proksi servera
Comment[sv]=Anpassa proxyservrar som används
Comment[ta]=பயன்படுத்தப்பட்ட பதிவாணை சேவகன்களை அமை
Comment[tg]=Танзими коргузорҳои прокси мавриди истифода
Comment[th]=ปรับแต่งเซิร์ฟเวอร์พร็อกซี
Comment[tr]=Vekil sunucularını yapılandırır
Comment[tt]=Proxy serverlären caylaw
Comment[uk]=Налаштування проксі-сервера
Comment[uz]=Proksi serverlarini moslash
Comment[uz@cyrillic]=Прокси серверларини мослаш
Comment[ven]=Dzudzanyani dzisiva dza Proxy dzo shumiswaho
Comment[vi]=Cấu hình máy chủ proxy được sử dụng
Comment[wa]=Apontyî les sierveus proxy d' eployîs
Comment[xh]=Qwalasela indlela abasebenziswa ngayo abancedisi be proxy
Comment[zh_CN]=配置所用的代理服务器
Comment[zh_TW]=設定使用的代理伺服器
Comment[zu]=Hlanganisela abalekeleli abangabalingani abasetshenziswayo
Keywords=Proxy;Proxy server;Firewall;Squid;proxy;
Keywordsar=الوكيل;خادم التوكيل;جدار عزل النار;Squid;الوكيل;
Keywordsaz=Proksi;vəkil verici;vəkil;Firewall;firewall;Squid;Proxy;proxy;atəş divarı;atəş;
Keywordsbe=Проксі;Сервер проксі;Брандмаўэр;проксі;Proxy;Proxy server;Firewall;Squid;proxy;
Keywordsbg=прокси; сървър; посредник; Proxy; Proxy server; Firewall; Squid; proxy;
Keywordsbr=Proksi;Server proksi;Moger-tan;Squid;proksi;
Keywordsca=Intermediari;Servidor intermediari;Tallafocs;Squid;intermediari;
Keywordscsb=proxy;pòstrzédnik;pòstrzédniczącô serwera;ògniowô scana;Squid;
Keywordscy=Dirprwy;Gweinydd dirprwyol;Mur gwarchod;Squid;dirprwy;
Keywordsda=Proxy;Proxyserver;Brandmur;Squid;proxy;
Keywordsel=Διαμεσολαβητής;Διαμεσολαβητής;Firewall;Squid;διαμεσολαβητής;
Keywordseo=Prokurilo;Prokuro-servo;Fajroŝirmilo;Squid;
Keywordses=Proxy;servidor Proxy;Cortafuegos;Squid;proxy;
Keywordset=proxy;proxy server;tulemüür;squid;
Keywordseu=Proxya;Proxy zerbitzaria;Firewalla;Squid;proxya;
Keywordsfa=پیشکار، پیشکاری، دیوارۀ آتش، Squid،پیشکار;
Keywordsfi=Välityspalvelin;Palomuuri;Squid;
Keywordsfr=proxy;serveur mandataire;pare-feu;squid;
Keywordsfy=proxy;proxy tsjinner;brânmourre;squid;
Keywordsga=Seachfhreastalaí;Balla Dóiteáin;Squid;
Keywordsgl=Proxy;Servidor Proxy;Cortafogos;Squid;proxy;
Keywordshe=מתווך;שרת מתווך;Firewall;Squid; Proxy;Proxy server;Squid;proxy;
Keywordshi=प्रॉक्सी;प्रॉक्सी सर्वर;फायरवाल;एसक्यू-आईडी;प्रॉक्सी;
Keywordshr=Proxy;Proxy server;Proxy poslužitelj; Firewall;Squid;proxy;Vatrozid;
Keywordshu=proxy;proxy kiszolgáló;tűzfal;Squid;proxy;
Keywordsis=Eldveggur;Proxy;Proxy server;Firewall;Squid;proxy;
Keywordsit=proxy;server proxy;firewall;Squid;
Keywordsja=プロキシ;プロキシサーバ;ファイアウォール;Squid;プロキシ;
Keywordska=პროქსი;პროქსი სერვერი;ფაირვოლი;Squid;პროქსი;
Keywordskm=ប្រូកស៊ី;ម៉ាស៊ីន​បម្រើ​ប្រូកស៊ី;ជញ្ជាំង​ភ្លើង;Squid;ប្រូកស៊ី;
Keywordslo=ພຣັອກຊີ;ເຊີເວີພຣັອກຊີ;ໄຟລ໌ວອລ໌;ສະວິກ;ພຣັອກຊີ;
Keywordslt=Proxy;Proxy server;Firewall;Squid;proxy; proxy serveris;ugniasienė;
Keywordsmk=Proxy;Proxy server;Firewall;Squid;proxy; Прокси;Прокси сервер;Огнен Ѕид;прокси;
Keywordsmn=Итгэмжилэгч;Итгэмжилэгч сервер;Firewall;Squid;proxy;
Keywordsnb=proxy;mellomtjener;brannmur;squid;
Keywordsnds=Proxy;Proxyserver;Nettdiek;Squid;proxy;
Keywordsne=प्रोक्सी; प्रोक्सी सर्भर; फायरवाल; स्क्विड; प्रोक्सी;
Keywordsnl=proxy;proxy server;firewall;squid;
Keywordsnn=proxy;mellomtenar;brannmur;squid;
Keywordsnso=Moemalegato;Moabi wa moemalegato;Firewall;Squid;moemalegato;
Keywordspa=Proxy;Proxy server;Firewall;Squid;ਪਰਾਕਸੀ; ਪਰਾਕਸੀ ਸਰਵਰ;
Keywordspl=proxy;pośrednik;serwer pośredniczący;zapora ogniowa;Squid;
Keywordspt=Proxy;Servidor proxy;Firewall;Squid;proxy;
Keywordspt_BR=Proxy;Servidor Proxy;Firewall;Squid;proxy;
Keywordsro=proxy;server proxy;firewall;squid;zid de foc;
Keywordsrw=Porogisi; Seriveri porogisi;Urukuta-muriro;Squid;porogisi;
Keywordsse=proxy;gaskabálvá;gaskabálvá;buollinmuvra;squid;
Keywordssl=posrednik;posredniški strežnik;požarni zid;squid;proxy;
Keywordssr=Прокси; Прокси сервер; Firewall; Squid; прокси;
Keywordssr@Latn=Proksi; Proksi server; Firewall; Squid; proksi;
Keywordssv=Proxy;Proxy-server;Brandvägg;Squid;proxy;
Keywordsta=பதிவாணை;பதிவாணை சேவகன்;ஃபயர்வால்;ஸ்க்யுட்;ப்ராக்சி;
Keywordsth=พร็อกซี;เซิร์ฟเวอร์พร็อกซี;ไฟร์วอลล์;สควิด;พร็อกซี;
Keywordstr=Vekil;Vekil sunucu;Güvenlik duvarı;Squid;proxy;
Keywordsuk=проксі;проксі-сервер;фаєрвол;Squid;proxy;
Keywordsuz=Squid;Proksi;Proksi server;Fayervol;proksi;
Keywordsuz@cyrillic=Squid;Прокси;Прокси сервер;Файервол;прокси;
Keywordsven=Purokusi;Siva ya Purokusi;Luvhondo lwa mulilo;Squid;Purokusi;
Keywordsvi=Proxy;Máy phục vụ proxy;Tường lửa;Squid;proxy;
Keywordswa=Proxy;Proxy server;Firewall;Squid;proxy;sierveu proxy;meur siconte feu;
Keywordsxh=Umntu onegunya lokudsebenzela omnye; umncedisi womntu onegunya;udonga lomlilo;Squid;umntu onegunya lokusebenzela omnye;
Keywordszh_CN=Proxy;Proxy server;Firewall;Squid;proxy;代理;代理服务器;防火墙;
Keywordszh_TW=Proxy;Proxy server;Firewall;Squid;proxy;代理;代理伺服器;防火牆;
Keywordszu=Umlingani;Umlekeleli ongumlingana;Firewall;Squid;umlingani;

Categories=Qt;TDE;X-TDE-settings-network;
