[Desktop Entry]
Name=Install TDE Theme
Name[af]=Installeer TDE temas
Name[ar]=ثبِت سمة TDE
Name[az]=TDE Örtüyünü Qur
Name[be]=Устаноўка тэмы TDE
Name[bg]=Инсталиране на тема
Name[bn]=কে.ডি.ই. থীম ইনস্টল করো
Name[br]=Staliañ ar c'hiz TDE
Name[bs]=Instaliraj TDE temu
Name[ca]=Instal·la tema TDE
Name[cs]=Instalovat TDE motiv
Name[csb]=Instalëjë témã TDE
Name[cy]=Gosod Thema TDE
Name[da]=Installér TDE-tema
Name[de]=TDE-Design installieren
Name[el]=Εγκατάσταση θέματος του TDE
Name[eo]=Instali TDEan etoson
Name[es]=Instalar tema de TDE
Name[et]=TDE teema paigaldamine
Name[eu]=Instalatu TDE gaia
Name[fa]=نصب چهرۀ TDE
Name[fi]=Asenna TDE-teema
Name[fr]=Installer des thèmes TDE
Name[fy]=TDE-tema ynstallearje
Name[ga]=Suiteáil Téama TDE
Name[gl]=Instalar tema de TDE
Name[he]=התקנה של ערכת נושא עבור TDE
Name[hi]=केडीई प्रसंग संस्थापित करें
Name[hr]=Instaliranje TDE teme
Name[hu]=TDE-téma telepítése
Name[is]=Setja inn TDE þemu
Name[it]=Installa tema di TDE
Name[ja]=TDE テーマのインストール
Name[ka]=TDE-ს თემების დაყენება
Name[kk]=TDE нақыштарын орнату
Name[km]=ដំឡើង​ស្បែក TDE
Name[ko]=TDE 테마 설치
Name[lt]=Įdiegti TDE temą
Name[lv]=Instalēt TDE tēmu
Name[mk]=Инсталирај TDE Тема
Name[ms]=Pasang Tema TDE
Name[mt]=Installa Tema TDE
Name[nb]=Legg inn TDE-tema
Name[nds]=TDE-Muster installeren
Name[ne]=TDE विषयवस्तु स्थापना गर्नुहोस्
Name[nl]=TDE-thema installeren
Name[nn]=Installer TDE-tema
Name[pa]=TDE ਸਰੂਪ ਇੰਸਟਾਲ
Name[pl]=Instaluj motyw TDE
Name[pt]=Instalar um Tema do TDE
Name[pt_BR]=Instalar Tema do TDE
Name[ro]=Instalează tematică TDE
Name[ru]=Установка тем TDE
Name[rw]=Kwinjiza Insanganyamatsiko TDE
Name[se]=Sajáiduhte TDE-fáttá
Name[sk]=Inštalovať tému TDE
Name[sl]=Namesti temo TDE
Name[sr]=Инсталирај TDE тему
Name[sr@Latn]=Instaliraj TDE temu
Name[sv]=Installera TDE-tema
Name[ta]=TDE பொருளை நிறுவு
Name[tg]=Мавзӯъи TDE сабт кунед
Name[th]=ติดตั้งชุดตกแต่ง TDE
Name[tr]=TDE Teması Yükle
Name[tt]=TDE Tışlaw quyu
Name[uk]=Встановлення теми TDE
Name[uz]=TDE mavzusini oʻrnatish
Name[uz@cyrillic]=TDE мавзусини ўрнатиш
Name[vi]=Cài đặt Sắc thái TDE
Name[wa]=Astaler on tinme TDE
Name[zh_CN]=安装 TDE 主题
Name[zh_TW]=安裝 TDE 佈景
MimeType=application/x-ktheme;
Icon=kthememgr
Type=Application
NoDisplay=true
Exec=kdeinstallktheme %f
