[Desktop Entry]
MimeType=application/x-ktheme
Comment=TDE Theme
Comment[af]=TDE Tema
Comment[ar]=سمة TDE
Comment[az]=TDE Örtüyü
Comment[be]=Тэма TDE
Comment[bg]=Тема за TDE
Comment[bn]=কে.ডি.ই. থীম
Comment[br]=Giz TDE
Comment[bs]=TDE tema
Comment[ca]=Tema TDE
Comment[cs]=TDE motiv
Comment[csb]=Téma TDE
Comment[cy]=Thema TDE
Comment[da]=TDE-tema
Comment[de]=TDE-Design
Comment[el]=Θέμα του TDE
Comment[eo]=TDEa etoso
Comment[es]=Tema de TDE
Comment[et]=TDE teema
Comment[fa]=چهرۀ TDE
Comment[fi]=TDE-teema
Comment[fr]=Thème TDE
Comment[fy]=TDE-tema
Comment[ga]=Téama TDE
Comment[gl]=Tema de TDE
Comment[he]=ערכת נושא של TDE
Comment[hi]=केडीई प्रसंग
Comment[hr]=TDE tema
Comment[hu]=TDE-téma
Comment[id]=Tema TDE
Comment[is]=TDE þema
Comment[it]=Tema TDE
Comment[ja]=TDE テーマ
Comment[ka]=TDE-ს თემა
Comment[kk]=TDE нақышы
Comment[km]=ស្បែក TDE
Comment[ko]=TDE 테마 설치
Comment[lo]=ທີມຂອງ TDE
Comment[lt]=TDE Tema
Comment[lv]=TDE Tēma
Comment[mk]=TDE-тема
Comment[mn]=КДЭ-Хэлбэр
Comment[ms]=Tema TDE
Comment[mt]=Tema TDE
Comment[nb]=TDE-tema
Comment[nds]=TDE Muster
Comment[ne]=TDE विषयवस्तु
Comment[nl]=TDE-thema
Comment[nn]=TDE-tema
Comment[nso]=Molaetsa wa TDE
Comment[pa]=TDE ਸਰੂਪ
Comment[pl]=Motywy TDE
Comment[pt]=Tema do TDE
Comment[pt_BR]=Tema do TDE
Comment[ro]=Tematică TDE
Comment[ru]=Тема TDE
Comment[rw]=Insanganyamatsiko za TDE 
Comment[se]=TDE-fáddá
Comment[sk]=Téma TDE
Comment[sl]=Tema TDE
Comment[sr]=TDE тема
Comment[sr@Latn]=TDE tema
Comment[sv]=TDE-tema
Comment[ta]=TDE பொருள்
Comment[tg]=Мавзӯъи TDE
Comment[th]=ชุดตกแต่ง TDE
Comment[tr]=TDE Teması
Comment[tt]=TDE Tışlawı
Comment[uk]=Тема TDE
Comment[uz]=TDE mavzusi
Comment[uz@cyrillic]=TDE мавзуси
Comment[ven]=Thero ya TDE
Comment[vi]=Sắc thái TDE
Comment[wa]=Tinme TDE
Comment[xh]=Umxholo we TDE
Comment[zh_CN]=TDE 主题
Comment[zh_TW]=TDE 主題
Comment[zu]=Ingqikithi ye-TDE
Icon=kthememgr
Type=MimeType
Patterns=*.kth;
X-KDE-AutoEmbed=false
