[TDE Desktop Program]
Comment=TDE Web Desktop
Comment[af]=TDE Web Werkskerm
Comment[ar]=سطح المكتب TDE للشبكة
Comment[az]=TDE Veb Masa üstü
Comment[be]=Працоўны стол Web
Comment[bn]=কে.ডি.ই. ওয়েব ডেস্কটপ
Comment[br]=Burev gwiad TDE
Comment[bs]=TDE Web radna površina
Comment[ca]=Escriptori Web TDE
Comment[cs]=Aktivní plocha TDE
Comment[csb]=Pùlt w sztélu sécë WWW
Comment[cy]=Penbwrdd Gwe TDE
Comment[da]=TDE-net-desktop
Comment[de]=TDE-Web-Arbeitsfläche
Comment[el]=Επιφάνεια εργασίας Ιστού του TDE
Comment[eo]=TDEa TTT-tabulo
Comment[es]=Escritorio Web para TDE
Comment[et]=TDE veebitöölaud
Comment[eu]=TDE web mahaigaina
Comment[fa]=رومیزی وب TDE
Comment[fi]=TDE:n web-työpöytä
Comment[fr]=Bureau web de TDE
Comment[fy]=TDE Web Buroblêd
Comment[gl]=Escritório Web de TDE
Comment[he]=שולחן העבודה האינטרנטי של TDE
Comment[hi]=केडीई वेब डेस्कटॉप
Comment[hr]=TDE web radna površina
Comment[hu]=TDE internetes munkaasztal
Comment[id]=Desktop Web TDE
Comment[is]=TDE vefskjáborð
Comment[it]=Desktop Web di TDE
Comment[ja]=TDE ウェブデスクトップ
Comment[ka]=TDE ვებ სამუშაო დაფა
Comment[km]=ផ្ទៃតុ​បណ្ដាញ TDE
Comment[lo]=ພື້ນທີ່ທຳງານບົນເວ໊ບ TDE
Comment[lt]=TDE žiniatinklio darbastalis
Comment[lv]=TDE Web Darbvirsma
Comment[mk]=TDE веб-површина
Comment[mn]=КДЭ-Вэб-Ажлын тавцан
Comment[ms]=Desktop Web TDE
Comment[mt]=Desktop Web TDE
Comment[nb]=TDE nettskrivebord
Comment[nds]=TDE-Nettschriefdisch
Comment[ne]=TDE वेब डेस्कटप
Comment[nl]=TDE Web Bureaublad
Comment[nn]=TDE Vevskrivebord
Comment[nso]=Desktop ya Web ya TDE
Comment[oc]=BurèU Web TDE
Comment[pa]=TDE ਵੈੱਬ ਵੇਹੜਾ
Comment[pl]=Pulpit w stylu sieci WWW
Comment[pt]=Ecrã Web do TDE
Comment[pt_BR]=Área de Trabalho Web do TDE
Comment[ro]=Ecran web pentru TDE
Comment[rw]=TDE Ibiro Rubugamakuru
Comment[se]=TDE Web-čállinbeavdi
Comment[sk]=TDE Web pracovná plocha
Comment[sl]=Spletno namizje TDE
Comment[sr]=TDE веб радна површина
Comment[sr@Latn]=TDE veb radna površina
Comment[sv]=TDE-webbskrivbord
Comment[ta]=TDE வலை மேல்மேசை
Comment[te]=కెడిఈ వెబ్ రంగస్థలం
Comment[tg]=Мизи кории TDE Вэб
Comment[th]=พื้นที่ทำงาน TDE แบบเว็บ
Comment[tr]=TDE Web Masaüstü
Comment[tt]=TDE Web Östäl
Comment[uk]=Стільниця "а ля Web" для TDE
Comment[uz]=TDE veb-ish stoli
Comment[uz@cyrillic]=TDE веб-иш столи
Comment[ven]=Webe ya desikithopo ya TDE
Comment[vi]=màn hình nền kiểu trang mạng của TDE
Comment[wa]=Sicribanne waibe TDE
Comment[zh_CN]=TDE Web 桌面
Comment[zh_TW]=TDE 網頁桌面
Comment[zu]=I-Desktop ye-Web ye-TDE
Executable=kwebdesktop
Command=kwebdesktop %x %y %f http://www.kde.org/
PreviewCommand=kwebdesktop %x %y %f http://www.kde.org/
Refresh=10
