[Desktop Entry]
Encoding=UTF-8
Comment=
Comment[en_US]=
Exec=kxdglauncher --xdgname DOCUMENTS
Icon=folder_wordprocessing
MimeType=
Name=My Documents
Name[en_US]=My Documents
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DCOP-ServiceType=
X-KDE-SubstituteUID=false
X-KDE-Username=
