[Desktop Entry]
X-DocPath=help:/khelpcenter/faq/index.html

Name=The TDE FAQ
Name[af]=Die TDE Faq
Name[ar]=أسئلة TDE المتكررة
Name[be]=FAQ TDE
Name[bg]=Често задавани въпроси
Name[bn]=কে.ডি.ই. FAQ
Name[bs]=TDE FAQ
Name[ca]=La PMF del TDE
Name[cs]=Často kladené dotazy TDE
Name[csb]=TDE FAQ
Name[cy]=Y FAQ TDE
Name[da]=TDE OSS
Name[de]=Häufig gestellte Fragen zu TDE (FAQ)
Name[el]=Το TDE FAQ
Name[eo]=La TDE-Oftaj Demandoj
Name[es]=Las PF de TDE
Name[et]=TDE korduma kippuvad küsimused
Name[eu]=TDE FAQa (maiz egiten diren galderak)
Name[fa]=پرسشهای متداول TDE
Name[fi]=TDE FAQ
Name[fr]=La FAQ (questions fréquentes) de TDE
Name[fy]=Protte foarkommende fragen oer TDE
Name[ga]=Ceisteanna Coitianta TDE
Name[gl]=A FAQ de TDE
Name[he]=שאלות נפוצות על TDE
Name[hi]=केडीई एफ़एक्यू
Name[hr]=TDE FAQ
Name[hu]=TDE FAQ
Name[is]=TDE Spurt og Svarað (SoS)
Name[it]=Domande su TDE (FAQ)
Name[ja]=TDE FAQ
Name[ka]=TDE: ძირითადი კითხვები
Name[kk]=TDE сұрақ пен жауаптар
Name[km]=សំណួរ​ដែល​សួរ​ដដែលៗ​អំពី TDE
Name[ko]=TDE 자주 묻는 질문
Name[lt]=TDE D.U.K.(FAQ)
Name[lv]=TDE BUJ
Name[mk]=TDE ЧПП
Name[mn]=КДЭ-с ихэвчилэн асуугддаг асуултууд (FAQ)
Name[ms]=FAQ TDE
Name[mt]=Mistoqsijiet komuni tal-TDE
Name[nb]=Ofte stilte TDE-spørsmål
Name[nds]=Dat TDE-FAQ
Name[ne]=TDE FAQ
Name[nl]=Veel voorkomde vragen over TDE
Name[nn]=Ofte stilte TDE-spørsmål
Name[nso]=FAQ ya TDE
Name[pa]=TDE ਸਵਾਲ-ਜਵਾਬ
Name[pl]=Często Zadawane Pytania TDE
Name[pt]=A FAQ do TDE
Name[pt_BR]=O FAQ do TDE
Name[ro]=Răspunsuri la întrebări frecvente
Name[ru]=TDE: вопросы и ответы
Name[rw]=Ibibazo Bibazwa Cyane bya TDE
Name[se]=Dávjá jearahuvvon TDE-gažaldagat (TDE-DJG)
Name[sk]=TDE FAQ
Name[sl]=Vprašanja in odgovori o TDE
Name[sr]=Често постављана питања о TDE-у
Name[sr@Latn]=Često postavljana pitanja o TDE-u
Name[sv]=Vanliga frågor om TDE
Name[ta]=TDE FAQ(அடிக்கடி கேட்கப்படும் கேள்விகள்)
Name[te]=కెడిఈ ఎఫ్ ఏ క్యు
Name[tg]=TDE: саволҳо ва ҷавобҳо
Name[th]=คำถามที่ถามบ่อยของ TDE
Name[tr]=TDE SSS
Name[tt]=TDE YBSı
Name[uk]=ЧАП для TDE
Name[uz]=TDE TSS
Name[uz@cyrillic]=TDE ТСС
Name[vi]=Các câu hỏi hay gặp của TDE
Name[wa]=Li dicåce ås kesses (FAQ) TDE
Name[xh]=TDE FAQ
Name[zh_CN]=TDE FAQ
Name[zh_TW]=TDE 常見問題
Name[zu]=I-FAQ ye-TDE

X-DOC-Weight=2000
Icon=kmenu
