[Desktop Entry]
DocPath=help:/khelpcenter/index.html?anchor=links

Name=TDE on the Web
Name[af]=TDE op die Web
Name[ar]=TDE على الشبكة
Name[be]=TDE у Сеціве
Name[bg]=TDE в Интернет
Name[bn]=ওয়েব-এ কে.ডি.ই.
Name[br]=TDE war ar Gwiad
Name[bs]=TDE na webu
Name[ca]=TDE a la web
Name[cs]=TDE na webu
Name[csb]=TDE w sécë
Name[cy]=TDE ar y We
Name[da]=TDE på nettet
Name[de]=TDE im Web
Name[el]=Το TDE στο διαδίκτυο
Name[eo]=TDE en TTT
Name[es]=TDE en la web
Name[et]=TDE veebis
Name[eu]=TDE Web-ean
Name[fa]=TDE روی وب
Name[fi]=TDE webissä
Name[fr]=TDE sur le web
Name[fy]=TDE op it ynternet
Name[ga]=TDE ar an Ghréasán
Name[gl]=TDE na web
Name[he]=TDE באינטרנט
Name[hi]=केडीई वेब पर
Name[hr]=TDE na Internetu
Name[hu]=A TDE az interneten
Name[is]=TDE á vefnum
Name[it]=TDE su internet
Name[ja]=ウェブ上の TDE
Name[ka]=TDE ინტერნეტში
Name[kk]=TDE Интернетте
Name[km]=TDE លើ​បណ្ដាញ
Name[ko]=웹에서의 TDE
Name[lt]=TDE žiniatinklyje
Name[lv]=TDE tīklā
Name[mk]=TDE на мрежа
Name[ms]=TDE dalam Web
Name[mt]=TDE fuq il-Web
Name[nb]=TDE på nettet
Name[nds]=TDE in't Nett
Name[ne]=वेबमा केडीई
Name[nl]=TDE op het internet
Name[nn]=TDE på verdsveven
Name[pa]=ਵੈੱਬ 'ਤੇ TDE
Name[pl]=TDE w sieci
Name[pt]=O TDE na Web
Name[pt_BR]=TDE na Web
Name[ro]=TDE pe Internet
Name[ru]=TDE в Интернете
Name[rw]=TDE ku Rubugamakuru
Name[se]=TDE interneahtas
Name[sk]=TDE na WWW
Name[sl]=TDE na spletu
Name[sr]=TDE на вебу
Name[sr@Latn]=TDE na vebu
Name[sv]=TDE på Internet
Name[ta]=வலையத்தில் கேடியி
Name[te]=వెబ్ లొ కెడిఈ
Name[tg]=TDE дар Интернет
Name[th]=TDE บนเว็บ
Name[tr]=Web'de TDE
Name[tt]=TDE Päräwezdä
Name[uk]=TDE в Тенетах
Name[uz]=TDE veb-sahifalari
Name[uz@cyrillic]=TDE веб-саҳифалари
Name[vi]=TDE trên mạng
Name[wa]=TDE sol waibe
Name[zh_CN]=网上 TDE
Name[zh_TW]=TDE 網站

X-DOC-Weight=4000
Icon=kmenu
