[Desktop Entry]
Name=Quickstart Guide
Name[af]=Woerts-warts Gids
Name[ar]=دليل إرشاد البدء السريع
Name[az]=Sür'ətli Başlama Rehberi
Name[be]=Падручнік для пачаткоўца
Name[bg]=Ръководство за начинаещите
Name[bn]=কুইকস্টার্ট গাইড
Name[br]=Sturier Kregiñ fonnus
Name[bs]=Vodič za brzi početak
Name[ca]=Guia ràpida
Name[cs]=Úvodní seznámení
Name[csb]=Sztartowi prowôdnik
Name[cy]=Canllaw cychwyn cyflym
Name[da]=Kvikstart-guide
Name[de]=Kurzeinführung
Name[el]=Οδηγός γρήγορου ξεκινήματος
Name[eo]=Konciza gvidlibro
Name[es]=Guía rápida
Name[et]=Kiire sissejuhatus
Name[eu]=Gida bizkorra
Name[fa]=راهنمای آغاز سریع
Name[fi]=Pikaohje
Name[fr]=Guide de démarrage rapide
Name[fy]=Fluchstartgids
Name[gl]=Guia de Início Rápido
Name[he]=מדריך התחלה מהירה
Name[hi]=शीघ्रप्रारंभ मार्गदर्शक
Name[hr]=Brzi uvod
Name[hu]=Rövid bevezetés
Name[id]=Petunjuk Memulai Secara Cepat
Name[is]=Skyndileiðbeiningar
Name[it]=Guida rapida
Name[ja]=クイックスタート
Name[ka]=სახელმძღვანელო დამწყებთათვის
Name[kk]=Бастаушы бағыттамасы
Name[km]=មគ្គុទ្ទេសក៍​ចាប់ផ្ដើម​រហ័ស
Name[ko]=빠른 시작 설명서
Name[lo]=ຄຳແນະນຳແບບໄວ
Name[lt]=Greitos pradžios gidas
Name[lv]=Ātras sākšanas ceļvedis
Name[mk]=Водич за брзо снаоѓање
Name[mn]=QuickStart-Зааварчилгаа
Name[ms]=Panduan Mula Pantas
Name[mt]=Gwida biex tibda malajr
Name[nb]=Hurtigstart-guide
Name[nds]=Fixstart-Föhrer
Name[ne]=द्रुत सुरुआत मार्गदर्शन
Name[nl]=Snelstartgids
Name[nn]=Snøggstarguide
Name[nso]=Keletso ya Thomiso ya Kapejana
Name[oc]=Guia rapida
Name[pa]=ਚੁਸਤ ਸ਼ੁਰੂਆਤ ਗਾਈਡ
Name[pl]=Przewodnik startowy
Name[pt]=Guia de Iniciação
Name[pt_BR]=Guia Rápido
Name[ro]=Ghid rapid
Name[ru]=Руководство для начинающих в TDE
Name[rw]=Iyobora GutangiraVuba
Name[se]=Oanehis TDE-introdukšuvdna
Name[sk]=Návod na rýchle použitie
Name[sl]=Vodnik za hitri začetek
Name[sr]=Почетни водич
Name[sr@Latn]=Početni vodič
Name[sv]=Snabbstartsguide
Name[ta]=விரைவுதுவக்க வழிகாட்டி.
Name[tg]=Роҳнамоии шурӯъ кунӣ
Name[th]=คำแนะนำด่วน
Name[tr]=Hızlı Başlama Rehberi
Name[tt]=Tizcibärü Qullanması
Name[uk]=Посібник для швидкого старту
Name[uz]=TDE boʻyicha yoʻlkoʻrsatgich
Name[uz@cyrillic]=TDE бўйича йўлкўрсатгич
Name[ven]=Tsumbavhulwo ya mathomele au tavhanya
Name[vi]=Hướng dẫn nhanh
Name[wa]=Guide d' enondaedje al vole
Name[xh]=Isikhombisi Sesiqalo esikhawulezayo
Name[zh_CN]=速成指南
Name[zh_TW]=快速入門指南
Name[zu]=Umbonisi wokuqala ngokushesha
X-DocPath=help:/khelpcenter/quickstart/index.html

X-DOC-Weight=-2000
Icon=kmenu
