[Desktop Entry]
DocPath=help:/khelpcenter/index.html?anchor=support

Name=Supporting TDE
Name[af]=Ondersteun TDE
Name[ar]=دعم TDE
Name[be]=Падтрымка TDE
Name[bg]=Подпомагане на TDE
Name[bn]=কে.ডি.ই-কে সহায়তা
Name[br]=Skoazellañ TDE
Name[bs]=Podržite TDE
Name[ca]=Com col·laborar amb el TDE
Name[cs]=Podpora TDE
Name[csb]=Wspiarcë dlô TDE
Name[cy]=Cefnogi TDE
Name[da]=Støt TDE
Name[de]=TDE unterstützen
Name[el]=Υποστήριξη στο TDE
Name[eo]=Subteni TDEon
Name[es]=Colaborando con TDE
Name[et]=TDE toetamine
Name[eu]=TDEri lagunduz
Name[fa]=پشتیبانی TDE
Name[fi]=TDE:n tukeminen
Name[fr]=Aider TDE
Name[fy]=TDE stypje
Name[ga]=Ag Tacú le TDE
Name[gl]=Dar Apoio a TDE
Name[he]=תמיכה ב־TDE
Name[hi]=केडीई को आधार दें
Name[hr]=Podrška TDE-u
Name[hu]=A TDE támogatása
Name[is]=Styðja TDE
Name[it]=Aiutare TDE
Name[ja]=TDE 支援
Name[ka]=TDE-ს მხარდაჭერა
Name[kk]=TDE-ні қолдау
Name[km]=ការ​គាំទ្រ TDE
Name[ko]=TDE 지원
Name[lo]=ເກມກີລາ
Name[lt]=TDE palaikymas
Name[lv]=TDE atbalstīšana
Name[mk]=Поддршка за TDE
Name[mn]=КДЭ дэмжилэг
Name[ms]=TDE Sokongan
Name[mt]=Appoġġja lill-TDE
Name[nb]=Støtt TDE
Name[nds]=TDE ünnerstütten
Name[ne]=केडीई समर्थन
Name[nl]=TDE ondersteunen
Name[nn]=Støtt TDE
Name[nso]=Go Thekga TDE
Name[pa]=TDE ਦੀ ਸਹਾਇਤਾ
Name[pl]=Wspomaganie TDE
Name[pt]=Apoiar o TDE
Name[pt_BR]=Assistência ao TDE
Name[ro]=Cum să ajutați Proiectul TDE
Name[ru]=Поддержка TDE
Name[rw]=Gufasha TDE
Name[se]=Doarjjo TDE
Name[sk]=Podpora TDE
Name[sl]=Podpiranje TDE
Name[sr]=Подржавање TDE-а
Name[sr@Latn]=Podržavanje TDE-a
Name[sv]=Ge TDE ditt stöd
Name[ta]=TDEஐ ஆதரிக்கிறது
Name[te]=కెడిఈ కి సహాయంచెయండి
Name[tg]=Пуштибони TDE
Name[th]=การสนับสนุน TDE
Name[tr]=TDE'yi Destekleyin
Name[tt]=TDE Teräge
Name[uk]=Підтримка TDE
Name[uz]=TDE'ni qoʻllab-quvvatlash
Name[uz@cyrillic]=TDE'ни қўллаб-қувватлаш
Name[ven]=U tikedza TDE
Name[vi]=Hỗ trợ TDE
Name[wa]=Sopoirter TDE
Name[xh]=Ixhasa i TDE
Name[zh_CN]=支持 TDE
Name[zh_TW]=支援 TDE
Name[zu]=Ixhasa i-TDE

X-DOC-Weight=5000
Icon=kmenu
