[Desktop Entry]

Name=TDEIOslaves
Name[bg]=Система за вход-изход
Name[cs]=Pomocné protokoly TDE
Name[csb]=Pluginsë wéńdzeniô/wińdzeniô
Name[da]=TDEIOslaver
Name[de]=Ein-/Ausgabemodule
Name[eo]=Kenelservoj
Name[et]=TDEIO moodulid
Name[fi]=TDEIO-palvelut
Name[gl]=Escravos TDEIO
Name[hi]=केआईओ-स्लेव्स
Name[hu]=TDE-protokollok
Name[it]=TDEIOslave
Name[ja]=TDEIOslave
Name[ko]=TDEIO 슬레이브
Name[lt]=TDEIOvergai
Name[lv]=TDEIO vergi
Name[nb]=TDEIOslaver
Name[nds]=In-/Utgaavmodulen
Name[ne]=किओस्लेभ
Name[nn]=TDEIOslavar
Name[pl]=Wtyczki wejścia/wyjścia
Name[ro]=Dispozitive TDEIO
Name[se]=TDEIO-šlávat
Name[sv]=I/O-slavar
Name[te]=కెఐఒ బానిసలు
Name[tg]=Бандаҳои TDEIO
Name[uk]=Підлеглі В/В
Icon=contents2

X-DOC-Weight=-400

X-TDE-KHelpcenter-Special=tdeioslave
