[Desktop Entry]
DocPath=help:/khelpcenter/userguide/index.html

Name=TDE User Guide
Name[af]=TDE gebruiker handleiding
Name[ar]=دليل TDE للمستخدمين
Name[be]=Падручнік карыстальніка TDE
Name[bg]=Ръководство за употреба
Name[bn]=কে.ডি.ই. ব্যবহারকারীদের জন্য ম্যানুয়াল
Name[br]=Levr-dorn arveriaded TDE
Name[bs]=TDE korisnički priručnik
Name[ca]=Manual d'usuari TDE
Name[cs]=Příručka uživatele TDE
Name[csb]=Pòdrãcznik brëkòwnika TDE
Name[cy]=Llawlyfr Defnyddwyr TDE
Name[da]=TDE-brugervejledning
Name[de]=TDE-Benutzerhandbuch
Name[el]=Εγχειρίδιο χρήστη του TDE
Name[eo]=TDE-uzantula manlibro
Name[es]=Manual del usuario de TDE
Name[et]=TDE kasutaja käsiraamat
Name[eu]=TDEren erabiltzailearen eskuliburua
Name[fa]=راهنمای کاربران TDE
Name[fi]=TDE:n käyttöohje
Name[fr]=Manuel de l'utilisateur de TDE
Name[fy]=TDE's hânlieding
Name[ga]=Lámhleabhar TDE d'úsáideoirí
Name[gl]=Manual de usuario de TDE
Name[he]=המדריך למשתמש ב־TDE
Name[hi]=केडीई उपयोक्ता निर्देशिका
Name[hr]=TDE korisnički priručnik
Name[hu]=TDE-felhasználók kézikönyve
Name[is]=TDE notandahandbækur
Name[it]=Manuale degli utenti di TDE
Name[ja]=TDE ユーザマニュアル
Name[ka]=TDE-ს მომხმარებლის სახელმძღვანელო
Name[kk]=TDE пайдаланушының оқулығы
Name[km]=សៀវភៅ​ប្រើ TDE
Name[ko]=TDE 사용자 설명서
Name[lt]=TDE naudotojo vadovas
Name[lv]=TDE lietotāja rokasgrāmata
Name[mk]=TDE кориснички прирачник
Name[ms]=Manual Pengguna TDE
Name[mt]=Manwal tal-users ta' TDE
Name[nb]=Brukerhandbok for TDE
Name[nds]=TDE-Brukerhandbook
Name[ne]=TDE प्रयोगकर्ता म्यानुअल
Name[nl]=TDE's Gebruikershandboek
Name[nn]=Brukarhandbok for TDE
Name[pa]=TDE ਉਪਭੋਗੀ ਦਸਤਾਵੇਜ਼
Name[pl]=Podręcznik użytkownika TDE
Name[pt]=Manual do Utilizador do TDE
Name[pt_BR]=Manual do Usuário do TDE
Name[ro]=Manualul utilizatorului TDE
Name[ru]=Руководство пользователя TDE
Name[rw]=TDE Igitabomikorere cy'Ukoresha
Name[se]=TDE giehtagirji
Name[sk]=Príručka pre používateľa TDE
Name[sl]=Uporabniški priročnik TDE
Name[sr]=TDE-ово упутство за кориснике
Name[sr@Latn]=TDE-ovo uputstvo za korisnike
Name[sv]=TDE:s användarhandbok
Name[ta]=TDE பயனர்களின் கையேடு
Name[te]=కెడిఈ యూజర్ మెన్యువల్
Name[tg]=Дастури корбари TDE
Name[th]=คู่มือผู้ใช้งาน TDE
Name[tr]=TDE Kullanıcı Klavuzu
Name[tt]=TDE Qullanması
Name[uk]=Підручник користувача TDE
Name[uz]=TDE uchun qoʻllanma
Name[uz@cyrillic]=TDE учун қўлланма
Name[vi]=Hướng dẫn sử dụng TDE
Name[wa]=Esplikêyes po l' uzeu di TDE
Name[zh_CN]=TDE 用户手册
Name[zh_TW]=TDE 使用者手冊

X-DOC-Weight=-1500
Icon=kmenu
