[Desktop Entry]
Name=A Visual Guide to TDE
Name[af]='n Visuele Gids tot TDE
Name[ar]=مرشد مرئي لِــ TDE
Name[az]=TDE Üçün Vəzual Bədəçi
Name[be]=Падручнік TDE па візуальных аб'ектах
Name[bg]=Нагледни пособия
Name[bn]=কে.ডি.ই-র জন্য একটি ভিসুয়াল গাইড
Name[bs]=Vizualni vodič u TDE
Name[ca]=Una guia visual per al TDE
Name[cs]=Názorný průvodce prostředím TDE
Name[csb]=Prowôdnik pò TDE
Name[cy]=Canllaw Gweledol i TDE
Name[da]=En visuel guide til TDE
Name[de]=Visuelle Einführung in TDE
Name[el]=Ένας οπτικός οδηγός για το TDE
Name[eo]=Gvidilo pri TDE
Name[es]=Guía visual de TDE
Name[et]=TDE visuaalne juhend
Name[eu]=TDErako gida bisuala
Name[fa]=یک راهنمای مرئی برای TDE
Name[fi]=Kuvallinen ohje TDE:hen
Name[fr]=Un guide visuel de TDE
Name[fy]=In fisuele TDE-gids
Name[gl]=Unha Guia Visual de TDE
Name[he]=מדריך חזותי ל־TDE
Name[hi]=केडीई के लिए एक दृश्य मार्गदर्शक
Name[hr]=Vizualni vodič u TDE
Name[hu]=A TDE grafikus elemeinek ismertetése
Name[id]=Petunjuk TDE Visual
Name[is]=Myndrænn leiðarvísir að TDE
Name[it]=Una guida visiva di TDE
Name[ja]=TDE のためのビジュアルガイド
Name[ka]=TDE-ს თვალსაჩინო სახელმძღვანელო
Name[kk]=TDE көрнекті бағыттамасы
Name[km]=មគ្គុទ្ទេសក៍​រូបភាព​មក​កាន់ TDE
Name[ko]=TDE 모습 둘러보기
Name[lo]=ນຳທ່ງວ TDE ແບບສະເຫມື່ອນแบบเสมือน
Name[lt]=Vaizdinis TDE gidas
Name[lv]=Vizuāls Ceļvedis pa TDE
Name[mk]=Визуелен вовед во TDE
Name[mn]=КДЭ-н визуал удиртгал
Name[ms]=Panduan Visual TDE
Name[mt]=Gwida Viżwali għall-TDE
Name[nb]=En visuell guide til TDE
Name[nds]=En visuell Inföhren na TDE
Name[ne]=TDE मा दृश्य मार्गदर्शन
Name[nl]=Een visuele TDE-gids
Name[nn]=Visuell TDE-gaid
Name[nso]=Keletso yeo e Kwagalago ya TDE
Name[pa]=TDE ਲਈ ਇੱਕ ਦਿੱਖ ਗਾਈਡ
Name[pl]=Przewodnik po TDE
Name[pt]=Um Guia Visual para o TDE
Name[pt_BR]=Guia Visual para o TDE
Name[ro]=Ghid vizual TDE
Name[ru]=Наглядное пособие по TDE
Name[rw]=Inyobora Igaragara kuri TDE
Name[se]=Visuella TDE-introdukšuvdna
Name[sk]=Obrázková príručka TDE
Name[sl]=Vodnik po TDE
Name[sr]=Визуелни водич за TDE
Name[sr@Latn]=Vizuelni vodič za TDE
Name[sv]=Visuell guide till TDE
Name[ta]=TDEன் காட்டிசார் வழிகாட்டி
Name[tg]=Роҳнамои басрии TDE
Name[th]=นำเที่ยว TDE
Name[tr]=TDE İçin Görsel Kılavuz
Name[tt]=TDE öçen Kürsätü-Qullanma
Name[uk]=Наочний підручник по TDE
Name[ven]=Tsumbavhulwo ya zwauvhona ya TDE
Name[vi]=Trình Hướng dẫn Sinh động cho TDE
Name[wa]=On guide a vey po TDE
Name[xh]=Isikhombisi esibonakalayo se TDE
Name[zh_CN]=TDE 可视化指南
Name[zh_TW]=TDE 視覺指南
Name[zu]=Umbonisi obonakalayo oya kwi-TDE
DocPath=help:/khelpcenter/visualdict/index.html

X-DOC-Weight=-2500
Icon=kmenu
