[Desktop Entry]
Type=Application
X-DocPath=kcontrol/tdehtml/index.html#kbrowse-plugins
Icon=konqueror
Exec=tdecmshell tdehtml_plugins

X-TDE-ModuleType=Library
X-TDE-Library=konqhtml
X-TDE-FactoryName=tdehtml_plugins
X-TDE-Init-Library=nsplugins
X-TDE-Init=nsplugin
X-TDE-ParentApp=kcontrol

Name=Plugins
Name[af]=Inprop modules
Name[az]=Əlavələr
Name[be]=Утулкі
Name[bg]=Приставки
Name[bn]=প্লাগ-ইন
Name[br]=Lugantoù
Name[bs]=Dodaci
Name[ca]=Connectors
Name[cs]=Moduly
Name[csb]=Pluginsë
Name[cy]=Ategion
Name[da]=Plugin
Name[el]=Πρόσθετα
Name[eo]=Kromaĵoj
Name[es]=Complementos
Name[et]=Pluginad
Name[eu]=Pluginak
Name[fa]=وصله‌ها
Name[fi]=Liitännäiset
Name[fr]=Modules externes
Name[ga]=Breiseáin
Name[he]=תוספים
Name[hi]=प्लगइन्स
Name[hr]=Dodaci
Name[hu]=Bővítőmodulok
Name[is]=Íforrit
Name[it]=Plugin
Name[ja]=プラグイン
Name[ka]=პლაგინები
Name[kk]=Модульдер
Name[km]=កម្មវិធី​ជំនួយ
Name[ko]=플러그인
Name[lo]=ລງບ
Name[lt]=Priedai
Name[lv]=Spraudņi
Name[mk]=Приклучоци
Name[mn]=Плугин
Name[ms]=Plugin
Name[mt]=Plagins
Name[nb]=Programtillegg
Name[ne]=प्लगइन
Name[nn]=Programtillegg
Name[nso]=Ditsenyo
Name[pa]=ਪਲੱਗਇਨ
Name[pl]=Wtyczki
Name[pt]='Plugins'
Name[pt_BR]=Plug-ins
Name[ro]=Module
Name[ru]=Модули
Name[rw]=Amacomeka
Name[se]=Lassemoduvllat
Name[sk]=Moduly
Name[sl]=Vstavki
Name[sr]=Прикључци
Name[sr@Latn]=Priključci
Name[ss]=Ema- Plugin
Name[sv]=Insticksprogram
Name[ta]=செருகல்கள்
Name[te]=ప్లగిన్లు
Name[tg]=Мутассалкунандаҳо
Name[th]=ปลั๊กอิน
Name[tr]=Eklentiler
Name[tt]=Quşımta
Name[uk]=Втулки
Name[uz]=Plaginlar
Name[uz@cyrillic]=Плагинлар
Name[vi]=Các trình bổ sung
Name[wa]=Tchôke-divins
Name[xh]=Iiplagi ezingaphakathi
Name[zh_CN]=插件
Name[zh_TW]=外掛程式
Name[zu]=Ama-Plugin
Comment=Configure the browser plugins
Comment[af]=Konfigureer die blaaier inprop modules
Comment[az]=Səyyah əlavələrini quraşdırın
Comment[be]=Настаўленні модуляў вандроўніка
Comment[bg]=Настройване приставките на браузъра
Comment[bn]=বিভিন্ন ব্রাউজার প্লাগ-ইন কনফিগার করুন
Comment[br]=Kefluniañ lugantoù ar furcher
Comment[bs]=Podesite dodatke preglednika (browser plugins)
Comment[ca]=Aquí podeu configurar els connectors del navegador
Comment[cs]=Nastavení modulů prohlížeče (pluginy)
Comment[csb]=Kònfigùracëjô pluginsów przezérnika
Comment[cy]=Ffurfweddu ategion y porydd
Comment[da]=Indstil browserens plugin
Comment[de]=Plugins für Webbrowser einrichten
Comment[el]=Ρυθμίστε τα πρόσθετα του περιηγητή
Comment[eo]=Agordu la foliumilajn kromaĵojn
Comment[es]=Configurar los complementos del navegador
Comment[et]=Veebilehitseja pluginate seadistamine
Comment[eu]=Konfiguratu arakatzailearen pluginak 
Comment[fa]=پیکربندی وصله‌های مرورگر
Comment[fi]=Muokkaa selaimen liitännäisasetuksia
Comment[fr]=Configuration des modules externes du navigateur
Comment[fy]=Hjir kinne jo de blêder-plugins ynstelle
Comment[ga]=Cumraigh na Breiseáin Brabhsálaithe
Comment[gl]=Configurar os plugins do navegador
Comment[he]=שינוי הגדרות התוספים של הדפדפן
Comment[hi]=ब्राउज़र प्लगइन कॉन्फ़िगर करें
Comment[hr]=Konfiguriranje dodataka preglednika
Comment[hu]=A böngésző bővítőmoduljainak beállításai
Comment[is]=Stilla íforrit vafra
Comment[it]=Configura i plugin del browser
Comment[ja]=ブラウザのプラグインの設定
Comment[ka]=ბრაუზერის პლაგინების კონფიგურაცია
Comment[kk]=Браузер модульдерінің баптауы
Comment[km]=កំណត់​រចនាសម្ព័ន្ធ​កម្មវិធី​ជំនួយ​របស់​កម្មវិធី​រុករក
Comment[ko]=브라우저 플러그인 설정
Comment[lo]=ປັກອິນສອດສອ່ງຊີພີຍູ
Comment[lt]=Konfigūruoti naršyklės priedus
Comment[lv]=Konfigurēt pārlūka spaudņus
Comment[mk]=Конфигурација на приклучоците на прелистувачот
Comment[mn]=Вэб хөтөчийн плугин тохируулга
Comment[ms]=Tetapkan plugin pelayar
Comment[mt]=Ikkonfigura l-plugins tal-browser
Comment[nb]=Sett opp programtillegg for nettleseren
Comment[nds]=Kiekerplugins instellen
Comment[ne]=प्लगइन ब्राउजर कन्फिगर गर्नुहोस्
Comment[nl]=Hier kunt u de browser-plugins instellen
Comment[nn]=Set opp programtillegg for nettlesaren
Comment[nso]=Beakanya ditsenyo tsa seinyakisi
Comment[pa]=ਝਲਕਾਰਾ ਪਲੱਗਇਨ ਸੰਰਚਨਾ
Comment[pl]=Konfiguracja wtyczek przeglądarki
Comment[pt]=Configurar os 'plugins' do navegador
Comment[pt_BR]=Configura os plug-ins do navegador
Comment[ro]=Configurează modulele de navigator de web
Comment[ru]=Настройка модулей браузера
Comment[rw]=Kuboneza Amacomeka  ya Mucukumbuzi 
Comment[se]=Heivet fierpmádatlogana lassemoduvllaid
Comment[sk]=Nastavenie modulov prehliadača
Comment[sl]=Tu lahko nastavite predpomnilnik
Comment[sr]=Подешавање прикључака прегледача
Comment[sr@Latn]=Podešavanje priključaka pregledača
Comment[sv]=Anpassa insticksprogram för webbläsare
Comment[ta]= மேலோடியின் செருகல்களை வடிவமைக்கலாம்
Comment[tg]=Танзими мутассалкунандаҳои тафсир
Comment[th]=ปรับแต่งปลั้กอินของบราวเซอร์
Comment[tr]=Tarayıcı eklentilerini yapılandırın
Comment[tt]=Gizgeç östämälären caylaw
Comment[uk]=Налаштування втулків навігатора
Comment[uz]=Brauzerning plaginlarini moslash
Comment[uz@cyrillic]=Браузернинг плагинларини мослаш
Comment[ven]=Dzudzanyani plugins ya burausa
Comment[vi]=Cấu hình trình bổ sung cho trình duyệt
Comment[wa]=Apontyî les tchôke-divins do betchteu
Comment[xh]=Qwalasela umkhangheli zincwadi zeplagi ezingaphakathi
Comment[zh_CN]=配置浏览器插件
Comment[zh_TW]=設定瀏覽器外掛程式
Comment[zu]=Hlanganisela ama-plugin omcingi
Keywords=konqueror;kfm;browser;html;web;www;fonts;plugins;
Keywordsaz=konqueror;kfm;browser;html;web;www;fonts;plugins;konqueror;kfm;səyyah;html;şəbəkə;www;yazı növləri;rənglər;java;javascript;hərf;hərf dəstəsi;kodlama;bağlantılar;rəsmlər;ox;
Keywordsbe=Вандроўнік;Сеціва;Шрыфты;Утулкі;konqueror;kfm;browser;html;web;www;fonts;plugins;
Keywordsbg=приставки; настройване; браузър; уеб; шрифтове; Интернет; приставка; модул; konqueror; kfm; browser; html; web; www; fonts; plugins;
Keywordsbr=konqueror;kfm;furcher;html;web;gwiad;livioù;java;javascript;
Keywordsca=konqueror;kfm;navegador;html;web;www;lletres;connectors;
Keywordscs=Konqueror;Kfm;Prohlížeč;HTML;Web;WWW;Písma;Moduly;
Keywordscsb=konqueror;kfm;przezérnik;html;séc;www;fòntë;pluginsë;
Keywordscy=konqueror;kfm;porwr;porydd;html;gwe;www;wynebfathau;ffontiau;ategion;
Keywordsda=konqueror;kfm;browser;html;net;www;skrifttyper;plugin;
Keywordsde=Konqueror;kfm;Browser;HTML;Web;WWW;Schriften;Plugins;
Keywordsel=konqueror;kfm;περιηγητής;html;ιστός;www;γραμματοσειρές;πρόσθετα;
Keywordseo=Konkeranto;Kfm;TTT;HTML;WWW;tiparo;koloro;Javo;Javoskripto;kursoro; kursilo;ligo;referenco;bildo;signaro;kodo;
Keywordses=konqueror;kfm;navegador;html;web;www;tipos de letra;complementos;
Keywordset=konqueror;kfm;veebilehitseja;html;veeb;www;fondid;pluginad;
Keywordseu=konqueror;kfm;arakatzailea;html;web;www;letra-tipoak;pluginak;
Keywordsfa=konqueror، kfm، مرورگر، html، وب، www، قلمها، وصله‌ها;
Keywordsfi=konqueror;kfm;selain;html;web;www;kirjasimet;liitännäiset;
Keywordsfr=konqueror;kfm;navigateur;html;web;www;polices;plugins;modules externe;
Keywordsfy=konqueror;kfm;browser;blêder;html;web;www;fonts;lettertypen;plugins;internet;ynternet;netscape plugins;
Keywordsga=konqueror;kfm;brabhsálaí;html;idirlíon;www;clófhoirne;breiseáin;
Keywordsgl=konqueror;kfm;navegador;html;web;www;fontes;plugins;
Keywordshe=konqueror;kfm;דפדפן;html;web;www;אינטרנט;גופנים;תוספים; fonts;plugins;
Keywordshi=कॉन्करर केएफएम;ब्राउजर;एचटीएमएल;वेब;डब्ल्यूडब्ल्यूडब्ल्यू;फ़ॉन्ट्स;प्लगइन्स;
Keywordshr=konqueror;kfm;preglednik;html;web;www;fontovi;dodaci;mreža;
Keywordshu=Konqueror;kfm;böngésző;HTML;web;WWW;betűtípusok;bővítőmodulok;
Keywordsis=konqueror;kfm;flakkari;html;web;www;letur;íforrit;vefur;
Keywordsit=konqueror;kfm;browser;html;web;www;caratteri;plugin;
Keywordsja=konqueror;kfm;ブラウザ;html;web;ウェブ;www;フォント;プラグイン;
Keywordskm=konqueror;kfm;កម្មវិធី​រុករក;html;បណ្ដាញ;វើលវ៉ាយវិប;ពុម្ពអក្សរ;កម្មវិធី​ជំនួយ;
Keywordslt=konqueror;kfm;browser;html;web;www;fonts;plugins. naršyklė;tinklalapiai;šriftai;priedai;
Keywordslv=iekarotājs;kfm;pārlūks;html;web;www;fonti;spraudņi;
Keywordsmk=konqueror;kfm;browser;html;web;www;fonts;plugins; прелистувач;веб;фонтови;приклучоци;
Keywordsmn=Конкюрор;kfm;Хөтөч;HTML;Вэб;WWW;Бичиг;Плугин;
Keywordsms=konqueror;kfm;pelayar;html;web;www;font;plugin;
Keywordsmt=konqueror;kfm;browser;html;web;www;fonts;plugins;plagins;
Keywordsnb=Konqueror;KFM;nettleser;HTML;verdensveven;WWW;Internett;skrifter;programtillegg;
Keywordsnds=Konqueror;kfm;Nettkieker;HTML;web;www;Schriftoorden;Plugins;
Keywordsne=कन्क्वेरर;kfm; ब्राउजर;html; वेब;www; फन्ट; प्लगइन;
Keywordsnl=konqueror;kfm;browser;html;web;www;fonts;lettertypen;plugins;internet;netscape plugins;
Keywordsnn=Konqueror;KFM;nettlesar;HTML;verdsveven;WWW;skrifter;programtillegg;
Keywordsnso=konqueror;kfm;senyakisi;html;web;www;difonto;ditsenyo;
Keywordspa=konqueror;kfm;browser;html;web;www;ਫੋਂਟ;ਪਲੱਗਇਨ;ਕੋਨਕਿਉਰਰ;ਝਲਕਾਰਾ;ਵੈਬ;
Keywordspl=konqueror;kfm;przeglądarka;html;sieć;www;czcionki;wtyczki;
Keywordspt=konqueror;kfm;navegador;HTML;web;WWW;tipos de letra;'plugins';
Keywordspt_BR=konqueror;kfm;navegador;html;web;www;fontes;plug-ins;
Keywordsro=konqueror;kfm;navigator;html;web;www;fonturi;module;
Keywordsrw= Konqueror;Mucukumbuzi;html;Urubuga;www;Imyandikire; Amacomeka ;
Keywordsse=konqueror;kfm;fierpmádatlogan;html;web;www;fonttat;lassemoduvllat;
Keywordssk=konqueror;kfm;prehliadač;html;web;www;písma;moduly;
Keywordssl=konqueror;kfm;brskalnik;html;splet;web;pisave;www;vstavki;
Keywordssr=konqueror;kfm;прегледач;html;web;www;фонтови;додаци;
Keywordssr@Latn=konqueror;kfm;pregledač;html;web;www;fontovi;dodaci;
Keywordsss=konqueror;kfm;brawuza;html;web;www;timo tetinhlamvu temagama;ema-plugin;
Keywordssv=konqueror;kfm;webbläsare;html;webb;www;teckensnitt;insticksprogram;
Keywordsta=கான்கொரர்; கோப்பு மேலாளர்; மேலோடி; உலாவி; html; இணையம்; வலையம்; வலை; எழுத்துரு; www; செருகல்கள்;
Keywordsth=คอนเควอร์เรอร์;kfm;บราวเซอร์;html;เว็บ;www;แบบอักษร;ปลั้กอิน;
Keywordstr=konqueror;kfm;browser;html;web;www;yazıtipleri;eklentiler;tarayıcı;
Keywordstt=konqueror;kfm;browser;html;web;www;fonts;plugins;quşımta;şäkel;päräwez;çeltär;
Keywordsuk=konqueror;kfm;навігатор;html;тенета;www;шрифти;втулки;
Keywordsuz=konqueror;kfm;html;www;brauzer;veb;shriftlar;plaginlar;
Keywordsuz@cyrillic=konqueror;kfm;html;www;браузер;веб;шрифтлар;плагинлар;
Keywordsvi=konqueror;kfm;trình duyệt;html;web;www;phông chữ;trình bổ sung;
Keywordswa=konqueror;kfm;foyteuse;betchteu;html;waibe;www;fontes;tchôke-divins;
Keywordsxh=konqueror;kfm;umkhangeli zincwadi;html;web; www;imigca;iplagi ezingaphakathi;
Keywordszh_CN=konqueror;kfm;browser;html;web;www;fonts;plugins;浏览器;字体;插件;
Keywordszh_TW=konqueror;kfm;browser;html;web;www;fonts;plugins;征服家;瀏覽器;網頁;字型;外掛程式;
Keywordszu=komqueror;kfm;umcingi;html;web;www;izinhlobo zamagama; ama-plugin;

Categories=Qt;TDE;X-TDE-settings-webbrowsing;
