[Desktop Entry]
Encoding=UTF-8
Icon=cdrom_unmount_encrypt
Type=MimeType
MimeType=media/cdrom_unmounted_encrypted
Comment=Unmounted Encrypted CD-ROM
Comment[de]=Nicht eingebundene, verschlüsselte CD-ROM
Patterns=

X-TDE-AutoEmbed=true
X-TDE-IsAlso=inode/directory
