[Desktop Entry]
Encoding=UTF-8
Icon=hdd_unmount_decrypt
Type=MimeType
MimeType=media/hdd_unmounted_decrypted
Comment=Unmounted Decrypted Hard Disk Volume
Comment[de]=Nicht eingebundene, entschlüsselte Festplattenpartition
Patterns=

X-TDE-AutoEmbed=true
X-TDE-IsAlso=inode/directory
