[Desktop Entry]
Icon=trashcan_full
EmptyIcon=trashcan_empty
Type=MimeType
MimeType=media/builtin-trash
Comment=Trash
Patterns=Trash

X-TDE-AutoEmbed=false
