[Desktop Entry]
Exec=tdecmshell kcmnotify
Icon=knotify
Type=Application
X-DocPath=kcontrol/kcmnotify/index.html


X-TDE-Library=knotify
X-TDE-ParentApp=kcontrol

Name=System Notifications
Name[af]=Stelsel Inkennistelling
Name[ar]=تنبيهات النظام
Name[az]=Sistem Bildirişləri
Name[be]=Сістэмныя нагадванні
Name[bg]=Уведомяване
Name[bn]=সিস্টেম বিজ্ঞপ্তি
Name[br]=Kemenn ar reizhiad
Name[bs]=Sistemska obavještenja
Name[ca]=Notificacions del sistema
Name[cs]=Systémová hlášení
Name[csb]=Systemòwé dôwanié wiédzë
Name[cy]=Hysbysiadau Cysawd
Name[da]=Systembekendtgørelser
Name[de]=Systemnachrichten
Name[el]=Ειδοποιήσεις συστήματος
Name[eo]=Sistematentigoj
Name[es]=Notificaciones del sistema
Name[et]=Süsteemi märguanded
Name[eu]=Sistemaren jakinarazpenak
Name[fa]=اخطارهای سیستم
Name[fi]=Järjestelmähuomautukset
Name[fr]=Notifications du système
Name[fy]=Systeemoankundigingen
Name[ga]=Fógairt an Chórais
Name[gl]=Notificacións do Sistema
Name[he]=הודעות מערכת
Name[hi]=तंत्र सूचनाएँ
Name[hr]=Obavijesti sustava
Name[hu]=Rendszerüzenetek
Name[id]=Pemberitahuan Sistem
Name[is]=Kerfistilkynningar
Name[it]=Avvisi di sistema
Name[ja]=システム通知
Name[ka]=სისტემური შეტყობინებები
Name[kk]=Жүйелік құлақтандырулар
Name[km]=ការ​ជូនដំណឹង​ប្រព័ន្ធ
Name[ko]=시스템 알림
Name[lo]=ການແຈ້ງເຕືອນຂອງລະບົບ
Name[lt]=Sistemos pranešimai
Name[lv]=Sistēmas Paziņojumi
Name[mk]=Системски известувања
Name[mn]=Системийн сонордуулга
Name[ms]=Pemberitahuan Sistem
Name[mt]=Notifiki tas-Sistema
Name[nb]=Systemvarsler
Name[nds]=Systeemnarichten
Name[ne]=प्रणाली सूचना
Name[nl]=Systeemnotificaties
Name[nn]=Systempåminningar
Name[nso]=Ditsebiso tsa System
Name[oc]=Notificacions dèu sistemo
Name[pa]=ਸਿਸਟਮ ਸੂਚਨਾਵਾਂ
Name[pl]=Powiadomienia systemowe
Name[pt]=Mensagens do Sistema
Name[pt_BR]=Notificações do Sistema
Name[ro]=Notificări de sistem
Name[ru]=Системные уведомления
Name[rw]=Amamenyesha Sisitemu
Name[se]=Vuogádatmuittuhusat
Name[sk]=Systémové správy
Name[sl]=Sistemska obvestila
Name[sr]=Системска обавештења
Name[sr@Latn]=Sistemska obaveštenja
Name[sv]=Systemunderrättelser
Name[ta]=அமைப்பு குறிப்பகள்
Name[tg]=Огоҳномаи система
Name[th]=การแจ้งเตือนของระบบ
Name[tr]=Sistem Bildirimleri
Name[tt]=Sistem Beldermäläre
Name[uk]=Системні повідомлення
Name[uz]=Tizimning xabarnomalari
Name[uz@cyrillic]=Тизимнинг хабарномалари
Name[ven]=Thalutshedzo ya UA (M18 kha WinNT 4.0)
Name[vi]=Thông báo Hệ thống
Name[wa]=Notifiaedjes do sistinme
Name[xh]=Izaziso Zendlela esetyenziswayo
Name[zh_CN]=系统通知
Name[zh_TW]=系統通知
Name[zu]=Izaziso zesistimu

Comment=System Notification Configuration
Comment[af]=Stelsel Inkennisstelling Opstelling
Comment[ar]=إعدادات تنبيهات النظام
Comment[az]=Sistem Bildirişi Quraşdırması
Comment[be]=Настаўленні сістэмных нагадванняў
Comment[bg]=Настройване на системата за уведомяване
Comment[bn]=সিস্টেম বিজ্ঞপ্তি কনফিগারেশন
Comment[br]=Kefluniañ kemenn ar reizhiad
Comment[bs]=Podešavanje sistemskih obavještenja
Comment[ca]=Configuració de les notificacions del sistema
Comment[cs]=Nastavení systémových hlášení
Comment[csb]=Kònfigùracëjô systemòwegò dôwaniô wiédzë
Comment[cy]=Ffurfweddu Hysbysiadau Cysawd
Comment[da]=Opsætning af systembekendtgørelser
Comment[de]=Einstellung der Systemnachrichten
Comment[el]=Ρύθμιση ειδοποιήσεων συστήματος
Comment[eo]=Agordo de sistematentigoj
Comment[es]=Configuración de las notificaciones del sistema
Comment[et]=Süsteemsete märguannete seadistamine
Comment[eu]=Sistemaren jakinarazpenen konfigurazioa
Comment[fa]=پیکربندی اخطارهای سیستم
Comment[fi]=Järjestelmähuomautusten asetukset
Comment[fr]=Configuration du système de notifications
Comment[fy]=Ynstellings fan de systeemoankundigingen
Comment[gl]=Configuración das Notificacións do Sistema
Comment[he]=שינוי הגדרות הודעות המערכת
Comment[hi]=तंत्र सूचना कॉन्फ़िगरेशन
Comment[hr]=Konfiguriranje obavijesti sustava
Comment[hu]=A rendszerüzenetek beállítása
Comment[id]=Konfigurasi pemberitahuan sistem
Comment[is]=Stillingar tilkynninga frá kerfinu
Comment[it]=Configurazione degli avvisi di sistema
Comment[ja]=システム通知の設定
Comment[ka]=სისტემური შეტყობინებების კონფიგურაცია
Comment[kk]=Жүйелік құлақтандыруларды баптау
Comment[km]=ការ​កំណត់​រចនាសម្ព័ន្ធជូនដំណឹងប្រព័ន្ធ
Comment[ko]=시스템 알림 설정
Comment[lo]=ປັບແຕ່ງການແຈ້ງເຕືອນຂອງລະບົບ
Comment[lt]=Sistemos pranešimų derinimas
Comment[lv]=Sistēmas Paziņojumu Konfigurēšana
Comment[mk]=Конфигурација на системските известувања
Comment[mn]=Системийн сонордуулга тохируулга
Comment[ms]=Konfigurasi Pemberitahuan Sistem
Comment[mt]=Konfigurazzjoni tan-notifiki tas-Sistema
Comment[nb]=Oppett av systemvarsling
Comment[nds]=Systeemnarichten instellen
Comment[ne]=प्रणाली सूचना कन्फिगरेसन
Comment[nl]=Instellingen van de systeemnotificatie
Comment[nn]=Oppsett av systempåminningar
Comment[nso]=Peakanyo ya Tsebiso ya System
Comment[oc]=Configuracion de les notificacions dèu sistemo
Comment[pa]=ਸਿਸਟਮ ਸੂਚਨਾ ਸੰਰਚਨਾ
Comment[pl]=Konfiguracja powiadamiania systemowego
Comment[pt]=Configuração das mensagens do sistema
Comment[pt_BR]=Configuração das notificações do sistema
Comment[ro]=Configurează notificările de sistem
Comment[ru]=Настройка системных уведомлений
Comment[rw]=Iboneza ry'Amamenyesha Sisitemu
Comment[se]=Heivet vuogádatmuittuhusat
Comment[sk]=Nastavenie správ systému
Comment[sl]=Nastavitev sistemskih obvestil
Comment[sr]=Подешавање системских обавештења
Comment[sr@Latn]=Podešavanje sistemskih obaveštenja
Comment[sv]=Anpassa systemunderrättelser
Comment[ta]=சாதனம் குறிப்பு அமைப்பு
Comment[tg]=Танзими огоҳномаи система
Comment[th]=ปรับแต่งการแจ้งเตือนของระบบ
Comment[tr]=Sistem Bildirimi Yapılandırması
Comment[tt]=Sistem Beldermälären Caylaw
Comment[uk]=Налаштування системних повідомлень
Comment[uz]=Tizimning xabarnomalarini moslash
Comment[uz@cyrillic]=Тизимнинг хабарномаларини мослаш
Comment[ven]=Khonifiguresheni yau divhadza sisiteme
Comment[vi]=Cấu hình Thông báo Hệ thống
Comment[wa]=Apontiaedje po les notifiaedjes do sistinme
Comment[xh]=Uqwalaselo Lwezaziso Zendlela yokusebenza
Comment[zh_CN]=系统通知配置
Comment[zh_TW]=系統通知組態
Comment[zu]=Inhlanganiselo yokwazisa kwesistimu

Keywords=System sounds;Audio;Sound;Notify;Alerts;Notification;
Keywordsaf=Stelsel sounds;Audio;Sound;Notify;Alerts;Notification;
Keywordsar=أصوات النظام;Audio;System sounds;Audio;Sound;Notify;Alerts; Notification;صوت;نبّه;تحذيات;تنبيهات;
Keywordsaz=Sistem səsləri;Səs;Bildir;Alarmlar;Bildirmə;
Keywordsbe=Сістэмныя гукі;Аўдыё;Гук;Нагадванне;Важныя нагадванні;Нагадваць;System sounds;Audio;Sound;Notify;Alerts;Notification;
Keywordsbg=системен; звук; уведомяване; информация; грешка; събития; System sounds; Audio; Sound; Notify; Alerts; Notification;
Keywordsbr=sonioù ar reizhiad;klevet;son;kemenn;evezh;
Keywordsbs=System sounds;Audio;Sound;Notify;Alerts;Notification;zvuk;
Keywordsca=Sons del sistema;Àudio;So;Notifica;Alertes;Notificació;
Keywordscs=Systémové zvuky;Audio;Oznámit;Varování;Oznámení;
Keywordscsb=Systemòwé zwãczi;Audio;Zwãk;Dôwac wiédzã;Alarmë;Dôwanié wiédzë;
Keywordscy=Sain cysawd;Awdio;Swn;Hysbysu;Rhybuddion;Hysbysiad;
Keywordsda=Systemlyde;audio;Lyd;Bekendtgør;Advarsler;Bekendtgørelse;
Keywordsde=Klänge;Systemklänge;Audio;Sound;Benachrichtigung;Nachricht;Alarm;Signalton;Beep;
Keywordsel=Ήχοι συστήματος;Audio;Ήχος;Ειδοποιώ;Συναγερμοί;Ειδοποίηση;
Keywordseo=sistemo;sonoroj;aŭdio;sono;atentigo;alarmo;operaciumo;
Keywordses=Sonidos del sistema;Audio;Sonido;Notificar;Alertas;Notificación;
Keywordset=süsteemsed helid;audio;heli;märguanded;alarm;
Keywordseu=Sistemaren soinuak;Audioa;Soinua;Jakinarazi;Alertak;Jakinarazpenak;
Keywordsfa=صداهای سیستم، صوتی، صوت، اخطار، هشدار، اخطار;
Keywordsfi=Järjestelmä-äänet;Äänet;Huomauttaa;Varoitukset;Huomautus;
Keywordsfr=sons du système;son;audio;notification;alertes;événements;
Keywordsfy=systeemlûden;audio;lûd;warskôgingen;lûdssinjaal;oankundiging;
Keywordsgl=Sons do sistema;Audio;Son;Notificar;Alertas;Notificación;
Keywordshe=צלילי מערכת;שמע;צליל;הודעה;תזכורות; System sounds;Audio;Sound;Notify;Alerts;Notification;
Keywordshi=तंत्र ध्वनि;ऑडियो;ध्वनि;सूचना;सतर्क;सूचनाएँ;
Keywordshr=System sounds;Audio;Sound;Notify;Alerts;Notification;Zvuk;Sistemski zvukovi;Obavijesti;Upozorenja;Obavijest;
Keywordshu=rendszerhangok;audió;hang;figyelmeztető;vészjelző;
Keywordsid=System sounds;Audio;Sound;Notify;Alerts;Pemberitahuan;
Keywordsis=Kerfishljóð;Hljóð;Tilkynningar;Villur;Bjalla;
Keywordsit=Suoni di sistema;Audio;Suono;Notifica;Avvisi;Messaggi;
Keywordsja=システムサウンド;オーディオ;サウンド;通知; アラート;通知;
Keywordska=სისტემის ხმები;აუდიო;ხმა;შეტყობინება;განგაში;შეტყობინება;
Keywordskm=សំឡេង​ប្រព័ន្ធ;សំឡេង;សោត;ជូនដំណឹង;ព្រមាន;ការ​ជូនដំណឹង;
Keywordslt=Sistemos garsai;Audio;Garsas;Pranešimas;Perspėjimai;
Keywordslv=Sistēmas skaņas;Audio;Skaņa;Paziņo;Brīdinājumi;Paziņošana;
Keywordsmk=System sounds;Audio;Sound;Notify;Alerts;Notification;Системски звуци;Аудио;Звук;Извести;Предупредувања;Известувања;
Keywordsmn=Чимээ;Системийн чимээ;Audio;Дуу;Мэдээлэгч;Мэдээ;Alarm;Сигналын чимээ;Beep;
Keywordsnb=Systemlyder;Lyd;Varsle;Advarsel;Varsling;alarm;signal;
Keywordsnds=Systeemkläng;Audio;Klang;Notify;Bescheed;Notification;Bescheed geven;
Keywordsne=प्रणाली ध्वनि; अडियो; ध्वनि; सूचित; चेतावनी; सूचना;
Keywordsnl=systeemgeluiden;audio;geluid;waarschuwingen;geluidssignaal;notificatie;
Keywordsnn=systemlydar;lyd;påminning;varsel;alarm;signal;
Keywordsnso=Medumo ya System;Kwagalo;Modumo;Tsebisa;Ditheeletso;Tsebiso;
Keywordsoc=Sons dèu sistemo;Ã?udio;Son;Notifica;Alertes;Notificacion;
Keywordspa=ਸਿਸਟਮ ਧੁਨੀ;ਆਡੀਓ;ਧੁਨੀ;ਸੂਚਨਾ;ਚੇਤਾਵਨੀ;ਸੂਚਨਾਵਾਂ;
Keywordspl=Dźwieki systemowe;Audio;Dźwiek;Powiadamiac;Alarmy;Powiadamianie;
Keywordspt=sons de sistema;áudio;som;notificar;alertas;notificação;
Keywordspt_BR=Sons de sistema;áudio;Som;Notificação;Alertas;Notificação;
Keywordsro=sunete de sistem;audio;sunet;alertă;notificare;
Keywordsrw=Amajwi sisitemu;Inyumvo;Ijwi;Kumenyesha;Integuza;Imenyekanisha;
Keywordsse=vuogádatjienat;jietna;audio;dieđihit;váruhusat;signála;
Keywordssk=Systém zvukov;Audio;Zvuk;Správy;Upozornenia;
Keywordssl=sistemski zvoki;avdio;zvok;obvestila;alarmi;
Keywordssr=System sounds;Аудио;Sound;Notify;Alerts;Notification;Звук;Узбуне;обавештења;системски звуци;
Keywordssr@Latn=System sounds;Audio;Sound;Notify;Alerts;Notification;Zvuk;Uzbune;obaveštenja;sistemski zvuci;
Keywordssv=Systemljud;Ljud;ljud;Underrättelse;Varningar;Bekräftelse;
Keywordsta=அமைப்பு ஒலிகள்;கேட்பொலி;ஒலி;தெரியப்படுத்து;எச்சரிக்கைகள்;தெரியப்படுத்துதல்;
Keywordsth=ระบบเสียง;ออดิโอ;เสียง;แจ้งเตือน;เตือน;การแจ้งเตือน;
Keywordstr=Sistem sesleri;Ses;Bildir;Alarmlar;Bildirme;
Keywordsuk=системні звуки;аудіо;audio;звук;повідомлення;попередження;сповіщення;
Keywordsuz=Tizim tovush signallari;Audio;Tovush;Xabar berish;Xabarnomalar;
Keywordsuz@cyrillic=Тизим товуш сигналлари;Аудио;Товуш;Хабар бериш;Хабарномалар;
Keywordsven=Mubvumo wa sisitemu;Zwaupfiwa;Mubvumo;Divhadza;Divhisa;Ndivhadzo;
Keywordsvi=Âm thanh hệ thống;Âm;Âm thanh;Thông báo;Cảnh báo;Thông báo;
Keywordswa=Sons do sistinme;Audio;Son;Notifyî;Alertes;Notifiaedje;
Keywordsxh=Izandi zendlela;Evakalayo;Isandi;Yazisa;Izilumkiso zengozi;Izaziso;
Keywordszh_CN=System sounds;Audio;Sound;Notify;Alerts;Notification;系统音效;音效;通知;警报;
Keywordszh_TW=System sounds;Audio;Sound;Notify;Alerts;Notification;系統音效;音效;通知;警報;
Keywordszu=Imisindo yesistimu;Okuzwakalayo;Umsindo;Yazisa;Ukuqwashisa; Ukwazisa;

Categories=Qt;TDE;X-TDE-settings-sound;
