[Desktop Entry]
Exec=tdecmshell iccconfig
Icon=background
Type=Application
# Restore the following key and remove this comment when a help handbook
# is written. Disabling this key prevents populating the main handbook
# table of contents with a non-existent document, which results in a
# main handbook error message of
# 'There is no documentation available for /xyz/index.html.'
# Also disable this key when there exists only a useless template handbook.
# DocPath=kcontrol/iccconfig/index.html

X-TDE-Library=iccconfig
X-TDE-ParentApp=kcontrol
X-TDE-RootOnly=true
X-TDE-SubstituteUID=true

Categories=Qt;TDE;X-TDE-settings-hardware;
Comment=Configure display ICC profile
Comment[en_US]=Configure display ICC profile
GenericName=
GenericName[en_US]=
Keywords=ICC,display,color,profile
MimeType=
Name=ICC Color Profile
Name[en_US]=ICC Color Profile

NoDisplay=false