[Desktop Entry]
Exec=tdecmshell iccconfig
Icon=background
Type=Application
DocPath=kcontrol/iccconfig/index.html

X-TDE-Library=iccconfig
X-TDE-ParentApp=kcontrol
X-TDE-RootOnly=true
X-TDE-SubstituteUID=true

Categories=Qt;TDE;X-TDE-settings-hardware;
Comment=Configure display ICC profile
Comment[en_US]=Configure display ICC profile
GenericName=
GenericName[en_US]=
Keywords=ICC,display,color,profile
MimeType=
Name=ICC Color Profile
Name[en_US]=ICC Color Profile

NoDisplay=false
