#
# Refresh KSplash/ML Theme
#

[KSplash Theme: Refresh]
Name = Refresh TDE Splash Theme
Description = Load Refresh TDE KSplash theme.
Version = 1.0
Author = TDE Team
Homepage = trinitydesktop.org

# Theme behavior settings.
Engine = Default

# Should icons blink ala TDE, or not?
Icons Flashing = true

# Offset of each of the 7 icons, useful for adjusting flashing positon for different size icons
# Icon Offsets = 0, 0, 0, 0, 0, 0, 0