[Desktop Entry]
Exec=tdecmshell devices
Icon=kcmdevices
Type=Application
X-DocPath=kcontrol/devices/index.html
Categories=Qt;TDE;X-TDE-settings-information;


X-TDE-Library=info
X-TDE-FactoryName=devices
X-TDE-ParentApp=kcontrol

Name=Devices
Name[af]=Toestelle
Name[ar]=الأجهزة
Name[az]=Avadanlıqlar
Name[be]=Прылады
Name[bg]=Устройства
Name[bn]=ডিভাইস
Name[br]=Trobarzhelloù
Name[bs]=Uređaji
Name[ca]=Dispositius
Name[cs]=Zařízení
Name[csb]=Ùrządzenia
Name[cy]=Dyfeisiau
Name[da]=Enheder
Name[de]=Geräte
Name[el]=Συσκευές
Name[eo]=Aparatoj
Name[es]=Dispositivos
Name[et]=Seadmed
Name[eu]=Gailuak
Name[fa]=دستگاهها
Name[fi]=Laitteet
Name[fr]=Périphériques
Name[fy]=Apparaten
Name[ga]=Gléasanna
Name[gl]=Dispositivos
Name[he]=התקנים
Name[hi]=औज़ार
Name[hr]=Uređaji
Name[hu]=Eszközök
Name[id]=Divais
Name[is]=Tæki
Name[it]=Periferiche
Name[ja]=デバイス
Name[ka]=მოწყობილობები
Name[kk]=Құрылғылар
Name[km]=ឧបករណ៍
Name[ko]=장치
Name[lo]=ອຸປະກອນ
Name[lt]=Įrenginiai
Name[lv]=Iekārtas
Name[mk]=Уреди
Name[mn]=Төхөөрөмж
Name[ms]=Peranti
Name[nb]=Enheter
Name[nds]=Reedschappen
Name[ne]=यन्त्र
Name[nl]=Apparaten
Name[nn]=Einingar
Name[nso]=Maano
Name[oc]=Dispositius
Name[pa]=ਜੰਤਰ
Name[pl]=Urządzenia
Name[pt]=Dispositivos
Name[pt_BR]=Dispositivos
Name[ro]=Dispozitive
Name[ru]=Устройства
Name[rw]=Apareye
Name[se]=Ovttadagat
Name[sk]=Zariadenia
Name[sl]=Enote
Name[sr]=Уређаји
Name[sr@Latn]=Uređaji
Name[ss]=Tisetjentiswa
Name[sv]=Enheter
Name[ta]=சாதனங்கள்
Name[te]=పరికరాలు
Name[tg]=Дастгоҳҳо
Name[th]=อุปกรณ์
Name[tr]=Aygıtlar
Name[tt]=Cıhazlar
Name[uk]=Пристрої
Name[uz]=Uskunalar
Name[uz@cyrillic]=Ускуналар
Name[ven]=Maano
Name[vi]=Thiết bị
Name[wa]=Éndjins
Name[xh]=Amacebo
Name[zh_CN]=设备
Name[zh_TW]=設備
Name[zu]=Amathuluzi anenjongo

Comment=Attached devices information
Comment[af]=Gekoppelde toestelle informasie
Comment[ar]=معلومات الأجهزة المرتبطة
Comment[az]=Bağlanmış avadanlıqlar haqqında mə'lumat
Comment[be]=Інфармацыя аб далучаных прыладах
Comment[bg]=Информация за системните устройства
Comment[bn]=সংলগ্ন ডিভাইস সংক্রান্ত তথ্য
Comment[br]=Titouroù diwar-benn an trobarzhelloù luget
Comment[bs]=Informacije o priključenim uređajima
Comment[ca]=Informació dels dispositius connectats
Comment[cs]=Informace o připojených zařízeních
Comment[csb]=Wëdowiédzô ò włączonëch ùrządzeniach
Comment[cy]=Gwybodaeth am ddyfeisiau wedi'i gysylltu
Comment[da]=Information om tilkoblede enheder
Comment[de]=Informationen zu angeschlossenen Geräten
Comment[el]=Πληροφορίες για τις συνδεδεμένες συσκευές
Comment[eo]=Informo pri kunmetitaj aparatoj
Comment[es]=Información sobre los dispositivos conectados
Comment[et]=Info ühendatud seadmete kohta
Comment[eu]=Uztartuta dauden gailuei buruzko informazioa
Comment[fa]=اطلاعات دستگاههای پیوست‌شده
Comment[fi]=Tietoja liitetyistä laitteista
Comment[fr]=Informations sur les périphériques montés
Comment[fy]=Ynformaasje oer oansletten apparaten
Comment[gl]=Información dos dispositivos conectados
Comment[he]=מידע על ההתקנים המחוברים
Comment[hi]=औज़ार जानकारी संलग्न
Comment[hr]=Podaci o priključenim uređajima
Comment[hu]=A csatlakoztatott eszközök jellemzői
Comment[id]=Informasi divais terkait
Comment[is]=Upptalning á tækjum tölvu
Comment[it]=Informazioni sulle periferiche connesse
Comment[ja]=接続されているデバイスの情報
Comment[ka]=ცნობები მიერთებულ მოწყობილობებზე
Comment[kk]=Қосылған құрылғылар туралы
Comment[km]=ព័ត៌មាន​ឧបករណ៍​ដែល​បាន​ភ្ជាប់
Comment[ko]=장착된 장치 정보
Comment[lo]=ຂໍ້ມູນອຸປະກອນທີ່ຕໍ່ຢູ່
Comment[lt]=Prijungtų įrenginių informacija
Comment[lv]=Pievienoto iekārtu informācija
Comment[mk]=Информации за прикачени уреди
Comment[mn]=Залгаатай төхөөрөмжийн мэдээллүүд
Comment[ms]=Maklumat Peranti Terlampir
Comment[mt]=Informazzjoni dwar devices imwaħħlin
Comment[nb]=Informasjon om tilkoblede enheter
Comment[nds]=Informatschoon över de tokoppelten Reedschappen
Comment[ne]=सङ्लग्न गरिएका यन्त्रहरू सूचना
Comment[nl]=Informatie over aangesloten apparaten
Comment[nn]=Informasjon om tilkopla einingar
Comment[nso]=Tshedimoso ya maano yeo e kgwathisitswego
Comment[oc]=Informacion dèus dispositius connectats
Comment[pa]=ਜੁੜੇ ਜੰਤਰਾਂ ਬਾਰੇ ਜਾਣਕਾਰੀ
Comment[pl]=Informacje o włączonych urządzeniach
Comment[pt]=Informações sobre os Dispositivos
Comment[pt_BR]=Informações sobre dispositivos conectados
Comment[ro]=Informații despre dispozitivele instalate
Comment[ru]=Сведения о подключенных устройствах
Comment[rw]=Ibisobanuro by'amapareye afasheho
Comment[se]=Dieđuid laktašuvvon ovttadagaid birra
Comment[sk]=Informácie o pripojených zariadeniach
Comment[sl]=Informacije o priklopljenih enotah
Comment[sr]=Информације о прикаченим уређајима
Comment[sr@Latn]=Informacije o prikačenim uređajima
Comment[sv]=Information om anslutna enheter
Comment[ta]=சேர்க்கப்பட்ட சாதனங்கள் தகவல்
Comment[te]=చేర్చిన పరికరాల సమాచారం
Comment[tg]=Иттилооти дастгоҳҳои бастанд
Comment[th]=ข้อมูลอุปกรณ์ที่ต่ออยู่
Comment[tr]=Bağlanmış aygıtlar hakkında bilgi
Comment[tt]=Totaştırılğan cıhazlar turında belem
Comment[uk]=Інформація щодо приєднаних пристроїв
Comment[uz]=Ulangan uskunalar haqida maʼlumot
Comment[uz@cyrillic]=Уланган ускуналар ҳақида маълумот
Comment[ven]=Maitele a mafhungo o kwamanywaho 
Comment[vi]=Thông tin về thiết bị kèm
Comment[wa]=Informåcion des éndjins d' ataetchîs
Comment[xh]=Ulwazi lwamacebo afakelweyo
Comment[zh_CN]=附加的设备信息
Comment[zh_TW]=附加的設備資訊
Comment[zu]=Ulwazi lwamathuluzi anenjongo ananyathiseliwe

Keywords=dev;Devices;System Information;Information;
Keywordsar=dev;Devices;System Information;Information;أجهزة;معلومات النظام;معلومات;
Keywordsaz=dev;Avadanlıqlar;Sistem Haqqında Mə'lumat; Mə'lumat;
Keywordsbe=прылады;прылада;сістэмная інфармацыя;інфармацыя;dev;Devices;System Information;Information;
Keywordsbg=информация; система; системна; устройства; устройство; dev; Devices; System Information; Information;
Keywordsbr=trobarzhell;titouroù reizhiad;titouroù;
Keywordsbs=dev;Devices;System Information;Information;uređaji;uređaj;sustav;informacije o sustavu;
Keywordsca=dev;dispositius;Informació del sistema;Informació;
Keywordscs=dev;Zařízení;Systémové informace;Informace;
Keywordscsb=dev;systemòwé ùrządzenia;wëdowiédzô ò systemie;wëdowiédzô; infòrmacëjô;
Keywordscy=dyf;Dyfeisiau;Gwybodaeth Cysawd;Gwybodaeth;
Keywordsda=dev;Enheder;Systeminformation;Information;
Keywordsde=Geräte;Devices;Systeminformation;Information;
Keywordsel=dev;Συσκευές;Πληροφορίες συστήματος;Πληροφορίες;
Keywordseo=aparato;dev;sistemo;operaciumo;informo;
Keywordses=Dispositivos;Información del sistema;
Keywordset=dev;Seadmed;Süsteemi informatsioon;Informatsioon;
Keywordseu=dev;Dispositiboak;Sistemaren informazioa;informazioa;
Keywordsfa=dev،دستگاهها، اطلاعات سیستم، اطلاعات;
Keywordsfi=dev;Laitteet;Järjestelmätiedot;Tiedot;
Keywordsfr=dev;périphériques;information;informations système;
Keywordsfy=dev;devices;systeemynformaasje;ynformaasje;apparaten;apparaatbehear;
Keywordsga=dev;Gléasanna;Eolas faoin Chóras;Eolas;
Keywordsgl=dev;Dispositivo;Información do Sistema;Información;
Keywordshe=התקנים;מידע מערכת;מידע;dev;Devices;System Information;Information;
Keywordshi=डेव;औज़ार;तंत्र जानकारी;जानकारी;
Keywordshr=dev;Devices;System Information;Information;uređaji;uređaj;sustav;podaci o sustavu;podaci;
Keywordshu=dev;eszközök;rendszerinformáci;információ;
Keywordsid=dev;Devices;Informasi Sistem;Informasi;
Keywordsis=dev;tæki;jaðartæki;upplýsingar;kerfi;
Keywordsit=dev;dispositivi;periferiche;informazioni sul sistema;informazioni;
Keywordsja=dev;デバイスシステム;システムの情報;情報;
Keywordskm=ឧបករណ៍;ព័ត៌មាន​ប្រព័ន្ធ;ព័ត៌មាន;
Keywordslt=dev;Įrenginiai;Sistemos Informacija;Informacija;
Keywordslv=iek;Iekārtas;Sistēmas Informācija;Informācija;
Keywordsmk=dev;Devices;System Information;Information;Уреди;Информации за системот;Информација;
Keywordsmn=dev;Төхөөрөмж;Системийн мэдээлэл;Мэдээлэл;
Keywordsnb=dev;enheter;systeminformasjon;Informasjon;
Keywordsnds=dev;Reedschappen;Systeeminformatschoon;Informatschoon;
Keywordsne=डेभ; यन्त्र; प्रणाली सूचना; सूचना;
Keywordsnl=dev;devices;systeeminformatie;informatie;apparaten;apparaatbeheer;
Keywordsnn=dev;eining;einingar;systeminformasjon;informasjon;
Keywordsnso=dev;Maano;Tshedimoso ya System;Tshedimoso;
Keywordsoc=dev;dispositius;Informacion dèu sistemo;Informacion;
Keywordspa=dev;ਜੰਤਰ;ਸਿਸਟਮ ਜਾਣਕਾਰੀ;
Keywordspl=dev;Urządzenia systemowe;informacja o systemie;Informacja;
Keywordspt=dev;dispositivos;informações de sistema;informação;
Keywordspt_BR=dev;Dispositivos;Informações de sistema;Informações;Informação;
Keywordsro=dev;dispozitive;informații sistem;informații;
Keywordsrw=dev;Apareye;Amakuru Sisitemu;Amakuru;
Keywordsse=dev;ovttadat;ovttadagat;vuogádatdiehtu;diehtu;
Keywordssk=dev;Zariadenia;Systém Informácie;
Keywordssl=dev;naprave;informacije o sistemu;informacije;
Keywordssr=dev;Devices;System Information;Information;уређаји;системске информације;информације;
Keywordssr@Latn=dev;Devices;System Information;Information;uređaji;sistemske informacije;informacije;
Keywordssv=enhet;Enheter;Systeminformation;Information;
Keywordsta=dev;சாதனங்கள்; கணினித் தகவல்; தகவல்;
Keywordstg=dev;Дастгоҳҳо;Иттилооти система;Иттилоот;
Keywordsth=dev;อุปกรณ์;ข้อมูลระบบ;ข้อมูล;
Keywordstr=dev;Aygıtlar;Sistem Hakkında Bilgi; Bilgi;
Keywordsuk=пристрої;інформація;dev;devices;system-information;information;
Keywordsuz=dev;Uskunalar;Maʼlumot;Tizim haqida maʼlumot;
Keywordsuz@cyrillic=dev;Ускуналар;Маълумот;Тизим ҳақида маълумот;
Keywordsven=dev;Maano;Mafhungo a sisitemu;Mafhungo;
Keywordsvi=dev;Thiết bị;Thông tin Hệ thống;Thông tin;
Keywordswa=dev;Devices;System Information;Information;informåcion do sistinme; informåcion;éndjins;
Keywordsxh=dev;Amacebo;Ulwazi lwendlela;Ulwazi;
Keywordszh_CN=dev;Devices;System Information;Information;设备;系统信息;信息;
Keywordszh_TW=dev;Devices;System Information;Information;設備;系統資訊;資訊;
Keywordszu=dev;Amathuluzi anenjongo;Ulwazi lwesistimu;Ulwazi;

