[Desktop Entry]
Exec=tdecmshell dma
Icon=kcmmemory
Type=Application
X-DocPath=kcontrol/dma/index.html
Categories=Qt;TDE;X-TDE-settings-information;


X-TDE-Library=info
X-TDE-FactoryName=dma
X-TDE-ParentApp=kcontrol

Name=DMA-Channels
Name[af]=Dma-kanale
Name[az]=DMA Kanalları
Name[be]=Каналы DMA
Name[bg]=DMA канали
Name[bn]=ডি.এম.এ-চ্যানেল
Name[br]=Kanolioù DMA
Name[bs]=DMA-Kanali
Name[ca]=Canals DMA
Name[cs]=DMA kanály
Name[csb]=Kanałë DMA
Name[cy]=Sianeli DMA
Name[da]=DMA-kanaler
Name[de]=DMA-Kanäle
Name[el]=Κανάλια DMA
Name[eo]=DMA-kanaloj
Name[es]=Canales DMA
Name[et]=DMA kanalid
Name[eu]=DMA-Kanalak
Name[fa]=مجراهای دستیابی مستقیم به حافظه
Name[fi]=DMA-kanavat
Name[fr]=Canaux DMA
Name[fy]=DMA-kanalen
Name[ga]=Cainéil-DMA
Name[gl]=Canles de DMA
Name[he]=גישה ישירה לזיכרון
Name[hi]=डीएमए-चैनल्स
Name[hr]=DMA kanali
Name[hu]=DMA-csatornák
Name[id]=Channels-DMA
Name[is]=DMA-brautir
Name[it]=Canali DMA
Name[ja]=DMA チャンネル
Name[ka]=DMA არხები
Name[kk]=DMA-арналар
Name[km]=ផ្លូវ DMA
Name[ko]=DMA 채널
Name[lo]=ຊາແນລDMA
Name[lt]=DMA-Kanalai
Name[lv]=DMA-Kanāli
Name[mk]=DMA-канали
Name[mn]=DMA-Сувгууд
Name[ms]=Saluran DMA
Name[nb]=DMA-kanaler
Name[nds]=DMA-Kanaals
Name[ne]=DMA-च्यानल
Name[nl]=DMA-kanalen
Name[nn]=DMA-kanalar
Name[nso]=Dikanale tsa DMA
Name[oc]=Canals DMA
Name[pa]=DMA-ਚੈਨਲ
Name[pl]=Kanały DMA
Name[pt]=Canais de DMA
Name[pt_BR]=Canais DMA
Name[ro]=Canale DMA
Name[ru]=Каналы DMA
Name[rw]=Imirongomakuru-DMA
Name[se]=DMA-kanálat
Name[sk]=DMA kanály
Name[sl]=Kanali DMA
Name[sr]=DMA канали
Name[sr@Latn]=DMA kanali
Name[ss]=Migudvu ye DMa
Name[sv]=DMA-kanaler
Name[ta]=DMA-வழிமுறைகள்
Name[te]=డిఎంఏ-చానెళ్ళు
Name[tg]=Каналҳои-DMA
Name[th]=ช่อง DMA
Name[tr]=DMA Kanalları
Name[tt]=DMA-Yullar
Name[uk]=Канали ПДП
Name[uz]=DMA kanallari
Name[uz@cyrillic]=DMA каналлари
Name[ven]=Tshanele ya DMA
Name[vi]=Kênh DMA
Name[wa]=Canås DMA
Name[xh]=DMA-Imijelo
Name[zh_CN]=DMA 通道
Name[zh_TW]=DMA 通道
Name[zu]=Imigudu-DMA

Comment=DMA information
Comment[af]=Dma informasie
Comment[ar]=معلومات DMA
Comment[az]=DMA haqqında mə'lumat
Comment[be]=Інфармацыя аб DMA
Comment[bg]=Информация за DMA
Comment[bn]=ডি.এম.এ. সংক্রান্ত তথ্য
Comment[br]=Titouroù diwar-benn an DMA
Comment[bs]=DMA informacije
Comment[ca]=Informació de la DMA
Comment[cs]=Informace o DMA
Comment[csb]=Wëdowiédzô ò DMA
Comment[cy]=Gwybodaeth DMA
Comment[da]=DMA-information
Comment[de]=Informationen zu DMA
Comment[el]=Πληροφορίες για τα DMA
Comment[eo]=DMA-informo
Comment[es]=Información sobre DMA
Comment[et]=DMA kanalite info
Comment[eu]=DMAri buruzko informazioa
Comment[fa]=اطلاعات دسترسی مستقیم به حافظه
Comment[fi]=DMA-tietoja
Comment[fr]=Informations DMA
Comment[fy]=DMA-ynformatie
Comment[ga]=Eolas faoi DMA
Comment[gl]=Información de DMA
Comment[he]=מידע על ערוצי הגישה הישירה לזיכרון
Comment[hi]=डीएमए जानकारी
Comment[hr]=DMA podaci
Comment[hu]=DMA-információk
Comment[id]=Informasi DMA
Comment[is]=Upplýsingar um DMA-brautir
Comment[it]=Informazioni sul DMA
Comment[ja]=DMA 情報
Comment[ka]=ინფორმაცია DMA–ს შესახებ
Comment[kk]=DMA мәліметі
Comment[km]=ព័ត៌មាន DMA
Comment[ko]=DMA 정보
Comment[lt]=DMA informacija
Comment[lv]=DMA informācija
Comment[mk]=Информации за DMA
Comment[mn]=DMA-н мэдээлэл
Comment[ms]=Maklumat DMA
Comment[mt]=Informazzjoni dwar DMA
Comment[nb]=DMA-informasjon
Comment[nds]=Informatschoon över DMA
Comment[ne]=DMA सूचना
Comment[nl]=DMA-informatie
Comment[nn]=DMA-informasjon
Comment[nso]=Tshedimoso ya DMA
Comment[oc]=Informacion de DMA
Comment[pa]=DMA ਜਾਣਕਾਰੀ
Comment[pl]=Informacje o DMA
Comment[pt]=Informação do DMA
Comment[pt_BR]=Informações de DMA
Comment[ro]=Informații despre canalele DMA
Comment[ru]=Сведения о DMA
Comment[rw]=Ibisobanuro DMA
Comment[se]=DMA-diehtu
Comment[sk]=Informácie o DMA
Comment[sl]=Informacija o neposrednem dostopu do pomnilnika (DMA)
Comment[sr]=DMA информације
Comment[sr@Latn]=DMA informacije
Comment[ss]=Imininingwaneye DMA 
Comment[sv]=DMA-information
Comment[ta]=DMA தகவல்
Comment[te]=డిఎంఏ సమాచారం
Comment[tg]=Иттилооти DMA
Comment[th]=ข้อมูล DMA
Comment[tr]=DMA hakkında bilgi
Comment[tt]=DMA turında
Comment[uk]=Інформація щодо ПДП
Comment[uz]=DMA haqida maʼlumot
Comment[uz@cyrillic]=DMA ҳақида маълумот
Comment[ven]=Mafhungo a DMA
Comment[vi]=Thông tin DMA
Comment[wa]=Informåcion so les canås DMA
Comment[xh]=DMA ulwazi
Comment[zh_CN]=DMA 信息
Comment[zh_TW]=DMA 資訊
Comment[zu]=Ulwazi lwe-DMA

Keywords=dma;DMA-Channels;System Information;
Keywordsaf=dma;DMA-Channels;System Informasie;
Keywordsaz=dma;DMA-Kanalları;Sistem Haqqında Mə'lumat;
Keywordsbe=каналы DMA;сістэмная інфармацыя;dma;DMA-Channels;System Information;
Keywordsbg=информация; система; системна; канали; канал; dma; DMA-Channels; System Information;
Keywordsbr=dma;kanolioù DMA;titoutoù reizhoad;
Keywordsbs=dma;DMA-Channels;System Information;DMA-kanali;informacije o sustavu;
Keywordsca=dma;Canals DMA;informació del sistema;
Keywordscs=dma;DMA kanály;Informace o systému;
Keywordscsb=dma;kanałë DMA;wëdowiédzô ò systemie;
Keywordscy=dma;Sianeli DMA;Gwybodaeth Cysawd;
Keywordsda=dma;DMA-kanaler;Systeminformation;
Keywordsde=DMA;DMA-Kanäle;Systeminformation;Information;
Keywordsel=dma;Κανάλια DMA;Πληροφορίες συστήματος;
Keywordseo=DMA;kanaloj;sistemo;operaciumo;informo;
Keywordses=DMA;Canales DMA;Información del sistema;
Keywordset=dma;DMA kanalid;süsteemi informatsioon;
Keywordseu=dma;DMA-Kanalak;Sistemaren informazioa;
Keywordsfa=dma ،مجراهای دستیابی مستقیم به حافظه، اطلاعات سیستم;
Keywordsfi=dma;DMA-kanavat;Järjestelmätiedot;
Keywordsfr=dma;canaux DMA;informations système;
Keywordsfy=dma;DMA-channels;systeemynformaasje;DMA-kanalen;
Keywordsga=dma;Cainéil-DMA;Eolas faoin Chóras;
Keywordsgl=dma;Canles de DMA;Canales DMA;Información do Sistema;
Keywordshe=ערוצי גישה ישירה לזיכרון;מידע מערכת;DMA;DMA-Channels;System Information;
Keywordshi=डीएमए;डीएमए-चैनल्स;तंत्र जानकारी;
Keywordshr=dma;DMA-Channels;System Information;DMA kanali;podaci o sustavu;
Keywordshu=DMA;DMA-csatornák;DMA-csatorna;rendszerinformáció;
Keywordsid=dma;DMA-Channels;Informasi Sistem;
Keywordsis=DMA-brautir;DMA-rásir;
Keywordsit=DMA;canali DMA;informazioni sul sistema;
Keywordsja=dma;DMA-チャンネル;システムの情報;
Keywordska=dma;DMA-არხები;ინფორმაცია სისტემის შესახებ;
Keywordskm=dma;ផ្លូវ DMA;ព័ត៌មាន​ប្រព័ន្ធ;
Keywords[lo]=dma;DMA-Channels;System InformationKeywords=dma;DMA-Channels;System Information;
Keywordslt=dma;DMA-Kanalai;Sistemos Informacija;
Keywordslv=dma;DMA-Kanāli;Sistēmas Informācija;
Keywordsmk=dma;DMA-Channels;System Information;DMA канали;канали;Информации за системот;
Keywordsmn=DMA;DMA-сувгууд;Системийн мэдээлэл;Мэдээлэл;
Keywordsnb=dma;DMA-kanaler;Systeminformasjon;
Keywordsnds=dms;DMA-Kanaals;Systeeminformatschoon;
Keywordsne=dma; DMA-च्यानल; प्रणाली सूचना;
Keywordsnl=dma;DMA-channels;systeeminformatie;DMA-kanalen;
Keywordsnn=dma;DMA-kanalar;systeminformasjon;
Keywordsnso=dma;Dikanale tsa DMA;Tshedimoso ya System;
Keywordsoc=dma;Canals DMA;informacion dèu sistemo;
Keywordspa=dma;DMA-Channels;ਸਿਸਟਮ ਜਾਣਕਾਰੀ;
Keywordspl=dma;kanały DMA;informacja o systemie;
Keywordspt=dma;canais dma;informações de sistema;
Keywordspt_BR=DMA;canais DMA;canal DMA;informações de sistema;
Keywordsro=dma;canale DMA;informații despre sistem;
Keywordsrw=dma;Imirongomakuru-DMA;Amakuru Sisitemu;
Keywordsse=dma;DMA-kanálat;vuogádatdiehtu;
Keywordssk=dma;DMA-kanály;Systémové Informácie;
Keywordssl=dma;kanali DMA;informacije o sistemu;
Keywordssr=dma;DMA-Channels;System Information;канали;системске информације;
Keywordssr@Latn=dma;DMA-Channels;System Information;kanali;sistemske informacije;
Keywordssv=dma;DMA-kanaler;Systeminformation;
Keywordsta=dma;DMA-வழிமுறைகள்;அமைப்பு தகவல்;
Keywordstg=dma;Каналҳои-DMA;Иттилооти система;
Keywordsth=dma;ช่อง DMA;ข้อมูลระบบ;
Keywordstr=dma;DMA-Kanalları;Sistem Hakkında Bilgi;
Keywordsuk=dma;канал ПДП; інформація;system-information;information;
Keywordsuz=dma;DMA kanallari;Tizim haqida maʼlumot;
Keywordsuz@cyrillic=dma;DMA каналлари;Тизим ҳақида маълумот;
Keywordsven=dma;Dzitshanele dza DMA;Mafhungo a sisitemu;
Keywordsvi=dma;Kênh DMA;Thông tin Hệ thống;
Keywordswa=informåcion do sistinme;dma;Canås DMA;
Keywordsxh=dma;DMA-Imijelo;Ulwazi Lwendlela yokusebenza;
Keywordszh_CN=dma;DMA-Channels;System Information;DMA 通道;系统信息;
Keywordszh_TW=dma;DMA-Channels;System Information;DMA通道;系統資訊;
Keywordszu=dma;Imigudu-DMA;Ulwazi lwesistimu;

