[Desktop Entry]
# NoDisplay=true
Exec=tdecmshell opengl
Icon=kcmopengl
Type=Application
X-DocPath=kcontrol/opengl/index.html


X-TDE-Library=info
X-TDE-FactoryName=opengl
X-TDE-ParentApp=kcontrol

Name=OpenGL
Name[bn]=ওপেন-জি-এল
Name[hi]=ओपन-जीएल
Name[ne]=खुला GL
Name[rw]=GufunguraGL
Name[ta]=ஓபன் ஜிஎல்
Name[te]=ఓపెన్ జిఎల్

Comment=OpenGL information
Comment[af]=OpenGL informasie
Comment[ar]=معلومات OpenGL
Comment[az]=OpenGL mə'lumatı
Comment[be]=Інфармацыя аб OpenGL
Comment[bg]=Информация за OpenGL
Comment[bn]=ওপেন-জি-এল সংক্রান্ত তথ্য
Comment[br]=Titouroù diwar-benn OpenGL
Comment[bs]=Informacije o OpenGL-u
Comment[ca]=Informació OpenGL
Comment[cs]=Informace o OpenGL
Comment[csb]=Wëdowiédzô ò OpenGL
Comment[da]=OpenGL-information
Comment[de]=Informationen zu OpenGL
Comment[el]=Πληροφορίες OpenGL
Comment[eo]=OpenGLa informo
Comment[es]=Información OpenGL
Comment[et]=OpenGL info
Comment[eu]=OpenGL informazioa
Comment[fa]=اطلاعات OpenGL
Comment[fi]=OpenGL-tiedot
Comment[fr]=Informations OpenGL
Comment[fy]=OpenGL-ynformaasje
Comment[ga]=Eolas faoi OpenGL
Comment[gl]=Información de OpenGL
Comment[he]=מידע אודות OpenGL
Comment[hi]=ओपन-जीएल जानकारी
Comment[hr]=OpenGL podaci
Comment[hu]=OpenGL-jellemzők
Comment[id]=Informasi OpenGL
Comment[is]=OpenGL upplýsingar
Comment[it]=Informazioni sull'OpenGL
Comment[ja]=OpenGL 情報
Comment[ka]=ცნობები OpenGL -ს შესახებ
Comment[kk]=OpenGL мәліметі
Comment[km]=ព័ត៌មាន OpenGL
Comment[ko]=OpenGL 정보
Comment[lt]=OpenGL informacija
Comment[lv]=OpenGL informācija
Comment[mk]=Информации за OpenGL
Comment[ms]=Maklumat OpenGL 
Comment[mt]=Informazzjoni dwar OpenGL
Comment[nb]=OpenGL-informasjon
Comment[nds]=OpenGL-Informatschoon
Comment[ne]=खुला GL सूचना
Comment[nl]=OpenGL-informatie
Comment[nn]=OpenGL-informasjon
Comment[pa]=OpenGL ਜਾਣਕਾਰੀ
Comment[pl]=Informacje OpenGL
Comment[pt]=Informação sobre OpenGL
Comment[pt_BR]=Informações sobre OpenGL
Comment[ro]=Informații OpenGL
Comment[ru]=Сведения о OpenGL
Comment[rw]= Ibisobanuro GufunguraGL
Comment[se]=OpenGL-diehtu
Comment[sk]=Informácie o OpenGL
Comment[sl]=Informacije o OpenGL
Comment[sr]=Информације о OpenGL-у
Comment[sr@Latn]=Informacije o OpenGL-u
Comment[sv]=Information om OpenGL
Comment[ta]=ஓபன் ஜிஎல் தகவல்
Comment[te]=ఓపెన్ జిఎల్ సమాచారం
Comment[tg]=КушоданGL ахбор
Comment[th]=ข้อมูล OpenGL
Comment[tr]=OpenGL Bilgisi
Comment[tt]=OpenGL turında
Comment[uk]=Інформація про OpenGL
Comment[uz]=OpenGL haqida maʼlumot
Comment[uz@cyrillic]=OpenGL ҳақида маълумот
Comment[vi]=Thông tin về OpenGL
Comment[wa]=Informåcion so OpenGL
Comment[zh_CN]=OpenGL 信息
Comment[zh_TW]=OpenGL 資訊

Keywords=OpenGL;DRI;GLX;3D;VideoCard;Hardware Acceleration;Graphics;X;X11;Xserver;X-Server;XFree86;Display;
Keywordsaz=OpenGL;DRI;GLX;3D;VideoCard;Hardware Acceleration;Graphics;X;X11;Xserver;X-Server;XFree86;Display; Displey; Avadanlıq;Qrafika;
Keywordsbe=Відэакарта;паскарэнне;графіка;сервер X;дысплей;экран;OpenGL;DRI;GLX;3D;VideoCard;Hardware Acceleration;Graphics;X;X11;Xserver;X-Server;XFree86;Display;
Keywordsbg=видеокарта; хардуер;екран; ускорение; графика; OpenGL; DRI; GLX; 3D; VideoCard; Hardware Acceleration; Graphics; X; X11; Xserver; X-Server; XFree86; Display;
Keywordsbs=OpenGL;DRI;GLX;3D;VideoCard;Hardware Acceleration;Graphics;X;X11;Xserver;X-Server;XFree86;Display;Grafika;
Keywordsca=OpenGL;DRI;GLX;3D;Targeta de vídeo;Hardware Acceleració;Gràfics;X;X11;Xserver;Servidor X;XFree86;Pantalla;
Keywordscs=OpenGL;DRI;GLX;3D;videokarta;akcelerace;grafika;X;X11;Xserver;X-Server;XFree86;Display;
Keywordscsb=OpenGL;DRI;GLX;3D;graficznô karta;grafika;X;X11;Xserver;X-Server;XFree86;ekran;
Keywordsda=OpenGL;DRI;GLX;3D;VideoCard;Hardware Acceleration;Grafik;X;X11;Xserver;X-Server;XFree86;Skærm;
Keywordsel=OpenGL;DRI;GLX;3D;Κάρτα Γραφικών;Υλικό Επιτάχυνση;Γραφικά;X;X11;Xserver;X-Server;XFree86;Οθόνη;
Keywordseo=OpenGL;DRI;GLX;3D;VideoCard;Hardware akcelo;grafikoj;X;X11;Xserver;X-Server;XFree86;ekrano;
Keywordses=OpenGL;DRI;GLX;3D;Tarjeta; Grafica;Hardware Aceleradora;Gráficos;X;X11;Xserver;X-Server;XFree86;Monitor;
Keywordset=OpenGL;DRI;GLX;3D;Videokaart;Riistvaraline kiirendus;Graafika;X;X11;Xserver;X-Server;XFree86;Kuva;
Keywordsfa=OpenGL، DRI، GLX، سه بعدی، کارت ویدیو، شتاب‌دهی سخت‌افزار، نگاره‌ای ، X، X11، Xserver، کارساز، XFree86، صفحه نمایش;
Keywordsfr=OpenGL;DRI;GLX;3D;carte graphique;carte vidéo;accélération matérielle;graphismes;X;X11;serveur X;XServer;XFree86;affichage;
Keywordsfy=OpenGL;DRI;GLX;3D;grafyske kaart;hurd guod -fersnelling;grafysk;graphics;X;X11;Xserver;X-Server;XFree86;display;byldskerm;
Keywordsga=OpenGL;DRI;GLX;3D;FísChárta;Luasú Crua-Earraí;Grafaic;X;X11;Freastalaí-X;XFree86;Scáileán;
Keywordsgl=OpenGL;DRI;GLX;3D;Tarxeta de Vídeo;Aceleración por Hardware;Graficos;X;X11;Xserver;X-Server;XFree86;Display;Pantalla;
Keywordshe=OpenGL;DRI;GLX;3D;VideoCard;Hardware Acceleration; Graphics;X;X11;Xserver;X-Server;XFree86;Display;האצה; כרטיס; כרטיס מסך; מסך; תצוגה;
Keywordshi=ओपन-जीएल;डीआरआई;जीएलएक्स;3डी;वीडियो-कार्ड;हार्डवेयर एस्सेलरेशन;ग्राफिक्स;एक्स;एक्स11;एक्स-सर्वर;एक्ससर्वर;एक्सफ्री86;प्रदर्शक;
Keywordshr=OpenGL;DRI;GLX;3D;VideoCard;Hardware Acceleration;Graphics;X;X11;Xserver;X-Server;XFree86;Display;Video kartica;Grafička kartica;Hradversko ubrzavanje;Grafika;X poslužitelj;Zaslon;
Keywordshu=OpenGL;DRI;GLX;3D;videokártya;hardveres gyorsítás;grafika;X;X11;Xserver;X-Server;XFree86;képernyő;
Keywordsis=OpenGL;DRI;GLX;3D;VideoCard;Hardware Acceleration;vélbúnaðarhröðun;Graphics;grafík;X;X11;Xserver;Xþjónn; X-Server;X-þjónn;XFree86;Display;skjár;
Keywordsit=OpenGL;DRI;GLX;3D;SchedaVideo;Video;Accelerazione Hardware;Grafica;X;X11;Xserver;X-Server;XFree86;Display;Server X;
Keywordska=OpenGL;DRI;GLX;3D;ვიდეოდაფა;Hardware Acceleration;Graphics;X;X11;Xserver;X-Server;XFree86;Display;
Keywordskm=OpenGL;DRI;GLX;3D;ប័ណ្ណ​វីដេអូ;បន្ទះ​បង្កើន​ល្បឿន​ផ្នែក​រឹង;Graphics;X;X11;Xserver;X-Server;XFree86;បង្ហាញ;
Keywordslt=OpenGL;DRI;GLX;3D;VideoCard;Hardware Acceleration;Graphics;X;X11;Xserver;X-Server;XFree86;Display;Video plokštė;aparatūros greitinimas;grafika;
Keywordslv=OpenGL;DRI;GLX;3D;VideoKarte;Dzelžu paātrināšana;Grafika;X;X11;Xserveris;X-Serveris;XFree86;Ekrāns;
Keywordsmk=OpenGL;DRI;GLX;3D;VideoCard;Hardware Acceleration;Graphics;X;X11;Xserver;X-Server;XFree86;Display;Видео-картичка;Хардверско забрзување;Графика;екран;приказ;
Keywordsnb=OpenGL;DRI;GLX;3D;skjermkort;maskinvareakselerasjon;bilde;X;X11;X-tenar;XFree86;skjerm;
Keywordsnds=OpenGL;DRI;GLX;3D;Videokort;Hardware Acceleration;Grafik;X;X11;Xserver;X-Server;XFree86;Display;Dorstellen;Beslünigen;
Keywordsne=खुला GL; DRI; GLX; 3D;भिडियो कार्ड; हार्डवेयर गतिवर्धन; ग्राफिक्स; X; X11; Xसर्भर; X-सर्भर; X स्वतन्त्र 86; प्रदर्शन गर्नुहोस्;
Keywordsnl=OpenGL;DRI;GLX;3D;videokaart;hardware-acceleratie;grafisch;graphics;X;X11;Xserver;X-Server;XFree86;display;beeldscherm;
Keywordsnn=OpenGL;DRI;GLX;3D;skjermkort;maskinvareakselerasjon;grafikk;X;X11;X-tenar;XFree86;skjerm;
Keywordspa=OpenGL;DRI;GLX;3D;ਵੀਡਿਓਕਾਰਡ; ਹਾਰਡਵੇਅਰ ਪਰਵੇਸ਼ਕ;ਗਰਾਫਿਕਸ;X;X11;Xserver;X-Server;XFree86;ਦਰਿਸ਼;
Keywordspl=OpenGL;DRI;GLX;3D;karta graficzna;grafika;X;X11;Xserver;X-Server;XFree86;ekran;
Keywordspt=OpenGL;DRI;GLX;3D;Placa Vídeo;Aceleração por Hardware;Gráficos;X;X11;Servidor X;XFree86;Ecrã;
Keywordspt_BR=OpenGL;DRI;GLX;3D;Placa de Vídeo;Aceleração de Hardware;Gráficos;X;X11;Servidor X;X Server;XFree86;Display;
Keywordsro=OpenGL;DRI;GLX;3D;placă video;accelerare hardware;grafică;X;X11;Xserver;X-Server;XFree86;monitor;
Keywordsrw=GufunguraGL;DRI;GLX;3D;IkaritaVidewo;Ukwihutisha Imashini;Ibishushanyo;X;X11;Xseriveri;X-Seriveri;XFree86;Kwerekana;
Keywordssl=OpenGL;DRI;GLX;3D;Strojna pospešitev;Grafika;X;X11;Xserver;X-Server;X-stežnik;X;XFree86;Zaslon;
Keywordssr=OpenGL;DRI;GLX;3D;VideoCard;Hardware Acceleration;Graphics;X;X11;Xserver;X-Server;XFree86;Display;видео картица;хардверско убрзање;графика;
Keywordssr@Latn=OpenGL;DRI;GLX;3D;VideoCard;Hardware Acceleration;Graphics;X;X11;Xserver;X-Server;XFree86;Display;video kartica;hardversko ubrzanje;grafika;
Keywordssv=OpenGL;DRI;GLX;3D;videokort;hårdvaruacceleration;grafik;X;X11;Xserver;X-server;Xfree86;skärm;
Keywordsta=ஓபன் ஜிஎல்;டிஆரை;ஜிஎல்X;முப்பரிமாணம்;வீடியோஅட்டை;வன்பொருள் முடுக்கம்;சித்திரங்கள்;X;X11;Xசேவகன்;X-சேவகன்;XFree86;காட்டு;
Keywordsth=OpenGL;DRI;GLX;3D;VideoCard;Hardware Acceleration;Graphics;X;X11;Xserver;X-Server;XFree86;จอแสดงผล;
Keywordstr=OpenGL;DRI;GLX;3D;VideoCard;Video kartı;Donanım Hızlandırma;Grafik;X;X11;Xserver;X-Server;X-Sunucu;Xsunucu;XFree86;Görüntü;
Keywordsuk=OpenGL;DRI;GLX;3D;VideoCard;Hardware Acceleration;Graphics;X;X11;Xserver;X-Server;XFree86;Display;відео карта;3D акселерація;графіка;X сервер;монітор;
Keywordsvi=OpenGL;DRI;GLX;3D;Bo mạch Video;Tăng tốc Phần cứng;Đồ hoạ;X;X11;Trình phục vụ Xserver;Trình phục vụ - X;XFree86;Hiển thị;
Keywordswa=OpenGL;DRI;GLX;3D;VideoCard;cåte videyo;Hardware Acceleration;Graphike;X;X11;Xserver;sierveu X;X-Server;XFree86;Display;håynaedje;
Keywordszh_CN=OpenGL;DRI;GLX;3D;VideoCard;Hardware Acceleration;Graphics;X;X11;Xserver;X-Server;XFree86;Display;显卡;硬件加速;图形;X 服务器;显示;
Keywordszh_TW=OpenGL;DRI;GLX;3D;VideoCard;Hardware Acceleration;Graphics;X;X11;Xserver;X-Server;XFree86;Display;顯示卡;硬體加速;圖形;顯示;

Categories=Qt;TDE;X-TDE-settings-information;

