[Desktop Entry]
Exec=tdecmshell partitions
Icon=kcmpartitions
Type=Application
X-DocPath=kcontrol/partitions/index.html


X-TDE-Library=info
X-TDE-FactoryName=partitions
X-TDE-ParentApp=kcontrol


Name=Partitions
Name[af]=Partisies
Name[ar]=أقسام القرص الصلب
Name[az]=Sabit Disk Bölmələri
Name[be]=Раздзелы
Name[bg]=Дялове
Name[bn]=পার্টিশন
Name[br]=Parzhadurioù
Name[bs]=Particije
Name[ca]=Particions
Name[cs]=Oddíly disků
Name[csb]=Particëje
Name[cy]=Rhaniadau
Name[da]=Partitioner
Name[de]=Partitionen
Name[el]=Κατατμήσεις
Name[eo]=Subdiskoj
Name[es]=Particiones
Name[et]=Partitsioonid
Name[eu]=Zatiketak
Name[fa]=افرازها
Name[fi]=Osiot
Name[fy]=Partities
Name[ga]=Deighiltí
Name[gl]=Particións
Name[he]=מחיצות
Name[hi]=पार्टीशन्स
Name[hr]=Particije
Name[hu]=Partíciók
Name[id]=Partisi
Name[is]=Disksneiðar
Name[it]=Partizioni
Name[ja]=パーティション
Name[ka]=განაყოფები
Name[kk]=Бөлімдері
Name[km]=ភាគ
Name[ko]=파티션
Name[lo]=ພາຕີຊັນ
Name[lt]=Skirsniai
Name[lv]=Partīcijas
Name[mk]=Партиции
Name[mn]=Хуваалтууд
Name[ms]=Petak
Name[mt]=Partitizzjonijiet
Name[nb]=Partisjoner
Name[nds]=Partitschonen
Name[ne]=विभाजन
Name[nl]=Partities
Name[nn]=Partisjonar
Name[nso]=Dikaroganyo
Name[oc]=Particions
Name[pa]=ਭਾਗ
Name[pl]=Partycje
Name[pt]=Partições
Name[pt_BR]=Partições
Name[ro]=Partiții
Name[ru]=Разделы
Name[rw]=Ibicedisiki
Name[se]=Partišuvnnat
Name[sk]=Diskové oddiely
Name[sl]=Particije
Name[sr]=Партиције
Name[sr@Latn]=Particije
Name[sv]=Partitioner
Name[ta]=பகுதிகள்(பங்கீடுகள்)
Name[te]=విభజనలు
Name[tg]=Тақсимоти диски сахт
Name[th]=พาร์ติชัน
Name[tr]=Disk Bölümleri
Name[tt]=Bülemnär
Name[uk]=Розділи диску
Name[uz]=Diskning qismlari
Name[uz@cyrillic]=Дискнинг қисмлари
Name[vi]=Phân vùng
Name[wa]=Pårticions
Name[xh]=Ulwahlulo ngokwamaqhekeza
Name[zh_CN]=分区
Name[zh_TW]=磁碟分割區
Name[zu]=Izahluko

Comment=Partition information
Comment[af]=Partisie informasie
Comment[ar]=معلومات أقسام القرص الصلب
Comment[az]=Bölmələr Haqqında Mə'lumat
Comment[be]=Інфармацыя аб раздзелах
Comment[bg]=Информация за дяловете и дисковете
Comment[bn]=পার্টিশন সংক্রান্ত তথ্য
Comment[br]=Titouroù diwar-benn ar parzhadur
Comment[bs]=Informacije o particijama
Comment[ca]=Informació de particions
Comment[cs]=Informace o oddílech disků
Comment[csb]=Wëdowiédzô ò particëjach
Comment[cy]=Gwybodaeth rhaniad
Comment[da]=Information om partitionerne
Comment[de]=Informationen zur Partitionierung
Comment[el]=Πληροφορίες για τις κατατμήσεις
Comment[eo]=Informo pri subdiskoj
Comment[es]=Información sobre las particiones
Comment[et]=Partitsioonide info
Comment[eu]=Zatiketei buruzko informazioa
Comment[fa]=اطلاعات افرازها
Comment[fi]=Osiotiedot
Comment[fr]=Informations sur les partitions
Comment[fy]=Partitie-ynformaasje
Comment[gl]=Información das particións
Comment[he]=מידע על מחיצות
Comment[hi]=पार्टीशन जानकारी
Comment[hr]=Podaci o particijama
Comment[hu]=A partíciók adatai
Comment[id]=Informasi partisi
Comment[is]=Upplýsingar um skipulag disksneiða
Comment[it]=Informazioni sulle partizioni
Comment[ja]=パーティションの情報
Comment[ka]=ცნობები გამოყენებული რესურსების შესახებ
Comment[kk]=Диск бөлімдер мәліметі
Comment[km]=ព័ត៌មាន​ភាគ
Comment[ko]=파티션 정보
Comment[lo]=ຂໍ້ມູນພາຕີຊັນ
Comment[lt]=Skirsnių informacija
Comment[lv]=Partīciju informācija
Comment[mk]=Информации за партициите
Comment[mn]=Хуваалтын мэдээлэл
Comment[ms]=Maklumat petak
Comment[mt]=Informazzjoni dwar partizzjonijiet
Comment[nb]=Partisjoninformasjon
Comment[nds]=Informatschoon över de Partitschonen
Comment[ne]=विभाजन सूचना
Comment[nl]=Partitie-informatie
Comment[nn]=Partisjonsinformasjon
Comment[nso]=Tshedimoso ya Dikaroganyo
Comment[oc]=Informacion de particions
Comment[pa]=ਭਾਗ ਜਾਣਕਾਰੀ
Comment[pl]=Informacje o partycjach dyskowych
Comment[pt]=Informação sobre as partições
Comment[pt_BR]=Informações sobre partições
Comment[ro]=Informații despre partiții
Comment[ru]=Сведения о использовании разделов
Comment[rw]=Ibisobanuro Igicedisiki
Comment[se]=Partišuvdnadiehtu
Comment[sk]=Informácie o diskových oddieloch
Comment[sl]=Podatki o particijah
Comment[sr]=Информације о партицијама
Comment[sr@Latn]=Informacije o particijama
Comment[sv]=Partitionsinformation
Comment[ta]=பகுதி தகவல்
Comment[te]=విభజనల సమాచారం
Comment[tg]=Иттилооти тақсимот
Comment[th]=ข้อมูลพาร์ติชัน
Comment[tr]=Bölümleme hakkında bilgi
Comment[tt]=Bülemnär turında
Comment[uk]=Інформація щодо розділів диску
Comment[uz]=Diskning qismlari haqida maʼlumot
Comment[uz@cyrillic]=Дискнинг қисмлари ҳақида маълумот
Comment[ven]=Mafhungo au kovhekana
Comment[vi]=Thông tin về phân vùng
Comment[wa]=Informåcion sol pårtixhaedje del deure plake
Comment[xh]=Ulwazi lowahlulelwano ngokwamaqhekeza
Comment[zh_CN]=分区信息
Comment[zh_TW]=磁碟分割區資訊
Comment[zu]=Ulwazi Lokwehlukanisa

Keywords=Partitions;Harddrive;HD;System Information;
Keywordsaf=Partitions;Harddrive;HD;System Informasie;
Keywordsar=Partitions;Harddrive;HD;System Information;القرص الصلب;الأقراص الصلبة;معلومات النظام;
Keywordsaz=Partitions;Harddrive;HD;System Information;Bölmələr;Sabit disk;HD;Sistem Haqqında Mə'lumat;
Keywordsbe=Раздзелы;Жорсткі дыск;Сістэмная інфармацыя;Partitions;Harddrive;HD;System Information;
Keywordsbg=информация; система; системна; дял; дялове; диск; твърд; хард; Partitions; Harddrive; HD; System Information;
Keywordsbr=Parzhadur;pladenn galet;HD;titouroù reizhiad;
Keywordsbs=Partitions;Harddrive;HD;System Information;Particije;hard disk;informacije o sustavu;
Keywordsca=Particions;disc dur;HD;Informació del sistema;
Keywordscs=Oddíly disku;Pevný disk;HD;Informace o systému;
Keywordscsb=particëje;cwiardi disk;HD;wëdowiédzô ò systemie;
Keywordscy=Rhaniadau;Disg Caled;DC;Gwybodaeth Cysawd;
Keywordsda=Partitioner;Harddisk;HD;Systeminformation;
Keywordsde=Partitionen;Festplatten;Laufwerke;HD;Systeminformation;
Keywordsel=Κατατμήσεις;Σκληρός Δίσκος;HD;Πληροφορίες συστήματος;
Keywordseo=subdisko;disko;sistemo;operaciumo;informo;
Keywordses=Particiones;Disco duro;Información del sistema;
Keywordset=Partitsioonid;kõvaketas;HD;Süsteemi info;
Keywordseu=Zatiketak;Disko gogorra;HD;Sistemaren informazioa;
Keywordsfa=افرازها، گردانندۀ سخت ،HD ،اطلاعات سیستم;
Keywordsfi=Osiot;Kiintolevy;HD;Järjestelmätiedot;
Keywordsfr=partitions;disque dur;HD;DD;informations système;
Keywordsfy=partities;Hardrive; HD;systeemynformaasje;fêste skiif ;
Keywordsga=Deighiltí;Tiomántán Crua;HD;Eolas faoin Chóras;
Keywordsgl=Particións;Disco duro;HD;Información do Sistema;
Keywordshe=מחיצות;כונן קשיח;מידע מערכת; Partitions;Harddrive;HD;System Information;
Keywordshi=पार्टीशन्स;हार्डड्राइव;एचडी;तंत्र जानकारी;
Keywordshr=Partitions;Harddrive;HD;System Information;Particije;hard disk;Podaci o sustavu;Tvrdi disk;
Keywordshu=partíciók;merevlemez;HD;rendszerinformáció;
Keywordsid=Partisi;Harddrive;HD;Informasi Sistem;
Keywordsis=Sneiðar;Disksneiðar;Harðir diskar;Harður diskur;kerfi;upplýsingar;
Keywordsit=partizioni;disco rigido;hard disk;HD;informazioni sul sistema;
Keywordsja=パーティション;ハードドライブ;HD;システムの情報;
Keywordskm=ភាគ;ដ្រាយ​រឹង;HD;ព័ត៌មាន​ប្រព័ន្ធ;
Keywordslo=ພາຕີຊັນ;ຮາດໄດຣຟ์;HD;ຂໍ້ມູນຂອງລະບົບ;
Keywordslt=Skirsniai;Kietasis diskas;HD;Sistemos Informacija;
Keywordslv=Partīcijas;CietaisDisks;HD;Sistēmas Informācija;
Keywordsmk=Partitions;Harddrive;HD;System Information;Партиции;Тврд диск;Информации за системот;
Keywordsmn=Хуваалтууд;Хатуу диск;Диск хөтлөгч;HD;Системийн мэдээлэл;
Keywordsnb=Partisjoner;Platelager;Harddisk;HD;Systeminformasjon;
Keywordsnds=Partitschonen;Fastplaat;HD;Systeeminformatschoon;
Keywordsne=विभाजन; हार्ड ड्राइभ;HD; प्रणाली सूचना;
Keywordsnl=partities;harddrive;HD;systeeminformatie;harde schijf;
Keywordsnn=partisjonar;harddisk;HD;systeminformasjon;
Keywordsnso=Dikaroganyo;Kotlelo ye Bothata;HD;Tshedimoso ya System;
Keywordsoc=Particions;disc dur;HD;Informacion dèu sistemo;
Keywordspa=Partitions;Harddrive;HD;ਸਿਸਟਮ ਜਾਣਕਾਰੀ;ਭਾਗ;ਹਾਰਡ ਡਿਸਕ;
Keywordspl=partycje;twardy dysk;HD;informacja o systemie;
Keywordspt=partições;disco rígido;HD;informações do sistema;
Keywordspt_BR=Partições;Disco Rígido;Informações de sistema;
Keywordsro=partiții;harddisk;hard-disk;HD;hdd;informații despre sistem;
Keywordsrw=Ibicedisiki;Ububikodisiki;HD;Amakuru Sisitemu;
Keywordsse=partišuvnnat;garraskearru;HD;vuogádatdieđut;
Keywordssk=Partície;oddiely;Pevný disk;HD;Systémové informácie;
Keywordssl=particije;trdi disk;HD;informacije o sistemu;
Keywordssr=Partitions;Harddrive;HD;System Information;партиције;харддиск;системске информације;
Keywordssr@Latn=Partitions;Harddrive;HD;System Information;particije;harddisk;sistemske informacije;
Keywordssv=Partitioner;Hårddisk;HD;Systeminformation;
Keywordsta=பகுதிகள்; வன் சாதனம்;எச்டி;அமைப்பு தகவல்;
Keywordsth=พาร์ติชัน;ฮาร์ดไดรฟ์;HD;ข้อมูลระบบ;
Keywordstr=Bölümleme;Sabitdisk;HD;Sistem Hakkında Bilgi;
Keywordsuk=розділи диску;жорсткий диск;HD;системна інформація;
Keywordsuz=Diskning qismlari;qattiq disk;HD;Tizim haqida maʼlumot;
Keywordsuz@cyrillic=Дискнинг қисмлари;қаттиқ диск;HD;Тизим ҳақида маълумот;
Keywordsven=Partitions;Harddrive;HD;Mafhungo a sisitemu;
Keywordsvi=Phân vùng;Ổ cứng;HD;Thông tin Hệ thống;
Keywordswa=pårticions;deure plake;HD;informåcion do sistinme;
Keywordsxh=Ulwahlulelwano ngokwamaqhekeza;Harddrive;HD;Ulwazi lwendlela yokusebenza;
Keywordszh_CN=Partitions;Harddrive;HD;System Information;分区;硬盘;系统信息;
Keywordszh_TW=Partitions;Harddrive;HD;System Information;磁碟分割區;硬式磁碟機;硬碟;系統資訊;
Keywordszu=Izahluko;Harddrive;HD;Ulwazi Lwesistimu;

Categories=Qt;TDE;X-TDE-settings-information;

