[Desktop Entry]
Exec=tdecmshell pci
Icon=kcmpci
Type=Application
X-DocPath=kcontrol/pci/index.html


X-TDE-Library=info
X-TDE-FactoryName=pci
X-TDE-ParentApp=kcontrol

Name=PCI
Name[bn]=পি-সি-আই
Name[cs]=PCI sběrnice
Name[he]=התקני PCI
Name[hi]=पीसीआई
Name[is]=PCI-braut
Name[lo]=ອຸປະກອນ PCI
Name[ne]=पीसीआई
Name[ro]=Magistrala PCI
Name[ru]=Шина PCI
Name[te]=పిసిఐ
Name[th]=อุปกรณ์ PCI
Name[uk]=Шина PCI

Comment=PCI information
Comment[af]=PCI informasie
Comment[ar]=معلومات PCI
Comment[az]=PCI haqqında mə'lumat
Comment[be]=Інфармацыя аб PCI
Comment[bg]=Информация за PCI шината
Comment[bn]=পি-সি-আই তথ্য
Comment[br]=Titouroù diwar-benn ar PCI
Comment[bs]=Informacije o PCI uređajima
Comment[ca]=Informació de PCI
Comment[cs]=Informace o PCI
Comment[csb]=Wëdowiédzô ò PCI
Comment[cy]=Gwybodaeth PCI
Comment[da]=PCI-information
Comment[de]=Informationen zu PCI
Comment[el]=Πληροφορίες PCI
Comment[eo]=Informo pri PCI
Comment[es]=Información sobre los dispositivos PCI
Comment[et]=PCI info
Comment[eu]=PCIri buruzko informazioa
Comment[fa]=اطلاعات PCI
Comment[fi]=PCI-tietoja
Comment[fr]=Informations PCI
Comment[fy]=PCI-Ynformaasje
Comment[ga]=Eolas PCI
Comment[gl]=Información de PCI
Comment[he]=מידע על התקני PCI
Comment[hi]=पीसीआई जानकारी
Comment[hr]=Podaci o PCI sabirnici
Comment[hu]=PCI-információk
Comment[id]=Informasi PCI
Comment[is]=Upplýsingar um PCI-braut
Comment[it]=Informazioni sul bus PCI
Comment[ja]=PCI の情報
Comment[ka]=ცნობები PCI მოწყობილობების შესახებ
Comment[kk]=PCI құрылғылар мәліметі
Comment[km]=ព័ត៌មាន PCI
Comment[ko]=PCI 정보
Comment[lo]=ຂໍ້ມູນອຸປະກອນ PCI
Comment[lt]=PCI informacija
Comment[lv]=PCI informācija
Comment[mk]=Информации за PCI
Comment[mn]=PCI-н мэдээлэл
Comment[ms]=Maklumat PCI
Comment[mt]=Informazzjoni dwar PCI
Comment[nb]=PCI-informasjon
Comment[nds]=Informatschoon över PCI
Comment[ne]=पीसीआई सूचना
Comment[nl]=PCI-informatie
Comment[nn]=PCI-informasjon
Comment[nso]=Tshedimoso ya PCI
Comment[oc]=Informacion de PCI
Comment[pa]=PCI ਜਾਣਕਾਰੀ
Comment[pl]=Informacje o PCI
Comment[pt]=Informação sobre o PCI
Comment[pt_BR]=Informações PCI
Comment[ro]=Informații despre magistrala PCI
Comment[ru]=Сведения о устройствах PCI
Comment[rw]= Ibisobanuro PCI
Comment[se]=PCI-diehtu
Comment[sk]=Informácie o PCI
Comment[sl]=Podatki o vodilu PCI
Comment[sr]=PCI информације
Comment[sr@Latn]=PCI informacije
Comment[ss]=Umniningwane we PCI 
Comment[sv]=PCI-information
Comment[ta]=PCI தகவல்
Comment[te]=పిసిఐ సమాచారం
Comment[tg]=Иттилооти PCI
Comment[th]=ข้อมูลอุปกรณ์ PCI
Comment[tr]=PCI hakkında bilgi
Comment[tt]=PCI turında
Comment[uk]=Інформація щодо шини PCI
Comment[uz]=PCI uskunalar haqida maʼlumot
Comment[uz@cyrillic]=PCI ускуналар ҳақида маълумот
Comment[ven]=Mafhungo a PCI
Comment[vi]=Thông tin về PCI
Comment[wa]=Informåcion so PCI
Comment[xh]=Inkcukacha ye PCI
Comment[zh_CN]=PCI 信息
Comment[zh_TW]=PCI 資訊
Comment[zu]=Ulwazi lwe-PCI

Keywords=PCI;PCI-Devices;PCI-Bus;System Information;
Keywordsaf=PCI;PCI-Devices;PCI-Bus;System Informasie;
Keywordsar=PCI;أجهزة PCI;PCI-Bus;معلومات النظام;
Keywordsaz=PCI;PCI-Avadanlıqları;PCI-Bus;Sistem Haqqında Mə'lumat;
Keywordsbe=Прылады PCI;Сістэмная інфармацыя;PCI;PCI-Devices;PCI-Bus;System Information;
Keywordsbg=информация; система; системна; шина; PCI; PCI-Devices; PCI-Bus; System Information;
Keywordsbr=PCI;trobarzhelloù PCI;bus PCI;titouroù reizhiad;
Keywordsbs=PCI;PCI-Devices;PCI-Bus;System Information;PCI uređaji;PCI-uređaji;PCI-sabirnica;informacije o sustavu;
Keywordsca=PCI;Dispositius PCI;Bus PCI;Informació del sistema;
Keywordscs=PCI;PCI-zařízení;PCI-sběrnice;Informace o systému;
Keywordscsb=PCI;ùrządzenia PCI;magistrala PCI;wëdowiédzô ò systemie;
Keywordscy=PCI;Dyfeisiau-PCI;Bws-PCI;Gwybodaeth Cysawd;
Keywordsda=PCI;PCI-enheder;PCI-bus;Systeminformation;
Keywordsde=PCI;PCI-Geräte;PCI-Bus;Systeminformation;
Keywordsel=PCI;Συσκευές PCI;Δίαυλος PCI;Πληροφορίες συστήματος;
Keywordseo=PCI;aparato;buso;sistemo;operaciumo;informo;
Keywordses=PCI;Dispositivos PCI;Bus PCI;Información del sistema;
Keywordset=PCI;PCi seadmed;PCI siin;Süsteemi info;
Keywordseu=PCI;PCI-gailuak;PCI busa;Sistemaren informazioa;
Keywordsfa=PCI ،دستگاههای PCI ،گذرگاه PCI ،اطلاعات سیستم;
Keywordsfi=PCI;PCI-Laitteet;PCI-Väylä;Järjestelmätiedot;
Keywordsfr=PCI;périphériques PCI;bus PCI;informations système;pci;
Keywordsfy=PCI;PCI-devices;PCI-bus;systeemynformaasje;PCI-apparaten;
Keywordsgl=PCI;Dispositivos PCI;Bus PCI;Información do Sistema;
Keywordshe=מידע מערכת;אפיק PCI;התקני PCI;PCI;System Information;
Keywordshi=पीसीआई;पीसीआई-औज़ार;पीसीआई-बस;तंत्र जानकारी;
Keywordshr=PCI;PCI-Devices;PCI-Bus;System Information;PCI uređaji;PCI sabirnica;Podaci o sustavu;
Keywordshu=PCI;PCI-eszközök;PCI-busz;rendszerinformáció;
Keywordsid=PCI;PCI-Divais;PCI-Bus;Informasi Sistem;
Keywordsis=PCI-tæki;PCI-braut;kerfi;upplýsingar;
Keywordsit=PCI;dispositivi PCI;bus PCI;informazioni sul sistema;
Keywordsja=PCI;PCI-デバイス;PCI-バス;システムの情報;
Keywordskm=PCI;ឧបករណ៍ PCI;ខ្សែ​បញ្ជូន PCI;ព័ត៌មាន​ប្រព័ន្ធ;
Keywordslo=ອຸປະກອນ PCI;ບັສ PCI;ຂໍ້ມູນຂອງລະບົບ;
Keywordslt=PCI;PCI-įrenginiai;PCI-Bus;Sistemos Informacija;
Keywordslv=PCI;PCI-Iekārtas;PCI-Šina;Sistēmas Informācija;
Keywordsmk=PCI;PCI-Devices;PCI-Bus;System Information;PCI уреди;PCI магистрала;PCI собирница;Информации за системот;
Keywordsmn=PCI;PCI-төхөөрөмж;PCI-Bus;Системийн мэдээлэл;
Keywordsnb=PCI;PCI-enheter;PCI-buss;Systeminformasjon;
Keywordsnds=PCI;PCI-Reedschappen;PCI Bus;Systeeminformatschoon;
Keywordsne=पीसीआई; पीसीआई-यन्त्र; पीसीआई-बस; प्रणाली सूचना;
Keywordsnl=PCI;PCI-devices;PCI-bus;systeeminformatie;PCI-apparaten;
Keywordsnn=PCI;PCI-einingar;PCI-buss;systeminformasjon;
Keywordsnso=PCI;Maano a PCI;PCI-Bus;Tshedimoso ya System;
Keywordsoc=PCI;Dispositius PCI;Bus PCI;Informacion dèu sistemo;
Keywordspa=PCI;PCI-ਜੰਤਰ;PCI-Bus;ਸਿਸਟਮ ਜਾਣਕਾਰੀ;
Keywordspl=PCI;urządzenia PCI;magistrala PCI;informacja o systemie;
Keywordspt=PCI;dispositivos PCI;bus PCI;informações do sistema;
Keywordspt_BR=PCI;dispositivos PCI;Barramento PCI;Barramento PCI;Informações de sistema;
Keywordsro=PCI;dispozitive PCI;bus PCI;informații despre sistem;
Keywordsrw=PCI;Apareye-PCI;Bisi-PCI;Amakuru Sisitemu;
Keywordsse=PCI;PCI-ovttadagat;PCI-bussa;vuogádatdiehtu;
Keywordssk=PCI;PCI-zariadenia;PCI-zbernica;Systémové informácie;
Keywordssl=PCI;naprave PCI;vodilo PCI;informacije o sistemu;
Keywordssr=PCI;PCI-Devices;PCI-Bus;System Information;PCI уређаји;PCI магистрала;системске информације;
Keywordssr@Latn=PCI;PCI-Devices;PCI-Bus;System Information;PCI uređaji;PCI magistrala;sistemske informacije;
Keywordssv=PCI;PCI-enheter;PCI-buss;Systeminformation;
Keywordsta=PCI;PCI-சாதனங்கள்;PCI-பஸ்;சாதன தகவல்;
Keywordste=పిసిఐ;పిసిఐ-పరికరాలు;పిసిఐ-బస్; వ్యవస్థ సమాచారం;
Keywordsth=อุปกรณ์ PCI;บัส PCI;ข้อมูลระบบ;
Keywordstr=PCI;PCI-Aygıtları;PCI-Bus;Sistem Hakkında Bilgi;
Keywordsuk=PCI;пристрої PCI;шина PCI;системна інформація;
Keywordsuz=PCI;PCI uskunalari;PCI-Bus;Tizim haqida maʼlumot;
Keywordsuz@cyrillic=PCI;PCI ускуналари;PCI-Bus;Тизим ҳақида маълумот;
Keywordsven=PCI;Maano a PCI;PCI Bus;Mafhungo a sisitemu;
Keywordsvi=PCI;Thiết bị PCI;Thông tin Hệ thống;
Keywordswa=PCI;éndjins PCI;Bus PCI;informåcion do sistinme;
Keywordsxh=PCI;PCI-Amacebo;PCI-Ibhasi;Ulwazi lwendlela;
Keywordszh_CN=PCI;PCI-Devices;PCI-Bus;System Information;PCI 设备;PCI 总线;系统信息;
Keywordszh_TW=PCI;PCI-Devices;PCI-Bus;System Information;PCI 設備;PCI 匯流排;系統資訊;
Keywordszu=PCI;Amathuluzi-PCI;Ibhasi-PCI;Ulwaz Lwesistimu;
Categories=Qt;TDE;X-TDE-settings-information;

