[Desktop Entry]
Exec=tdecmshell processor
Icon=kcmprocessor
Type=Application
X-DocPath=kcontrol/processor/index.html


X-TDE-Library=info
X-TDE-FactoryName=cpu
X-TDE-ParentApp=kcontrol

Name=Processor
Name[af]=Verwerker
Name[ar]=المعالج
Name[az]=İşlədici
Name[be]=Працэсар
Name[bg]=Процесор
Name[bn]=প্রসেসর
Name[br]=Kewerier
Name[bs]=Procesor
Name[ca]=Processador
Name[cs]=Procesor
Name[csb]=Procesora
Name[cy]=Prosesydd
Name[de]=Prozessor
Name[el]=Επεξεργαστής
Name[eo]=Procezilo
Name[es]=Procesador
Name[et]=Protsessor
Name[eu]=Prozesagailua
Name[fa]=پردازنده
Name[fi]=Prosessori
Name[fr]=Processeur
Name[fy]=Ferwurkingsienheid
Name[ga]=Próiseálaí
Name[gl]=Procesador
Name[he]=מעבד
Name[hi]=प्रोसेसर
Name[hr]=Procesor
Name[hu]=Processzor
Name[id]=Prosesor
Name[is]=Örgjörvi
Name[it]=Processore
Name[ja]=プロセッサ
Name[ka]=პროცესორი
Name[kk]=Процессор
Name[km]=ខួរក្បាល
Name[ko]=프로세서
Name[lo]=ໂພຣເຊັດເຊີ
Name[lt]=Procesorius
Name[lv]=Procesors
Name[mk]=Процесор
Name[mn]=Процессор
Name[ms]=Pemproses
Name[mt]=CPU
Name[nb]=Prosessor
Name[nds]=Perzesser
Name[ne]=प्रोसेसर
Name[nn]=Prosessor
Name[nso]=Mophethagatsi
Name[oc]=Processador
Name[pa]=ਪਰੋਸੈਸਰ
Name[pl]=Procesor
Name[pt]=Processador
Name[pt_BR]=Processador
Name[ro]=Procesor
Name[ru]=Процессор
Name[rw]=Munonosora
Name[se]=Doaimmár
Name[sk]=Procesor
Name[sl]=Procesor
Name[sr]=Процесор
Name[sr@Latn]=Procesor
Name[ss]=Sichubi
Name[ta]=செயல்முறையாக்கம்
Name[te]=ప్రాసెసర్
Name[tg]=Протсессор
Name[th]=หน่วยประมวลผล
Name[tr]=İşlemci
Name[tt]=Prosessor
Name[uk]=Процесор
Name[uz]=Protsessor
Name[uz@cyrillic]=Процессор
Name[ven]=Mubveledzi
Name[vi]=Bộ vi xử lý
Name[wa]=Processeu
Name[xh]=Umqhubekekisi phambili
Name[zh_CN]=处理器
Name[zh_TW]=處理器
Name[zu]=Umqhubekisi

Comment=Processor information
Comment[af]=Verwerker informasie
Comment[ar]=معلومات المعالج
Comment[az]=İşlədici haqqında mə'lumat
Comment[be]=Інфармацыя аб працэсары
Comment[bg]=Информация за процесора(ите) на системата
Comment[bn]=প্রসেসর তথ্য
Comment[br]=Titouroù diwar-benn ar c'hewerier
Comment[bs]=Informacije o procesoru
Comment[ca]=Informació del processador
Comment[cs]=Informace o procesoru
Comment[csb]=Wëdowiédzô ò procesorze
Comment[cy]=Gwybodaeth prosesydd
Comment[da]=Information om processoren
Comment[de]=Informationen zum Prozessor
Comment[el]=Πληροφορίες για τον επεξεργαστή
Comment[eo]=Informo pri procezilo
Comment[es]=Información sobre el procesador
Comment[et]=Protsessori info
Comment[eu]=Prozesagailuari buruzko informazioa
Comment[fa]=اطلاعات پردازنده
Comment[fi]=Tietoja prosessorista
Comment[fr]=Informations sur le processeur
Comment[fy]=Ferwurkingsienheid ynformaasje
Comment[ga]=Eolas faoin phróiseálaí
Comment[gl]=Información do Procesador
Comment[he]=מידע על המעבד
Comment[hi]=प्रोसेसर जानकारी
Comment[hr]=Podaci o procesoru
Comment[hu]=A processzor jellemzői
Comment[id]=Informasi Prosesor
Comment[is]=Upplýsingar um örgjörva
Comment[it]=Informazioni sul processore
Comment[ja]=プロセッサの情報
Comment[ka]=ინფორმაცია პროცესორის შესახებ
Comment[kk]=Процессор мәліметі
Comment[km]=ព័ត៌មាន​ខួរក្បាល
Comment[ko]=프로세서 정보
Comment[lo]=ຂໍ້ມູນໂພຣເຊັດເຊີ
Comment[lt]=Procesoriaus informacija
Comment[lv]=Procesora informācija
Comment[mk]=Информации за процесорот
Comment[mn]=Процессорын мэдээлэл
Comment[ms]=Maklumat pemproses
Comment[mt]=Informazzjoni dwar CPU
Comment[nb]=Prosessorinformasjon
Comment[nds]=Informatschoon över den Perzesser
Comment[ne]=प्रोसेसर सूचना
Comment[nl]=Processorinformatie
Comment[nn]=Prosessorinformasjon
Comment[nso]=Tshedimoso ya Mophethagatsi
Comment[oc]=Informacion dèu processador
Comment[pa]=ਪਰੋਸੈਸਰ ਜਾਣਕਾਰੀ
Comment[pl]=Informacje o procesorze
Comment[pt]=Informação sobre o processador
Comment[pt_BR]=Informações sobre o processador
Comment[ro]=Informații despre parametrii microprocesorului
Comment[ru]=Сведения о процессоре
Comment[rw]= Ibisobanuro bya Munonosora
Comment[se]=Doaimmárdieđut
Comment[sk]=Informácie o procesore
Comment[sl]=Podatki o procesorju
Comment[sr]=Информације о процесору
Comment[sr@Latn]=Informacije o procesoru
Comment[ss]=Umniningwane wesichubi
Comment[sv]=Processorinformation
Comment[ta]=செயல்முறை தகவல்
Comment[te]=ప్రాసెసర్ సమాచారం
Comment[tg]=Иттилооти Протсессор
Comment[th]=ข้อมูลหน่วยประมวลผล
Comment[tr]=İşlemci hakkında bilgi
Comment[tt]=Processor turında
Comment[uk]=Інформація щодо процесора
Comment[uz]=Protsessor haqida maʼlumot
Comment[uz@cyrillic]=Процессор ҳақида маълумот
Comment[ven]=Mafhungo a mubveledzi
Comment[vi]=Thông tin về bộ vi xử lý
Comment[wa]=Informåcion sol processeu
Comment[xh]=Inkcukacha yenkcukacha
Comment[zh_CN]=处理器信息
Comment[zh_TW]=處理器資訊
Comment[zu]=Ulwazi lomqhubekisi

Keywords=Processor;CPU;FPU;MHz;System Information;
Keywordsaf=Processor;CPU;FPU;MHz;System Informasie;
Keywordsar=المعالج;CPU;FPU;MHz;معلومات النظام;
Keywordsaz=İşlədici;MİB;FPU;MHz;Sistem Haqqında Mə'lumat;
Keywordsbe=Працэсар;МГц;Сістэмная інфармацыя;Processor;CPU;FPU;MHz;System Information;
Keywordsbg=информация; система; системна; процесор; Processor; CPU; FPU; MHz; System Information;
Keywordsbr=Kewerier;UTK;UNS;MHz;titouroù reizhiad;
Keywordsbs=Processor;CPU;FPU;MHz;System Information;procesor;informacije o sustavu;
Keywordsca=Processador;CPU;FPU;MHz;Informació del sistema;
Keywordscs=Procesor;CPU;FPU;MHz;Informace o systému;
Keywordscsb=procesora;CPU;JAL;FPU;MHz;wëdowiédzô ò systemie;
Keywordscy=Prosesydd;CPU;FPU;MHz;Gwybodaeth Cysawd;
Keywordsda=Processor;CPU;FPU;MHz;Systeminformation;
Keywordsde=Prozessor;CPU;FPU;MHz;Systeminformation;
Keywordsel=Επεξεργαστής;KME;FPU;Πληροφορίες συστήματος;
Keywordseo=procezilo;CPU;FPU;MHz;frekvenco;sistemo;operaciumo;informo;
Keywordses=Procesador;CPU;FPU;MHz;Información del sistema;
Keywordset=Protsessor;CPU;FPU;MHz;Süsteemi info;
Keywordseu=Prozesagailua;CPU;FPU;MHz;Sistemaren informazioa;
Keywordsfa=پردازنده، واحد پردازش مرکزی، FPU، مگاهرتز، اطلاعات سیستم;
Keywordsfi=Prosessori;CPU;FPU;MHz;Järjestelmätiedot;
Keywordsfr=processeur;CPU;FPU;MHz;informations système;cpu;
Keywordsfy=Processor;Ferwurkingsienheid;CPU;FPU;MHz;Systeemynformaasje;
Keywordsga=Próiseálaí;CPU;LAP;FPU;MHz;Eolas faoin Chóras;
Keywordsgl=Procesador;CPU;FPU;MHz;Información do Sistema;
Keywordshe=FPU;מעבד;מעבד מתמטי;מגה־הרץ;מידע מערכת;System Information;
Keywordshi=प्रोसेसर;सीपीयू;एफपीयू;एमएचज़ेड;तंत्र जानकारी;
Keywordshr=Processor;CPU;FPU;MHz;System Information;procesor;Podaci o sustavu;
Keywordshu=processzor;CPU;FPU;MHz;rendszerinformáció;
Keywordsid=Prosesor;CPU;FPU;MHz;Informasi Sistem;
Keywordsis=örgjörvi;örgjörfi;Gjörvi;kerfi;upplýsingar;CPU;MHz;FPUz;
Keywordsit=processore;CPU;FPU;MHz;informazioni sul sistema;
Keywordsja=プロセッサ;CPU;FPU;MHz;システムの情報;
Keywordska=პროცესორი;CPU;FPU;MHz;ინფორმაცია სისტემის შესახებ;
Keywordskm=ខួរក្បាល;CPU;FPU;MHz;ព័ត៌មាន​ប្រព័ន្ធ;
Keywordslo=ໂພຣເຊັດເຊີ;CPU;FPU;MHz;ຂໍ້ມູນຂອງລະບົບ;
Keywordslt=Procesorius;CPU;FPU;MHz;Sistemos Informacija;
Keywordslv=Procesors;CPU;FPU;MHz;Sistēmas Informācija;
Keywordsmk=Processor;CPU;FPU;MHz;System Information;Процесор;Информации за системот;
Keywordsmn=Процессор;CPU;FPU;MHz;Системийн мэдээлэл;
Keywordsms=Pemproses;CPU;FPU;MHz;Maklumat Sistem;
Keywordsnb=Prosessor;CPU;FPU;Sentralenhet;MHz;Systeminformasjon;
Keywordsnds=Perzesser;CPU;FPU;MHz;Systeeminformatschoon;
Keywordsne=प्रोसेसर; सीपीयू; एफपीयू; एमएचजेड; प्रणाली सूचना;
Keywordsnl=processor;CPU;FPU;MHz;systeeminformatie;
Keywordsnn=prosessor;CPU;FPU;MHz;systeminformasjon;
Keywordsnso=Mophethagatsi;CPU;FPU;MHz;Tshedimoso ya System;
Keywordsoc=Processador;CPU;FPU;MHz;Informacion dèu sistemo;
Keywordspa=ਪਰੋਸੈਸਰ;CPU;FPU;MHz;ਸਿਸਟਮ ਜਾਣਕਾਰੀ;
Keywordspl=procesor;CPU;JAL;FPU;MHz;informacja o systemie;
Keywordspt=processador;CPU;FPU;MHz;informações do sistema;
Keywordspt_BR=Processador;CPU;FPU;MHz;Informações de sistema;
Keywordsro=procesor;microprocesor;CPU;FPU;MHz;informații despre sistem;
Keywordsrw=Munonosora;CPU;FPU;MHz;Amakuru Sisitemu;
Keywordsse=Doaimmár;CPU;FPU;MHz;vuogádatdieđut;
Keywordssk=Procesor;CPU;FPU;MHz;Systémové Informácie;
Keywordssl=procesor;CPE;CPU;FPU;MHz;informacije o sistemu;
Keywordssr=Processor;CPU;FPU;MHz;System Information;процесор;системске информације;
Keywordssr@Latn=Processor;CPU;FPU;MHz;System Information;procesor;sistemske informacije;
Keywordssv=Processor;CPU;FPU;MHz;Systeminformation;
Keywordsta=செயலி;CPU;FPU;MHz;அமைப்புத் தகவல்;
Keywordste=ప్రాసెసర్; సిపియు; ఎఫ్ పి యు; ఎం హెర్జ్; వ్యవస్థ సమాచారం;
Keywordsth=โพรเซสเซอร์;หน่วยประมวลผล;CPU;FPU;MHz;ข้อมูลระบบ;
Keywordstr=İşlemci;MİB;FPU;MHz;Sistem Hakkında Bilgi;
Keywordsuk=процесор;CPU;FPU;МГц;системна інформація;
Keywordsuz=Protsessor;CPU;FPU;MGs;Tizim haqida maʼlumot;
Keywordsuz@cyrillic=Процессор;CPU;FPU;МГц;Тизим ҳақида маълумот;
Keywordsven=Mubveledzi;CPU;FPU;MHz;Mafhungo a sisitemu;
Keywordsvi=Bộ vi xử lý;CPU;FPU;Mhz;Thông tin Hệ thống;
Keywordswa=Processeu;CPU;FPU;MHz;informåcion do sistinme;
Keywordsxh=Umqhubekekisi;CPU;FPU;MHz;Inkcukacha Yendlela yokusebenza;
Keywordszh_CN=Processor;CPU;FPU;MHz;System Information;处理器;系统信息;
Keywordszh_TW=Processor;CPU;FPU;MHz;System Information;處理器;中央處理器;浮點運算器;系統資訊;
Keywordszu=Umqhubekisi;CPU;FPU;MHz;Ulwazi Lwesistimu;
Categories=Qt;TDE;X-TDE-settings-information;

