[Desktop Entry]
Encoding=UTF-8
Icon=media-optical-cdwriter-encrypted
Type=MimeType
MimeType=media/cd-rw_unmounted_encrypted
Comment=Unmounted Encrypted CD-RW
Comment[de]=Nicht eingebundener, entschlüsselter CD-RW
Patterns=

X-TDE-AutoEmbed=true
X-TDE-IsAlso=inode/directory
