[Desktop Entry]
Encoding=UTF-8
Icon=cdwriter_unmount_decrypt
Type=MimeType
MimeType=media/cd-r_unmounted_decrypted
Comment=Unmounted Decrypted CD-R
Comment[de]=Nicht eingebundener, entschlüsselter CD-R
Patterns=

X-TDE-AutoEmbed=true
X-TDE-IsAlso=inode/directory
