[Desktop Entry]
Encoding=UTF-8
Icon=media-optical-cdwriter-mounted_decrypt
Type=MimeType
MimeType=media/cd-rw_mounted_decrypted
Comment=Mounted Decrypted CD-RW
Comment[de]=Eingebundener, entschlüsselter CD-RW
Patterns=

X-TDE-AutoEmbed=true
X-TDE-IsAlso=inode/directory
