[Desktop Entry]
Encoding=UTF-8
Icon=media-optical-cdwriter-encrypted
Type=MimeType
MimeType=media/cd-r_unmounted_encrypted
Comment=Unmounted Encrypted CD-R
Comment[de]=Nicht eingebundener, entschlüsselter CD-R
Patterns=

X-TDE-AutoEmbed=true
X-TDE-IsAlso=inode/directory
