[Desktop Entry]
Encoding=UTF-8
Icon=cdwriter_unmount_encrypt
Type=MimeType
MimeType=media/cdwriter_unmounted_encrypted
Comment=Unmounted Encrypted CD Writer
Comment[de]=Nicht eingebundener, entschlüsselter CD-Brenner
Patterns=

X-TDE-AutoEmbed=true
X-TDE-IsAlso=inode/directory
