[Desktop Entry]
Encoding=UTF-8
Icon=cdwriter_mount_decrypt
Type=MimeType
MimeType=media/cdwriter_mounted_decrypted
Comment=Mounted Decrypted CD Writer
Comment[de]=Eingebundener, entschlüsselter CD-Brenner
Patterns=

X-TDE-AutoEmbed=true
X-TDE-IsAlso=inode/directory
