[Desktop Entry]
Encoding=UTF-8
Icon=media-optical-dvd_decrypt
Type=MimeType
MimeType=media/dvd_unmounted_decrypted
Comment=Unmounted Decrypted DVD
Comment[de]=Nicht eingebundene, entschlüsselte DVD
Patterns=

X-TDE-AutoEmbed=true
X-TDE-IsAlso=inode/directory
