[Desktop Entry]
Encoding=UTF-8
Icon=dvd_unmount_encrypt
Type=MimeType
MimeType=media/dvd_unmounted_encrypted
Comment=Unmounted Encrypted DVD
Comment[de]=Nicht eingebundene, verschlüsselte DVD
Patterns=

X-TDE-AutoEmbed=true
X-TDE-IsAlso=inode/directory
