[Desktop Entry]
Encoding=UTF-8
Icon=drive-harddisk-encrypted
Type=MimeType
MimeType=media/hdd_unmounted_encrypted
Comment=Unmounted Encrypted Hard Disk Volume
Comment[de]=Nicht eingebundene, verschlüsselte Festplattenpartition
Patterns=

X-TDE-AutoEmbed=true
X-TDE-IsAlso=inode/directory
