[Desktop Entry]
Icon=folder_wordprocessing
Type=MimeType
MimeType=media/builtin-mydocuments
Comment=My Documents
Patterns=My_Documents

X-TDE-AutoEmbed=false
