[Desktop Entry]
Encoding=UTF-8
Icon=media-flash-usb_encrypt
Type=MimeType
MimeType=media/removable_unmounted_encrypted
Comment=Unmounted Encrypted Removable Medium
Comment[de]=Nicht eingebundenes, verschlüsseltes Wechsellaufwerk
Patterns=

X-TDE-AutoEmbed=true
X-TDE-IsAlso=inode/directory
