[Desktop Entry]
Encoding=UTF-8
Icon=media-flash-usb-decrypted
Type=MimeType
MimeType=media/removable_unmounted_decrypted
Comment=Unmounted Decrypted Removable Medium
Comment[de]=Nicht eingebundenes, entschlüsseltes Wechsellaufwerk
Patterns=

X-TDE-AutoEmbed=true
X-TDE-IsAlso=inode/directory
