[Desktop Entry]
Exec=kcontrol -caption "%c" %i %m
Icon=kcontrol
Type=Application
DocPath=kcontrol/index.html
X-TDE-StartupNotify=true

Name=Trinity Control Center
Name[ca]=Centre de control del TDE
Name[cs]=Ovládací centrum TDE
Name[da]=TDE Kontrolcenter
Name[de]=TDE Kontrollzentrum
Name[en_GB]=TDE Control Centre
Name[es]=Centro de control de TDE
Name[et]=TDE Juhtimiskeskus
Name[eu]=TDE Kontrol gunea
Name[fa]=مرکز کنترل
Name[fi]=TDE:Ohjauskeskus
Name[fr]=Centre de configuration de TDE
Name[fy]=Konfiguraasjesintrum
Name[ga]=Lárionad Rialaithe TDE
Name[gl]=Centro de Control TDE
Name[he]=מרכז הבקרה TDE
Name[hu]=TDE Vezérlőpult
Name[it]=Centro di controllo TDE
Name[kk]=TDE Басқару орталығы
Name[km]=មជ្ឈមណ្ឌល​បញ្ជា TDE
Name[ko]=TDE 제어판 모듈
Name[lt]=TDE Valdymo centras
Name[lv]=TDE Vadības Centrs
Name[nb]=TDE Kontrollpanel
Name[nds]=TDE-Kuntrullzentrum
Name[nl]=TDE-Configuratiecentrum
Name[pa]=TDE ਕੰਟਰੋਲ ਕੇਂਦਰ
Name[pl]=Centrum sterowania TDE
Name[pt]=Centro de Controlo TDE
Name[pt_BR]=Centro de Controle TDE
Name[ro]=TDE Centrul de control
Name[ru]=Центр управления TDE
Name[sk]=Ovládacie Centrum TDE
Name[sl]=TDE-Nadzorno središče
Name[sr@Latn]=TDE Kontrolni centar
Name[sv]=TDE:Inställningscentralen
Name[tr]=TDE Kontrol Merkezi
Name[uk]=Центр керування TDE
Name[vi]=Trung tâm Điều khiển TDE
Name[zh_CN]=TDE 控制中心
Name[zh_TW]=TDE 控制中心

X-DCOP-ServiceType=Unique
Categories=Qt;TDE;Settings;
NotShowIn=TDE;
