[Desktop Entry]
Exec=tdecmshell htmlsearch
Icon=help_index
Type=Application
X-DocPath=kcontrol/help-index.html

X-TDE-ModuleType=Library
X-TDE-Library=htmlsearch
X-TDE-FactoryName=htmlsearch
X-TDE-ControlModuleType=User

Name=Index
Name[af]=Indeks
Name[ar]=الفهرس
Name[az]=İndeks
Name[be]=Індэкс
Name[bg]=Индекс
Name[bn]=সূচি
Name[br]=Meneger
Name[bs]=Indeks
Name[ca]=Índex
Name[cs]=Rejstřík
Name[csb]=Indeks
Name[cy]=Mynegai
Name[da]=Indeks
Name[de]=Stichwortverzeichnis
Name[el]=Ευρετήριο
Name[eo]=Indekso
Name[es]=Índice
Name[et]=Indeks
Name[eu]=Indizea
Name[fa]=نمایه
Name[fi]=Hakemisto
Name[fy]=Yndeks
Name[ga]=Innéacs
Name[gl]=Índice
Name[he]=אינדקס
Name[hi]=सूची
Name[hr]=Indeks
Name[hu]=Keresési index
Name[id]=Indeks
Name[is]=Yfirlit
Name[it]=Indice
Name[ja]=インデックス
Name[ka]=ინდექსი
Name[kk]=Индекс
Name[km]=លិបិក្រម
Name[ko]=찾아보기
Name[lo]=ດັດສະນີ
Name[lt]=Rodyklė
Name[lv]=Indekss
Name[mk]=Индекс
Name[mn]=Товчоон
Name[ms]=Indeks
Name[mt]=Indiċi
Name[nb]=Indeks
Name[ne]=अनुक्रमणिका
Name[nn]=Indeks
Name[nso]=Palo ya Bangwadi
Name[pa]=ਤਤਕਰਾ
Name[pl]=Indeks
Name[pt]=Índice
Name[pt_BR]=Índice
Name[ru]=Индекс
Name[rw]=Umubarendanga
Name[se]=Indeaksa
Name[sk]=Katalóg
Name[sl]=Indeks
Name[sr]=Индекс
Name[sr@Latn]=Indeks
Name[ss]=Indzikimba
Name[ta]=பொருளடக்கம்
Name[te]=సూచిక
Name[tg]=Феҳрист
Name[th]=ดัชนี
Name[tr]=İndeks
Name[tt]=İsemlek
Name[uk]=Індекс
Name[uz]=Indeks
Name[uz@cyrillic]=Индекс
Name[ven]=Mafhelelo a bugu
Name[vi]=Danh mục
Name[wa]=Indecse
Name[xh]=Isalathiso
Name[zh_CN]=索引
Name[zh_TW]=索引
Name[zu]=Uhlelo lokuqukethwe

Comment=Index generation
Comment[af]=Indeks genereering
Comment[ar]=توليد الفهارس
Comment[az]=İndeks yaratma
Comment[be]=Стварэнне індэксу
Comment[bg]=Създаване на индекс
Comment[bn]=সূচি উত্‍পাদন
Comment[br]=Genel ar meneger
Comment[bs]=Pravljenje indeksa
Comment[ca]=Generació de l'índex
Comment[cs]=Vytvoření rejstříku
Comment[csb]=Generowanié indeksu
Comment[cy]=Cynhyrchu mynegai
Comment[da]=Indeksgenerering
Comment[de]=Erstellung des Stichwortverzeichnisses
Comment[el]=Δημιουργία περιεχομένων
Comment[eo]=Indekskreado
Comment[es]=Generación del índice
Comment[et]=Indeksi tekitamine
Comment[eu]=Indizea sortu
Comment[fa]=تولید نمایه
Comment[fi]=Hakemiston luonti
Comment[fr]=Génération d'index
Comment[fy]=Yndeksgeneraasje
Comment[gl]=Xeración de Índices
Comment[he]=יצירת אינדקס
Comment[hi]=सूची बनाएँ
Comment[hr]=Generiranje indeksa
Comment[hu]=Index létrehozása
Comment[id]=Pembuatan Index
Comment[is]=Yfirlitsgerð
Comment[it]=Generazione dell'indice
Comment[ja]=インデックスを生成
Comment[ka]=ინდექსის შექმნა
Comment[kk]=Индексті құру
Comment[km]=ការ​បង្កើត​លិបិក្រម
Comment[ko]=찾아보기 생성
Comment[lo]=ສ້າງດັດສະນີ
Comment[lt]=Rodyklės generavimas
Comment[lv]=Indeksa ģenerēšana
Comment[mk]=Генерирање на индекс
Comment[mn]=Товчоон үүсгэх
Comment[ms]=Penjanaan indeks
Comment[mt]=Ġenerazzjoni tal-Indiċi
Comment[nb]=Indekslaging
Comment[nds]=Index maken
Comment[ne]=अनुक्रमणिका उत्पादन
Comment[nl]=Indexgeneratie
Comment[nn]=Indekslaging
Comment[nso]=Thlagiso ya Palo ya Bangwadi
Comment[oc]=Generacion de l'index
Comment[pa]=ਤਤਕਰਾ ਬਣਾਓ
Comment[pl]=Generowanie indeksu
Comment[pt]=Geração de índices
Comment[pt_BR]=Geração de índice
Comment[ro]=Generează indexul
Comment[ru]=Создание индекса
Comment[rw]=Irema ry'Umubarendanga 
Comment[se]=Indeaksaráhkadeapmi
Comment[sk]=Generovanie katalógu
Comment[sl]=Ustvarjanje indeksa
Comment[sr]=Генерисање индекса
Comment[sr@Latn]=Generisanje indeksa
Comment[sv]=Indexskapare
Comment[ta]=பொருளடக்க இயக்கம்
Comment[te]=సూచిక ను తయారుచెయుట
Comment[tg]=Эҷоди феҳрист
Comment[th]=สร้างดัชนี
Comment[tr]=İndeks oluşturma
Comment[tt]=İsemlek ürçetü
Comment[uk]=Утворення індексу
Comment[uz]=Indeksni yaratish
Comment[uz@cyrillic]=Индексни яратиш
Comment[ven]=Murafho wa Index
Comment[vi]=Tạo danh mục
Comment[wa]=Ahiver l' indecse
Comment[xh]=Ulwenziwo Lwesalathiso
Comment[zh_CN]=索引生成
Comment[zh_TW]=產生索引
Comment[zu]=Ukugaywa kohlelo lokuqukethwe

Keywords=Help;HTML;Search;Index;htdig;htsearch;htmerge;Scope;Language;
Keywordsar=مساعدة;HTML;بحث;فهرس;htdig;htsearch;htmerge;Scope;اللغة;
Keywordsaz=Yardım;HTML;Axtar;İndeks;htdig;htmerge;Dil;
Keywordsbe=Дапамога;Даведка;Пошук;Індэкс;Мова;Help;HTML;Search;Index;htdig;htsearch;htmerge;Scope;Language;
Keywordsbg=помощ; индекс; търсене; обхват; език; Help; HTML; Search; Index; htdig; htsearch; htmerge; Scope; Language;
Keywordsca=Ajuda;HTML;Cerca;Índex;htdig;htsearch;htmerge;Scope;Llengua;
Keywordscs=Nápověda;HTML;Hledat;Index;htdig;htsearch;htmerge;Rejstřík;Jazyk;Rozsah;
Keywordscsb=pòmòc;HTML;szëkôj;szëkba;indeks;htdig;htsearch;htmerge;òbjim;jãzëk;
Keywordscy=Cymorth;HTML;Chwilio;Mynegai;htdig;htsearch;htmerge;Amrediad;Iaith  ;
Keywordsda=Hjælp;HTML;Søg;Indeks;htdig;htsearch;htmerge;Scope;Sprog;
Keywordsde=Hilfe;HTML;Suche;Index;Stichwortverzeichnis;htdig;Sprachen;
Keywordsel=Βοήθεια;HTML;Αναζήτηση;Ευρετήριο;htdig;htsearch;htmerge;Scope;Γλώσσα;
Keywordseo=helpo;HTML;serĉo;indekso;htdig;htsearch;htmerge;areo;lingvo;
Keywordses=Ayuda;HTML;Búsqueda;Índice;htdig;htsearch;htmerge;Ámbito;Idioma;
Keywordset=abi;HTML;otsing;indeks;htdig;htsearch;htmerge;skoop;keel;
Keywordseu=Laguntza;HTML;Bilatu;Indizea;htdig;htsearch;htmerge;Scope;Hizkuntza;
Keywordsfa=کمک، زنگام، جستجو، نمایه، htdig، htsearch، htmerge، دامنه، زبان;
Keywordsfi=Ohje;HTML;Etsi;Indeksi;htdig;htsearch;htmerge;Kieli;
Keywordsfr=aide;HTML;recherche;index;htdig;htsearch;htmerge;pays;langue;
Keywordsfy=help;html;zoeken;sykje;yndeks;htdig;htsearch;htmerge;scope;taal;
Keywordsga=Cabhair;HTML;Cuardach;Innéacs;htdig;htsearch;htmerge;Scóip;Teanga;
Keywordsgl=Axuda;HTML;Procura;Índice;htdig;htsearch;htmerge;Scope;Lingua;
Keywordshe=עזרה;HTML;חיפוש;אינדקס;htdig;htsearch;htmerge;טווח;שפה;Help;Search;Index;htdig;htsearch;htmerge;Scope;Language;
Keywordshi=मदद;एचटीएमएल;खोज;तालिका;एचटीडिक;एचटीसर्च;एचटीमर्ज;स्कोप;भाषा;
Keywordshr=Help;HTML;Search;Index;htdig;htsearch;htmerge;Scope;Language;Pomoć;Pretraživanje;Traži;Pretraga;Indeks;Opseg;Raspon;Jezik;
Keywordshu=segítség;HTML;keresés;index;htdig;htsearch;htmerge;érvényességi kör;nyelv;
Keywordsid=Bantuan;HTML;Cari;Indeks;htdig;htsearch;htmerge;Scope;Language;
Keywordsis=Hjálp;HTML;leit;yfirlit;htdig;svæði;tungumál;
Keywordsit=aiuto;HTML;cerca;indice;htdig;htsearch;htmerge;scope;lingua;
Keywordsja=ヘルプ;HTML;検索;インデックス;htdig;htsearch;htmerge;スコープ;言語;
Keywordskm=ជំនួយ;HTML;ស្វែងរក;លិបិក្រម;htdig;htsearch;htmerge;វិសាលភាព;ភាសា;
Keywordslo=ຊ່ວຍເຫລືອ;HTML;ຄົ້ນຫາດັດສະນີ;htdig;htsearch;htmerge;Scope;ພາສາ;
Keywordslt=Pagalba;HTML;Paieška;Sąrašas;htdig;htsearch;htmerge;Sritis;Kalba;
Keywordslv=Palīdzība;HTML;Meklēt;Indekss;htdig;htsearch;htmerge;Mērķis;Valoda;
Keywordsmk=Help;HTML;Search;Index;htdig;htsearch;htmerge;Scope;Language; Помош;Пребарувај;Индекс;Опфат;Јазик;
Keywordsmn=Тусламж;HTML;Хайх;Товчоо;Товчоон;htdig;Хэлүүд;
Keywordsmt=Help;HTML;Search;Index;htdig;htsearch;htmerge;Scope;Language;Għajnuna;Fittex;Indiċi;
Keywordsnb=Hjelp;HTML;Søk;Indeks;htdig;htsearch;htmerge;språk;
Keywordsnds=Hülp;HTML;Söken;Index;htdig;htsearch;htmerge;Scope;Spraak;
Keywordsne=मद्दत;HTML; खोजी; अनुक्रमणिका;htdig;htsearch;htmerge; क्षेत्र; भाषा;
Keywordsnl=help;html;zoeken;index;htdig;htsearch;htmerge;scope;taal;
Keywordsnn=hjelp;HTML;søk;indeks;htdig;htmerge;område;språk;
Keywordsnso=Thuso;HTML;Nyako;Palo ya Bangwadi;htdig;htnyako;htmerge;Scope;Leleme;
Keywordspa=ਸਹਾਇਤਾ;HTML;Index;htdig;htsearch;htmerge;Scope;ਭਾਸ਼ਾ;ਖੋਜ;
Keywordspl=pomoc;HTML;szukaj;indeks;htdig;htsearch;htmerge;zakres;język;
Keywordspt=ajuda;html;procura;índice;htdig;htsearch;htmerge;âmbito;língua;
Keywordspt_BR=Ajuda;HTML;Procurar;Índice;htdig;htsearch;htmerge;escopo;idioma;
Keywordsro=ajutor;HTML;căutare;index;htdig;htsearch;htmerge;domeniu;limbaj;
Keywordsrw=Ifashayobora;HTML;Ishakisha;htgucukura;htgushakisha;htgukomatanya;Igishushanyombonera;Ururimi;
Keywordsse=veahkki;HTML;ohcan;indeaksa;indeksa;htdig;htmerge;gaska;giella;
Keywordssk=Pomoc;HTML;Hľadať;Katalóg;Index;htdig;htsearch;htmerge;rozsah;jazyk;Pomocník;
Keywordssl=Pomoč;HTML;iskanje;indeks;htdig;htsearch;htmerge;doseg;jezik;
Keywordssr=Help;HTML;Search;Index;htdig;htsearch;htmerge;Scope;Language;помоћ;претрага;индекс;језик;опсег;
Keywordssr@Latn=Help;HTML;Search;Index;htdig;htsearch;htmerge;Scope;Language;pomoć;pretraga;indeks;jezik;opseg;
Keywordssv=Hjälp;HTML;Sök;Index;htdig;htsearch;htmerge;Omfång;Språk;
Keywordsta=உதவி;HTML;தேடு;பொருளடக்கம்;htdig;htதேடு;htகல;வரையெல்லை;மொழி;
Keywordste=సహాయం;హెచ్ టి ఎంఎల్;అన్వెషణ; సూచిక; హెచ్ టి డిగ్;హెచ్ టి అన్వెషణ;హెచ్ టి కలుపు; లక్ష్యము; భాష.;
Keywordsth=ช่วยเหลือ;HTML;ค้นหา;ดัชนี;htdig;htsearch;htmerge;Scope;ภาษา;
Keywordstr=Yardım;HTML;Ara;İndeks;htdig;htmerge;Dil;
Keywordsuk=довідка;HTML;пошук;індекс;htdig;контекст;мова;htsearch;htmerge;
Keywordsuz=Yordam;HTML;Qidirish;Indeks;htdig;htsearch;htmerge;Til;
Keywordsuz@cyrillic=Ёрдам;HTML;Қидириш;Индекс;htdig;htsearch;htmerge;Тил;
Keywordsven=Thuso;HTML;Toda;Mafhelelo;bwa ha ht;toda ha ht;thanganyo ya ht;zwaphanda;luambo;
Keywordsvi=Trợ giúp;HTML;Tìm kiếm;danh sách;htdig;htsearch;htmerge;Phạm vi;Ngôn ngữ;
Keywordswa=Aide;Aidance;HTML;Trover;Indecse;htdig;htsearch;htmerge;Scope;Lingaedje;
Keywordsxh=Uncedo;HTML;Phendla;Isalathiso;htdig;htsearch;htmerge;Scope;Ulwimi;
Keywordszh_CN=Help;HTML;Search;Index;htdig;htsearch;htmerge;Scope;Language;帮助;查找;索引;范围;语言;
Keywordszh_TW=Help;HTML;Search;Index;htdig;htsearch;htmerge;Scope;Language;求助;搜尋;索引;語言;
Keywordszu=Usizo;HTML;Usesho;Uhlelo lokuqukethwe;htdig;htsearch;htmerge; Indawo elinganiselwe;Ulimi;
Categories=Qt;TDE;X-TDE-settings-system;
