[Desktop Entry]
Icon=kcmkwm
Type=Application
Exec=tdecmshell twintranslucency
X-DocPath=kompmgr/index.html

X-TDE-ModuleType=Library
X-TDE-Library=twinoptions
X-TDE-FactoryName=twintranslucency

Name=Translucency
Name[af]=Deursigtigheid
Name[ar]=الشفافية
Name[be]=Празрыстасць
Name[bg]=Полупрозрачност
Name[bn]=সমস্বচ্ছতা
Name[br]=Treuzwel
Name[bs]=Prozirnost
Name[ca]=Translucidesa
Name[cs]=Průhlednost
Name[csb]=Przezérnota
Name[da]=Gennemsigtighed
Name[de]=Transparenz
Name[el]=Hμιδιαφάνεια
Name[eo]=Travidebleco
Name[es]=Translúcido
Name[et]=Läbipaistvus
Name[eu]=Gardentasuna
Name[fa]=نیمۀ شفافی
Name[fi]=Läpikuultavuus
Name[fr]=Transparence
Name[fy]=Trochsichtichheid
Name[ga]=Tréshoilseacht
Name[gl]=Translucidez
Name[he]=שקיפות
Name[hr]=Prozirnost
Name[hu]=Áttetszőség
Name[id]=Tembus Pandang
Name[is]=Gegnsæi
Name[it]=Trasparenza
Name[ja]=透過性
Name[ka]=ნახევრადგამჭირვალეობა
Name[kk]=Мөлдірлігі
Name[km]=ភាព​ថ្លា
Name[ko]=반투명
Name[lt]=Permatomumas
Name[mk]=Провидност
Name[nb]=Gjennomsiktighet
Name[nds]=Dörschienen
Name[ne]=स्वच्छता
Name[nl]=Transparantie
Name[nn]=Gjennomsiktig
Name[pa]=ਪਾਰਦਰਸ਼ੀ
Name[pl]=Przezroczystość
Name[pt]=Transparência
Name[pt_BR]=Translúcido
Name[ro]=Translucență
Name[ru]=Полупрозрачность
Name[rw]=Ukujyakwijima
Name[se]=Čađačuovgi
Name[sk]=Priesvitnosť
Name[sl]=Prosojnost
Name[sr]=Прозирност
Name[sr@Latn]=Prozirnost
Name[sv]=Genomskinlighet
Name[ta]=ஒளிகசிவு
Name[th]=ความโปร่งแสง
Name[tr]=Şeffaflık
Name[tt]=Ütäkürenü
Name[uk]=Прозорість
Name[uz]=Shaffoflik
Name[uz@cyrillic]=Шаффофлик
Name[vi]=Đục & Trong
Name[wa]=Translucidaedje
Name[zh_CN]=透明度
Name[zh_TW]=透明度

Comment=Configure window translucency and shadow management
Comment[af]=Stel die venster deursigtigheid en skaduwee op
Comment[ar]=إعداد تدبيرات شفافية و تظليل النافذة
Comment[be]=Настаўленні празрыстасці вокнаў і кіраванне ценем
Comment[bg]=Настройване на полупрозрачността и сенките на прозорците
Comment[bn]=উইণ্ডোর সমস্বচ্ছতা এবং ছায়া কনফিগার করুন
Comment[bs]=Podesite prozirnost prozora i podesite sjenke
Comment[ca]=Configura la translucidesa de finestres i gestiona l'ombra
Comment[cs]=Nastavení průhlednosti a stínování oken
Comment[csb]=Kònfigùracëjô przezérnotë ë ceniów òknów
Comment[da]=Indstil vinduets gennemsigtighed og skyggehåndtering
Comment[de]=Einrichtung der Fenstertransparenz und Schatten
Comment[el]=Ρύθμιση ημιδιαφάνειας παραθύρου και διαχείρισης σκίασης
Comment[eo]=Agordu administradon de fenestro-travidebleco kaj ombreco.
Comment[es]=Configurar la opacidad de la ventana y gestión de sombra
Comment[et]=Akende läbipaistvuse ja varjude seadistamine
Comment[eu]=Konfiguratu leiho gardentasunak eta itzalen kudeaketa
Comment[fa]=پیکربندی مدیریت نیمۀ شفافی و سایۀ پنجره
Comment[fi]=Muokkaa ikkunoinnin läpikuultavuus ja varjostus
Comment[fr]=Configuration de la transparence et de l'ombre des fenêtres
Comment[fy]=Finstertrochsichtichheid- en -skaadbehear ynstelle
Comment[ga]=Cumraigh tréshoilseacht na fuinneoige agus bainisteoireacht scátha
Comment[gl]=Configurar a xestión de sombras e translucidez das fiestras
Comment[he]=תצורה של שקיפות החלונות וניהול ההצללות
Comment[hr]=Konfiguriranje prozirnosti prozora i upravljanje sjenčanjem
Comment[hu]=Az ablakkezelés áttetszőségi és árnyékolási beállításai
Comment[is]=Stilla gegnsæi glugga og sýsla með skugga
Comment[it]=Configura la trasparenza e le ombre delle finestre
Comment[ja]=ウィンドウの透過性と影の設定
Comment[ka]=ფანჯრების გამჭირვალობის და ჩრდილების კონფიგურაცია
Comment[kk]=Терезенің мөлдірлігін және көлеңкесін баптау
Comment[km]=កំណត់​រចនាសម្ព័ន្ធ​ការ​គ្រប់គ្រង​ភាព​ថ្លា និង​ស្រមោល​របស់​បង្អួច
Comment[lt]=Konfigūruoti langų permatomumą ir šešėlius
Comment[mk]=Конфигурирајте ги провидноста на прозорците и менаџментот на сенки
Comment[nb]=Tilpass behandling av vindusgjennomsiktighet og -skygge
Comment[nds]=Finsterdörschienen un -Schadden instellen
Comment[ne]=सञ्झ्याल स्वच्छता र छायाँ व्यवस्थापन कन्फिगर गर्नुहोस्
Comment[nl]=Venstertransparantie- en -schaduwbeheer instellen
Comment[nn]=Oppsett av gjennomsiktige vindauge og vindaugsskugge
Comment[pa]=ਝਰੋਖਾ ਪਾਰਦਰਸਤਾ ਅਤੇ ਛਾਂ ਪਰਬੰਧਨ ਸੰਰਚਨਾ
Comment[pl]=Konfiguracja przezroczystości i cieni okien
Comment[pt]=Configuração da transparência e sombras de janelas
Comment[pt_BR]=Configura o gerenciamento de sombra e transparência da janela
Comment[ro]=Configurează translucența și umbra ferestrelor
Comment[ru]=Настройка полупрозрачности и теней окна
Comment[rw]=Kuboneza ubuyobozi bw'ukujyakubonerana n'igicucu by'idirishya
Comment[se]=Heivet lášečađačuovgivuođa ja suoivvanasgieđaheami
Comment[sk]=Nastavenie priesvitnosti okien a správcu tieňovania
Comment[sl]=Nastavitve prosojnosti oken in upravljanje s sencami
Comment[sr]=Подешавање прозирности прозора и управљање сенкама
Comment[sr@Latn]=Podešavanje prozirnosti prozora i upravljanje senkama
Comment[sv]=Anpassa fönstergenomskinlighet och skugghantering
Comment[ta]=சாளர ஒளிகசிவு மற்றும் நிழல் மேலாண்மையை வடிவமை
Comment[th]=ปรับแต่งคุณสมบัติความโปร่งแสงและเงาของหน้าต่าง
Comment[tr]=Pencere şeffaflığını ve gölge yönetimini yapılandır
Comment[tt]=Täräzä ütäkürenüe belän külägäsen caylaw
Comment[uk]=Налаштування прозорості вікон та керування затіненням
Comment[uz]=Oynaning shaffofligini va soyasini moslash
Comment[uz@cyrillic]=Ойнанинг шаффофлигини ва соясини мослаш
Comment[vi]=Cấu hình độ đục và trong cùng với bóng râm của cửa sổ
Comment[wa]=Apontiaedje des fonccionålités translucides et d' ombe do manaedjaedje des purneas
Comment[zh_CN]=配置窗口透明度和阴影管理
Comment[zh_TW]=設定視窗透明度與陰影管理功能

Keywords=translucency;transparence;shadows;
Keywordsar=الشفافية;شفاف;أظلال;
Keywordsbe=Празрыстасць;Цені;translucency;transparence;shadows;
Keywordsbg=полупрозрачност; прозрачност; сянка; сенки; translucency; transparence; shadows;
Keywordsbs=translucency;transparence;shadows;providnost;sjene;sjenke;sjenka;
Keywordsca=translucidesa;transparència;ombres;
Keywordscs=průhlednost;průsvitnost;stín;
Keywordscsb=przezérnota;półprzezérnota;przeswiécëna;ceniô;cenie;
Keywordsda=gennemsigtighed;transparens;skygge;
Keywordsel=ημιδιαφάνεια;διαφάνεια;σκιές;
Keywordseo=Travidebleco; ombroj;
Keywordses=translucido;transparente;sombras;opacidad;
Keywordset=läbipaistvus;läbipaistev;vari;
Keywordseu=gardena;gardentasunak;itzalak;
Keywordsfa=نیمۀ شفافی، شفافیت، سایه‌ها;
Keywordsfi=läpikuultavuus; läpinäkyvyys; varjot;
Keywordsfr=translucidité;translucide;transparence;transparent;ombre;
Keywordsfy=translucency;trochsichtich;ransparantie;schaduwen;skaden;
Keywordsga=tréshoilseacht;gléine;scáthanna;
Keywordsgl=translucéncia;transparéncia;sombras;
Keywordshe=translucency;transparence;shadows;הצללה;צל;צללים;שקוף;שקיפות;
Keywordshr=translucency;transparence;shadows;prozirnost;sjene;providnost;
Keywordshu=áttetszőség;áttetsző;árnyékok;
Keywordsid=tembus pandang;transparan; bayangan;
Keywordsit=trasparenza;ombre;
Keywordsja=透過性;透明;影;
Keywordskm=ភាព​ថ្លា;ថ្លា;ស្រមោល;
Keywordslt=translucency;transparence;shadows;permatomumas;šešėliai;
Keywordsmk=translucency;transparence;shadows;провидност;проѕирност;сенки;
Keywordsnb=gjennomsiktighet;skygge;
Keywordsnds=Transparenz;Schadden;Dörschienen;
Keywordsne=स्वच्छता;पारदर्शीता;छायाँ;
Keywordsnl=translucency;transparantie;schaduwen;
Keywordsnn=gjennomsiktig;skugge;
Keywordspa=translucency;transparence;ਛਾਂ;
Keywordspl=przezroczystość;półprzezroczystość;prześwitywanie;cień;cienie;
Keywordspt=transparência;sombras;
Keywordspt_BR=translúcido;transparência;sombras;
Keywordsro=translucență;transparență;umbre;
Keywordsrw=ukujyakwijima;ukubonerana;ibicucu;
Keywordssl=prosojnost;prozornost;sence;
Keywordssr=translucency;transparence;shadows;провидност;сенке;
Keywordssr@Latn=translucency;transparence;shadows;providnost;senke;
Keywordssv=genomskinlighet;skuggor;
Keywordsta=ஒளிகசிவு;ஊடகத்தன்மை;நிழல்கள்;
Keywordsth=ความโปร่งแสง;ความโปร่งใส;เงา;
Keywordstr=şeffaflık;şeffaf;gölge;opak;opasite;
Keywordsuk=translucency;transparence;shadows;прозорість;напівпрозорість;тіні;
Keywordsuz=shaffof;soya;
Keywordsuz@cyrillic=шаффоф;соя;
Keywordsvi=mờ đục;trong suốt;bóng râm;
Keywordswa=translucency;transparince;translucide;translucidaedje;
Keywordszh_CN=透明度;阴影;translucency;transparence;shadows;
Keywordszh_TW=translucency;transparence;shadows;透明;陰影;
