[Desktop Entry]
Type=Application
Exec=konsole --type su
Icon=konsole
DocPath=konsole/index.html
MimeType=application/x-konsole;
Terminal=false

Name=Konsole
GenericName=Terminal Program - Super User Mode
GenericName[af]=Terminaal Program - Super Gebruiker Modus
GenericName[ar]=برنامج الشاشة الطرفيَة - نمط المستخدم الجذري
GenericName[az]=Terminal Programı - Ali İstifadəçi Modu
GenericName[be]=Тэрмінал - рэжым адміністратара
GenericName[bg]=Конзола - администратор
GenericName[bn]=টার্মিনাল প্রোগ্রাম - অ্যাডমিনস্ট্রেটর মোড
GenericName[br]=Gouvel termenell - Doare gourarveriad
GenericName[bs]=Terminalski program - Administratorski režim
GenericName[ca]=Programa de terminal - Mode superusuari
GenericName[cs]=Terminál - superuživatelský režim
GenericName[csb]=Terminal - Trib sprôwnika
GenericName[cy]=Rhaglen Derfynell - Modd Uwch-ddefnyddiwr
GenericName[da]=Terminalprogram (superbruger-tilstand)
GenericName[de]=Terminal (Systemverwaltungsmodus)
GenericName[el]=Πρόγραμμα τερματικού - Λειτουργία ως root
GenericName[eo]=Terminalprogramo - Superuzanta maniero
GenericName[es]=Programa de terminal - Modo de superusuario
GenericName[et]=Terminali rakendus (administraator)
GenericName[eu]=Terminaleko programa (root era)
GenericName[fa]=برنامۀ پایانه - حالت ابرکاربر
GenericName[fi]=Komentotulkki - pääkäyttäjätila
GenericName[fr]=Programme terminal - mode superutilisateur
GenericName[fy]=Terminalprogramma (yn systeembehearmodus)
GenericName[ga]=Clár Teirminéil - Mód Forúsáideora
GenericName[gl]=Programa de Terminal - Modo Super-Usuario
GenericName[he]=מסוף - מצב משתמש־על
GenericName[hi]=टर्मिनल प्रबंधक- सुपर यूज़र मोड
GenericName[hr]=Terminalski program - za administratora
GenericName[hu]=Konsole (rendszergazdai mód)
GenericName[is]=Skjáhermir (sem kerfisstjóri)
GenericName[it]=Programma emulazione terminale - modalità super utente
GenericName[ja]=ターミナルエミュレータ - スーパーユーザモード
GenericName[ka]=ტერმინალი - ზემომხმარებლის რეჟიმი
GenericName[kk]=Терминал (root құқықлы)
GenericName[km]=កម្មវិធី​ស្ថានីយ - របៀប​អ្នក​ប្រើ​ជាន់​ខ្ពស់
GenericName[ko]=파일 관리자 - 슈퍼유저 모드
GenericName[lt]=Terminalo programa – super naudotojo veiksena
GenericName[lv]=Termināla programma - Superlietotāja režīms
GenericName[mk]=Терминалска програма - режим root
GenericName[mn]=Терминал програм (Системийн удирдлагын-Горим)
GenericName[ms]=Program Terminal - Mod Pengguna Super
GenericName[mt]=Terminal (modalità Super User)
GenericName[nb]=Terminalprogram – superbrukermodus
GenericName[nds]=Terminalprogramm - Systeempleegbedrief
GenericName[ne]=टर्मिनल कार्यक्रम - सुपर प्रयोगकर्ता मोड
GenericName[nl]=Terminalprogramma (in systeembeheermodus)
GenericName[nn]=Terminalprogram – Superbrukarmodus
GenericName[pa]=ਟਰਮੀਨਲ - ਮੈਨੇਜਰੀ ਢੰਗ(Super User)
GenericName[pl]=Terminal - Tryb administratora
GenericName[pt]=Terminal - Modo de Super Utilizador
GenericName[pt_BR]=Terminal - Modo Super-Usuário
GenericName[ro]=Program terminal - mod superutilizator
GenericName[ru]=Терминал - режим суперпользователя
GenericName[rw]=Porogaramu y'Impera - Uburyo Ukoresha Mukuru
GenericName[se]=Terminálprográmma – Hálddašanmodus
GenericName[sk]=Terminál - Super-používateľský mód
GenericName[sl]=Terminalski program - Skrbniški način
GenericName[sr]=Терминалски програм — режим супер корисника
GenericName[sr@Latn]=Terminalski program — režim super korisnika
GenericName[sv]=Terminalprogram - Administratörsläge
GenericName[ta]=கடைசி நிரலி - சிறந்த பயன்படுத்துபவர் வழி
GenericName[te]=టెర్మినల్ కార్యక్రమం - సూపర్ యూజర్ స్థితి
GenericName[th]=จัดการแฟ้ม - โหมดผู้ดูแลระบบ
GenericName[tr]=Terminal Programı - Süper Kullanıcı Kipi
GenericName[tt]=Terminal Yazılımı (root ısulı)
GenericName[uk]=Програма терміналу (режим адміністратора)
GenericName[uz]=Terminal dasturi (root)
GenericName[uz@cyrillic]=Терминал дастури (root)
GenericName[vi]=Chương trình đầu cuối -  Dành cho người quản lý
GenericName[wa]=Terminå - Môde super uzeu (root)
GenericName[zh_CN]=终端程序 - 超级用户模式
GenericName[zh_TW]=終端機程式 - 超級使用者模式
X-TDE-AuthorizeAction=shell_access
Categories=Qt;TDE;X-TDE-System-su;
