[Desktop Entry]
Name=A Visual Guide to TDE
Name[af]='n Visuele Gids tot TDE
Name[ar]=مرشد مرئي لِــ TDE
Name[az]=TDE Üçün Vəzual Bədəçi
Name[be]=Падручнік TDE па візуальных аб'ектах
Name[bg]=Нагледни пособия
Name[bn]=কে.ডি.ই-র জন্য একটি ভিসুয়াল গাইড
Name[bs]=Vizualni vodič u TDE
Name[ca]=Una guia visual per al TDE
Name[cs]=Názorný průvodce prostředím TDE
Name[csb]=Prowôdnik pò TDE
Name[cy]=Canllaw Gweledol i TDE
Name[da]=En visuel guide til TDE
Name[de]=Visuelle Einführung in TDE
Name[el]=Ένας οπτικός οδηγός για το TDE
Name[eo]=Gvidilo pri TDE
Name[es]=Guía visual de TDE
Name[et]=TDE visuaalne juhend
Name[eu]=TDErako gida bisuala
Name[fa]=یک راهنمای مرئی برای TDE
Name[fi]=Kuvallinen ohje TDE:hen
Name[fr]=Un guide visuel de TDE
Name[fy]=In fisuele TDE-gids
Name[gl]=Unha Guia Visual de TDE
Name[he]=מדריך חזותי ל־TDE
Name[hi]=केडीई के लिए एक दृश्य मार्गदर्शक
Name[hr]=Vizualni vodič u TDE
Name[hu]=A TDE grafikus elemeinek ismertetése
Name[id]=Petunjuk TDE Visual
Name[is]=Myndrænn leiðarvísir að TDE
Name[it]=Una guida visiva di TDE
Name[ja]=TDE のためのビジュアルガイド
Name[ka]=TDE-ს თვალსაჩინო სახელმძღვანელო
Name[kk]=TDE көрнекті бағыттамасы
Name[km]=មគ្គុទ្ទេសក៍​រូបភាព​មក​កាន់ TDE
Name[ko]=TDE 모습 둘러보기
Name[lo]=ນຳທ່ງວ TDE ແບບສະເຫມື່ອນแบบเสมือน
Name[lt]=Vaizdinis TDE gidas
Name[lv]=Vizuāls Ceļvedis pa TDE
Name[mk]=Визуелен вовед во TDE
Name[mn]=КДЭ-н визуал удиртгал
Name[ms]=Panduan Visual TDE
Name[mt]=Gwida Viżwali għall-TDE
Name[nb]=En visuell guide til TDE
Name[nds]=En visuell Inföhren na TDE
Name[ne]=TDE मा दृश्य मार्गदर्शन
Name[nl]=Een visuele TDE-gids
Name[nn]=Visuell TDE-gaid
Name[nso]=Keletso yeo e Kwagalago ya TDE
Name[pa]=TDE ਲਈ ਇੱਕ ਦਿੱਖ ਗਾਈਡ
Name[pl]=Przewodnik po TDE
Name[pt]=Um Guia Visual para o TDE
Name[pt_BR]=Guia Visual para o TDE
Name[ro]=Ghid vizual TDE
Name[ru]=Наглядное пособие по TDE
Name[rw]=Inyobora Igaragara kuri TDE
Name[se]=Visuella TDE-introdukšuvdna
Name[sk]=Obrázková príručka TDE
Name[sl]=Vodnik po TDE
Name[sr]=Визуелни водич за TDE
Name[sr@Latn]=Vizuelni vodič za TDE
Name[sv]=Visuell guide till TDE
Name[ta]=TDEன் காட்டிசார் வழிகாட்டி
Name[tg]=Роҳнамои басрии TDE
Name[th]=นำเที่ยว TDE
Name[tr]=TDE İçin Görsel Kılavuz
Name[tt]=TDE öçen Kürsätü-Qullanma
Name[uk]=Наочний підручник по TDE
Name[ven]=Tsumbavhulwo ya zwauvhona ya TDE
Name[vi]=Trình Hướng dẫn Sinh động cho TDE
Name[wa]=On guide a vey po TDE
Name[xh]=Isikhombisi esibonakalayo se TDE
Name[zh_CN]=TDE 可视化指南
Name[zh_TW]=TDE 視覺指南
Name[zu]=Umbonisi obonakalayo oya kwi-TDE
Comment=Guide to TDE widgets
Comment[af]=Gids na TDE widgets
Comment[az]=TDE mühitinə sür'ətli başlanğıc
Comment[be]=Падручнік па віджэтах TDE
Comment[bg]=Нагледни пособия за TDE, графични елементи, управление и пр.
Comment[bn]=কে.ডি.ই উইজেট সম্বন্ধে জানুন
Comment[bs]=Priručnik za TDE ukrase
Comment[ca]=Guia per als estris a TDE
Comment[cs]=Průvodce prvky uživatelského prostředí TDE
Comment[csb]=Prowôdnik pò elementach òknów TDE
Comment[cy]=Canllaw i declynnau TDE
Comment[da]=Guide til TDE-kontroller
Comment[de]=Einführung in die TDE-Elemente
Comment[el]=Οδηγός για τα γραφικά συστατικά του TDE
Comment[eo]=Gvidilo pri TDE-fenestraĵoj
Comment[es]=Guía de los objetos visuales (widgets) de TDE
Comment[et]=TDE elementide juhend
Comment[eu]=TDEren widget-en gida
Comment[fa]=راهنما برای عناصر TDE
Comment[fi]=Ohje TDE:n työkaluihin
Comment[fr]=Guide des éléments graphiques de TDE
Comment[fy]=Gids foar TDE-widgets
Comment[gl]=Guia dos widgets de TDE
Comment[he]=מדריך לפריטי TDE
Comment[hi]=केडीई विजेट्स के लिए एक मार्गदर्शक
Comment[hr]=Uvod u TDE widgete
Comment[hu]=A TDE grafikai elemeinek ismertetése
Comment[id]=Petunjuk widgets TDE
Comment[is]=Leiðarvísir að viðmótshlutum TDE
Comment[it]=Guida agli elementi grafici di TDE
Comment[ja]=TDE ウィジェットガイド
Comment[ka]=TDE-ს მართვის ელემენტთა სახელმძღვანელო
Comment[kk]=TDE элементтер бағыттамасы
Comment[km]=មគ្គុទ្ទេសក៍​វត្ថុ​មើលឃើញ​ក្នុង TDE
Comment[ko]=TDE 위젯 도움말
Comment[lo]=ແນະນຳສ່ວນປະກອບຂອງ TDE
Comment[lt]=TDE valdiklių gidas
Comment[lv]=Rokasgrāmata TDE vidžetos
Comment[mk]=Вовед во графичките контроли на TDE
Comment[mn]=КДЭ-Элементүүдийн удиртгал
Comment[ms]=Panduan widget TDE
Comment[mt]=Gwida għall-widgets tal-TDE
Comment[nb]=Guide til TDEs skjermelementer
Comment[nds]=Inföhren för TDE-Bedeenelementen
Comment[ne]=TDE विजेटमा मार्गदर्शन
Comment[nl]=Gids voor TDE-widgets
Comment[nn]=Gaid til skjermelementa i TDE
Comment[nso]=Keletso go di-widget tsa TDE
Comment[pa]=TDE ਝਰੋਖਿਆਂ ਲਈ ਗਾਈਡ ਹੈ
Comment[pl]=Przewodnik po elementach okien TDE
Comment[pt]=Guia para os itens gráficos do TDE
Comment[pt_BR]=Guia para os controles do TDE
Comment[ro]=Un ghid pentru componentele grafice ale TDE
Comment[ru]=Руководство по элементам интерфейса TDE
Comment[rw]=Kuyobora ku marenga TDE
Comment[se]=Introdukšuvdna TDE-ađaide
Comment[sk]=Príručka grafických prvkov TDE
Comment[sl]=Vodnik po gradnikih TDE
Comment[sr]=Водич за TDE контроле
Comment[sr@Latn]=Vodič za TDE kontrole
Comment[sv]=Guide till TDE-komponenter
Comment[ta]=TDE வளைவுகளுக்கான வழிகாட்டி
Comment[tg]=Роҳбарӣ бо ҷузъи робитаи TDE
Comment[th]=แนะนำวิดเจ็ตของ TDE
Comment[tr]=TDE Aletleri için rehber
Comment[tt]=TDE yözarası öçen qullanma
Comment[uk]=Підручник по віджетам TDE
Comment[uz]=TDE vidjetlari boʻyicha yoʻlkoʻrsatgich
Comment[uz@cyrillic]=TDE виджетлари бўйича йўлкўрсатгич
Comment[ven]=Tsumbavhulwo ya widget ya TDE
Comment[vi]=Hướng dẫn cho thành tố điều khiển của TDE
Comment[wa]=Guide po les ahesses di TDE
Comment[xh]=Isikhombisi esiya kwi TDE widgets
Comment[zh_CN]=TDE 部件指南
Comment[zh_TW]=TDE 視窗元件 (widget) 指南
Comment[zu]=Umbonisi oya kuma-widget e-TDE
DocPath=help:/khelpcenter/visualdict/index.html
