[Desktop Entry]
Icon=computer-run
Type=Application
Exec=tdecmshell kcmcgi
X-DocPath=kcontrol/kcmcgi/index.html
X-TDE-ModuleType=Library
X-TDE-Library=cgi

Name=CGI Scripts
Name[af]=CGI Skripte
Name[ar]=نصوص CGI البرمجية
Name[az]=CGI Skriptləri
Name[be]=Сцэнары CGI
Name[bg]=CGI скриптове
Name[bn]=সি-জি-আই স্ক্রিপ্ট
Name[br]=Urzhiaouegoù CGI
Name[bs]=CGI skripte
Name[ca]=Scripts CGI
Name[cs]=CGI skripty
Name[csb]=Skriptë CGI
Name[cy]=Sgriptiau CGI
Name[da]=CGI Scripter
Name[de]=CGI-Skripte
Name[el]=Σενάρια CGI
Name[eo]=CGI-Skriptaĵoj
Name[es]=Procedimientos CGI
Name[et]=CGI skriptid
Name[eu]=CGI scriptak
Name[fa]=دست‌نوشته‌های CGI
Name[fi]=CGI-komentosarjat
Name[fr]=Scripts CGI
Name[fy]=CGI-skripts
Name[ga]=Scripteanna CGI
Name[gl]=Guións CGI
Name[he]=תסריטי CGI
Name[hi]=सीजीआई स्क्रिप्ट
Name[hr]=CGI skripte
Name[hu]=CGI-programok
Name[is]=CGI Skriftur
Name[it]=Script CGI
Name[ja]=CGI スクリプト
Name[ka]=CGI სკრიპტები
Name[kk]=CGI скрипттері
Name[km]=ស្គ្រីប CGI
Name[ko]=CGI 스크립트
Name[lo]=ໂໍຊລາລີສ
Name[lt]=CGI scenarijai
Name[lv]=CGI Skripts
Name[mk]=CGI-скрипти
Name[mn]=CGI-Скрипт
Name[ms]=Skrip CGI
Name[mt]=Scripts CGI
Name[nb]=CGI-skript
Name[nds]=CGI-Skripten
Name[ne]=CGI स्क्रिप्ट
Name[nl]=CGI-scripts
Name[nn]=CGI-skript
Name[nso]=Ditshwaelo tsa CGI
Name[pa]=CGI ਸਕ੍ਰਿਪਟਾਂ
Name[pl]=Skrypty CGI
Name[pt]=Programas CGI
Name[pt_BR]=Scripts CGI
Name[ro]=Scripturi CGI
Name[ru]=Сценарии CGI
Name[rw]=Agaporogaramu CGI
Name[se]=CGI-skriptat
Name[sk]=Skripty CGI
Name[sl]=Skripte CGI
Name[sr]=CGI Скрипте
Name[sr@Latn]=CGI Skripte
Name[sv]=CGI-skript
Name[ta]=CGI எழுத்தாக்கங்கள்
Name[te]=సిజిఐ స్క్రిప్ట్లు
Name[tg]=Дастнависи CGI
Name[th]=สคริปต์ CGI
Name[tr]=CD Betikleri
Name[tt]=CGI Ämerleklär
Name[uk]=Скрипти CGI
Name[uz]=CGI skriptlar
Name[uz@cyrillic]=CGI скриптлар
Name[ven]=Zwikiriputi zwa CGI
Name[vi]=Văn lệnh CGI
Name[wa]=Scripe CGI
Name[xh]=Amagama ashicilelwe phantsi CGI
Name[zh_CN]=CGI 脚本
Name[zh_TW]=CGI 命令稿
Name[zu]=Izikript ze-CGI
Comment=Configure the CGI TDEIO slave
Comment[af]=Stel die CGI TDEIO slaaf op
Comment[ar]=تهيئة CGI TDEIO slave
Comment[be]=Настаўленні CGI TDEIO slave
Comment[bg]=Настройване на модула за изпълнение на скриптове без уеб сървър - CGI TDEIO
Comment[bn]=CGI TDEIO স্লেভ কনফিগার করুন
Comment[bs]=Podešavanje CGI TDEIO slave-a
Comment[ca]=Configura l'esclau TDEIO CGI
Comment[cs]=Nastavení CGI pro TDE
Comment[csb]=Kònfigùracëjô procedurë òbsłużënkù CGI
Comment[cy]=Ffurfweddu'r gwas CGI TDEIO
Comment[da]=Indstilling af CGI TDEIO-slaven
Comment[de]=Ein-/Ausgabemodul für CGI einrichten
Comment[el]=Ρυθμίστε το CGI TDEIO slave
Comment[eo]=Agordu CGI-enel-sklavon
Comment[es]=Configuración del TDEIO slave de CGI
Comment[et]=CGI TDEIO mooduli seadistamine
Comment[eu]=CGI TDEIO slave-a konfiguratu
Comment[fa]=پیکربندی پی‌رو CGI TDEIO
Comment[fi]=Muokkaa CGI-TDEIO-palvelun asetuksia
Comment[fr]=Configuration du CGI TDEIO slave
Comment[fy]=Hjir kinne jo de CGI Kio-slave ynstelle
Comment[ga]=Cumraigh an sclábhaí CGI TDEIO
Comment[gl]=Configuración do escravo TDEIO de CGI
Comment[he]=שינוי הגדרות פרוטוקול ה־CGI
Comment[hi]=सीजीआई केआईओ स्लेव कॉन्फ़िगर करें
Comment[hr]=Konfiguriranje CGI TDEIO podčinjenog
Comment[hu]=A CGI TDE-protokoll beállításai
Comment[is]=Stilla CGI þrælinn
Comment[it]=Configura il TDEIO-slave CGI
Comment[ja]=CGI TDEIO スレーブの設定
Comment[ka]=CGI TDEIO slave-ის კონფიგურაცია
Comment[kk]=CGI TDEIO slave-ты баптау
Comment[km]=កំណត់​រចនាសម្ព័ន្ធ​កូនចៅ CGI TDEIO
Comment[ko]=CGI TDEIO 슬레이브 설정
Comment[lo]=ປັບແຕ່ງກ້ອງ
Comment[lt]=Konfigūruoti CGI TDEIO slave
Comment[lv]=Konfigurēt CGI TDEIO vergu
Comment[mk]=Конфигурација на CGI TDEIO служителот
Comment[mn]=CGI-Оролт/Гаралтын-Модул тохируулах
Comment[ms]=Konfigur hamba CGI TDEIO
Comment[mt]=Ikkonfigura l-iskjav CGI
Comment[nb]=Tilpass CGI TDEIO slave
Comment[nds]=Den CGI-In-/Utgaavdeenst instellen
Comment[ne]=CGI TDEIO स्लेभ कन्फिगर गर्नुहोस्
Comment[nl]=Hier kunt u de CGI Kio-slave instellen
Comment[nn]=Set opp CGI-TDEIO-slaven
Comment[nso]=Beakanya lekgoba la TDEIO ya CGI
Comment[pa]=CGI TDEIO ਸਲੇਵ ਸੰਰਚਨਾ
Comment[pl]=Konfiguracja procedury obsługi CGI
Comment[pt]=Configuração do TDEIO slave de CGIs
Comment[pt_BR]=Configurar o TDEIO (escravo) do CGI
Comment[ro]=Configurează dispozitivul I/O CGI
Comment[ru]=Настройка CGI TDEIO slave
Comment[rw]=Kuboneza CGI TDEIO umugaragu
Comment[se]=Heivet CGI-TDEIO-šláva
Comment[sk]=Nastavenie IO klienta CGI
Comment[sl]=Nastavi podrejenega TDEIO CGI
Comment[sr]=Подешавање CGI TDEIO slave-а
Comment[sr@Latn]=Podešavanje CGI TDEIO slave-a
Comment[sv]=Anpassa I/O-slaven för CGI
Comment[ta]=CGI TDEIO slaveஐ வடிவமை
Comment[tg]=Бандаи CGI TDEIO-ро танзим кунед
Comment[th]=ปรับแต่ง CGI TDEIO slave
Comment[tr]=CGI TDEIO aracısını yapılandır
Comment[tt]=CGI TDEIO slave caylawı
Comment[uk]=Налаштування підлеглого TDEIO CGI
Comment[uz]=CGI TDEIO sleyvni moslash
Comment[uz@cyrillic]=CGI TDEIO слейвни мослаш
Comment[ven]=Dzudzanyani phuli CGI TDEIO
Comment[vi]=Cấu hình đày tớCGI TDEIO
Comment[wa]=Apontyî li mandaye TDEIO CGI
Comment[xh]=Qwlalsela i CGI TDEIO slave
Comment[zh_CN]=配置 CGI TDEIO 仆人
Comment[zh_TW]=設定 CGI TDEIO slave
Comment[zu]=Hlanganisela i-CGI TDEIO slave

Keywords=CGI;TDEIO;Slave;Paths;
Keywords[ar]=CGI;TDEIO;Slave;Paths;مسارات;
Keywords[az]=CGI;TDEIO;Slave;Paths;Cığırlar;
Keywords[be]=Шляхі;CGI;TDEIO;Slave;Paths;
Keywords[bg]=скриптове; уеб; динамичен; скрипт; Интернет; път; пътища; CGI; TDEIO; Slave; Paths;
Keywords[br]=CGI;TDEIO;sklav;hentoù;
Keywords[ca]=CGI;TDEIO;Esclau;Rutes;
Keywords[cs]=CGI;TDEIO;slave;cesty;
Keywords[csb]=CGI;TDEIO;procedurë wé/wi;stegnë;
Keywords[cy]=CGI;TDEIO;Gwas;Llwybrau;
Keywords[da]=CGI;TDEIO;Slave;Stier;
Keywords[de]=CGI;TDEIO;Ein-/Ausgabemodul;Pfade;
Keywords[el]=CGI;TDEIO;Slave;Διαδρομές;
Keywords[eo]=CGI;Enel;K-enel;sklavo;servo;vojoj;
Keywords[es]=CGI;TDEIO;Slave;Rutas;
Keywords[et]=CGI;TDEIO;moodul;otsinguteed;
Keywords[fa]=CGI، TDEIO، Slave، مسیرها;
Keywords[fi]=CGI;TDEIO;TDEIO-palvelu;palvelu;Polut;
Keywords[fr]=CGI;TDEIO;Slave;Paths;Chemins;Emplacements;
Keywords[fy]=cgi;tdeio;slave;paths;paden;
Keywords[ga]=CGI;TDEIO;Sclábhaí;Bealaí;
Keywords[gl]=CGI;TDEIO;Escravo;Camiños;
Keywords[he]=CGI;TDEIO;פרוטוקול;נתיבים; Slave;Paths;
Keywords[hi]=सीजीआई;केआईओ;स्लेव;पथ;
Keywords[hr]=CGI;TDEIO;Slave;Paths;podčinjeni;putanje;
Keywords[hu]=CGI;TDEIO;protokoll;elérési utak;
Keywords[is]=CGI;TDEIO;þræll;slóðir;
Keywords[it]=CGI;TDEIO;tdeioslave;percorsi;
Keywords[ja]=CGI;TDEIO;スレーブ;パス;
Keywords[km]=CGI;TDEIO;កូនចៅ;ផ្លូវ;
Keywords[lt]=CGI;TDEIO;Slave;Paths; keliai;
Keywords[lv]=CGI;TDEIO;vergi;ceļi;
Keywords[mk]=CGI;TDEIO;Slave;Paths;Патеки;
Keywords[mn]=CGI;TDEIO;Оролт/Гаралтын-Модул;Зам;
Keywords[mt]=CGI;TDEIO;Slave;Paths;skjav;passaġġ;
Keywords[nb]=CGI;TDEIO;Slave;slave;stier;
Keywords[nds]=CGI;TDEIO;Slave;IU;In-/Utgaavdeenst;Deenst;Padden;
Keywords[ne]=CGI;TDEIO;स्लेभ; मार्ग;
Keywords[nl]=cgi;tdeio;slave;paths;paden;
Keywords[nn]=CGI;TDEIO;slave;stiar;
Keywords[nso]=CGI;TDEIO;Lekgoba;Ditsejana;
Keywords[pa]=CGI;TDEIO;ਸਲੇਵ;ਮਾਰਗ;
Keywords[pl]=CGI;TDEIO;procedury we/wy;ścieżki;
Keywords[pt]=CGI;TDEIO;Slave;Localizações;
Keywords[pt_BR]=CGI;TDEIO;Escravo;Caminhos;
Keywords[ro]=I/E;IE;CGI;TDEIO;dispozitiv;căi;
Keywords[rw]=CGI;TDEIO;Umugaragu;Inzira;
Keywords[se]=CGI;TDEIO;šláva;bálgát;
Keywords[sk]=CGI;TDEIO;klient;cesty;
Keywords[sl]=CGI;TDEIO;podrejeni;pot;
Keywords[sr]=CGI;TDEIO;Slave;Путање;
Keywords[sr@Latn]=CGI;TDEIO;Slave;Putanje;
Keywords[sv]=CGI;TDEIO;Slav;Sökvägar;
Keywords[ta]=CGI;TDEIO;ஸ்லேவ்;பாதைகள்;
Keywords[te]=సిజిఐ;కెఐఒ;బానిస;దారులు;
Keywords[th]=CGI;TDEIO;Slave;เส้นทาง;
Keywords[tr]=CGI;TDEIO;Aracı;Yollar;
Keywords[uk]=CGI;TDEIO;підлеглий;шлях;
Keywords[uz]=CGI;TDEIO;Sleyv;Yoʻllar;
Keywords[uz@cyrillic]=CGI;TDEIO;Слейв;Йўллар;
Keywords[ven]=CGI;TDEIO;Phuli;Ludila;
Keywords[vi]=CGI;TDEIO;Đày tớ;Đường dẫn;
Keywords[wa]=CGI;TDEIO;Slave;Paths;tchimins;mandaye;
Keywords[zh_CN]=CGI;TDEIO;Slave;Paths;路径;
Keywords[zh_TW]=CGI;TDEIO;Slave;Paths;路徑;
Keywords[zu]=CGI;TDEIO;Slave;Izindlela;
Categories=Qt;TDE;X-TDE-settings-webbrowsing;
