[Desktop Entry]
Name=Non-TDE Application Launcher
Name[af]=Nie-TDE Program Lanseerder
Name[ar]=مُطلِق التطبيقات اغير TDE
Name[be]=Запускальнік праграмы не-TDE
Name[bg]=Стартиране на програми
Name[bn]=নন-কে.ডি.ই অ্যাপলিকেশন লঞ্চার
Name[bs]=Pokretač ne-TDE programa
Name[ca]=Engegador d'aplicacions no TDE
Name[cs]=Spouštěč aplikací nepatřících do TDE
Name[csb]=Zrëszanié programów z bùtna TDE
Name[da]=Starter ikke-TDE-programmer
Name[de]=Nicht-TDE-Programm
Name[el]=Εκτελεστής μη-TDE εφαρμογών
Name[eo]=neKDE-a Aplikaĵolanĉilo
Name[es]=Aplicaciones No-TDE
Name[et]=TDE-väliste rakenduste käivitaja
Name[eu]=KDEren ez diren aplikazio abiarazlea
Name[fa]=راه‌انداز کاربرد غیر TDE
Name[fi]=Ei-TDE:n sovellusten käynnistäjä
Name[fr]=Lancement des applications non TDE
Name[fy]=Net-TDE-programma's útfierder
Name[ga]=Tosaitheoir Feidhmchlár Neamh-TDE
Name[gl]=Lanzador de Aplicacións Non-TDE
Name[he]=מפעיל תוכניות שלא שייכות למשפחת TDE
Name[hr]=Pokretač vanjskih TDE aplikacija
Name[hu]=Programindító nem TDE-s alkalmazásokhoz
Name[is]=Ræsir fyrir ekki-TDE forrit
Name[it]=Lancio di applicazioni non-TDE
Name[ja]=TDE 以外のアプリケーションランチャー
Name[ka]=არა TDE-ს პროგრამების 
Name[kk]=TDE-ге тиесілі емес қолданбаларды жегу
Name[km]=ឧបករណ៍​បើក​កម្មវិធី​មិន​មែន TDE
Name[ko]=프로그램 실행기
Name[lt]=Ne-TDE programų startavimo priedas
Name[mk]=Стартувач на не-TDE апликации
Name[nb]=Last ikke-TDE-programmer
Name[nds]=Starter för Nich-TDE-Programmen
Name[ne]=TDE बाहेकको अनुप्रयोग सुरुआतकर्ता
Name[nl]=Niet-TDE-programma's starten
Name[nn]=Start av ikkje-TDE-program
Name[pa]=ਨਾ-TDE ਕਾਰਜ ਸ਼ੁਰੂਆਤੀ
Name[pl]=Uruchamianie programów spoza TDE
Name[pt]=Lançador de Aplicações não-TDE
Name[pt_BR]=Lançador de aplicativos que não são do TDE
Name[ro]=Lansator de aplicații Non-TDE
Name[ru]=Запуск приложения не из TDE
Name[rw]=Bitari-TDE Porogaramu Mutangiza
Name[se]=Ii-TDE prográmmaid álggaheaddji
Name[sk]=Spúšťač non-TDE aplikácií
Name[sl]=Zaganjalnik ne-TDE programov
Name[sr]=Покретач не-TDE програма
Name[sr@Latn]=Pokretač ne-TDE programa
Name[sv]=Start av program som inte hör till TDE
Name[th]=ตัวเรียกใช้งานแอพพลิเคชันที่ไม่ใช่ของ TDE
Name[tr]=TDE Dışı Uygulama Başlatıcısı
Name[tt]=TDE-bulmağan Yazılım Cibärgeç
Name[uk]=Запуск не-TDE програм
Name[uz]=No-TDE dasturlarni ishga tushuruvchi
Name[uz@cyrillic]=Но-TDE дастурларни ишга тушурувчи
Name[vi]=Trình khởi động Chương trình không của TDE
Name[wa]=Enondeu di programes nén TDE
Name[zh_CN]=非 TDE 应用程序启动器
Name[zh_TW]=非-TDE 應用程式啟動器
Comment=A launcher for programs not in the TDE Menu
Comment[af]='n Lanseerder vir programme wat nie in die TDE-Kieslys voorkom nie
Comment[ar]=مُطلِق البرامج غير التابعة لِلقائمة TDE
Comment[be]=Запускальнік для праграмы, якой няма ў меню KDE
Comment[bg]=Стартиране на програми, които са извън главното меню (К)
Comment[bn]=কে-মেনু-তে নেই এমন প্রোগ্রাম-এর চালু করার জন্য একটি লঞ্চার
Comment[bs]=Pokretač programa koji nisu u TDE meniju
Comment[ca]=Un engegador de programes que no hi són al menú TDE
Comment[cs]=Spouštěč pro programy nenacházející se v hlavní nabídce KDE
Comment[csb]=Zrëszanié programów, jaczich nie dô w TDE menu
Comment[da]=En starter af programmer der ikke er i TDE-Menuen
Comment[de]=Startet Programme, die sich nicht im TDE-Menü befinden
Comment[el]=Ένας εκτελεστής εφαρμογών που δε βρίσκονται στο Μενού TDE
Comment[eo]=Lanĉilo por programoj ne en la TDE Menuo
Comment[es]=Le permite ejecutar aplicaciones que no están en el Menu TDE
Comment[et]=TDE menüüst puuduvate rakenduste käivitaja
Comment[eu]=TDE Menuan ez dauden aplikazio abiarazlea
Comment[fa]=یک راه‌انداز برای برای برنامه‌هایی که در گزینگان TDE نیست
Comment[fi]=Käynnistäjä ohjelmille, jotka eivät ole TDE-valikossa
Comment[fr]=Lancement des programmes n'étant pas dans le menu TDE
Comment[fy]=In útfierder foar programma's hokker net yn it TDE-menu stean
Comment[gl]=Un lanzador para aplicacións que non estexan no Menu de KDE
Comment[he]=מפעיל עבור יישומים שלא בתפריט המערכת
Comment[hr]=Pokretač programa koji se ne nalaze na KDE izborniku
Comment[hu]=Programindító
Comment[is]=Ræsir fyrir forrit sem eru ekki í TDE valmyndinni
Comment[it]=Per lanciare programmi che non sono nel menu TDE
Comment[ja]=TDE メニューにないプログラムを起動
Comment[kk]=KDE мәзрінде жоқ бағдарламаларды жегу
Comment[km]=ឧបករណ៍​បើក​កម្មវិធី​ដែល​មិន​នៅ​ក្នុង​ម៉ឺនុយ TDE
Comment[lt]=TDE meniu nesančių programų startavimo meniu
Comment[mk]=Стартување на програми што не се во К-менито
Comment[nb]=Mulighet til å starte programmer som ikke er i KDE-menyen
Comment[nds]=En Starter för Programmen, de nich in't TDE-Menü staht
Comment[ne]=के मेनुमा नभएका कार्यक्रमका लागि सुरुआतकर्ता
Comment[nl]=Een starter voor het uitvoeren van programma's die niet in het TDE-menu staan
Comment[nn]=Start av program som ikkje ligg i TDE-menyen
Comment[pa]= ਕੇ(TDE) ਮੇਨੂ ਵਿੱਚ ਨਾ-ਮੌਜੂਦ ਕਾਰਜ ਲਈ ਸ਼ੁਰੂਆਤੀ ਹੈ
Comment[pl]=Uruchamianie programów, które nie znajdują się w menu TDE
Comment[pt]=Um lançador de programas que não estejam no Menu TDE
Comment[pt_BR]=Um lançador para programas que não estão no Menu TDE
Comment[ro]=Lansator de programe ce nu se află în meniul TDE
Comment[ru]=Запуск приложений, не входящих в меню KDE
Comment[rw]=Mutangiza w'amaporogaramu atari muri TDE Ibikubiyemo
Comment[sk]=Spúštač programov, ktoré nie sú v KDE Menu
Comment[sl]=Zaganjalnik programov, ki se ne nahajajo v meniju KDE-ja
Comment[sr]=Покретач за програме којих нема у TDE-менију
Comment[sr@Latn]=Pokretač za programe kojih nema u TDE-meniju
Comment[sv]=Start av program som inte finns i TDE-menyn
Comment[th]=ตัวเรียกใช้งานโปรแกรมที่ไม่ได้อยู่ใน TDE menu
Comment[tr]=KDE menüsünde bulunmayan programlar için bir başlatıcı
Comment[tt]=TDE-Saylaqta bulmağan yazılımnar cibärgeçe
Comment[uk]=Запуск програм, яких немає в TDE Меню
Comment[uz]=TDE-menyuga qoʻshilmagan dasturlarni ishga tushirish
Comment[uz@cyrillic]=К-менюга қўшилмаган дастурларни ишга тушириш
Comment[vi]=Trình khởi động các chương trình không có trong thực đơn của KDE
Comment[wa]=On enondeu po les programes ki n' sont nén dins l' dressêye TDE
Comment[zh_CN]=启动不在 TDE 菜单中的程序
Comment[zh_TW]=用於不在 TDE 選單中的程式啟動器
Icon=exec
X-TDE-Library=ExecButton
