[Desktop Entry]
Name=TDE Menu
Name[af]=TDE-Kieslys
Name[ar]=قائمة TDE
Name[be]=Меню TDE
Name[bg]=Главно меню
Name[bn]=কে মেনু
Name[br]=Meuziad TDE
Name[bs]=TDE meni
Name[ca]=Menú TDE
Name[cs]=Nabídka TDE
Name[cy]=Y Ddewislen TDE
Name[da]=TDE-Menu
Name[de]=TDE-Menü
Name[el]=Μενού TDE
Name[eo]=TDEa Menuo
Name[es]=Menú de TDE
Name[et]=TDE menüü
Name[eu]=TDE menua
Name[fa]=گزینگان TDE
Name[fi]=TDE-valikko
Name[fr]=Menu TDE
Name[fy]=TDE-menu
Name[ga]=Roghchlár TDE
Name[gl]=Menu de TDE
Name[he]=תפריט TDE
Name[hr]=TDE izbornik
Name[hu]=TDE menü
Name[is]=TDE valmynd
Name[it]=Menu TDE
Name[ja]=TDE メニュー
Name[ka]=TDE მენიუ
Name[kk]=TDE мәзірі
Name[km]=ម៉ឺនុយ TDE
Name[ko]=TDE 메뉴
Name[lt]=TDE meniu
Name[mk]=К-мени
Name[nb]=TDE-meny
Name[nds]=TDE-Menü
Name[ne]=के मेनु
Name[nl]=TDE-menu
Name[nn]=TDE-meny
Name[pa]=TDE ਮੇਨੂ
Name[pl]=Menu TDE
Name[pt]=Menu TDE
Name[pt_BR]=Menu TDE
Name[ro]=Meniu TDE
Name[ru]=Меню TDE
Name[rw]=TDE Ibikubiyemo
Name[se]=TDE-fállu
Name[sk]=Menu TDE
Name[sl]=Meni TDE-ja
Name[sr]=TDE-мени
Name[sr@Latn]=TDE-meni
Name[sv]=TDE-meny
Name[te]=కె పట్టి
Name[tg]=Менюи TDE
Name[th]=เมนู TDE
Name[tr]=TDE Menüsü
Name[tt]=TDE-Saylaq
Name[uk]=TDE Меню
Name[uz]=TDE-menyu
Name[uz@cyrillic]=К-меню
Name[vi]=Thực đơn TDE
Name[wa]=Dressêye TDE
Name[zh_CN]=TDE 菜单
Name[zh_TW]=TDE 選單
Comment=Applications and common actions
Comment[af]=Programme en algemene aksies
Comment[ar]=تطبيقات و أعمال شائعة
Comment[be]=Праграмы і асноўныя дзеянні
Comment[bg]=Главното меню с програмите, системните настройки и всичко останало
Comment[bn]=অ্যাপলিকেশন এবং সাধারণ ক্রিয়াসমূহ
Comment[bs]=Programi i standardne akcije
Comment[ca]=Aplicacions i accions comunes
Comment[cs]=Aplikace a časté činnosti
Comment[csb]=Programë ë pòpùlarné dzejania
Comment[da]=Programmer og sædvanlige handlinger
Comment[de]=Enthält Programme und häufig verwendete Aktionen
Comment[el]=Εφαρμογές και τυπικές ενέργειες
Comment[eo]=Aplikaĵoj kaj komunaj agoj
Comment[es]=Aplicaciones y acciones comunes
Comment[et]=Rakendused ja levinumad toimingud
Comment[eu]=Aplikazioak eta ohiko ekintzak
Comment[fa]=کاربردها و کنشهای مشترک
Comment[fi]=Sovellukset ja yleiset toiminnot
Comment[fr]=Applications et actions communes
Comment[fy]=Applikaasjes en folle foarkommende aksjes
Comment[ga]=Feidhmchláir agus gníomhartha coitianta
Comment[gl]=Aplicacións e accións comuns
Comment[he]=יישומים ופעולות מזדמנות
Comment[hr]=Aplikacije i zajedničke aktivnosti
Comment[hu]=Alkalmazások és általános műveletek
Comment[is]=Forrit og algengar aðgerðir
Comment[it]=Applicazioni e azioni comuni
Comment[ja]=アプリケーションと一般的なアクションのメニュー
Comment[ka]=პროგრამები და საზოგადო ქმედებები
Comment[kk]=Қолданбалар мен жалпы амалдар
Comment[km]=កម្មវិធី និង​អំពើ​ទូទៅ
Comment[lt]=Programos ir įprasti veiksmai
Comment[mk]=Апликации и општи дејства
Comment[nb]=Programmer og vanlige handlinger
Comment[nds]=Programmen un allgemeen Akschonen
Comment[ne]=अनुप्रयोग र साझा कार्य
Comment[nl]=Programma's en veelvoorkomende acties
Comment[nn]=Program og vanlege handlingar
Comment[pa]=ਕਾਰਜ ਅਤੇ ਆਮ ਕਾਰਵਾਈਆਂ
Comment[pl]=Programy i popularne czynności
Comment[pt]=Aplicações e acções comuns
Comment[pt_BR]=Aplicativos e ações comuns
Comment[ro]=Aplicații și acțiuni uzuale
Comment[ru]=Приложения и действия
Comment[rw]=Porogaramu n'ibikorwa rusange
Comment[se]=Prográmmat ja dábálaš doaimmat
Comment[sk]=Programy a všeobecné akcie
Comment[sl]=KDE-jev meni s programi in pogostimi dejanji
Comment[sr]=Програми и уобичајене акције
Comment[sr@Latn]=Programi i uobičajene akcije
Comment[sv]=Program och vanliga åtgärder
Comment[tg]=Барномаҳо ва амалҳои умумӣ
Comment[th]=แอพพลิเคชั่น และการกระทำทั่วๆไป
Comment[tr]=Uygulamalar ve ortak eylemler
Comment[tt]=Yazılımnar belän töp ğämällär
Comment[uk]=Програми і загальні дії
Comment[uz]=Dasturlar va umumiy amallar
Comment[uz@cyrillic]=Дастурлар ва умумий амаллар
Comment[vi]=Ứng dụng và thao tác thường làm
Comment[wa]=Programes et comones accions
Comment[zh_CN]=应用程序和公共操作
Comment[zh_TW]=應用程式與一般動作
Icon=kmenu
X-KDE-Library=KMenuButton
