[Desktop Entry]
Exec=kappfinder
Icon=kappfinder
Type=Application
Terminal=false
X-TDE-StartupNotify=true
OnlyShowIn=TDE;

Name=KAppfinder
GenericName=Menu Updating Tool
GenericName[af]=Kieslys opdateer program
GenericName[ar]=أداة تحديث القوائم
GenericName[az]=Menyu Yeniləmə Vasitəsi
GenericName[be]=Інструмент абнаўлення меню
GenericName[bn]=মেনু আপডেট টুল
GenericName[bs]=Alat za updatovanje menija
GenericName[ca]=Eina d'actualització del menú
GenericName[cs]=Nástroj pro aktualizaci nabídky
GenericName[csb]=Nôrzãdze do aktualizacëji menu
GenericName[cy]=Erfyn Diweddaru'r Dewislen
GenericName[da]=Værktøj til menuopdatering
GenericName[de]=Menü-Aktualisierung
GenericName[el]=Εργαλείο ενημέρωσης μενού
GenericName[eo]=Aktualigi la TDE-Menuaron
GenericName[es]=Herramienta de actualización de menús
GenericName[et]=Menüü uuendamine
GenericName[eu]=Menua eguneratzeko tresna
GenericName[fa]=ابزار به‌روزرسانی گزینگان
GenericName[fi]=Valikoiden päivitystyökalu
GenericName[fr]=Outil de mise à jour du menu
GenericName[fy]=Menu bywurkje
GenericName[ga]=Uirlis Nuashonraithe Roghchláir
GenericName[gl]=Ferramenta de Actualización do Menu
GenericName[he]=כלי לעדכון התפריטים
GenericName[hi]=मेनू अद्यतन करने का औजार
GenericName[hr]=Alat za ažuriranje izbornika
GenericName[hu]=Menüfrissítő
GenericName[is]=Uppfærslutól valmynda
GenericName[it]=Strumento di aggiornamento dei menu
GenericName[ja]=メニュー更新ツール
GenericName[ka]=მენიუს განახლების პროგრამა
GenericName[kk]=Мәзірді жаңарту құралы
GenericName[km]=ឧបករណ៍​ធ្វើ​ឲ្យ​ម៉ឺនុយ​ទាន់សម័យ
GenericName[ko]=메뉴 업데이트 도구
GenericName[lt]=Meniu atnaujinimo priemonė
GenericName[lv]=Izvēlnes atjaunošanas rīks
GenericName[mk]=Алатка за ажурирање на менито
GenericName[mn]=Цэс идэвхижүүлэгч хэрэгсэл
GenericName[ms]=Alat Mengemas Kini Menu
GenericName[mt]=Għodda li taġġorna l-menus
GenericName[nb]=Verktøy for menyoppdatering
GenericName[nds]=Menü aktualiseren
GenericName[ne]=मेनु अद्यावधिक उपकरण
GenericName[nl]=Menu bijwerken
GenericName[nn]=Verktøy for menyoppdatering
GenericName[pa]=ਮੇਨੂ ਅੱਪਡੇਟ ਸੰਦ
GenericName[pl]=Narzędzie do aktualizacji menu
GenericName[pt]=Ferramenta de Actualização do Menu
GenericName[pt_BR]=Ferramenta de Atualização de Menus
GenericName[ro]=Utilitar de actualizare meniuri
GenericName[ru]=Утилита обновления меню
GenericName[rw]=Igikoresho  Ivugurura Ibikubiyemo
GenericName[se]=Fálloođasmahttin-reaidu
GenericName[sk]=Nástroj na aktualizáciu menu
GenericName[sl]=Orodje za posodabljanje menijev
GenericName[sr]=Алат за ажурирање менија
GenericName[sr@Latn]=Alat za ažuriranje menija
GenericName[sv]=Verktyg för menyuppdatering
GenericName[ta]=பட்டியல் புதுப்பித்தல் கருவி
GenericName[tg]=Обзор ба рӯз оварии меню
GenericName[th]=เครื่องมือปรับปรุงเมนู
GenericName[tr]=Menü Güncelleştirme Aracı
GenericName[tt]=Saylaq Yañartu Qoralı
GenericName[uk]=Засіб для поновлення меню
GenericName[uz]=Menyuni yangilovchi vosita
GenericName[uz@cyrillic]=Менюни янгиловчи восита
GenericName[vi]=Công cụ Cập nhật Thực đơn
GenericName[wa]=Usteye d' amidraedje des dressêyes
GenericName[zh_CN]=菜单更新工具
GenericName[zh_TW]=選單更新工具
X-DCOP-ServiceType=Multi
Categories=Qt;TDE;Settings;
