[Desktop Entry]
Encoding=UTF-8
Name=release_notes
Exec=release_notes
Type=Application
X-TDE-autostart-phase=2
X-TDE-StartupNotify=false
X-TDE-UniqueApplet=true
Categories=System;
