[Desktop Entry]
Type=ServiceType
X-TDE-ServiceType=KSplash/Plugin

[PropertyDef::X-KSplash-PluginName]
Type=TQString

[PropertyDef::X-KSplash-ObjectName]
Type=TQString

[PropertyDef::X-KSplash-Default]
Type=bool
