[Desktop Entry]
Encoding=UTF-8
Type=Service

X-TDE-ServiceTypes=KDEDModule
X-TDE-ModuleType=Library
X-TDE-Library=kdeintegration
X-TDE-Factory=kdeintegration
X-TDE-Kded-autoload=false
X-TDE-Kded-load-on-demand=true

Name=TDE Integration Module
Comment=Module for integrating UI of non-TDE applications
