[Desktop Entry]
Icon=konsole
Type=Application
Exec=tdecmshell kcmkonsole
X-DocPath=kcontrol/kcmkonsole/index.html

X-TDE-Library=konsole
X-TDE-ParentApp=kcontrol
Name=Konsole
Name[ar]=طرفية التحكم
Name[az]=Konsol
Name[be]=Кансоль
Name[bg]=Конзола
Name[bn]=কনসোল
Name[bs]=Konzola
Name[ca]=Consola
Name[csb]=Kònsola
Name[el]=Κονσόλα
Name[eo]=Konzolo
Name[et]=Konsool
Name[eu]=Kontsola
Name[he]=מסוף
Name[hi]=कंसोल
Name[hr]=Konzola
Name[is]=Skjáhermir
Name[ka]=კონსოლი
Name[lo]=ຄອນໂຊລ - K
Name[mk]=Конзола
Name[mn]=Консол
Name[nb]=Konsoll
Name[ne]=कन्सोल
Name[nn]=Konsoll
Name[pa]=ਕੰਨਸੋਲ
Name[pl]=Konsola
Name[ro]=Consolă
Name[se]=Konsolla
Name[sk]=Konzola
Name[sl]=Konzola
Name[ta]=கான்சோல்
Name[te]=కాన్సోల్
Name[tg]=Консол
Name[th]=คอนโซล K
Name[zu]=Ikhonsoli
Comment=Konsole configuration module
Comment[af]=Konsole opstelling module
Comment[ar]=وحدة إعداد طرفية التحكم
Comment[az]=Konsol quraşdırma modulu
Comment[be]=Модуль настаўлення кансолі
Comment[bg]=Настройване на конзолата
Comment[bn]=কনসোল কনফিগারেশন মডিউল
Comment[br]=Mollad kefluniadur Konsole
Comment[bs]=Modul sa podešavanje konzole
Comment[ca]=Mòdul de configuració de la consola
Comment[cs]=Konfigurační modul terminálu konsole
Comment[csb]=Mòduł kònfigùracëji kònsolë
Comment[cy]=Modiwl ffurfweddu Konsole
Comment[da]=Konsole-indstillingsmodul
Comment[de]=Modul zur Einrichtung von Konsole
Comment[el]=Άρθρωμα ρύθμισης Κονσόλας
Comment[eo]=Agordo de Konzolo
Comment[es]=Módulo de configuración de Konsole
Comment[et]=Terminaliemulaatori seadistamine
Comment[eu]=Kontsola konfiguratzeko modulua
Comment[fa]=پیمانۀ پیکربندی Konsole
Comment[fi]=Konsolen asetukset
Comment[fr]=Configuration de Konsole
Comment[fy]=Konsole-ynstellingsmodule
Comment[ga]=Modúl Cumraíochta Konsole
Comment[gl]=Módulo de configuración de Konsole
Comment[he]=שינוי הגדרות המסוף
Comment[hi]=कंसोल कॉन्फ़िगरेशन मोड
Comment[hr]=Modul za konfiguriranje konzole
Comment[hu]=A Konsole parancsértelmező beállításai
Comment[is]=Skjáhermisstillingar
Comment[it]=Modulo di configurazione di Konsole
Comment[ja]=Konsole の設定モジュール
Comment[ka]=კონსოლის კონფიგურაციის მოდული
Comment[kk]=Konsole модулін баптау
Comment[km]=ម៉ូឌុល​កំណត់​រចនាសម្ព័ន្ធ Konsole
Comment[lo]=ໂມດູນປັບແຕ່ງຄອນໂຊນ - K
Comment[lt]=Konsole konfigūravimo įrankis
Comment[lv]=Konsoles konfigurācijas modulis
Comment[mk]=Модул за конфигурација на конзолата
Comment[mn]=Консол тохируулгын модул
Comment[ms]=Konsol modul konfigurasi
Comment[mt]=Konfigurazzjoni ta' Konsole
Comment[nb]=Verktøy for å tilpasse Konsole
Comment[nds]=Moduul för't Instellen vun Konsole
Comment[ne]=कन्सोल कन्फिगरेसन मोड्युल
Comment[nl]=Konsole-configuratiemodule
Comment[nn]=Oppsettmodul for Konsole
Comment[nso]=Seripa sa peakanyo ya konsole
Comment[pa]=ਕੰਨਸੋਲ ਸੰਰਚਨਾ ਮੈਡੀਊਲ
Comment[pl]=Moduł konfiguracji konsoli
Comment[pt]=Módulo de configuração do Konsole
Comment[pt_BR]=Módulo de configuração do Konsole
Comment[ro]=Modul de configurare Konsole
Comment[ru]=Модуль настройки Konsole
Comment[rw]=Igice cy'iboneza rya Konsole
Comment[se]=Konsole:a heivehanmoduvla
Comment[sk]=Konfiguračný modul konzole
Comment[sl]=Modul za nastavitve konzole
Comment[sr]=Модул за подешавање Konsole
Comment[sr@Latn]=Modul za podešavanje Konsole
Comment[sv]=Anpassa Konsole
Comment[ta]=கான்சோல் வடிவமைப்பு பகுதி
Comment[tg]=Модули танзимоти Konsole
Comment[th]=โมดูลปรับแต่งคอนโซล K
Comment[tr]=Konsole Yapılandırma modülü
Comment[tt]=Konsol caylaw modulı
Comment[uk]=Засіб конфігурації модуля Konsole
Comment[uz]=Terminalni moslash moduli
Comment[uz@cyrillic]=Терминални мослаш модули
Comment[ven]=Modulu wa nzudzanyo wa Konsole
Comment[vi]=Cấu hình Konsole
Comment[wa]=Module d' apontiaedje do terminå di TDE Konsole
Comment[xh]=Umnqongo woqwalaselo we Konsole
Comment[zh_CN]=Konsole 配置模块
Comment[zh_TW]=Konsole 組態模組
Comment[zu]=Ingxenye yokuhlanganisela ikhonsoli
Keywords=konsole;schema;konsole background;colors;background;terminal application;terminal;
Keywordsaz=konsol;sxem;konsol arxa planı;rənglər;arxa plan;terminal proqramı;terminal;
Keywordsbe=Кансоль;Схема;Фон кансолі;Колеры;Фон;Тэрмінальная праграма;Тэрмінал;Эмулятар тэрміналу;konsole;schema;konsole background;colors;background;terminal application;terminal;
Keywordsbg=конзола; терминал; konsole; schema; konsole background; colors; background; terminal application; terminal;
Keywordsca=consola;esquema;fons de la consola;colors;fons;aplicació de terminal;terminal;
Keywordscs=konsole;schéma;pozadí konsole;barvy;pozadí;terminálová aplikace;terminál;
Keywordscsb=kònsola;schemat;spòdlé kònsolë;farwë;spòdlé;programa terminala;terminal;
Keywordscy=konsole;sgema;cefndir konsole;lliwiau;cefndir;cymhwysiadau terfynell;terfynell;
Keywordsda=konsole;sammensætning;konsole-baggrund;farver;baggrund;terminalprogram;terminal;
Keywordsde=Konsole;Farbschema;Hintergrund;Farben;Terminal;
Keywordsel=κονσόλα;σχήμα;φόντο κονσόλας;χρώματα;φόντο;εφαρμογή τερματικού;τερματικό;
Keywordsen_GB=konsole;schema;konsole background;colours;background;terminal application;terminal;
Keywordseo=Konzolo;koloraro;fono;koloro;konzolofono;terminaaplikaĵo;terminalo;
Keywordses=konsole;esquema;fondo de konsole;colores;fondo;aplicación de terminal;terminal;
Keywordset=konsool;skeem;konsooli taust;värvid;taust;terminal;terminaliemulaator;
Keywordseu=konsole;eskema;kontsolaren atzeko planoa;koloreak;atzeko planoa;terminal aplikazioa;terminala;
Keywordsfa=konsole، طرحواره، زمینه konsole، رنگها، زمینه، کاربرد پایانه، پایانه;
Keywordsfi=konsole;teema;konsolen tausta;värit;tausta;pääteohjelma;pääte;komento;komentikkuna;
Keywordsfr=konsole;modèle;fond;couleurs;terminal;
Keywordsfy=konsole;skema;konsole eftergrûn;colors;kleuren;background;eftergrûn;terminal applikaasje;terminal;
Keywordsga=konsole;scéimre;cúlra konsole;dathanna;cúlra;clár teirminéil;teirminéal;
Keywordsgl=konsole;esquema;fondo de konsole;cores;fondo;aplicación de terminal;terminal;
Keywordshe=מסוף;יישום מסוף;רקע;צבעים;רקע המסוף;תבנית; konsole;schema;konsole background;colors;background;terminal application;terminal;
Keywordshi=कंसोल;योजना;कंसोल पृष्ठभूमि;रंग;पृष्ठ भूमि;टर्मिनल अनुप्रयोग;टर्मिनल;
Keywordshr=konsole;schema;konsole background;colors;background;terminal application;terminal;konzola;shema;pozadina konzole;boje;pozadina;terminalska aplikacija;
Keywordshu=Konsole;kinézet;terminál-háttér;színek;háttér;terminálalkalmazás;terminál;
Keywordsis=konsole;skjáhermir;skjáhermissbakgrunnur;litir;bakgrunnur;terminal application;terminal;
Keywordsit=konsole;schema;sfondo di konsole;colori;sfondo;terminale;shell;
Keywordsja=konsole;schema;konsole 背景;色;背景;ターミナルアプリケーション;ターミナル;
Keywordskm=កុងសូល;គ្រោងការណ៍;ផ្ទៃ​ខាង​ក្រោយ​កុងសូល;ពណ៌;ផ្ទៃ​ខាង​ក្រោយ;កម្មវិធី​ស្ថានីយ;ស្ថានីយ;
Keywordslt=konsole;schema;konsole background;colors;background;terminal application;terminal; konsolė; schema; konsolės fono spalva; spalvos; fono spalva; terminalinė programa; terminalas;
Keywordslv=konsole;shēma;konsoles fons;krāsas;fons;termināla aplikācija;termināls;
Keywordsmk=konsole;schema;konsole background;colors;background;terminal application;terminal;конзола;шема;подлога на конзола;позадина на конзола;бои;подлога;позадина;терминалска апликација;терминал;
Keywordsmn=Консол;Өнгөний схем;Дэвсгэр;Өнгө;Терминал;
Keywordsmt=konsole;schema;konsole background;colors;background;terminal application;terminal;skema;sfond;kuluri;emulatur;
Keywordsnb=konsole;oppsett;konsoll;konsollbakgrunn;farger;bakgrunn;terminal;
Keywordsnds=Konsole;Muster;Klören;Achtergrund;Terminalprogramm;Terminal;
Keywordsne=कन्सोल; स्कीमा; कन्सोल पृष्ठभूमि; रङहरू; पृष्ठभूमि; टर्मिनल अनुप्रयोग; टर्मिनल;
Keywordsnn=konsoll;oppsett;konsollbakgrunn;fargar;bakgrunn;terminal;
Keywordsnso=konsole;schema;bokamorago bja konsole;mebala;bokamorago;tshomiso ya terminal;terminal;
Keywordspa=konsole;schema;konsole background;colors;background;terminal application;terminal;ਕੰਨਸੋਲ;ਸਕੀਮ;ਰੰਗ;ਟਰਮੀਨਲ;
Keywordspl=konsola;schemat;tło konsoli;kolory;tło;program terminala;terminal;
Keywordspt=konsole;esquema;fundo do konsole;cores;fundo;aplicação de terminal;terminal;
Keywordspt_BR=konsole;esquema;fundo do konsole;cores;segundo plano;aplicativo de terminal; terminal;
Keywordsro=consolă;konsole;schemă;fundal;terminal;aplicație terminal;
Keywordsrw=Konsole;igishushanyombonera ;mbuganyuma ya konsole;amabara ; mbuganyuma ;Porogaramu Igihera; Igihera;
Keywordsse=konsolla;heivehus;konsolladuogás;ivnnit;duogáš;terminála;
Keywordssk=konsole;schéma;pozadie konzole;konzola;farby;pozadie;terminálová aplikácia;terminál;
Keywordssl=konsola;shema;ozadje konzole;barve;ozadje;terminalski program;terminal;
Keywordssr=konsole;schema;konsole background;colors;background;terminal application;terminal;терминал;боје;позадина;шема;
Keywordssr@Latn=konsole;schema;konsole background;colors;background;terminal application;terminal;terminal;boje;pozadina;šema;
Keywordssv=konsole;konsoll;schema;konsol bakgrund;färger;bakgrund;terminalprogram;terminal;
Keywordsta=கான்சோல்;அமைப்பு;கான்சோல் பின்ன்ணி;வண்ணங்கள்;பின்ன்ணி;கடைசி பயன்பாடு;கடைசி;
Keywordsth=คอนโซล K;ชุดรูปแบบ;พื้นหลังคอนโซล;สี;พื้นหลัง;แอพพลิเคชันเทอร์มินัล;เทอร์มินัล;
Keywordstr=konsol;şema;konsol arkaplanı;renkler;arkaplan;terminal;konsole;
Keywordsuk=konsole;схема;тло konsole;кольори;тло;програма терміналу;термінал;
Keywordsuz=terminalning orqa foni;ranglar;orqa fon;terminal dasturi;terminal;
Keywordsuz@cyrillic=терминалнинг орқа фони;ранглар;орқа фон;терминал дастури;терминал;
Keywordsven=konsole;tshikimu;vhuvha ha konsole;mivhala ya konsole;theminala;apulifikhesheni ya theminala;theminala;
Keywordsvi=konsole;schema;ảnh nền của konsole;màu;nền;trình đầu cuối;thiết bị cuối;
Keywordswa=konsole;arindjmint;fond del konsole;coleurs;fond;prgrame terminå;terminå;
Keywordsxh=konsole;schema;imvelaphi ye konsole;imibala;imvelaphi;isicelo sesiphelo sendlela;isiphelo sendlela;
Keywordszh_CN=konsole;schema;konsole background;colors;background;terminal application;terminal;颜色;背景色;终端程序;终端;
Keywordszh_TW=konsole;schema;konsole background;colors;background;terminal application;terminal;配色;konsole 背景;顏色;背景;終端機應用程式;終端機;
Keywordszu=konsole;iplani;inkundla yekhonsoli;imibala;inkundla; umyaleli wangaphandle;ithuluzi langaphandle;
