[Desktop Entry]
NotShowIn=GNOME;
MimeType=application/x-ksysguard
Comment=TDE System Guard
Comment[af]=TDE Stelsel Wag
Comment[ar]=حارس النظام TDE
Comment[az]=TDE Sistem Cangüdəni
Comment[be]=Ахоўнік сістэмы TDE
Comment[bg]=Системна защита
Comment[bn]=কে.ডি.ই. সিস্টেম গার্ড
Comment[br]=Gward Reizhiad TDE
Comment[bs]=TDE zaštita sistema
Comment[ca]=Vigilant del sistema TDE
Comment[cs]=Správce systému TDE
Comment[csb]=TDE Wachtôrz Systemë
Comment[cy]=Gwarchodwr Cysawd TDE
Comment[da]=TDE Systemvagt
Comment[de]=TDE-Systemüberwachung
Comment[el]=Φρουρός συστήματος του TDE
Comment[eo]=TDE-Sistemobservilo
Comment[es]=Guardián del sistema de TDE
Comment[et]=TDE süsteemi valvur
Comment[eu]=TDEren sistemaren kontrola
Comment[fa]=محافظ سیستم TDE
Comment[fi]=TDE:n järjestelmänvalvonta
Comment[fr]=Surveillance du système
Comment[fy]=TDE systeembefeiliging
Comment[ga]=Garda an Chórais TDE
Comment[gl]=Vixiante do Sistema de TDE
Comment[he]=משמר המערכת של TDE
Comment[hi]=केडीई तंत्र गार्ड
Comment[hr]=TDE zaštitnik sustava
Comment[hu]=TDE rendszermonitor
Comment[is]=TDE kerfisvörður
Comment[it]=Controllo di sistema di TDE
Comment[ja]=TDE システムガード
Comment[ka]=TDE სისტემური მონიტორი
Comment[kk]=TDE жүйелік бақылаушысы
Comment[km]=ការពារ​ប្រព័ន្ធ TDE
Comment[ko]=TDE 시스템 지킴이
Comment[lo]=ເຄື່ອງມືຶປ້ອງກັນລະບົບຂອງ TDE
Comment[lt]=TDE sistemos apsauga
Comment[lv]=TDE Sistēmas Sargs
Comment[mk]=TDE Системски чувар
Comment[mn]=КДЭ-Системийн хяналт
Comment[ms]=Pengawas Sistem TDE
Comment[mt]=Gwardja tas-Sistema TDE
Comment[nb]=TDE Systemovervåker
Comment[nds]=TDE-Systeemwachter
Comment[ne]=TDE प्रणाली रक्षक
Comment[nl]=TDE systeembewaking
Comment[nn]=TDE Systemvakt
Comment[nso]=Thlokomelo ya System ya TDE
Comment[pa]=TDE ਸਿਸਟਮ ਗਾਰਡ
Comment[pl]=TDE Strażnik Systemu
Comment[pt]=Vigilante do sistema do TDE
Comment[pt_BR]=Sistema de Guarda do TDE
Comment[ro]=Sistem de gardă TDE
Comment[ru]=Системный монитор
Comment[rw]=Umurinzi Sisitemu TDE
Comment[se]=TDE vuogádatfákta
Comment[sk]=TDE Strážca systému
Comment[sl]=Sistemski varuh TDE
Comment[sr]=TDE чувар система
Comment[sr@Latn]=TDE čuvar sistema
Comment[sv]=TDE:s systemövervakare
Comment[ta]=TDE கணினி காவலன்
Comment[tg]=Муҳофизи системаи TDE
Comment[th]=เครื่องมือป้องกันระบบ TDE
Comment[tr]=TDE Sistem Koruyucu
Comment[tt]=TDE'nıñ Sistem Saqçısı
Comment[uk]=Системний вартовий TDE
Comment[uz]=TDE tizim nazoratchisi
Comment[uz@cyrillic]=TDE тизим назоратчиси
Comment[ven]=Mulindi wa maitele a TDE
Comment[vi]=Trình bảo vệ Hệ thống TDE
Comment[wa]=Gåre sistinme TDE
Comment[xh]=TDE Ukhuselo lendlela yokusebenza
Comment[zh_CN]=TDE 系统卫士
Comment[zh_TW]=TDE 系統守衛
Comment[zu]=Unogada Wesistimu ye-TDE
Icon=ksysguard
Type=MimeType
Patterns=*.sgrd;
X-KDE-AutoEmbed=false
