[Desktop Entry]
Exec=tdecmshell colors
Icon=colorscm
Type=Application
X-DocPath=kcontrol/colors/index.html


X-TDE-Library=colors
X-TDE-FactoryName=colors
X-TDE-ParentApp=kcontrol

Name=Colors
Name[af]=Kleure
Name[ar]=الألوان
Name[az]=Rənglər
Name[be]=Колеры
Name[bg]=Цветове
Name[bn]=রং
Name[br]=Livioù
Name[bs]=Boje
Name[cs]=Barvy
Name[csb]=Farwë
Name[cy]=Lliwiau
Name[da]=Farver
Name[de]=Farben
Name[el]=Χρώματα
Name[en_GB]=Colours
Name[eo]=Koloroj
Name[es]=Colores
Name[et]=Värvid
Name[eu]=Koloreak
Name[fa]=رنگها
Name[fi]=Värit
Name[fo]=Litir
Name[fr]=Couleurs
Name[fy]=Kleuren
Name[ga]=Dathanna
Name[gl]=Cores
Name[he]=צבעים
Name[hi]=रंग
Name[hr]=Boje
Name[hu]=Színek
Name[id]=Warna
Name[is]=Litir
Name[it]=Colori
Name[ja]=色
Name[ka]=ცვეტები
Name[kk]=Түстер
Name[km]=ពណ៌
Name[ko]=색
Name[lo]=ສີ
Name[lt]=Spalvos
Name[lv]=Krāsas
Name[mk]=Бои
Name[mn]=Өнгө
Name[ms]=Warna
Name[mt]=Kuluri
Name[nb]=Farger
Name[nds]=Klören
Name[ne]=रङ
Name[nl]=Kleuren
Name[nn]=Fargar
Name[nso]=Mebala
Name[pa]=ਰੰਗ
Name[pl]=Kolory
Name[pt]=Cores
Name[pt_BR]=Cores
Name[ro]=Culori
Name[ru]=Цвета
Name[rw]=Amabara
Name[se]=Ivnnit
Name[sk]=Farby
Name[sl]=Barve
Name[sr]=Боје
Name[sr@Latn]=Boje
Name[ss]=Imibala
Name[sv]=Färger
Name[ta]=வண்ணங்கள்
Name[te]=రంగులు
Name[tg]=Рангҳо
Name[th]=สี
Name[tr]=Renkler
Name[tt]=Töslär
Name[uk]=Кольори
Name[uz]=Ranglar
Name[uz@cyrillic]=Ранглар
Name[ven]=Mivhala
Name[vi]=Màu
Name[wa]=Coleurs
Name[xh]=Imibala
Name[zh_CN]=颜色
Name[zh_TW]=顏色
Name[zu]=Imibala

Comment=Color settings
Comment[af]=Kleur instellings
Comment[ar]=ضبط الألوان
Comment[az]=Rəng qurğuları
Comment[be]=Настаўленне колераў
Comment[bg]=Настройване цветовете на системата
Comment[bn]=রং সেটিংস
Comment[br]=Kefluniañ al livioù
Comment[bs]=Podešavanje boja
Comment[ca]=Arranjament dels colors
Comment[cs]=Nastavení barev
Comment[csb]=Ùstôw farwów
Comment[cy]=Gosodiadau lliwiau
Comment[da]=Farveindstillinger
Comment[de]=Einstellung der Bildschirmfarben
Comment[el]=Ρυθμίσεις χρωμάτων
Comment[en_GB]=Colour settings
Comment[eo]=Agordo de la koloroj
Comment[es]=Preferencias sobre los colores
Comment[et]=Värvide seadistused
Comment[eu]=Koloreen konfigurazioa
Comment[fa]=تنطیمات رنگها
Comment[fi]=Väriasetukset
Comment[fo]=Lituppseting
Comment[fr]=Configuration des couleurs
Comment[fy]=Kleuren ynstelle
Comment[ga]=Socruithe na ndathanna
Comment[gl]=Configuración das cores
Comment[he]=שינוי הגדרות הצבעים
Comment[hi]=रंग विन्यास
Comment[hr]=Postava boja
Comment[hu]=Színbeállítások
Comment[id]=Seting warna
Comment[is]=Stillingar lita
Comment[it]=Impostazioni dei colori
Comment[ja]=色の設定
Comment[ka]=ფერების კონფიგურაცია
Comment[kk]=Түстерді орнату
Comment[km]=ការ​កំណត់​ពណ៌
Comment[ko]=색 설정
Comment[lo]=ຕັ້ງຄ່າສີ
Comment[lt]=Spalvų parametrai
Comment[lv]=Krāsu uzstādījumi
Comment[mk]=Поставувања за боите
Comment[mn]=Дэлгэцийн өнгө тохируулах
Comment[ms]=Seting warna
Comment[mt]=Konfigurazzjoni tal-kuluri
Comment[nb]=Fargeinnstillinger
Comment[nds]=Klören instellen
Comment[ne]=रङ सेटिङ
Comment[nl]=Kleuren instellen
Comment[nn]=Fargeinnstillingar
Comment[nso]=Dipeakanyo tsa mebala
Comment[oc]=Arranjament dèus colors
Comment[pa]=ਰੰਗ ਸੈਟਿੰਗ
Comment[pl]=Ustawienia kolorów
Comment[pt]=Configuração das cores
Comment[pt_BR]=Configurações de cor
Comment[ro]=Configurează culorile ferestrelor
Comment[ru]=Настройка цветов
Comment[rw]=Amagenamiterere y'ibara
Comment[se]=Ivdneheivehusat
Comment[sk]=Nastavenie farieb
Comment[sl]=Nastavitve barv
Comment[sr]=Поставке боја
Comment[sr@Latn]=Postavke boja
Comment[ss]=Kuhleleka kwembala
Comment[sv]=Anpassa färger
Comment[ta]=வண்ண அமைப்புகள்
Comment[te]=రంగుల అమరికలు
Comment[tg]=Танзимоти ранг
Comment[th]=ตั้งค่าสี
Comment[tr]=Renk ayarları
Comment[tt]=Tös caylaw
Comment[uk]=Налаштування кольорів
Comment[uz]=Ranglarning moslamalari
Comment[uz@cyrillic]=Рангларнинг мосламалари
Comment[ven]=Mavhekanyele a muvhala
Comment[vi]=Thiết lập màu
Comment[wa]=Apontiaedje des coleurs
Comment[xh]=Izicwangciso zombala
Comment[zh_CN]=颜色设置
Comment[zh_TW]=顏色設定
Comment[zu]=Izilungiso zombala

Keywords=colors;colours;scheme;contrast;Widget colors;Color Scheme;
Keywordsaf=colors;colours;Skema;contrast;Widget colors;Color Skema;
Keywordsaz=rənglər;sxem;kontrast;Rəng Cədvəli;
Keywordsbe=колеры;схема;кантраст;колеры віджэтаў;колерная схема;colors;colours;scheme;contrast;Widget colors;Color Scheme;
Keywordsbg=цветове; схема; цветова; colors; colours; scheme; contrast; Widget colors; Color Scheme;
Keywordsca=colors;esquema;contrast;colors d'estri;esquema de color;
Keywordscs=Barvy;Schéma;Kontrast;Barevná schémata;
Keywordscsb=farwa;schema;kòntrast;farwë elementów òknów;schema farwów;
Keywordscy=lliwiau;cynlluniau;cyferbyniad;lliwiau celfigion;Cynllun Lliw;
Keywordsda=farver;system;kontrast;Kontrolfarver;Farvesammensætning;
Keywordsde=Farben;Schema;Kontrast;Farbschema;Elemente;
Keywordsel=χρώματα;χρώματα;θέμα;αντίθεση;Χρώματα γραφικού συστατικού;Θέμα χρωμάτων;
Keywordsen_GB=colours;scheme;contrast;Widget colours;Colour Scheme;
Keywordseo=koloroj;skemo;kontrasto;fenestraĵo-koloroj;koloraro;
Keywordses=colores;esquema;contraste;Colores de los objetos visuales;Colores de los widgets;Esquema de colores;
Keywordset=värvid;skeem;kontrast;värviskeem;
Keywordseu=koloreak;antolamendua;kontrastea;Widget-en koloreak;Kolore eskema;
Keywordsfa=رنگها، رنگها، طرحواره، سایه روشن، رنگهای عنصر، طرحوارۀ رنگ;
Keywordsfi=väri;teema;kontrasti;työkalujen värit;väriteema;
Keywordsfo=litir;
Keywordsfr=couleurs;modèles de couleurs;contraste;couleur des éléments graphiques;modèle;
Keywordsfy=kleuren;kleur;skema;kontrast;widgetkleuren;kleurenskema;
Keywordsga=dathanna;scéim;codarsnacht;dathanna giuirléidí;Scéim Dathanna;
Keywordsgl=cor;cores;esquema;contraste;cores dos widgets;Esquema das cores;
Keywordshe=colors;colours;scheme;contrast;Widget colors;Color;Schemeצבעים;תבנית;חדות;צבע פריטים;תבנית צבעים;
Keywordshi=रंग;योजना;कंट्रास्ट;विजेट रंग;रंग योजना;
Keywordshr=colors;colours;scheme;contrast;Widget colors;Color Scheme;boja;boje;shema;kontrast;Boje widgeta;Shema bojanja;
Keywordshu=színek;séma;kontraszt;elemszín;színösszeállítás;
Keywordsid=warna;scheme;kontras; warna widget; warna scheme;
Keywordsis=litir;litur;skema;skerpa;
Keywordsit=colori;schema;contrasto;colore widget;colore elementi grafici;schema di colori;
Keywordsja=色;スキーム;コントラスト;ウィジェット色;色スキーム;
Keywordskm=ពណ៌;គ្រោងការណ៍;កម្រិត​ពណ៌;ពណ៌​របស់​វត្ថុ​មើលឃើញ;គ្រោងការណ៍​ពណ៌;
Keywordslt=colors;colours;scheme;contrast;Widget colors;Color Scheme;spalvos;koloritai;schema;kontrastas; Valdiklių spalvos; Spalvų Schema;
Keywordslv=krāsu;krāsas;shēma;kontrasts;Vidžeta krāsas;Krāsu Shēma;
Keywordsmk=colors;colours;scheme;contrast;Widget colors;Color Scheme;бои;шема;контраст;Шема на бои;
Keywordsmn=Өнгө;Схем;Эрчим;Өнгөний схем;Элемент;
Keywordsms=warna;warna;skema; kontras; warna Widget;Skema Warna;
Keywordsnb=farger;oppsett;kontrast;elementfarger;fargeoppsett;
Keywordsnds=Klören;Schema;Kontrast;Bedeenelementen;Klöörschema;
Keywordsne=रङ; रङ्ग; योजना; व्यतिरेक; विजेट रङ; रङ योजना;
Keywordsnl=kleuren;kleur;schema;contrast;widgetkleuren;kleurenschema;
Keywordsnn=fargar;oppsett;kontrast;elementfargar;fargeoppsett;
Keywordsnso=mebala;mebala;leano;phapano;Mebala ya Widget;Leano la Mmala;
Keywordspa=colors;colours;scheme;contrast;Widget colors;Color Scheme;ਰੰਗ;ਸਕੀਮ;
Keywordspl=kolory;schemat;kontrast;kolory elementów okienek;schemat kolorów;
Keywordspt=cores;esquema;esquema;contraste;cores dos elementos;esquema de cor;
Keywordspt_BR=cores;esquema;contraste;cores de controles;Esquema de cor;
Keywordsro=culoare;culori;schemă;contrast;componente;schemă de culori;
Keywordsrw=Amabara;amabara;Igishushanyombonera;inyuranyamigaragarire; Amabara y'akabanga;Igishushombonera cy'ibara;
Keywordsse=ivnnit;coahkádusat;vuostálasvuohta;áhtaivnnit;ivdnečoahkádus;
Keywordssk=farby;schémy;kontrast;farby prvkov;schéma farieb;
Keywordssl=barva;barve;sheme;kontrast;nadzor gradnikov;barvna shema;
Keywordssr=боје;шема;контраст;шема боја;
Keywordssr@Latn=boje;šema;kontrast;šema boja;
Keywordsss=mibala;mibala;inhlanganisela;kucatsanisa;mibala yesisetjentiswa;kwakheka kwembala;
Keywordssv=färger;schema;kontrast;Komponentfärger;Färgschema;
Keywordsta=வண்ணங்கள்;வண்ணங்கள்;திட்டம்;எதிரான;Widget வண்ணங்கள்;வண்ண முறை;
Keywordstg=colors;colours;scheme;contrast;Widget colors;Color Scheme;рангҳо;рангҳо;
Keywordsth=สี;ชุดสี;ความตัดกันของสี;สีของคอนโทรล;
Keywordstr=renkler;şema;kontrast;Renk Tablosu;
Keywordsuk=кольори;схема;контрастність;кольори віджетів;схема кольорів;
Keywordsuz=ranglar;qolip;kontrast;vidjet ranglari;rang qolipi;
Keywordsuz@cyrillic=ранглар;қолип;контраст;виджет ранглари;ранг қолипи;
Keywordsven=mivhala;mivhala;tshikimu;mbambe;Widget mivhala;Tshikimu tsha Muvhala;
Keywordsvi=màu;màu sắc;sắc thái;tương phản;Màu của ô điều khiển;Sắc thái Màu;
Keywordswa=coleurs;arindjmint;contrasse;coleurs d' ahesse;arindjmint di coleurs;arindjmints d' coleurs;
Keywordsxh=imibala;imibala;udweliso;isiboniso somahluko;Imibala ye widget;Udweliso Olunombala;
Keywordszh_CN=colors;colours;scheme;contrast;Widget colors;Color Scheme;颜色;方案;对比;部件颜色;配色方案;
Keywordszh_TW=colors;colours;scheme;contrast;Widget colors;Color Scheme;顏色;對比;元件顏色;配色;
Keywordszu=imibala;imibala;iplani;ukugqama;imibala ye-Widget;Iplani Lombala;

Categories=Qt;TDE;X-TDE-settings-looknfeel;
