[Desktop Entry]
Name=Control Center
Name[af]=Beheer Sentrum
Name[ar]=مركز التحكم
Name[az]=İdarə Mərkəzi
Name[be]=Цэнтр кіравання
Name[bg]=Контролен център
Name[bn]=নিয়ন্ত্রণ কেন্দ্র
Name[br]=Kreizenn ren
Name[bs]=Kontrolni centar
Name[ca]=Centre de control
Name[cs]=Ovládací centrum
Name[csb]=Centróm kòntrolë
Name[cy]=Canolfan Rheoli
Name[da]=Kontrolcenter
Name[de]=Kontrollzentrum
Name[el]=Κέντρο ελέγχου
Name[en_GB]=Control Centre
Name[eo]=Stircentro
Name[es]=Centro de control
Name[et]=Juhtimiskeskus
Name[eu]=Kontrol gunea
Name[fa]=مرکز کنترل
Name[fi]=Ohjauskeskus
Name[fr]=Centre de configuration de TDE
Name[fy]=Konfiguraasjesintrum
Name[ga]=Lárionad Rialaithe
Name[gl]=Centro de Control
Name[he]=מרכז הבקרה
Name[hi]=नियंत्रण केंद्र
Name[hr]=Upravljačko središte
Name[hu]=Vezérlőpult
Name[id]=Pusat Kontrol
Name[is]=Stjórnborð
Name[it]=Centro di controllo
Name[ja]=コントロールセンター
Name[ka]=საკონტროლო ცენტრი
Name[kk]=Басқару орталығы
Name[km]=មជ្ឈមណ្ឌល​បញ្ជា
Name[ko]=제어판 모듈
Name[lo]=ສູນຄວບຄຸມ
Name[lt]=Valdymo centras
Name[lv]=Vadības Centrs
Name[mk]=Контролен центар
Name[mn]=Удирдах төв
Name[ms]=Pusat Kawalan
Name[mt]=Ċentru tal-Kontroll
Name[nb]=Kontrollpanel
Name[nds]=Kuntrullzentrum
Name[ne]=नियन्त्रण केन्द्र
Name[nl]=Configuratiecentrum
Name[nn]=Kontrollsenter
Name[nso]=Bogare bja Taolo
Name[oc]=Centre de control
Name[pa]=ਕੰਟਰੋਲ ਕੇਂਦਰ
Name[pl]=Centrum sterowania
Name[pt]=Centro de Controlo
Name[pt_BR]=Centro de Controle
Name[ro]=Centrul de control
Name[ru]=Центр управления
Name[rw]=Kugenzura Hagati
Name[se]=Stivrenguovddáš
Name[sk]=Ovládacie Centrum
Name[sl]=Nadzorno središče
Name[sr]=Контролни центар
Name[sr@Latn]=Kontrolni centar
Name[ss]=Sikhungo sekulawula
Name[sv]=Inställningscentralen
Name[ta]=கட்டுப்பாட்டு மையம்
Name[te]=అధికార కేంద్రం
Name[tg]=Маркази контрол
Name[th]=ศูนย์ควบคุม
Name[tr]=Kontrol Merkezi
Name[tt]=İdärä Üzäge
Name[uk]=Центр керування
Name[uz]=Boshqaruv markazi
Name[uz@cyrillic]=Бошқарув маркази
Name[ven]=Senthara ya vhulanguli
Name[vi]=Trung tâm Điều khiển
Name[wa]=Cinte di contrôle
Name[xh]=Umbindi Wolawulo
Name[zh_CN]=控制中心
Name[zh_TW]=控制中心
Name[zu]=Indawo Yokulawula
Comment=Control Center modules menu
Comment[af]=Beheer Sentrum Modules kieslys
Comment[ar]=قائمة وحدات مركز التحكّم
Comment[be]=Меню модуляў Цэнтра кіравання
Comment[bg]=Меню на модулите в контролния център
Comment[bn]=বিভিন্ন নিয়ন্ত্রণ কেন্দ্র মডিউল সম্বলিত মেনু
Comment[ca]=Menú dels mòduls del centre de control
Comment[cs]=Nabídka modulů Ovládacího centra
Comment[csb]=Menu mòdułów Centróm kòntrolë
Comment[da]=Menu med moduler i kontrolcentret
Comment[de]=Das Menü für Kontrollzentrum-Module
Comment[el]=Μενού αρθρωμάτων κέντρου ελέγχου
Comment[en_GB]=Control Centre modules menu
Comment[eo]=Menuo de Stircentraj Moduloj
Comment[es]=Menú de los módulos del Centro de control
Comment[et]=Juhtimiskeskuse moodulite menüü
Comment[eu]=Kontrol gunearen moduluen menua
Comment[fa]=گزینگان پیمانه‌های مرکز کنترل
Comment[fi]=Ohjauskeskuksen moduulivalikko
Comment[fr]=Menu des modules du Centre de configuration
Comment[fy]=Menu mei Konfiguraasjemodules
Comment[gl]=Menu dos Módulos do Centro de Control
Comment[he]=תפריט מודולי מרכז בקרה
Comment[hr]=Izbornik modula upravljačkog središta
Comment[hu]=Menü a Vezérlőpult moduljaival
Comment[is]=Valmynd stjórnborðseininga
Comment[it]=Menu dei moduli del centro di controllo
Comment[ja]=コントロールセンターモジュールメニュー
Comment[kk]=Басқару орталықтың модульдер мәзірі
Comment[km]=ម៉ឺនុយ​ម៉ូឌុល​មជ្ឈមណ្ឌល​បញ្ជា
Comment[ko]=제어판 모듈
Comment[lt]=Valdymo centro modulių meniu
Comment[mk]=Мени со модулите од Контролниот центар
Comment[nb]=Meny for kontrollpanelmoduler
Comment[nds]=Kuntrullzentrum-Modulen
Comment[ne]=नियन्त्रण केन्द्र मोड्युल मेनु
Comment[nl]=Menu met Configuratiemodules
Comment[nn]=Meny for kontrollsentermodular
Comment[pa]=ਕੰਟਰੋਲ ਕੇਂਦਰ ਮੈਡੀਊਲ ਮੇਨੂ
Comment[pl]=Menu modułów Centrum sterowania
Comment[pt]=Menu de módulos do Centro de Controlo
Comment[pt_BR]=Menu dos módulos do Centro de Controle
Comment[ru]=Модули Центра управления
Comment[sk]=Menu pre moduly Ovládacieho centra
Comment[sl]=Meni z moduli Nadzornega središča
Comment[sr]=Мени модула Контролног центра
Comment[sr@Latn]=Meni modula Kontrolnog centra
Comment[sv]=Meny med moduler i Inställningscentralen
Comment[th]=เมนูของโมดูลของศูนย์ควบคุม
Comment[tr]=Kontrol Merkezi modülleri menüsü
Comment[uk]=Меню модулів в Центрі керування
Comment[uz]=Boshqaruv markazining modullari
Comment[uz@cyrillic]=Бошқарув марказининг модуллари
Comment[vi]=Trung tâm điều khiển mô đun thực đơn
Comment[wa]=Dressêye des modules do cinte di contrôle
Comment[zh_CN]=控制中心模块菜单
Comment[zh_TW]=控制中心模組選單
Icon=package_settings

X-TDE-Library=kickermenu_prefmenu
