[Desktop Entry]
ServiceTypes=image/*
Actions=setAsBackground;tileAsBackground;
X-TDE-Submenu=Set as Background
X-TDE-Submenu[af]=Stel as agtergrond
X-TDE-Submenu[be]=Зрабіць фонавым малюнкам
X-TDE-Submenu[bg]=Установяване като фон
X-TDE-Submenu[bn]=পশ্চাদ্‌পট হিসাবে বেছে নাও
X-TDE-Submenu[bs]=Postavi kao pozadinu
X-TDE-Submenu[ca]=Estableix com a fons
X-TDE-Submenu[cs]=Nastavit jako pozadí
X-TDE-Submenu[csb]=Ùstôwi jakno spòdlé
X-TDE-Submenu[da]=Sæt som baggrund
X-TDE-Submenu[de]=Als Hintergrund setzen
X-TDE-Submenu[el]=Ορισμός ως ταπετσαρία
X-TDE-Submenu[eo]=Agordu kiel fono
X-TDE-Submenu[es]=Establecer como fondo
X-TDE-Submenu[et]=Sea taustapildiks
X-TDE-Submenu[eu]=Ezarri atzeko plano gisa
X-TDE-Submenu[fa]=تنظیم به عنوان زمینه
X-TDE-Submenu[fi]=Aseta taustakuvaksi
X-TDE-Submenu[fr]=Définir comme arrière-plan
X-TDE-Submenu[fy]=As eftergrûn brûke
X-TDE-Submenu[gl]=Pór como Fondo de Escritório
X-TDE-Submenu[he]=קבע כרקע
X-TDE-Submenu[hr]=Postavi kao pozadinu
X-TDE-Submenu[hu]=Beállítás háttérképnek
X-TDE-Submenu[is]=Setja sem bakgrunn
X-TDE-Submenu[it]=Imposta come sfondo
X-TDE-Submenu[ja]=背景としてセット
X-TDE-Submenu[kk]=Ая ретінде орнату
X-TDE-Submenu[km]=កំណត់​ជា​ផ្ទៃខាងក្រោយ
X-TDE-Submenu[lt]=Nustatyti fonu
X-TDE-Submenu[mk]=Постави како подлога
X-TDE-Submenu[nb]=Sett som bakgrunn
X-TDE-Submenu[nds]=As Achtergrund fastleggen
X-TDE-Submenu[ne]=पृष्ठभूमिको रुपमा सेट गर्छ
X-TDE-Submenu[nl]=Als achtergrond gebruiken
X-TDE-Submenu[nn]=Bruk som bakgrunn
X-TDE-Submenu[pa]=ਪਿੱਠਭੂਮੀ ਬਣਾਓ
X-TDE-Submenu[pl]=Ustaw jako tło
X-TDE-Submenu[pt]=Colocar como Fundo
X-TDE-Submenu[pt_BR]=Configurar como Plano de fundo
X-TDE-Submenu[ro]=Setează ca fundal
X-TDE-Submenu[ru]=Сделать фоновым рисунком
X-TDE-Submenu[se]=Geavat duogášgovvan
X-TDE-Submenu[sk]=Nastaviť ako pozadie
X-TDE-Submenu[sl]=Nastavi kot ozadje
X-TDE-Submenu[sr]=Постави као позадину
X-TDE-Submenu[sr@Latn]=Postavi kao pozadinu
X-TDE-Submenu[sv]=Använd som bakgrund
X-TDE-Submenu[th]=ตั้งให้เป็นพื้นหลัง
X-TDE-Submenu[tr]=Masaüstü Arkaplanı Yap
X-TDE-Submenu[uk]=Встановити як тло
X-TDE-Submenu[uz]=Ish stoliga qoʻyish
X-TDE-Submenu[uz@cyrillic]=Иш столига қўйиш
X-TDE-Submenu[vi]=Đặt làm Hình nền
X-TDE-Submenu[wa]=Mete come fond d' waitroûle
X-TDE-Submenu[zh_CN]=设为背景
X-TDE-Submenu[zh_TW]=設為背景

[Desktop Action setAsBackground]
Name=Centered
Name[af]=Gesentreer
Name[ar]=مركز
Name[be]=Пасярэдзіне
Name[bg]=Центрирано
Name[bn]=মাঝামাঝি
Name[br]=Kreizennet
Name[bs]=Centrirano
Name[ca]=Centrat
Name[cs]=Na střed
Name[csb]=Na westrzódkù
Name[cy]=Canoledig
Name[da]=Centreret
Name[de]=Zentriert
Name[el]=Κεντράρισμα
Name[en_GB]=Centred
Name[eo]=Meza
Name[es]=Centrado
Name[et]=Tsentreeritud
Name[eu]=Erdiratua
Name[fa]=مرکزی
Name[fi]=Keskitetty
Name[fr]=Centré
Name[fy]=sintraal setten
Name[ga]=Láraithe
Name[gl]=Centrado
Name[he]=ממורכז
Name[hi]=बीचों-बीच
Name[hr]=Sredinom
Name[hu]=Középre igazítva
Name[is]=Miðjað
Name[it]=Centrato
Name[ja]=中央
Name[ka]=ცენტრზე
Name[kk]=Ортаға
Name[km]=កណ្ដាល
Name[lt]=Centruota
Name[lv]=Centrēts
Name[mk]=Центриран
Name[ms]=Tengah
Name[mt]=Iċċentrat
Name[nb]=Sentrert
Name[nds]=In de Merrn
Name[ne]=केन्द्रित
Name[nl]=Gecentreerd
Name[nn]=Sentrert
Name[pa]=ਕੇਂਦਰੀ
Name[pl]=Wyśrodkowane
Name[pt]=Centrado
Name[pt_BR]=Centralizado
Name[ro]=Centrat
Name[ru]=По центру
Name[rw]=Biri hagati
Name[se]=Guovdut
Name[sk]=V strede
Name[sl]=Usrediščeno
Name[sr]=Центрирано
Name[sr@Latn]=Centrirano
Name[sv]=Centrerad
Name[ta]=மைய
Name[te]=మద్యన
Name[tg]=Марказӣ
Name[th]=จัดกลาง
Name[tr]=Uzat
Name[tt]=Üzäkläşep
Name[uk]=По центру
Name[uz]=Markazda
Name[uz@cyrillic]=Марказда
Name[vi]=Giữa
Name[wa]=Å mitan
Name[zh_CN]=居中
Name[zh_TW]=置中
Icon=background
Exec=dcop kdesktop KBackgroundIface setWallpaper %u 6

[Desktop Action tileAsBackground]
Name=Tiled
Name[af]=Geteël
Name[ar]=مبلّط
Name[be]=Расцягнутае
Name[bg]=Каскадно
Name[bn]=টাইল করা
Name[br]=Teolet
Name[bs]=Popločano
Name[ca]=Repetit
Name[cs]=Dlaždice
Name[csb]=Kachelkòwóné
Name[cy]=Teiledig
Name[da]=Fliselagt
Name[de]=Gekachelt
Name[el]=Σε παράθεση
Name[eo]=kahela
Name[es]=Mosaico
Name[et]=Paanidena
Name[eu]=Mosaikoa
Name[fa]=کاشی‌شده
Name[fi]=Vierekkäin
Name[fr]=Mosaïque
Name[fy]=Tegele
Name[ga]=Tilithe
Name[gl]=Mosaico
Name[he]=פרוש
Name[hi]=चटाई-दार
Name[hr]=Popločeno
Name[hu]=Mozaikszerűen
Name[is]=Flísað
Name[it]=Ripetuto
Name[ja]=タイル状
Name[ka]=მოზაიკა
Name[kk]=Қатарлап
Name[km]=ក្បឿង
Name[lt]=Iškloti
Name[mk]=Поплочен
Name[ms]=Berjubin
Name[mt]=Madum
Name[nb]=Flislagt
Name[nds]=Kachelt
Name[ne]=टायल गरिएको
Name[nl]=Tegels
Name[nn]=Jamsides
Name[pa]=ਤਣਿਆ
Name[pl]=Kafelkowane
Name[pt]=Mosaico
Name[pt_BR]=Ladrilhado
Name[ro]=Mozaic
Name[ru]=Черепицей
Name[rw]=Byudukaro
Name[se]=Bálddalaga
Name[sk]=Dlaždice
Name[sl]=Razdeljeno
Name[sr]=Поређано
Name[sr@Latn]=Poređano
Name[sv]=Sida vid sida
Name[ta]=பிண்ணனி
Name[te]=పలకలుగా
Name[tg]=Тахтасангӣ
Name[th]=ปูทั้งหน้าจอ
Name[tr]=Sırala
Name[tt]=Bülengän
Name[uk]=Плиткою
Name[uz]=Kafel
Name[uz@cyrillic]=Кафель
Name[vi]=Xếp ngói
Name[wa]=A schaeyes
Name[zh_CN]=平铺
Name[zh_TW]=拼貼
Icon=background
Exec=dcop kdesktop KBackgroundIface setWallpaper %u 2
