[Desktop Entry]
Exec=tdecmshell hwmanager
Icon=background
Type=Application
# Restore the following key and remove this comment when a help handbook
# is written. Disabling this key prevents populating the main handbook
# table of contents with a non-existent document, which results in a
# main handbook error message of
# 'There is no documentation available for /xyz/index.html.'
# Also disable this key when there exists only a useless template handbook.
# DocPath=kcontrol/hwmanager/index.html

X-TDE-Library=hwmanager
X-TDE-ParentApp=kcontrol
X-TDE-RootOnly=true
X-TDE-SubstituteUID=true

Categories=Qt;TDE;X-TDE-settings-hardware;
Comment=Configure hardware devices
Comment[en_US]=Configure hardware devices
GenericName=
GenericName[en_US]=
Keywords=hardware
MimeType=
Name=Hardware Device Manager
Name[en_US]=Hardware Device Manager

NoDisplay=false