[Desktop Entry]
Exec=tdecmshell hwmanager
Icon=background
Type=Application
X-DocPath=kcontrol/hwmanager/index.html

X-TDE-Library=hwmanager
X-TDE-ParentApp=kcontrol
X-TDE-SubstituteUID=true

Categories=Qt;TDE;X-TDE-settings-hardware;
Comment=Configure hardware devices
Comment[en_US]=Configure hardware devices
GenericName=
GenericName[en_US]=
Keywords=hardware
MimeType=
Name=Hardware Device Manager
Name[en_US]=Hardware Device Manager

NoDisplay=false
