[Desktop Entry]
Exec=khotkeys
Name=KHotKeys
Name[af]=TDE Kortpad Sleutels
Name[be]=Клавішныя скароты TDE
Name[bg]=Горещи клавиши
Name[cs]=Horké klávesy TDE
Name[csb]=Skrodzënë ë gestë
Name[cy]=BysellauBrysTDE
Name[eo]=Klavkombinoj
Name[es]=Teclas rápidas de TDE
Name[et]=TDE kiirklahvid
Name[fi]=Pikanäppäimet
Name[hi]=के-हॉट-कीज़
Name[hu]=Parancsbeállító (KHotKeys)
Name[is]=Flýtilyklar TDE
Name[lt]=TDE klavišų kombinacijos
Name[lv]=TDE Karstie Taustiņi
Name[mk]=TDE брзи копчиња
Name[mn]=КДЭ-халуун тушаал
Name[nb]=TDE-hurtigtaster
Name[ne]=केडीई हट कुञ्जी
Name[nn]=TDE-snøggtastar
Name[pa]=ਕੇ-ਹਾਟਕੀ
Name[pl]=Skróty i gesty
Name[pt_BR]=Teclas de atalho
Name[ro]=Taste rapide
Name[ru]=Клавиши быстрого доступа
Name[se]=TDE jođánisboalut
Name[sv]=Khotkeys
Name[ta]=Kஹாட்கீஸ்
Name[te]=కెహాట్ కీలు
Name[tg]=Калидҳои тез
Name[th]=ปุ่มพิมพ์ลัดของ TDE
Name[uk]=Швидкі клавіші TDE
Name[vi]=Phím nóng TDE
Name[zh_TW]=TDE 熱鍵
Type=Service
ServiceTypes=KDEDModule
X-TDE-ModuleType=Library
X-TDE-Library=khotkeys
X-TDE-FactoryName=khotkeys
X-TDE-Kded-autoload=false
