[Desktop Entry]
Name=KHelpCenter
Name[af]=Khulpsentrum
Name[be]=Цэнтр дапамогі Trinity
Name[bg]=Помощен център
Name[cs]=Centrum nápovědy
Name[csb]=Centróm Pòmòcë
Name[cy]=KCanolfanCymorth
Name[da]=KHjælpecenter
Name[de]=Trinity-Hilfezentrum
Name[en_GB]=KHelpCentre
Name[eo]=KHelpCentro
Name[es]=KHelpcenter
Name[et]=Trinity abikeskus
Name[fr]=Centre d'aide de Trinity
Name[gl]=Centro de Axuda de Trinity
Name[hi]=के-हेल्प-सेंटर
Name[is]=Hjálparkerfi Trinity
Name[ja]=K ヘルプセンター
Name[lo]=ສູນຊ່ວຍເຫລືອ - K
Name[lv]=KPalīdzībasCentrs
Name[mn]=КДЭ-Тусламжийн төв
Name[nds]=Trinity-Hülpzentrum
Name[ne]=केडीई मद्दत केन्द्र
Name[nso]=KBogare bja Thuso
Name[pa]=ਕੇਸਹਾਇਤਾਕੇਂਦਰ
Name[pl]=Centrum Pomocy
Name[pt_BR]=Centro de Ajuda
Name[ro]=Centrul de ajutor Trinity
Name[ru]=Центр справки
Name[rw]=K-UmwanyaGufasha
Name[sv]=Hjälpcentralen
Name[ta]=Kஉதவிமையம்
Name[te]=కెసహాయ కేంద్రం
Name[tg]=Маркази роҳнамо
Name[th]=ศูนย์ช่วยเหลือ K
Name[tr]=Trinity Yardım Merkezi
Name[uz]=Yordam markazi
Name[uz@cyrillic]=Ёрдам маркази
Name[ven]=Senthara ya thuso ya K
Name[vi]=Trung tâm Trợ giúp Trinity
Name[wa]=KCinteDAidance
Name[zh_CN]=KHelpcenter
Comment=The Trinity Help Center
Comment[af]=Die Kde Hulp Sentrum
Comment[ar]=مركز Trinity للمساعدة
Comment[az]=Trinity Yardım Mərkəzi
Comment[be]=Цэнтр дапамогі Trinity
Comment[bg]=Център за помощна информация
Comment[bn]=কে.ডি.ই. সাহায্য কেন্দ্র
Comment[br]=Kreizenn sikour Trinity
Comment[bs]=Trinity centar za pomoć
Comment[ca]=El centre d'ajuda Trinity
Comment[cs]=Centrum nápovědy prostředí Trinity
Comment[csb]=Centróm Pòmòcë Trinity
Comment[cy]=Canolfan Cymorth Trinity
Comment[da]=Trinity's hjælpecenter
Comment[de]=Das Trinity-Hilfezentrum
Comment[el]=Το κέντρο βοήθειας του Trinity
Comment[en_GB]=The Trinity Help Centre
Comment[eo]=La Trinity-helpocentro
Comment[es]=El centro de ayuda de Trinity
Comment[et]=Trinity abikeskus
Comment[eu]=Trinity laguntza gunea
Comment[fa]=مرکز کمک Trinity
Comment[fi]=Trinity:n Ohje
Comment[fr]=Le centre de documentation de Trinity
Comment[fy]=It Trinity-dokumintaasjesintrum
Comment[ga]=Lárionad Cabhrach Trinity
Comment[gl]=O Centro de Axuda de Trinity
Comment[he]=מרכז העזרה של Trinity
Comment[hi]=केडीई मदद केंद्र
Comment[hr]=Trinity pomoć
Comment[hu]=Trinity Segítség
Comment[id]=Pusat Bantuan Trinity
Comment[is]=Hjálparkerfi Trinity
Comment[it]=La guida di Trinity
Comment[ja]=Trinity ヘルプセンター
Comment[ka]=Trinity-ს დახმარების ცენტრი
Comment[kk]=Trinity анықтама орталығы
Comment[km]=មជ្ឈមណ្ឌលជំនួយ​របស់ Trinity
Comment[ko]=Trinity 도움말 센터
Comment[lo]=ສູນຊ່ວຍເຫລືອຂອງ Trinity
Comment[lt]=Trinity pagalbos centras
Comment[lv]=Trinity Palīdzības Centrs
Comment[mk]=Trinity Центарот за Помош
Comment[mn]=КДЭ-Тусламжийн төв
Comment[ms]=Pusat Bantuan Trinity
Comment[mt]=Ċentru tal-Għajnuna Trinity
Comment[nb]=Trinity Hjelpesenter
Comment[nds]=Dat Trinity-Hülpzentrum
Comment[ne]=केडीई मद्दत केन्द्र
Comment[nl]=Het Trinity-documentatiecentrum
Comment[nn]=Trinity Hjelpesenter
Comment[nso]=Bogare bja Thuso ya Trinity
Comment[oc]=Lo centre d'ajuda Trinity
Comment[pa]=ਕੇਡੀਈ ਸਹਾਇਤਾ ਕੇਂਦਰ
Comment[pl]=Centrum Pomocy Trinity
Comment[pt]=O Centro de Ajuda do Trinity
Comment[pt_BR]=Centro de Ajuda do Trinity
Comment[ro]=Centrul de ajutor al Trinity
Comment[ru]=Центр справки Trinity
Comment[rw]=Trinity Ifashayobora Hagati
Comment[se]=Trinity veahkkeguovddáš
Comment[sk]=Trinity Centrum pomoci
Comment[sl]=Središče pomoči za Trinity
Comment[sr]=Trinity центар за помоћ
Comment[sr@Latn]=Trinity centar za pomoć
Comment[sv]=Trinity:s hjälpcentral
Comment[ta]=Trinity உதவி மையம்
Comment[te]=కెడిఈ సహాయ కేంద్రం
Comment[tg]=Маркази роҳнамои Trinity
Comment[th]=ศูนย์ช่วยเหลือของ Trinity
Comment[tr]=Trinity Yardım Merkezi
Comment[tt]=Trinity Yärdäm Üzäge
Comment[uk]=Центр довідок Trinity
Comment[uz]=Trinity yordam markazi
Comment[uz@cyrillic]=Trinity ёрдам маркази
Comment[ven]=Senthara ya thuso ya Trinity
Comment[vi]=Trung tâm Trợ giúp Trinity
Comment[wa]=Li Cinte d' aidance Trinity
Comment[xh]=Umbindi woncedo lwe Trinity
Comment[zh_CN]=Trinity 帮助中心
Comment[zh_TW]=Trinity 求助中心
Comment[zu]=Indawo Yosizi ye-Trinity
Icon=khelpcenter
X-DocPath=khelpcenter/index.html
Type=Service
Terminal=false
Exec=khelpcenter %u
SwallowExec=
SwallowTitle=
X-TDE-StartupNotify=true
