[Desktop Entry]
Exec=tdecmshell printers
Icon=printmgr
Type=Application
X-DocPath=tdeprint/index.html
MimeType=print/manager;

X-TDE-ModuleType=Library
X-TDE-Library=printmgr
X-TDE-RootOnly=true
X-TDE-HasReadOnlyMode=true

Name=TDEPrint
GenericName=Printers
GenericName[af]=Drukkers
GenericName[ar]=الطابعات
GenericName[be]=Друкаркі
GenericName[bg]=Принтери
GenericName[bn]=মুদ্রণ
GenericName[br]=Moullerezioù
GenericName[bs]=Štampači
GenericName[ca]=Impressores
GenericName[cs]=Tiskárny
GenericName[csb]=Drëkerë
GenericName[cy]=Argraffyddion
GenericName[da]=Printere
GenericName[de]=Drucker
GenericName[el]=Εκτυπωτές
GenericName[eo]=Printiloj
GenericName[es]=Impresoras
GenericName[et]=Printerid
GenericName[eu]=Inprimagailuak
GenericName[fa]=چاپگرها
GenericName[fi]=Tulostimet
GenericName[fr]=Imprimantes
GenericName[ga]=Printéirí
GenericName[gl]=Impresoras
GenericName[he]=מדפסות
GenericName[hi]=प्रिंटर
GenericName[hr]=Pisači
GenericName[hu]=Nyomtató
GenericName[is]=Prentarar
GenericName[it]=Stampanti
GenericName[ja]=プリンタ
GenericName[ka]=პრინტერები
GenericName[kk]=Принтерлер
GenericName[km]=ម៉ាស៊ីន​បោះពុម្ព
GenericName[lo]=ເຄື່ອງພິມ - K
GenericName[lt]=Spausdintuvai
GenericName[lv]=Printeri
GenericName[mk]=Печатачи
GenericName[mn]=Хэвлэгч
GenericName[ms]=Pencetak
GenericName[nb]=Skrivere
GenericName[nds]=Druckers
GenericName[ne]=मुद्रक
GenericName[nn]=Skrivarar
GenericName[nso]=Digatisi
GenericName[pa]=ਪਰਿੰਟਰ
GenericName[pl]=Drukarki
GenericName[pt]=Impressoras
GenericName[pt_BR]=Impressoras
GenericName[ro]=Imprimante
GenericName[ru]=Принтеры
GenericName[rw]=Mucapyi
GenericName[se]=Čálánat
GenericName[sk]=Tlačiarne
GenericName[sl]=Tiskalniki
GenericName[sr]=Штампачи
GenericName[sr@Latn]=Štampači
GenericName[ss]=Tishiceleli
GenericName[sv]=Skrivare
GenericName[ta]=அச்சியந்திரம்
GenericName[te]=ప్రింటర్లు
GenericName[tg]=Чопгарҳо
GenericName[th]=เครื่องพิมพ์
GenericName[tr]=Yazıcılar
GenericName[tt]=Basaqlar
GenericName[uk]=Принтери
GenericName[uz]=Printerlar
GenericName[uz@cyrillic]=Принтерлар
GenericName[ven]=Dziphirinthara
GenericName[vi]=Máy in
GenericName[wa]=Sicrireces
GenericName[xh]=Abashicileli
GenericName[zh_CN]=打印机
GenericName[zh_TW]=印表機
GenericName[zu]=Abashicileli

Comment=Printing system configuration (printers, jobs, classes, ...)
Comment[af]=Drukker substelsel opstelling (drukkers, werke, klasse, ...)
Comment[ar]=إعداد نظام الطباعة (الطابعات, المهمات, الفئات ...)
Comment[az]=Çap Etmə sistemi quraşdırması (çap edicilər, vəzifələr, siniflər, ...)
Comment[be]=Настаўленні сістэмы друку (друкаркі, заданні, класы, ...)
Comment[bg]=Настройване на системата за печат
Comment[bn]=মুদ্রণব্যবস্থার কনফিগারেশন (printers, jobs, classes, ...)
Comment[bs]=Podešavanje sistema štampe (štampači, zadaci, klase, ...)
Comment[ca]=Configuració del sistema d'impressió (impressores, tasques, classes...)
Comment[cs]=Nastavení tiskového systému (tiskárny, úlohy, třídy, ...)
Comment[csb]=Kònfigùracëjô systemë drëkòwaniô (drëkrë, pòlétë, klasë, ...)
Comment[cy]=Ffurfweddu cysawd argraffu (argraffyddion, swyddi, dosbarthidau, ...)
Comment[da]=Printersystemindstilling (printere, job, klasser, ...)
Comment[de]=Einrichtung des Drucksystems (Drucker, Aufträge, Klassen ...)
Comment[el]=Ρύθμιση συστήματος εκτύπωσης (εκτυπωτές, εργασίες, κλάσεις, ...)
Comment[eo]=Agordo de printiloj, taskoj, klasoj,...
Comment[es]=Configuración del sistema de impresión (impresoras, trabajos, clases...)
Comment[et]=Trükkimissüsteemi seadistamine (printerid, tööd, klassid...)
Comment[eu]=Inprimaketa sistemaren konfigurazioa (inprimagailuak, lanak, claseak, ...)
Comment[fa]=پیکربندی سیستم چاپ )چاپگرها، کارها، رده‌ها و ...(
Comment[fi]=Tulostusjärjestelmän asetukset (tulostimet, työt, luokat, ...)
Comment[fr]=Configuration du système d'impression (imprimantes, travaux d'impression, classes...)
Comment[fy]=Ynstellings fan it printsysteem (printers, taken, klassen, ...)
Comment[gl]=Configuración do sistema de Impresión (impresoras, traballos, clases, ...)
Comment[he]=שינוי הגדרות מערכת ההדפסה (מדפסות, עבודות, מחלקות...)
Comment[hi]=प्रिंटर तंत्र कॉन्फ़िगरेशन (प्रिंटर,कार्य,क्लासेस...)
Comment[hr]=Konfiguriranje ispisnog sustava (pisači, zadaci, klase...)
Comment[hu]=A nyomtatási rendszer beállításai
Comment[is]=Stillingar prentkerfis TDE forrita (prentara, verk, flokka,...)
Comment[it]=Configurazione del sistema di stampa (stampanti, lavori, classi, ...)
Comment[ja]=印刷システムの設定 (プリンタ、ジョブ、クラスなど)
Comment[ka]=ბეჭდვის სისტემის კონფიგურაცია (პრინტერები, დავალებები, კლასები,...)
Comment[kk]=Басып шығару жүйесін баптау (принтерлер, тапсырмалар, кластар, ...)
Comment[km]=ការ​កំណត់​រចនាសម្ព័ន្ធ​ប្រព័ន្ធ​បោះពុម្ព (ម៉ាស៊ីន​បោះពុម្ព ការងារ សន្ដាន...)
Comment[lo]=ປັບແຕ່ງລະບົບການພິມ (ເຄື່ອງພິມ,ງານພິມ,ຄລາສ, ...)
Comment[lt]=Spausdinimo sistemos konfigūravimas (spausdintuvai, užduotys, klasės, ...)
Comment[lv]=Drukas sistēmas konfigurācija (drukas iekārtas, darbi, klases, ...)
Comment[mk]=Конфигурација на печатарскиот систем (печатачи, задачи, класи, ...)
Comment[mn]=Хэвлэх системийн тохируулга(Хэвлэгч,Даалгавар, Ангиуд...)
Comment[ms]=Konfigurasi sistem pencetakan [pencetak, kerja, kelas, ...)
Comment[mt]=Konfigurazzjoni tas-sistema tal-ipprintjar (printers, xogħol, klassijiet, ...)
Comment[nb]=Tilpass utskriftssystemet (skrivere, jobber, klasser …)
Comment[nds]=Instellen för dat Drucksysteem (Druckers, Opgaven, Klassen, ...)
Comment[ne]=मुद्रण प्रणाली कन्फिगरेसन (मुद्रक, कार्य, बग, ...)
Comment[nl]=Configuratie van het afdruksysteem (printers, taken, klassen, ...)
Comment[nn]=Oppsett av utskriftssystem (skrivarar, jobbar, klassar, …)
Comment[nso]=Peakanyo ya system ya kgatiso (digatisi, mesomo, maemo,...)
Comment[pa]=ਪਰਿੰਟਿੰਗ ਸਿਸਟਮ ਸੰਰਚਨਾ (ਪਰਿੰਟਰ, ਕੰਮ, ਕਲਾਸ, ...)
Comment[pl]=Konfiguracja systemu drukowania (drukarki, zadania, klasy, ...)
Comment[pt]=Configuração do sistema de impressão (impressoras, tarefas, classes, ...)
Comment[pt_BR]=Configuração do sistema de impressão (impressoras, trabalhos, classes, ...)
Comment[ro]=Configurează sistemul de tipărire (imprimante, lucrări, clase)
Comment[ru]=Настройки системы печати (принтеры, задания, классы...)
Comment[rw]=Iboneza rya sisitemu y'icapa (Mucapyi,imirimo,inzego,..)
Comment[se]=Heivet čálihanvuogádaga (čálániid, barggut, luohkkát, …)
Comment[sk]=Nastavenie systému tlače (tlačiarne, úlohy, triedy, ...)
Comment[sl]=Nastavitev sistema tiskanja (tiskalniki, opravila, razredi ...)
Comment[sr]=Подешавање система за штампање (штампачи, послови, класе, ...)
Comment[sr@Latn]=Podešavanje sistema za štampanje (štampači, poslovi, klase, ...)
Comment[sv]=Anpassa skrivarsystem (skrivare, jobb, klasser...)
Comment[ta]=அச்சியந்திர சாதன வடிவமைப்பு (அச்சியந்திரங்கள், வேலைகள், பிரிவுகள், ...)
Comment[tg]= Танзимоти системаи чоп (чопгарҳо, корҳо, синфҳо ва ғайра)
Comment[th]=ปรับแต่งระบบการพิมพ์ (เครื่องพิมพ์, งานพิมพ์, คลาส, ...)
Comment[tr]=Yazdırma sistemi kurulumu (yazıcılar, işler, sınıflar, ...)
Comment[tt]=Bastıru sistemeneñ caylawı: basaqlar, eşlär, törlär kebek närsä
Comment[uk]=Налаштування системи друку (принтери, задачі, класи, ...)
Comment[uz]=Bosib chiqarish tizimini moslash (printerlar, vazifalar, sinflar...)
Comment[uz@cyrillic]=Босиб чиқариш тизимини мослаш (принтерлар, вазифалар, синфлар...)
Comment[ven]=Nzudzanyo ya maitele au phirintha (Dziphirinthara, mishumo, dzikilasi,...)
Comment[vi]=Cấu hình hệ thống in ấn (máy in, tác vụ in, lớp, ...)
Comment[wa]=Apontiaedje do sistinme d' imprimaedje (sicrireces, bouyes, classes...)
Comment[xh]=Uqwalaselo lwendlela yoshicilelo (abashicileli, imisebenzi, iintlobo, ...)
Comment[zh_CN]=打印系统配置(打印机、任务、类等等)
Comment[zh_TW]=列印系統設定 (印表機、工作、類別等等)
Comment[zu]=Inhlanganiselo yesistimu yokushicilelo (abashicileli, imisebenzi, amakilasi, ...)

Keywords=print;printer;printing management;
Keywordsaf=print;printer;printing bestuuring;
Keywordsar=طبع; طباعة; ادارة الطابعات;
Keywordsaz=çap et;çap edici;çap etmə idarəsi;
Keywordsbe=Друк;Друкаваць;Друкарка;Кіраванне друкам;print;printer;printing management;
Keywordsbg=печат; принтер; отпечатване; управление; система; print; printer; printing management;
Keywordsca=imprimir;impressora;gestió de la impressió;
Keywordscs=tisk;tiskárna;správa tisku;
Keywordscsb=drëkùjë;drëker;sprôwianié wëdrëkama;
Keywordscy=argraffu;argraffydd;rheoli argraffu;
Keywordsda=udskriv;printer;printerhåndtering;
Keywordsde=Druck;Druckaufträge;Druckerverwaltung;
Keywordsel=εκτύπωση;εκτυπωτής;διαχείριση εκτυπώσεων;
Keywordseo=printo;printado;presado;presilo;presadminsitrado;
Keywordses=imprimir;impresora;gestión de impresión;
Keywordset=trükkimine;printer;trükkimise haldamine;
Keywordseu=inprimatu;inprimagailua;inprimaketa kudeaketa;
Keywordsfa=چاپ، چاپگر، مدیریت چاپ;
Keywordsfi=tulostus;tulostin;tulostuksenhallinta;
Keywordsfr=impression;imprimante;système d'impression;
Keywordsfy=print;printer;printing management;printbehear;printsje;
Keywordsga=priontáil;printéir;bainisteoireacht priontála;
Keywordsgl=imprimir;impresora;xestión de impresión;
Keywordshe=הדפסה;מדפסת;ניהול הדפסה; print;printer;printing management;
Keywordshi=छापा;प्रिंटर;छपाई प्रबंधन;
Keywordshr=print;printer;printing management;ispis;pisač;upravljanje ispisivanjem;
Keywordshu=nyomtatás;nyomtató;nyomtatáskezelés;
Keywordsis=prentun;prentari;prentstjórnun;
Keywordsit=stampa;stampante;gestione stampa;
Keywordsja=印刷; プリンタ; 印刷管理;
Keywordskm=បោះពុម្ព;ម៉ាស៊ីន​បោះពុម្ព;គ្រប់គ្រង​ការ​បោះពុម្ព;
Keywordslo=ພິມ;ເຄື່ອງພິມ;ຈັດການພິມ;
Keywordslt=print;printer;printing management;spausdinti;spausdintuvas;spausdinimo tvarkymas;
Keywordslv=druka;drukas iekārta;drukāšanas menedžments;
Keywordsmk=print;printer;printing management;печати;печатач;менаџмент на печатење;
Keywordsmn=Хэвлэх;Хэвлэгч;Хэвлэгчийн удирдлага;
Keywordsms=cetak; pencetak; pengurusan pencetakan;
Keywordsmt=print;printer;printing management;stampar;printja;stampa;ipprintja;
Keywordsnb=utskrift;skriver;utskriftskontroll;
Keywordsnds=drucken;Drucker;Opgaav;Opgaven;Druckopgaav;Druckopgaven;Opdrag;Druckopdrag;Opdrääg;Druckopdrääg;
Keywordsne=मुद्रण; मुद्रक; मुद्रण व्यवस्थापन;
Keywordsnl=print;printer;printing management;afdrukbeheer;afdrukken;
Keywordsnn=utskrift;skrivar;utskriftshandsaming;
Keywordsnso=taolo ya kgatiso;segatisi;kgatiso;
Keywordspa=ਛਾਪਣ;ਪਰਿੰਟਰ;ਪਰਿੰਟ;ਪਰਿੰਟ ਮੈਨੇਜਰ;
Keywordspl=drukuj;drukarka;zarządzanie drukowaniem;
Keywordspt=imprimir;impressora;gestão de impressão;
Keywordspt_BR=imprimir;impressora;gerenciamento de impressão;
Keywordsro=tipărire;printare;imprimantă;administrare tipărire;
Keywordsrw=gucapa;mucapyi;igenzura ry'icapa;
Keywordsse=čáliheapmi;čálán;čálihangieđahalli;
Keywordssk=tlač;tlačiareň;správa tlače;
Keywordssl=tiskanje;tiskalnik;upravljanje tiskanja;
Keywordssr=print;printer;printing management;штампање;штампач;управљање штампом;
Keywordssr@Latn=print;printer;printing management;štampanje;štampač;upravljanje štampom;
Keywordssv=skriv ut;skrivare;skrivarhantering;
Keywordsta=அச்சு; அச்சியந்திரம்;அச்சு மேலாளர்;
Keywordsth=พิมพ์;เครื่องพิมพ์;จัดการการพิมพ์;
Keywordstr=yazdır;yazıcı;yazıcı yönetimi;
Keywordsuk=друк;принтер;керування друком;
Keywordsuz=printer;bosib chiqarish;bosib chiqarishni boshqarish;
Keywordsuz@cyrillic=принтер;босиб чиқариш;босиб чиқаришни бошқариш;
Keywordsven=u phirintha;phirinthara;vhulanguli ha phirinthara;
Keywordsvi=in ấn;máy in;quản lí in ấn;
Keywordswa=rexhe;sicrirece;manaedjmint di l' imprimaedje;imprimaedje;
Keywordsxh=shicilela;umshicileli;uphatho lokushicilela;
Keywordszh_CN=print;printer;printing management;打印;打印机;打印管理;
Keywordszh_TW=print;printer;printing management;列印;印表機;列印管理;
Keywordszu=shicilela;umshicileli;abaphathi boshicilelo;

Categories=Qt;TDE;X-TDE-settings-hardware;Settings;
