[Desktop Entry]
Type=Application
Exec=kpersonalizer -caption "%c" %i %m
Icon=kpersonalizer
Terminal=false
Name=KPersonalizer
GenericName=Desktop Settings Wizard
GenericName[af]=Werkskerm Instellings Assistent
GenericName[ar]=مرشد تعيين سطح المكتب
GenericName[az]=Masa Üstü Qurğuları Sehirbazı
GenericName[be]=Чараўнік настаўленняў працоўнага асяроддзя
GenericName[bg]=Настройване на работното място
GenericName[bn]=ডেস্কটপ সেটিংস উইজার্ড
GenericName[br]=Skoazeller kefluniadur ar burev
GenericName[bs]=Podešavanje radne površine
GenericName[ca]=Assistent de configuració de l'escriptori
GenericName[cs]=Průvodce nastavení pracovní plochy
GenericName[csb]=Asystenta nastôwù òkrãżegò
GenericName[cy]=Dewin Gosodiadau Penbwrdd
GenericName[da]=Guide til opsætning af desktoppen
GenericName[de]=Einrichtungsassistent
GenericName[el]=Μάγος ρυθμίσεων της επιφάνειας εργασίας
GenericName[eo]=Asistilo por la tabulagordo
GenericName[es]=Asistente para las preferencias del escritorio
GenericName[et]=Töölaua seadistuste abimees
GenericName[eu]=Mahaigaineko ezarpenetarako morroia
GenericName[fa]=جادوگر تنظیمات رومیزی
GenericName[fi]=Työpöydän ohjattu asettaminen
GenericName[fr]=KPersonalizer
GenericName[fy]=TDE's Ynstellings Assistent
GenericName[gl]=Asistente para a Configuración do Escritório
GenericName[he]=אשף הגדרות שולחן העבודה
GenericName[hi]=डेस्कटॉप विन्यास विजार्ड
GenericName[hr]=Čarobnjak za postavke radne površine
GenericName[hu]=TDE beállításvarázsló
GenericName[is]=Skjáborðsálfur
GenericName[it]=Procedura guidata delle impostazioni del desktop
GenericName[ja]=デスクトップ設定ウィザード
GenericName[ka]=სამუშაო დაფის კონფიგურირების ოსტატი
GenericName[kk]=Үстелді баптау шебері
GenericName[km]=អ្នក​ជំនួយការ​ការ​កំណត់​ផ្ទៃតុ
GenericName[lo]=ຕົວຊ່ວຍເຫລືອການຕັ້ງຄ່າພື້ນທີ່ທຳງານ
GenericName[lt]=Darbastalio nustatymų asistentas
GenericName[lv]=Darbvirsmas Uzstādījumu Meistars
GenericName[mk]=Волшебник за поставувања на површината
GenericName[mn]=Тохируулга-Туслагч
GenericName[ms]=Wizard Seting Desktop
GenericName[mt]=Saħħar għas-setings tad-desktop
GenericName[nb]=Veiviser for skrivebordsoppsett
GenericName[nds]=Schriefdischinstellen-Hölper
GenericName[ne]=डेस्कटप सेटिङ विजार्ड
GenericName[nl]=TDE's Configuratie Assistent
GenericName[nn]=Vegvisar for skrivebordsoppsett
GenericName[nso]=Wizard ya Dipeakanyo tsa Desktop
GenericName[pa]=ਡੈਸਕਟਾਪ ਸੈਟਿੰਗ ਸਹਾਇਕ
GenericName[pl]=Asystent ustawień środowiska
GenericName[pt]=Assistente de Configuração do Ambiente de Trabalho
GenericName[pt_BR]=Assistente de Configurações para a Área de Trabalho
GenericName[ro]=Expert de setare TDE
GenericName[ru]=Мастер настройки рабочего стола
GenericName[rw]=Inyobora y'Amagenamiterere y'Ibiro
GenericName[se]=Heivehanofelaš čállinbeavddi várás
GenericName[sk]=Sprievodca nastavením plochy
GenericName[sl]=Čarovnik za nastavitve namizja
GenericName[sr]=Чаробњак за подешавање радне површине
GenericName[sr@Latn]=Čarobnjak za podešavanje radne površine
GenericName[sv]=Guide för skrivbordsinställningar
GenericName[ta]=மேல்மேசை அமைப்புகள் பகுதி
GenericName[te]=రంగస్థల అమరికల విజార్డ్
GenericName[tg]=Танзими устоди мизи корӣ
GenericName[th]=ช่วยตั้งค่าพื้นที่หน้าจอ
GenericName[tr]=Masaüstü Ayarları Sihirbazı
GenericName[tt]=Östäl Caylaw Xikmätçese
GenericName[uk]=Майстер параметрів стільниці
GenericName[uz]=Ish stolini moslash uchun yordamchi
GenericName[uz@cyrillic]=Иш столини мослаш учун ёрдамчи
GenericName[ven]=Wizadi ya mavhekanyele a desikithopo
GenericName[vi]=Trình giúp Thiết lập Màn hình nền
GenericName[wa]=Macrea des apontiaedjes do scribanne
GenericName[xh]=Wizard Yezicwangciso ze Desktop
GenericName[zh_CN]=桌面设置向导
GenericName[zh_TW]=桌面設定精靈
GenericName[zu]=I-Wizard yezilungiselelo ze-Desktop
X-TDE-autostart-after=kdesktop
X-TDE-autostart-condition=kpersonalizerrc:General:FirstLogin:true
X-DCOP-ServiceType=Multi
Categories=Qt;TDE;Settings;
OnlyShowIn=TDE;
