[Desktop Entry]
Exec=kmenuedit
Icon=kmenuedit
DocPath=kmenuedit/index.html
Type=Application
X-TDE-StartupNotify=true
OnlyShowIn=TDE;

Name=KMenuEdit
GenericName=Menu Editor
GenericName[af]=Kieslys Redigeerder
GenericName[ar]=محرر القوائم
GenericName[az]=Menyu Editoru
GenericName[be]=Рэдактар меню
GenericName[bg]=Редактор на системното меню
GenericName[bn]=মেনু সম্পাদক
GenericName[br]=Aozer lañserioù
GenericName[bs]=Editor menija
GenericName[ca]=Editor del menú
GenericName[cs]=Editor nabídek
GenericName[csb]=Editora menu
GenericName[cy]=Golygydd Dewislen
GenericName[da]=Menueditor
GenericName[de]=Menü-Editor
GenericName[el]=Επεξεργαστής μενού
GenericName[eo]=Menuredaktilo
GenericName[es]=Editor de menús
GenericName[et]=Menüü redaktor
GenericName[eu]=Menu editorea
GenericName[fa]=ویرایشگر گزینگان
GenericName[fi]=Valikon asetukset
GenericName[fr]=KMenuEdit
GenericName[fy]=Menubewurker
GenericName[ga]=Eagarthóir Roghchláir
GenericName[gl]=Editor do Menu
GenericName[he]=עורך התפריטים
GenericName[hi]=मेन्यू संपादक
GenericName[hr]=Uređivač izbornika
GenericName[hu]=Menüszerkesztő
GenericName[id]=Editor Menu
GenericName[is]=Sýsla með valmyndir
GenericName[it]=Editor dei menu
GenericName[ja]=メニューエディタ
GenericName[ka]=მენიუს რედაქტორი
GenericName[kk]=Мәзір редакторы
GenericName[km]=កម្មវិធី​និពន្ធ​ម៉ឺនុយ
GenericName[ko]=메뉴 편집기
GenericName[lo]=ເຄື່ອງມືແກ້ໄຂເມນູ
GenericName[lt]=Meniu redaktorius
GenericName[lv]=Izvēlnes Redaktors
GenericName[mk]=Уредувач на мени
GenericName[mn]=Цэс-Боловсруулагч
GenericName[ms]=Editor Menu
GenericName[mt]=Editur tal-menu
GenericName[nb]=Menyredigering
GenericName[nds]=Menüeditor
GenericName[ne]=मेनु सम्पादक
GenericName[nl]=Menubewerker
GenericName[nn]=Menyredigering
GenericName[nso]=Mofetosi wa Menu
GenericName[oc]=Editor de menu
GenericName[pa]=ਮੇਨੂ ਸੰਪਾਦਕ
GenericName[pl]=Edytor menu
GenericName[pt]=Editor de Menus
GenericName[pt_BR]=Editor de Menus
GenericName[ro]=Editor de meniuri
GenericName[ru]=Редактор меню
GenericName[rw]=Muhinduzi Ibikubiyemo
GenericName[se]=Fállodoaimmaheaddji
GenericName[sk]=Editor menu
GenericName[sl]=Urejevalnik menijev
GenericName[sr]=Уређивач менија
GenericName[sr@Latn]=Uređivač menija
GenericName[sv]=Menyeditor
GenericName[ta]=பட்டியல் திருத்துபவர்
GenericName[te]=పట్టి ఎడిటర్
GenericName[tg]=Муҳаррири меню
GenericName[th]=ตัวแก้ไขเมนู
GenericName[tr]=Menü Düzenleyicisi
GenericName[tt]=Saylaq Tözätü
GenericName[uk]=Редактор меню
GenericName[uz]=Menyu tahrirchi
GenericName[uz@cyrillic]=Меню таҳрирчи
GenericName[ven]=Musengulusi wa Menu
GenericName[vi]=Biên soạn Thực đơn
GenericName[wa]=Aspougneu di menus
GenericName[xh]=Umhleli we Menu
GenericName[zh_CN]=菜单编辑器
GenericName[zh_TW]=選單編輯器
GenericName[zu]=Umlungisi wemenu

X-DCOP-ServiceType=Unique
Categories=Qt;TDE;Settings;
