[Wallpaper]
File=airplane.jpg
Name=Airplane
Name[ar]=Airplane
Name[bn]=Airplane
Name[ca]=Airplane
Name[ca@valencia]=Airplane
Name[cs]=Airplane
Name[da]=Airplane
Name[de]=Airplane
Name[el]=Airplane
Name[en_GB]=Airplane
Name[eo]=Airplane
Name[es]=Airplane
Name[et]=Airplane
Name[eu]=Airplane
Name[fi]=Airplane
Name[fr]=Airplane
Name[fy]=Airplane
Name[ga]=Airplane
Name[gl]=Airplane
Name[hr]=Airplane
Name[hu]=Airplane
Name[ia]=Airplane
Name[id]=Airplane
Name[is]=Airplane
Name[it]=Aereoplano
Name[ja]=Airplane
Name[km]=Airplane
Name[kn]=Airplane
Name[ko]=비행기
Name[lt]=Airplane
Name[lv]=Airplane
Name[mai]=Airplane
Name[ml]=Airplane
Name[nb]=Airplane
Name[nds]=Airplane
Name[nl]=Airplane
Name[nn]=Airplane
Name[pa]=Airplane
Name[pl]=Airplane
Name[pt]=Airplane
Name[pt_BR]=Airplane
Name[ro]=Airplane
Name[ru]=Airplane
Name[si]=Airplane
Name[sk]=Airplane
Name[sl]=Airplane
Name[sr@ijekavianlatin]=Airplane
Name[sr@latin]=Airplane
Name[sv]=Airplane
Name[tg]=Airplane
Name[tr]=Airplane
Name[wa]=Airplane
Name[x-test]=xxAirplanexx
Name[zh_TW]=Airplane
ImageType=pixmap
Author=Alex Couture
