[Wallpaper]
File=another-view.jpg
Name=Another View
Name[ar]=Another View
Name[bn]=Another View
Name[ca]=Another View
Name[ca@valencia]=Another View
Name[cs]=Another View
Name[da]=Another View
Name[de]=Another View
Name[el]=Another View
Name[en_GB]=Another View
Name[eo]=Another View
Name[es]=Another View
Name[et]=Another View
Name[eu]=Another View
Name[fi]=Another View
Name[fr]=Another View
Name[fy]=Another View
Name[ga]=Another View
Name[gl]=Another View
Name[hr]=Another View
Name[hu]=Another View
Name[ia]=Another View
Name[id]=Another View
Name[is]=Another View
Name[it]=Un'altra vista
Name[ja]=Another View
Name[km]=Another View
Name[kn]=Another View
Name[ko]=다른 경치
Name[lt]=Another View
Name[lv]=Another View
Name[mai]=Another View
Name[ml]=Another View
Name[nb]=Another View
Name[nds]=Another View
Name[nl]=Another View
Name[nn]=Another View
Name[pa]=Another View
Name[pl]=Another View
Name[pt]=Another View
Name[pt_BR]=Another View
Name[ro]=Another View
Name[ru]=Another View
Name[si]=Another View
Name[sk]=Another View
Name[sl]=Another View
Name[sr@ijekavianlatin]=Another View
Name[sr@latin]=Another View
Name[sv]=Another View
Name[tg]=Another View
Name[tr]=Another View
Name[wa]=Another View
Name[x-test]=xxAnother Viewxx
Name[zh_TW]=Another View
ImageType=pixmap
Author=Alex Couture
