[Wallpaper]
File=green_curtain.jpg
Name=Green Curtain
Name[de]=Grüner Vorhang
Name[en_GB]=Green Curtain
ImageType=pixmap
Author=Ivan Čukić and Timothy Pearson