[Wallpaper]
File=horse-head-nebula.png
Name=Horse Head Nebula
Name[de]=Pferden Kopf Nebelfleck
Name[en_GB]=Horse Head Nebula
Name[ru]=Туманность Конская Голова
Author=Hubble Space Telescope/ESA Licensed under Creative Commons Attribution 3.0 Unported
ImageType=scalable
