[Wallpaper]
File=mountain-lake.jpg
Name=Mountain Lake
Name[ar]=Mountain Lake
Name[bn]=Mountain Lake
Name[ca]=Mountain Lake
Name[ca@valencia]=Mountain Lake
Name[cs]=Mountain Lake
Name[da]=Mountain Lake
Name[de]=Mountain Lake
Name[el]=Mountain Lake
Name[en_GB]=Mountain Lake
Name[eo]=Mountain Lake
Name[es]=Mountain Lake
Name[et]=Mountain Lake
Name[eu]=Mountain Lake
Name[fi]=Mountain Lake
Name[fr]=Mountain Lake
Name[fy]=Mountain Lake
Name[ga]=Mountain Lake
Name[gl]=Mountain Lake
Name[hr]=Mountain Lake
Name[hu]=Mountain Lake
Name[ia]=Mountain Lake
Name[id]=Mountain Lake
Name[is]=Mountain Lake
Name[it]=Lago di montagna
Name[ja]=Mountain Lake
Name[km]=Mountain Lake
Name[kn]=Mountain Lake
Name[ko]=산에 있는 호수
Name[lt]=Mountain Lake
Name[lv]=Mountain Lake
Name[mai]=Mountain Lake
Name[ml]=Mountain Lake
Name[nb]=Mountain Lake
Name[nds]=Mountain Lake
Name[nl]=Mountain Lake
Name[nn]=Mountain Lake
Name[pa]=Mountain Lake
Name[pl]=Mountain Lake
Name[pt]=Mountain Lake
Name[pt_BR]=Mountain Lake
Name[ro]=Mountain Lake
Name[ru]=Mountain Lake
Name[si]=Mountain Lake
Name[sk]=Mountain Lake
Name[sl]=Mountain Lake
Name[sr@ijekavianlatin]=Mountain Lake
Name[sr@latin]=Mountain Lake
Name[sv]=Mountain Lake
Name[tg]=Mountain Lake
Name[tr]=Mountain Lake
Name[wa]=Mountain Lake
Name[x-test]=xxMountain Lakexx
Name[zh_TW]=Mountain Lake
ImageType=pixmap
Author=Alex Couture
