[Wallpaper]
File=Trinity4.png
Name=Trinity Default
Name[af]=Trinity Standaard
Name[be]=Стандартныя для Trinity
Name[bn]=কে.ডি.ই.-৩.৫ ডিফল্ট
Name[ca]=Trinity per omissió
Name[cs]=Výchozí pro Trinity
Name[csb]=Domëslnô Trinity
Name[da]=Trinity standard
Name[de]=Trinity Standard
Name[el]=Προκαθορισμένο του Trinity
Name[eo]=Trinity defaŭlta
Name[es]=Predeterminado de Trinity
Name[et]=Trinity vaiketaustapilt
Name[eu]=Trinity lehenetsia
Name[fa]=پیش‌فرض Trinity
Name[fi]=Trinity oletus
Name[fr]=Trinity par défaut
Name[fy]=Trinity Standert
Name[ga]=Réamhshocrú Trinity
Name[gl]=Predeterminado en Trinity
Name[he]=ברירת מחדל של Trinity
Name[hr]=Trinity zadano
Name[hu]=A Trinity alapértelmezése
Name[is]=Trinity sjálfgefið
Name[it]=Predefinito di Trinity
Name[ja]=Trinity 標準
Name[ka]=TDE სტანდარტული
Name[kk]=Trinity әдеттісі
Name[km]=លំនាំដើម TDE ៣.៥
Name[lt]=Trinity numatytoji parinktis
Name[mk]=Стандардно за Trinity
Name[nb]=Trinity Standard
Name[nds]=Trinity Standard
Name[ne]=Trinity पूर्वनिर्धारित
Name[nl]=Trinity Standaard
Name[nn]=Trinity Standard
Name[pa]=Trinity ਮੂਲ
Name[pl]=Domyślna Trinity
Name[pt]=Predefinido do Trinity
Name[pt_BR]=Trinity Padrão
Name[ro]=Trinity (Implicit)
Name[ru]=Trinity по умолчанию
Name[se]=Trinity standárda
Name[sk]=Štandard Trinity
Name[sl]=Privzeto za Trinity
Name[sr]=Подразумевано за Trinity
Name[sr@Latn]=Podrazumevano za Trinity
Name[sv]=Trinity förval
Name[te]=కెడిఈ 3.5 అప్రమేయం
Name[tg]=Trinity Пешфарзӣ
Name[th]=ค่าปริยาย Trinity
Name[tr]=Trinity Öntanımlı
Name[uk]=Trinity типовий
Name[uz]=Trinity andozasi
Name[uz@cyrillic]=Trinity андозаси
Name[vi]=Mặc định Trinity
Name[wa]=Prémetou Trinity
Name[zh_CN]=Trinity 默认
Name[zh_TW]=Trinity 預設
ImageType=pixmap
Author=Martin C and Timothy Pearson
