[Wallpaper]
File=Trinity4.png
Name=Trinity Default (old)
Name[af]=Trinity Standaard (old)
Name[be]=Стандартныя для Trinity (old)
Name[bn]=কে.ডি.ই.-৩.৫ ডিফল্ট (old)
Name[ca]=Trinity per omissió (old)
Name[cs]=Výchozí pro Trinity (old)
Name[csb]=Domëslnô Trinity (old)
Name[da]=Trinity standard (old)
Name[de]=Trinity Standard (old)
Name[el]=Προκαθορισμένο του Trinity (old)
Name[eo]=Trinity defaŭlta (old)
Name[es]=Predeterminado de Trinity (old)
Name[et]=Trinity vaiketaustapilt (old)
Name[eu]=Trinity lehenetsia (old)
Name[fa]=پیش‌فرض Trinity (old)
Name[fi]=Trinity oletus (old)
Name[fr]=Trinity par défaut (old)
Name[fy]=Trinity Standert (old)
Name[ga]=Réamhshocrú Trinity (old)
Name[gl]=Predeterminado en Trinity (old)
Name[he]=ברירת מחדל של Trinity (old)
Name[hr]=Trinity zadano (old)
Name[hu]=A Trinity alapértelmezése (old)
Name[is]=Trinity sjálfgefið (old)
Name[it]=Predefinito di Trinity (precedente)
Name[ja]=Trinity 標準 (old)
Name[ka]=TDE სტანდარტული (old)
Name[kk]=Trinity әдеттісі (old)
Name[km]=លំនាំដើម TDE ៣.៥ (old)
Name[lt]=Trinity numatytoji parinktis (old)
Name[mk]=Стандардно за Trinity (old)
Name[nb]=Trinity Standard (old)
Name[nds]=Trinity Standard (old)
Name[ne]=Trinity पूर्वनिर्धारित (old)
Name[nl]=Trinity Standaard (old)
Name[nn]=Trinity Standard (old)
Name[pa]=Trinity ਮੂਲ (old)
Name[pl]=Domyślna Trinity (old)
Name[pt]=Predefinido do Trinity (old)
Name[pt_BR]=Trinity Padrão (old)
Name[ro]=Trinity (Implicit) (old)
Name[ru]=Trinity по умолчанию (old)
Name[se]=Trinity standárda (old)
Name[sk]=Štandard Trinity (old)
Name[sl]=Privzeto za Trinity (old)
Name[sr]=Подразумевано за Trinity (old)
Name[sr@Latn]=Podrazumevano za Trinity (old)
Name[sv]=Trinity förval (old)
Name[te]=కెడిఈ 3.5 అప్రమేయం (old)
Name[tg]=Trinity Пешфарзӣ (old)
Name[th]=ค่าปริยาย Trinity (old)
Name[tr]=Trinity Öntanımlı (old)
Name[uk]=Trinity типовий (old)
Name[uz]=Trinity andozasi (old)
Name[uz@cyrillic]=Trinity андозаси (old)
Name[vi]=Mặc định Trinity (old)
Name[wa]=Prémetou Trinity (old)
Name[zh_CN]=Trinity 默认 (old)
Name[zh_TW]=Trinity 預設 (old)
ImageType=pixmap
Author=Martin C and Timothy Pearson
