[Desktop Entry]
Exec=kicker
Name=Trinity Panel
Name[af]=Trinity Paneel
Name[ar]=لوحة Trinity
Name[az]=Trinity Paneli
Name[be]=Панэль Trinity
Name[bg]=Системен панел
Name[bn]=কে.ডি.ই. প্যানেল
Name[br]=Panell Trinity
Name[bs]=Trinity panel
Name[ca]=Plafó Trinity
Name[cs]=Panel Trinity
Name[cy]=Panel Trinity
Name[de]=Trinity-Kontrollleiste
Name[el]=Πίνακας Trinity
Name[eo]=Panelo
Name[es]=Panel de Trinity
Name[et]=Trinity paneel
Name[eu]=Trinity panela
Name[fa]=تابلوی Trinity
Name[fi]=Trinity-paneeli
Name[fr]=Tableau de bord de Trinity
Name[fy]=Trinity Paniel
Name[ga]=Painéal Trinity
Name[gl]=Painel de Trinity
Name[he]=הלוח של Trinity
Name[hi]=केडीई फलक
Name[hr]=Trinity ploča
Name[hu]=Panel
Name[id]=Panel Trinity
Name[is]=Trinity spjald
Name[it]=Pannello di Trinity
Name[ja]=Trinity パネル
Name[ka]=Trinity-ს პანელი
Name[kk]=Trinity панелі
Name[km]=បន្ទះ Trinity
Name[ku]=Panela Trinity'yê
Name[lo]=ຖາດພາເນລຂອง Trinity
Name[lt]=Trinity pultas
Name[lv]=Trinity Panelis
Name[mk]=Панелот на Trinity
Name[mn]=КДЭ-Удирдлагын самбар
Name[ms]=Panel Trinity
Name[mt]=Pannell Trinity
Name[nb]=Trinity-Panel
Name[nds]=Trinity-Paneel
Name[ne]=Trinity प्यानल
Name[nl]=Trinity Paneel
Name[nn]=Trinity-panel
Name[nso]=Panel ya Trinity
Name[pa]=Trinity ਪੈਨਲ
Name[pl]=Panel
Name[pt]=Painel do Trinity
Name[pt_BR]=Painel do Trinity
Name[ro]=Panou Trinity
Name[ru]=Панель Trinity
Name[rw]=Trinity Umwanya
Name[se]=Trinity-panela
Name[sk]=Trinity panel
Name[sl]=Pult Trinity
Name[sr]=Trinity панел
Name[sr@Latn]=Trinity panel
Name[sv]=Trinity-panel
Name[ta]=Trinity பலகம்
Name[te]=కెడిఈ పెనల్
Name[tg]=Сафҳаи Trinity
Name[th]=ถาดพาเนล Trinity
Name[tr]=Trinity Paneli
Name[tt]=Trinity Üzäge
Name[uk]=Панель Trinity
Name[uz]=Trinity paneli
Name[uz@cyrillic]=Trinity панели
Name[ven]=Phanele ya Trinity
Name[vi]=Bảng điều khiển Trinity
Name[wa]=Scriftôr Trinity
Name[xh]=Ipanel ye Trinity
Name[zh_CN]=Trinity 面板
Name[zh_TW]=Trinity 面板
Name[zu]=Iwindi lemininingwane le-Trinity
X-DCOP-ServiceType=wait
X-KDE-autostart-after=kdesktop
DocPath=kicker/index.html
Type=Service
OnlyShowIn=TDE;
X-KDE-autostart-phase=0
