[Desktop Entry]
Keys=bug,bugno,bugnr
Name=TDE Bug Database Bug Number Search
Name[af]=Kde Fout Databasis Fout Nommer Soektog
Name[ar]=بحث عن رقم عيب في قاعدة بيانات عيوب كيدي
Name[az]=TDE Xəta Databeyzi Xəta Numarasıyla Axtarış
Name[be]=Пошук па нумару памылкі ў базе памылак TDE
Name[bn]=কে.ডি.ই. বাগ ডেটাবেস-এ বাগ সংখ্যা অনুসন্ধান
Name[bs]=Numerička pretraga TDE baze bugova
Name[ca]=Cercador per número per la base de dades d'errors de TDE
Name[cs]=Vyhledávání v databázi chyb TDE podle čísla chyby
Name[csb]=Baza felów TDE - szëkba pò numrze felë
Name[cy]=Chwilio Rhif Gwall y Gronfa Gwallau TDE
Name[da]=Nummersøgning i TDE's fejldatabase
Name[de]=TDE-Problemdatenbank: Suche nach Nummer
Name[el]=Αναζήτηση αριθμού σφάλματος στη βάση δεδομένων σφαλμάτων του TDE
Name[eo]=Serĉo laŭ numero en la TDEa Erarodatumbazo
Name[es]=Búsqueda de número de fallo en la base de datos de fallos de TDE
Name[et]=Veanumbri otsing TDE vigade andmebaasist
Name[eu]=Akats zenbakiaren bidezko bilaketa TDEren akats datu-basean
Name[fa]=جستجوی شمارۀ اشکال دادگان اشکال TDE
Name[fi]=TDE-vikailmoitustietokannan numerohaku
Name[fo]=Leita í villudátugrunnur TDE's (nýt villunummar)
Name[fr]=Recherche de bogue de TDE par numéro
Name[fy]=TDE Bug Databank  - sykje op breknûmer
Name[gl]=Procura Numérica na Base de Datos de Erros de TDE
Name[he]=חיפוש מספר באג ברשימת הבאגים של TDE
Name[hi]=केडीई बग डाटाबेस बग संख्या खोज
Name[hr]=Pretraga TDE baze podataka o nedostacima pomoću broja nedostatka
Name[hu]=A TDE hibaadatbázis hibaszám-keresési eszköze
Name[is]=Leit eftir númerum í TDE villugagnagrunni
Name[it]=Ricerca per numero nel Database dei bug di TDE
Name[ja]=TDE バグデータベース バグ番号検索
Name[ka]=TDE–ს შეცდომების ძებნა ნომრების მიხედვით
Name[kk]=TDE қателер дерек қорында қате нөмірі бойынша іздеу
Name[km]=ស្វែងរក​លេខ​កំហុស​ក្នុង​មូលដ្ឋាន​ទិន្នន័យ​កំហុស TDE
Name[ko]=TDE 버그 데이터베이스 버그 번호 검색
Name[lo]=ຄົ້ນຫາຖານຂໍ້ມູນບັກ TDE ແບບຫມາຍເລກ
Name[lt]=Paieška TDE ydų duombazėje pagal klaidos numerį
Name[lv]=TDE Kļūdu Datubāze Meklēšana pēc Kļūdas Numura
Name[mk]=База на податоци со бубачки од TDE, пребарување по броеви
Name[mn]=КДЭ-Асуудлын бааз: Дугаараар хайх
Name[ms]=Carian Bilangan Pepijat Pangkalan Data Pepijat TDE
Name[mt]=Database ta' BUGS tal-TDE - tfittxija bin-numru tal-bug
Name[nb]=Feilnummersøk i feildatabasen til TDE
Name[nds]=TDE Fehler-Datenbank: Fehlernummer-Söök
Name[ne]=TDE बग डेटाबेस बग सङ्ख्या खोजी
Name[nl]=TDE Bug Database  - zoeken op bugnummer
Name[nn]=Feilnummersøk i feildatabasen til TDE
Name[nso]=Nyako ya Nomoro ya Bug ya Database ya Bug ya TDE
Name[pa]=TDE ਬੱਗ ਡਾਟਾਬੇਸ ਬੱਗ ਨੰਬਰ ਖੋਜ
Name[pl]=Baza błędów TDE - wyszukiwanie po numerze błędu
Name[pt]=Pesquisa por Número na Base de Dados de Erros do TDE
Name[pt_BR]=Procura por número no banco de erros do TDE
Name[ro]=Baza de date de erori TDE- căutare după număr
Name[ru]=Поиск по номеру в базе ошибок TDE
Name[rw]=Ishakisha Umubare w'ikosaporogaramu ry'Ububikoshingiro bw'Ikosaporogaramu TDE
Name[se]=TDE dihkkediehtovuođu dihkkenummir ohcan
Name[sk]=Hľadanie podľa čísla chyby v TDE databáze chýb
Name[sl]=Iskanje v zbirki hroščev TDE po številki hrošča
Name[sr]=TDE-ова база грешака, претраживање по броју грешке
Name[sr@Latn]=TDE-ova baza grešaka, pretraživanje po broju greške
Name[sv]=Felnummersökning i TDE:s feldatabas
Name[ta]=கேடிஇ பிழையான தகவல்தள பிழையான எண் தேடுதல்
Name[te]=కెడిఈ తప్పుల డాటాబేస్ తప్పు సంఖ్య అన్వెషణ
Name[tg]=Бар ҳисби TDE ҷустуҷӯи бонки иттилооти ишколоти шумора
Name[th]=ค้นหาฐานข้อมูลบัก TDE แบบหมายเลข
Name[tr]=TDE Hata Veritabanı Hata Numarasıyla Arama
Name[tt]=TDE Bet Biremlegendä Bicra Sanı buyınça Ezläw
Name[uk]=Пошук у базі даних помилок TDE по номеру
Name[uz]=TDE xato maʼlumot bazasi (xatoning raqamini qidirish)
Name[uz@cyrillic]=TDE хато маълумот базаси (хатонинг рақамини қидириш)
Name[ven]=Databeizi ya baga ya TDE baga yau todulusa nomboro
Name[vi]=Tìm kiếm số thứ tự của lỗi trong cơ sở dữ liệu lỗi của TDE
Name[wa]=Cweraedje di nombe el båze di dnêyes des bugs di TDE
Name[xh]=TDE Uphendlo Lwenani Legciwane Isiseko se data Segciwane
Name[zh_CN]=TDE 错误数据库按错误编号搜索
Name[zh_TW]=TDE 臭蟲資料庫按錯誤編號搜索
Name[zu]=Usesho lwe-TDE lwenombolo yegciwane lwesiqu sedata segciwane
Query=http://bugs.pearsoncomputing.net/show_bug.cgi?id=\\{@}
ServiceTypes=SearchProvider
Type=Service
